extends layouts/MainLayout
include mixins/index.pug

block title
  | Fortuna24

block content
  body.body  
    .container
      include sections/headerSection  
      include sections/aboutSection  
      include sections/doneSection 
      include sections/resultsSection    
      include sections/summarySection  
      //- include sections/orderSection 


  script
    include js/slider.js 
    include js/customizeSlider.js 

