.headerSection {
  position: relative;
  margin-bottom: clamp($spacing-5, 4.28vw, $spacing-3);
  margin-top: clamp($spacing-5, 4.28vw, $spacing-3);

  &_wrapper {
    padding: clamp($spacing-8, 2.86vw, $spacing-6)
      clamp($spacing-9, 2.86vw, $spacing-6);
    background-color: $bg-secondary;
    border-radius: clamp($spacing-9, 2.86vw, $spacing-6);
  }

  &_topWrapper {
    display: flex;
    gap: clamp($spacing-7, 2.86vw, $spacing-6);
    max-width: 53%;
    margin-bottom: clamp($spacing-7, 8vw, $spacing-1);
  }

  &_topDescription {
    opacity: 0;
    font-size: clamp(0.875rem, 1.28vw, 1.125rem);
    animation: 3s show 0.3s ease forwards;
  }

  &_topWrapperTitle {
    opacity: 0;
    white-space: nowrap;
    animation: 3s show ease forwards;
  }

  &_title {
    opacity: 0;
    font-family: 'Toxigenesis';
    font-weight: $font-weight-bold;
    animation: 3s show 0.6s ease forwards;
  }

  &_imageWrapper {
    position: absolute;
    display: flex;
    right: -2%;
    bottom: 0;
    max-width: 51%;
    z-index: 10;

    & > img {
      height: 100%;
      width: 100%;
    }
  }

  &_contentWrapper {
    background-color: $bg-bright;
    border-radius: clamp($spacing-9, 2.86vw, $spacing-6);
    padding: clamp($spacing-8, 2.86vw, $spacing-6)
      clamp($spacing-9, 2.86vw, $spacing-6);
  }

  &_contentItemsWrapper {
    display: flex;
    gap: clamp(42px, 5.2vw, 73px);
    margin-bottom: clamp($spacing-10, 3vw, $spacing-6);
  }

  &_contentItem {
    font-family: 'Toxigenesis';
    font-weight: $font-weight-bold;
  }

  &_contentItemHeader {
    display: flex;
    gap: 4px;
    margin-bottom: clamp(4px, 0.57vw, 8px);
  }

  &_contentItemName {
    font-family: 'Toxigenesis';
    font-weight: $font-weight-bold;
    font-size: clamp(1.5rem, 4vw, 3.5rem);
    color: $font-color-invert;
    opacity: 0;
    animation: 3s show 0.9s ease forwards;
  }

  &_contentItemNumber {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: clamp($spacing-11, 1.4vw, $spacing-9);
    padding: 4px 8px;
    font-family: 'Toxigenesis';
    font-weight: $font-weight-bold;
    font-size: clamp(1.5rem, 3.7vw, 3.25rem);
    color: $font-color-invert;
    opacity: 0;
    animation: 3s show 1.2s ease forwards;
  }

  &_contentItemText {
    font-weight: $font-weight-bold;
    font-size: clamp(0.875rem, 1.3vw, 1.125rem);
    color: $font-color-invert;
    opacity: 0;
    animation: 3s show 1.5s ease forwards;
  }

  &_contentDescription {
    max-width: 38%;
    color: $font-color-invert;
    opacity: 0;
    animation: 3s show 1.8s ease forwards;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (max-width: $breakpoints-md) {
  .headerSection {
    &_topWrapper {
      max-width: 60%;
    }

    &_contentDescription {
      max-width: 55%;
    }
  }
}
@media (max-width: $breakpoints-sm) {
  .headerSection {
    &_topWrapper {
      max-width: 100%;
    }

    &_imageWrapper {
      display: none;
    }

    &_contentDescription {
      max-width: 100%;
    }
  }
}
