section.header

    .container

        .header__wrapper

            h1.header__title Продвижение продуктов питания бренда “Zlucky”

            p.header__text Низкобюджетный SMM – миф или реальность?
