+sectionLayout("after", "Сайт после редизайна")

    .after-slider
        .swiper.after-swiper
            .swiper-wrapper
                .swiper-slide
                    img(src="../../assets/images/after1.png" alt="new site")
                    div.swiper-slide__point.swiper-slide__point1 1
                .swiper-slide
                    img(src="../../assets/images/after2.png" alt="new site")
                    div.swiper-slide__point.swiper-slide__point2 2
                .swiper-slide
                    img(src="../../assets/images/after3.png" alt="new site")
                    div.swiper-slide__point.swiper-slide__point3 3
                .swiper-slide
                    img(src="../../assets/images/after4.png" alt="new site")
                    div.swiper-slide__point.swiper-slide__point4 4

        .after-slider__badge
            div
            p