section.colorSection 
  .colorSection__wrapper.wrapper
    .colorSection__left
      img.colorSection__left-image(src="./assets/images/color.png", alt="футбольная команда")
    .colorSection__right
      img.colorSection__right-icon(src="./assets/icons/paint.svg", alt="кисть")
      .colorSection__right-content
        h3.colorSection__right-title.calcio-title Цветовая палитра
        p.colorSection__right-text Мы заметили, что Феникс носит <span>красную майку с чёрными полосками</span> — такие же у футболистов школы. Эти цвета стали основой сайта. Красный ассоциируется с энергией и страстью, а чёрный подчёркивает уверенность и серьёзный подход школы к обучению. Так и сайт стал частью команды.