section.contentSection 
  .contentSection__wrapper.wrapper
    .contentSection__left
      h3.contentSection__title.calcio-title Аудитория и Контент
      p.contentSection__text Когда обозначили общую стилистику сайта, перешли к вопросу, <span>кто именно записывается на тренировки</span> Это было важно, чтобы расставить акценты в дизайне, определить контентные блоки и стиль текста. Выяснили, что чаще всего решение принимают <span>родители</span>, которые хотят, чтобы их дети развивались и получали новые навыки. Поэтому мы сосредоточились на том, что действительно важно для ЦА. <br>        |Вот основные моменты:
      ul.contentSection__list
        li Информация о тренерском составе
        li Методики и программы обучения
        li Расписание тренировок
      .contentSection__bottom Эти блоки стали основой, чтобы родителям было легко и удобно выбрать тренировки для своих детей.
    .contentSection__right 
      img(src="./assets/images/content.png", alt="свисток")