section.createSection
  .createSection__wrapper.wrapper
    .createSection__card
        img.createSection__icon(src="./assets/icons/search.svg", alt="поиск")
        .createSection__content 
          h3.createSection__title.calcio-title Создание UX-Текстов
          p.createSection__text Далее мы взялись за тексты. Как мы уже упоминали, лендинг — это способ создать сайт быстро и без лишних затрат. Поэтому некоторые этапы, например, прототипы, пропускаются. Но показать клиенту, как примерно будет выглядеть сайт, всё равно нужно. Поэтому мы подготовили UX-тексты — не сплошное полотно букв, цифр и символов, а <span>структурированную информацию</span> с выделенными под заголовками, списками и блоками. 
    .createSection__card
        img.createSection__icon(src="./assets/icons/football.svg", alt="поиск")
        .createSection__content 
          h3.createSection__title.calcio-title Простой язык
          p.createSection__text Мы учли, что чаще всего родители <span>не сильно владеют футбольным сленгом</span>. Поэтому все тексты писали понятным языком, умные слова по типу “офсайд” и “поперечный пас” оставили на следующий раз.<br>
            |И знаете, что? Первая наша маленькая победа на проекте не заставила себя ждать: тексты и структуру <span>согласовали с первого раза</span>! Видимо, мы точно попали в сердце и клиента, и его целевой аудитории.
    