section.diarySection 
  .diarySection__wrapper.wrapper
    .diarySection__top
      .diarySection__left
        h3.diarySection__title.calcio-title  Дневник Успеха
        p.diarySection__text Мотивация — это двигатель побед. В школе создали свой способ вдохновлять детей и <span>разработали личный дневник</span>. Он стал настоящей изюминкой: внутри — <span>трекер</span> для родителей, чтобы они могли следить за прогрессом своего чемпиона и <span>советы</span> от звёзд футбола для вдохновения ребёнка.
        p.diarySection__text А чтобы не просто рассказывать, а сразу показывать, мы добавили <span>фото дневника</span> на сайт. Теперь каждый может заглянуть внутрь и увидеть, как выглядит это мотивирующее сокровище.
      .diarySection__right
        p.diarySection__text А еще, заметили? В этом разделе фон меняется с черного на красный, создавая <span>яркий контраст</span>. Такой прием <span>привлекает внимание</span> и делает информацию более заметной. Если бы все блоки выглядели одинаково, пользователь, скорее всего, просто проскролил бы страницу, не вникая в детали.
        .diarySection__badge Разделение блоков
    .diarySection__bottom
      .diarySection__pic
        img(src="./assets/images/diary.png", alt="ноутбук")
        .diarySection__video-box
          video.desktop(controls, autoplay, muted, loop)
            source(src="./assets/video/video1.mp4", type="video/mp4")
            | Ваш браузер не поддерживает видео.