section.footballSection 
  .footballSection__wrapper.wrapper
    .footballSection__left
      h3.footballSection__title.calcio-title Дизайн, вдохновленный футболом
      p.footballSection__text Ключевые особенности школы мы оформили в формате <span>футбольного поля</span>, чтобы поддержать спортивную тематику. Ну а как же без Феникса? Он снова в центре внимания, вдохновляет и задаёт настроение всему разделу.
    .footballSection__right 
      img.footballSection__image(src="./assets/images/football-2.png", alt="футбольное поле")