section.freeSection
  .freeSection__wrapper.wrapper
    img.freeSection__image(src="./assets/images/form.png", alt="форма")
    .freeSection__content 
      h2.freeSection__title.calcio-title  Заманчивое предложение
      p.freeSection__text Цель сайта — привести новых юных звезд футбола, и мы не могли не выделить главное предложение: <span>бесплатная пробная неделя</span>! Красная кнопка записи сразу притягивает взгляд за счет яркости, а рядом Феникс бодро призывает: «Давай с нами! Первая неделя бесплатно». Ещё и стрелочка подмигивает — ну как устоять?
      p.freeSection__text А чтобы окончательно убедить родителей, мы добавили ключевые преимущества школы: маленькие группы, удобное расписание, авторскую методику и опытных тренеров. Эти важные моменты аккуратно выделены звёздочками, которые ненавязчиво направляют внимание туда, где оно нужно. 

     
  