section.functionalSection
  .functionalSection__wrapper.wrapper
    .functionalSection__left
      h3.functionalSection__title.calcio-title Функциональный сайт
      p.functionalSection__text   Мы сделали сайт не только удобным, но и функциональным. Настроили <span>автоматическую отправку данных</span> из формы записи прямо в <span>CRM-систему Tilda</span>, чтобы клиент мог легко управлять заявками и не упускать клиентов.
      h3.functionalSection__title.calcio-title Всегда на связи
      p.functionalSection__text Добавили постоянную <span>плашку с контактами</span> — номер телефона и Телеграм. Это простая и всегда доступная альтернатива чат-боту, которая помогает родителям связаться со школой в любое время.
    .functionalSection__pic 
      img(src="./assets/images/functional.png", alt="форма обратной связи")
