section.groupSection 
  .groupSection__wrapper.wrapper
    .groupSection__cards 
      .groupSection__card
        h3.groupSection__title.calcio-title Занятия по группам
        p.groupSection__text Если до этого мы рассказали про преимущества футбольной школы,  то в следующем блоке перешли к <span>описанию занятий</span>. В клубе дети разделены на группы по возрасту, чтобы у всех был один уровень подготовки.  Для каждой <span>описали основную информацию</span>:  для какого возраста подойдут тренировки, сколько их в неделю и какая продолжительность. Не забыли напомнить клиентам про бесплатную пробную неделю!
        img(src="./assets/images/group1.png", alt="группа")
      .groupSection__card
        h3.groupSection__title.calcio-title Расписание
        p.groupSection__text Добавили и расписание занятий — одно из <span>важных факторов при выборе кружка</span> для ребенка. Важно, чтобы оно было удобным не только для детей, но и для их родителей. Мы задизайнили модуль в виде недельного календаря, где сразу видны все занятия: дни, время и продолжительность. Такой формат помогает быстро понять, вписывается ли кружок в график семьи и подходит ли он для вашего ребенка.
      .groupSection__card
        h3.groupSection__title.calcio-title Стоимость
        p.groupSection__text А после рассказа о школе перешли к цифрам. Предложили клиенту три варианта стоимости занятий. Для каждого тарифа <span>описали выгоду</span> — сколько стоит одно занятие, и подробно объяснили, чем они отличаются.
        img(src="./assets/images/group2.png", alt="занятие")
    .groupSection__bottom
      .groupSection__video-box
          video.desktop(controls, autoplay, muted, loop)
            source(src="./assets/video/video2.mp4", type="video/mp4")
            | Ваш браузер не поддерживает видео.
    
