section.headerSection 
  .headerSection__wrapper.wrapper
    h1.headerSection__title Дизайн сайта <br> для <span>футбольной школы</span>
    .headerSection__content
      h3.headerSection__subtitle Наш клиент
      p.headerSection__text Футбольная школа для детей от 4 до 10 лет. Здесь юные спортсмены улучшают свою физическую подготовку, учатся работать в команде и профессионально играть в футбол.