section.mainSection
  .mainSection__wrapper.wrapper
    .mainSection__content 
      h2.mainSection__title Главный блок
      p.mainSection__text Главный блок — это своего рода дверь в мир школы, где уже с порога становится ясно: есть мэтч или нет. Поэтому мы <span>вынесли основную информацию</span> на первый экран. 
      ul.mainSection__list 
        li <span>Возрастные группы</span> (4–10 лет), подход к обучению, уникальные фишки — всё под рукой, а ещё чётко и по делу. 
        li <span>Ограничение</span> по возрасту мы специально выделили для привлечения внимания нужной аудитории.
        li Чтобы считывать информацию было легко, <span>фон</span> сделали <span>с градиентом</span> — он убирает визуальный шум от фото и помогает сосредоточиться на сути.
  img.mainSection__image(src="./assets/images/laptop.png", alt="ноутбук")
