section.presentationSection
  .presentationSection__wrapper.wrapper
    .presentationSection__left      
      img.presentationSection__image(src="./assets/images/presentation.png", alt="презентация")
    .presentationSection__right
      h3.presentationSection__title.calcio-title Живая презентация
      p.presentationSection__text Чтобы захватить внимание пользователя, мы добавили <span>видео с учениками</span>. Видео — это про <span>живые эмоции</span> и эффект <span>полного погружения</span>. Смотришь и будто сам уже на поле завязываешь шнурки, а не просто читаешь текст.