section.principleSection 
  .principleSection__wrapper.wrapper
    .principleSection__top
      .principleSection__pic 
        img(src="./assets/images/principle1.png", alt="методика")
      .principleSection__content
        h3.principleSection__title.calcio-title Увлекательное обучение
        p.principleSection__text В этом разделе мы рассказываем подробнее о методике обучения, которая делает школу особенной, потому что превращает развитие ребенка в увлекательный процесс. Мы показали <span>основную идею в виде треугольника</span>, где три ключевые фигуры — <span>тренер, родитель</span> и сам юный <span>спортсмен</span> — объединены общей целью: помочь ребенку раскрыть свой потенциал и добиться успеха.
          |И, конечно, талисман школы снова с нами! Он дополняет концепцию и поддерживает дух команды.
    .principleSection__bottom
      .principleSection__content
        h3.principleSection__title.calcio-title Знакомство с тренером
        p.principleSection__text А после мы решили устроить знакомство родителей с тренером. Уже на этапе выбора школы важно создать <span>первое впечатление о специалисте</span>, и мы сделали всё, чтобы оно было позитивным. Добавили <span>достижения</span> тренера, немного рассказали <span>о его подходе</span> к обучению, а для большей наглядности — цитату, которая отражает подход к работе. 
          |Но сухих слов нам показалось мало, поэтому мы подкрепили все сказанное <span>фотографиями тренера в работе</span> с детьми. Снимки добавляют тепла, прозрачности и помогают родителям убедиться: <span>их ребёнок будет в надёжных руках</span>.
      .principleSection__pic 
        img(src="./assets/images/principle2.png", alt="тренер")