section.profileSection
  .profileSection__wrapper.wrapper
    .profileSection__left
        h3.profileSection__title.calcio-title  Яркий профиль школы
        p.profileSection__text   На этом проекте нам важно было создать визитную карточку школы. Такую, чтобы командный дух чувствовался с первого взгляда, а уникальность проекта сразу была заметна. Мы полностью погрузились в идею проекта и учли все: философию школу, харизму талисмана и потребности родителей. 
        .profileSection__bottom  Каждая деталь здесь на своём месте и складывается в общую картинку. Дизайн сайта выделяет «Кальчо» среди других школ, структура сайта помогает быстро найти нужную информацию, а тексты — простые и понятные. Даже если вы о футболе знаете только слово «мяч», всё равно разберётесь.
    .profileSection__pic 
        img(src="./assets/images/phone.png", alt="телефон")
        img.mobile(src="./assets/images/phone-mobile.png", alt="телефон")