section.reviewSection
  .reviewSection__wrapper.wrapper
    .reviewSection__left
      img.reviewSection__icon(src="./assets/icons/message.svg", alt="сообщение")
      .reviewSection__content
        h3.reviewSection__title.calcio-title Блок отзывов
        p.reviewSection__text <span>Отзывы</span> родителей играют немалую роль при выборе школы — они <span>формируют доверие</span> и помогают новым клиентам сделать выбор. Поэтому мы посвятили этому отдельный раздел. <br>
          |Чтобы отзывы выглядели максимально достоверно, мы добавили <span>имена, фотографии родителей</span>. Это создает ощущение реальной связи и подчеркивает прозрачность. Ведь ничто не убеждает лучше, чем слова тех, кто уже прошёл этот путь и остался доволен.
    .reviewSection__right
      img.reviewSection__icon(src="./assets/icons/circle-help.svg", alt="вопрос")
      .reviewSection__content
        h3.reviewSection__title.calcio-title  FAQ
        p.reviewSection__text Блок с часто задаваемым вопросам помогает родителям найти быстро ответ по интересующей теме, а сотрудникам школы не отвечать на одинаковые запросы. А если у клиента останется вопрос, на который нет ответа в этом разделе, мы предусмотрели возможность задать его в социальных сетях школы — ссылки на них размещены в футере страницы.
  .reviewSection__pic
    img.reviewSection__image(src="./assets/images/ball.png", alt="мяч")