section.startSection
  .startSection__pic 
    img.startSection__image(src="../assets/images/whistle.png", alt="свисток")
  .startSection__wrapper.wrapper
    h2.startSection__title Начало проекта
    .startSection__container
      .startSection__left
        img.startSection__icon(src="../assets/icons/book.svg", alt="книга")
        .startSection__content 
          h3.startSection__content-title.calcio-title Предыстория
          p.startSection__content-text Футбольная школа «Кальчо» много лет привлекала новых учеников через рекомендации родителей. Но проекту нужен был рост. Тут и появилась задачка со звездочкой — создать <span>новый канал привлечения</span> клиентов, чтобы больше людей узнали о школе.
      .startSection__right
        .startSection__right-top На нас было ответственное задание – <span>разработать сайт</span>.  И первый вопрос, на который нам нужно было найти ответ — какой стек выбрать. WordPress? Laravel? 
        .startSection__right-bottom
          img.startSection__icon(src="../assets/icons/flag.svg", alt="флаг")
          .startSection__content 
            h3.startSection__content-title.calcio-title Старт
            p.startSection__content-text Звучит неплохо, но не для этого проекта! Мы всегда выбираем то, что лучше подходит для конкретной <span>задачи бизнеса</span>. Это первый сайт школы, и его цель — протестировать гипотезу. Поэтому нужно было сделать всё <span>быстро, недорого, но качественно</span>. Выбор пал на <span>Tilda</span>. В будущем, на основе лендинга можно будет разработать полноценный многостраничный сайт, который позволит школе развиваться дальше.
          

          

      