section.talismanSection 
  .talismanSection__wrapper.wrapper
    .talismanSection__left
      h3.talismanSection__title.calcio-title  Знакомство с талисманом
      p.talismanSection__text  Далее нам предстояло знакомство с важным членом команды. С тем, кто отражает душу и философию проекта. <span>Талисманом</span> команды — птицей <span>Феникс</span>. Он говорит о преодолении, о силе, о том, как важно подниматься, когда кажется, что всё потеряно. <span>Клиент хотел, чтобы этот образ жил на сайте</span> и не просто украшал страницы, а вдохновлял, объединял и делал школу узнаваемой. Мы решили, что Феникс должен быть повсюду — от деталей в дизайне до общей атмосферы.
      .talismanSection__bottom
        .talismanSection__bottom-badge Спойлер
        p.talismanSection__bottom-text  В итоге он не просто присутствует на сайте, он связывает все элементы воедино, чтобы каждый родитель и ребёнок почувствовали: здесь они найдут поддержку и путь к своим победам.
    .talismanSection__right
      img.talismanSection__image(src="./assets/images/talisman.png", alt="талисман")