+sections("visual", "visual__wrapper")

    .visual__before
        div 
            h2 Визуал
            p.
                В первые месяцы сотрудничества мы составляли ленту из запаса фотографий Софии. 
                Сперва основным пожеланием было – темный оттенок визуала, но через 6 месяцев 
                приняли решение осветлить ленту.
        picture
            img(src=require("./assets/img/visual1.png"), alt="visual")


    .visual__after

        picture
            img(src=require("./assets/img/visual2.png"), alt="visual")

        div 
            p.
                Новая концепция состояла из профессиональных фото 
                модели для демонстрации ее экспертности и живых фотографий, 
                так как в блоге раскрывается и тематика позирования для фото в повседневной жизни.
            p.
                Мы регулярно подбирали референсы, чтобы упростить процесс создания контента.