@import './fonts';
@import './variables';
@import '../mixins/mixinsStyles.scss';
@import './headerSection/_headerSection.scss';
@import './aboutSection/_aboutSection.scss';
@import './peculiaritiesSection/_peculiaritiesSection.scss';
@import './wishesSection/_wishesSection.scss';
@import './initialStateSection/_initialStateSection.scss';
@import './strategySection/_strategySection.scss';
@import './resultSection/_resultSection.scss';
@import './increaseKeysSection/_increaseKeysSection.scss';
@import './orderSection/_orderSection.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  color: $font-color;
}

body {
  position: relative;
  scroll-behavior: smooth;
  z-index: -1;
}

main {
  padding-bottom: clamp($spacing-11, 5vw, $spacing-5);
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: $max-width;
  padding: 0 clamp($spacing-14, 2vw, $spacing-10);
  width: 100%;
  margin: 0 auto;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-bold;
  line-height: $line-height-H;
  color: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-size-H1;
}

h2 {
  font-size: $font-size-H2;
}

h3 {
  font-size: $font-size-H3;
}

h4 {
  font-size: $font-size-H4;
}

p,
span,
li,
a,
ul,
figcaption,
blockquote,
input,
label,
input::placeholder {
  font-size: $font-size;
  line-height: $line-height-primary;
  color: inherit;
  margin: 0;
  padding: 0;
}

span {
  font-size: inherit;
  line-height: inherit;
}

.li {
  font-size: max(1.125rem, min(2vw, 1.5rem));
  line-height: 135%;
  color: inherit;
  margin: 0;
  padding: 0;
}

.boldText {
  font-size: $font-size-secondary;
  font-weight: $font-weight-bold;
  line-height: 120%;
}

.lightText {
  $font-weight: $font-weight-primary;
}

.colorInvertText {
  color: $font-color-invert;
}

.brightText {
  color: $font-color-bright;
}

.whiteBg {
  background-color: $bg-white;
}

.brightBg {
  background-color: $bg-bright;
}

.secondaryBg {
  background-color: $bg-secondary;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  gap: clamp($spacing-14, 2vw, $spacing-11);

  & > div {
    flex: 1;
  }
}

.mb-12 {
  margin-bottom: clamp(10px, 1vw, 12px);
}

.flex-start {
  justify-content: flex-start;
}

.flex-1 {
  flex: 1;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  border-bottom: 1px solid $font-color;
  width: 100%;
  font-size: $font-size-mini;

  &::placeholder {
    color: $font-color-placeholder;
    line-height: 1;
    opacity: 0.7;
    font-size: $font-size-mini;
  }
}

.customButton {
  font-size: $font-size-secondary;
  color: $font-color;
  font-weight: $font-weight-extra-bold;
  border-bottom: 2px solid $font-color;

  &:hover,
  &:active {
    transform: scale(1.05);
    color: $font-color;
    border-color: $font-color;
  }
}
