extends layouts/MainLayout
include mixins/wrapper.pug
include mixins/img.pug
include mixins/aboutClientItem.pug
include mixins/target.pug
include mixins/stage.pug

block title
  | Sysracks

block content
  body
  .container
    section.header
      h1 Продвижение и разработка сайта для 
      h1.brightText дистрибьютора серверного
      h1.brightText оборудования
      +wrapper(class="brightBg header_content")
        p.header_title.boldText.colorInvertText Как перенести сайт с одной платформы на другую, не уронив позиции и подняться в Топ-5 поисковой выдачи 
        .header_imgWrapper
          +img("./assets/images/computer.png", "Awesome alt text", ["500", "1200"])
    section.clientsSection
      +wrapper(class="darkBg colorInvertText")
        +aboutClientItem("О клиенте:", "Официальный дистрибютор оборудования для теелкоммуникаций и серверных стоек. Под NDA")
      +wrapper(class="secondaryBg")
        +aboutClientItem("Срок сотрудничества:", "май 2021 - сегодня")
      +wrapper(class="secondaryBg")
        +aboutClientItem("Регион продвижения:", "США")
    section.targetsSection
      .targetsSection_item
      .targetsSection_item
        h2 Цели проекта:
        ul.targetsSection_targetList
          +target("Попасть в ТОП-5 Google")
          +target("Увеличить продажи")
          +target("Повысить узнаваемость")
    section.stageProjectSection
      h2 Исходное состояние проекта:
      +wrapper(class="secondaryBg")
        h3 Переход от фрилансеров к единой команде специалистов
        p Ранее клиент #[span.brightText сотрудничал с фрилансерами] и небольшими студиями, но разные команды для разработки сайта и SEO-продвижения не удовлетворяли его требования. Работа в таком формате занимала #[span.brightText больше времени и усилий], так как нужно было объяснять свои задачи каждому отдельно и следить за процессом их выполнения. 
        p Поэтому заказчик обратился к нам. Команда разработчиков и SEO-специалистов работают над проектом вместе.
      .stageProjectSection_region
        +wrapper(class="darkBg colorInvertText")
          h3 Смена региона продвижения - из Канады в США
          p Клиент пришел с запросом сменить регион и продвигаться на США, до этого он работал с Канадой. Для реализации этих планов мы порекомендовали сменить доменную зону с .ca на .com. 
          p Это логический шаг, чтобы привлечь американскую аудиторию.
        div
          p dfd
      .stageProjectSection_loading
        div aadad
        +wrapper(class="secondaryBg") 
          h3 Переезд на новую CMS
          p Изначально сайт был на Битрикс, но он не подходит для продвижения в англоязычных странах, так как платформа ориентирована на рынок СНГ. Например, функциональность корзины была неудобной и непонятной для иностранных пользователей. 
          p После изучения ниши, мы рекомендовали перейти на CMS WordPress, которая позволяет создать удобный сайт для англоязычной аудитории. Клиент согласился, и отдел разработки приступил к реализации, а мы стали создавать стратегию продвижения и переноса сайта на новый домен.
    section.stagesSection
      h2 Этапы работ:
      +wrapper(class="darkBg colorInvertText") 
        p.stagesSection_info Пока разрабатывался новый сайт, мы разместили старую версию на новом домене, начали добавлять контент и наращивать ссылки на главную страницу.
        p.stagesSection_info В период и после создания сайта были выполнены 9 этапов 
      .stagesSection_line
        +stage("01","Сбор семантического ядра, которое регулярно обновляется")
        +wrapper(class="brightBg verticalCenter colorWhite") 
          p В настоящее время клиент решил расширить сайт и добавить версии на французском и испанском языках. Команда уже начала собирать семантику для этого обновления.
      .stagesSection_line
        +stage("02","Подготовка структуры сайта и структуры меню")
      .stagesSection_line
        +stage("03","Подготовка контент-плана на основе собранного семантического ядра, созданы новые страницы и текст для их продвижения")
        +wrapper(class="secondaryBg verticalCenter") 
          p В ходе работы клиент предложил перенести тексты с канадского сайта на новый. При анализе мы обнаружили, что контент неуникальный и скопирован из других источников. Это могло вызвать проблемы в продвижении, о чем мы объяснили клиенту. После согласования приступили к созданию новых текстов.
      +wrapper(class="brightBg colorWhite")
        h4.stage_numberWrapper.stage__numberInvert С какой проблемой столкнулись при создании новых текстов?
        p Было сложно найти копирайтера, специализирующегося в сложной технической тематике, т.к. в основном в серверах разбираются сисьемные администраторы, но мало кто из них имеет писательское хобби. В итоге мы все-таки нашли технически грамотного специалиста, который глубоко понимает тематику телекоммуникационного оборудования.
      .stagesSection_line
        +stage("04","Подготовка уникальных мета-тегов","stage__numberInvert")(class="brightBg")
        +wrapper(class="secondaryBg verticalCenter") 
          p Команда подготовила мета-теги h1, title и description и внесла на сайт на продвигаемые страницы
      .stagesSection_line
        +stage("05","Подготовка ТЗ для отдела разработки")
        +wrapper(class="secondaryBg verticalCenter") 
          p В ТЗ были подробно описаны SEO-требования, которые должны быть учтены при переносе сайта
      .stagesSection_line
        +stage("06","Анализ ссылочного профиля сайта клиента и сайтов конкурентов")
        +wrapper(class="secondaryBg verticalCenter") 
          p Были изучены конкуренты по этой же тематике, имеющие наиболее высокую видимость сайта в поисковых системах. На основе анализа был составлен план наращивания ссылочной массы. Сейчас мы активно занимаемся наращиванием ссылок, получая ежемесячно бесплатные ссылки с форумов, каталогов и практикуем guest posting.
      .stagesSection_line
        +stage("07","Анализ юзабилити и коммерческих факторов ранжирования, изучение конкурентов")
        +wrapper(class="brightBg verticalCenter colorWhite") 
          p Учитывая, что сайт был в стадии разработки, все наши рекомендации из анализа были внедрены.
      .stagesSection_line
        +stage("08","Ведение блога")
        +wrapper(class="secondaryBg verticalCenter") 
          p Для заполнения Блога на сайте собрали информационные запросы и стали регулярно писать статьи.
      .stagesSection_line
        +stage("09","Разработка стратегии увеличения количества продаж", "stage__numberInvert")(class="brightBg")
        +wrapper(class="secondaryBg verticalCenter") 
          p В процессе работы в рамках продвижения клиент поставил цель - х заказов/день. Мы начали исследовать, почему некоторые пользователи не завершают оформление заказа и не покупают. Провели аудит корзины, проанализировали воронку продаж и в итоге сформулировали гипотезы. 
