extends layouts/MainLayout
include mixins/index.pug

block title
  | Sysracks

block content
  body
  .container
    include sections/headerSection
    include sections/clientsSection
    include sections/targetsSection
    include sections/stageProjectSection
    include sections/stagesSection  
    include sections/seoSection    
    include sections/resultsSection  
    include sections/orderSection 
    
    
    