section.effectiveSection
  h3.effectiveSection__title Эффективное решение от команды
  .effectiveSection__content
    p.effectiveSection__text Наша команда уже не первый раз сталкивается с подобной особенностью проекта и имеет проверенные стратегии для решения этой задачи. 
    p.effectiveSection__text  В <span>этом кейсе </span> мы поделимся полезными инсайтами.
    .effectiveSection__pic
      img.effectiveSection__image(src="./assets/images/talk.png", alt="разговор")