section.finishSection
  .finishSection__content
    h3.finishSection__content-title Подведем итоги
    p.finishSection__content-text  В рамках продвижения проекта по трудоустройству врачей мы сконцентрировались на расширении структуры сайта и создании новых посадочных страниц, а также наращивании ссылочной массы. И в результате, несмотря на молодой возраст домена, мы успешно продвинули проект и улучшили его позиции в поисковой выдаче — клиент смог выйти в Топ-3 Яндекса и Топ-10 Google за 8 месяцев!