section.headerSection
  .headerSection__banner
    h1.headerSection__title Разработали вакцину при симптомах низкого спроса и нового домена
    p.headerSection__subtitle Побочное действие 
    p.headerSection__text Выход сайта в Топ и новые клиенты
    .headerSection__cards
      .headerSection__card
        h3.headerSection__card-title Регион продвижения:
        p.headerSection__card-text СНГ
      .headerSection__card
        h3.headerSection__card-title Доменная зона:
        p.headerSection__card-text pl
      .headerSection__card
        h3.headerSection__card-title Поисковые системы:
        .headerSection__card-pic
          img.headerSection__card-image(src="./assets/icons/logo.svg", alt="логотипы")
  .headerSection__cards.mobile
      .headerSection__card
        h3.headerSection__card-title Регион продвижения:
        p.headerSection__card-text СНГ
      .headerSection__card
        h3.headerSection__card-title Доменная зона:
        p.headerSection__card-text pl
      .headerSection__card
        h3.headerSection__card-title Поисковые системы:
        .headerSection__card-pic
          img.headerSection__card-image(src="./assets/icons/logo.svg", alt="логотипы")

  
        