section.outcomeSection
  h2.outcomeSection__title.mps-title Результаты:
  .outcomeSection__box
    .outcomeSection__box-left
      p.outcomeSection__box-text Итак, за первые 3 месяца оптимизации сайт ворвался в Топ-3 Яндекса и Топ-10 Google, и на этом мы не остановились!
      .outcomeSection__highlight-container
        .outcomeSection__box-highlight
          span Топ-3
          span Яндекс
        .outcomeSection__box-highlight
          span Топ-10
          span Google
    .outcomeSection__box-right.first
      img.outcomeSection__box-im(src="./assets/images/top1.png", alt="рейтинг")
  .outcomeSection__box
    .outcomeSection__box-left
      .outcomeSection__highlight-container
        p.outcomeSection__box-text Спустя еще 5 месяцев уже 86% запросов попало  
        .outcomeSection__box-highlight.third
          span в
          span Топ-5
          span Яндекс
      .outcomeSection__highlight-container
        p.outcomeSection__box-text Показатель общего трафика — 
        .outcomeSection__box-highlight
          span 23,658
    .outcomeSection__box-right.second
      img.outcomeSection__box-im(src="./assets/images/top2.png", alt="рейтинг")
  .outcomeSection__box
    .outcomeSection__box-left
      .outcomeSection__highlight-container
        p.outcomeSection__box-text Органический трафик вырос
        .outcomeSection__box-highlight.third
          span в
          span 25
          span раз
    .outcomeSection__box-right.third
      img.outcomeSection__box-im(src="./assets/images/top3.png", alt="рейтинг")
  