section.startSection
  h2.startSection__title.mps-title Начало продвижения:
  .startSection__cards
    .startSection__card
      h3.startSection__card-title.blue-title Что было на старте:
      p.startSection__card-text Изначально на сайте было две языковые версии: русская и польская. И каждая с разными целями: русскоязычная для врачей СНГ, которые хотят переехать, а польская — для больниц, ищущих новых специалистов.
      .startSection__btn
        img.startSection__btn-image(src="./assets/icons/globe.svg", alt="глобус")
        .startSection__btn-text русскоязычная версия
      .startSection__btn
        img.startSection__btn-image(src="./assets/icons/globe.svg", alt="глобус")
        .startSection__btn-text польская версия
    .startSection__card
      h3.startSection__card-title.blue-title Домены:
      p.startSection__card-text До начала работы обе языковые версии находились на польском домене «pl». Это затрудняло продвижение проекта в СНГ: ведь поисковые системы ставят в приоритет локальные сайты при ранжировании. Было принято решение перенести русскоязычную часть на домен «com». Это оптимальное решение: он универсален и помогает охватывать широкую аудиторию, а значит, подходит для продвижения на СНГ.
    .startSection__card
      h3.startSection__card-title.blue-title Когда мы получили первый результат?
      p.startSection__card-text  Всего через 3 месяца 34% запросов вышли в Топ-10, а 18% – в Топ-5! И это с учётом того, что сайт был новым. Дело в том, что часто домены без историй попадают под временный фильтр, который ограничивает видимость сайта и проверяет, насколько ресурс полезен и заслуживает доверия поисковых систем. Его ещё называют песочницей.
      .startSection__btn
        img.startSection__btn-image(src="./assets/icons/exclaim.svg", alt="внимание")
        .startSection__btn-text 34% запросов в Топ-10
      .startSection__btn
        img.startSection__btn-image(src="./assets/icons/exclaim.svg", alt="внимание")
        .startSection__btn-text 18% запросов в Топ-5
