section.tandemSection
  h2.startSection__title.mps-title Тандем SEO и контекстной  рекламы:
  .tandemSection__content
    .tandemSection__content-left 
      p.tandemSection__left-top SEO и контекстная реклама — дуэт максимальной эффективности, так как они дополняют друг друга. SEO — долгосрочная инвестиция, поскольку результат от продвижения отложен во времени. Чтобы начать получать органический трафик нужно время и ресурсы на оптимизацию сайта и создание контента. Когда результат нужен ещё вчера, на помощь SEO приходит контекстная реклама: она помогает быстро привлечь посетителей, достаточно только запустить кампанию.
      p.tandemSection__left-bottom Подробнее про работу с контекстной рекламой в этом кейсе можно прочитать здесь
    .tandemSection__content-right
      .tandemSection__right-title Так работает синергия SEO и PPC:
      .tandemSection__right-box
        .tandemSection__btn
          img.tandemSection__btn-icon(src="./assets/icons/search.svg", alt="поиск")
          span.tandemSection__btn-text SEO
        p.tandemSection__right-text <span>SEO усиливает результаты рекламы</span>, ведь в процессе оптимизации сайта улучшается юзабилити и качество контента, устраняются технические ошибки, например, увеличивается скорость загрузки сайта. Все это положительно влияет на конверсию и пользовательский опыт.
      .tandemSection__right-box
        .tandemSection__btn
          img.tandemSection__btn-icon(src="./assets/icons/alphabet.svg", alt="алфавит")
          span.tandemSection__btn-text PPC
        p.tandemSection__right-text Если сайт правильно оптимизировать, <span>реклама привлекает пользователей</span>, которые задерживаются на страницах, делают заказы, переходят между разделами — это положительно влияет на SEO, так как поисковые системы учитывают поведенческие факторы.