section.taskSection
  .taskSection__left
    h3.taskSection__title.left-title.blue-title Задача: 
    p.taskSection__text Привлечь новых клиентов и увеличить видимость сайта.
  .taskSection__right
    h3.taskSection__title.right-title.blue-title  Познакомимся ближе с проектом:
    p.taskSection__text Medical personal service(MPS) занимается трудоустройством врачей в Польше. 
      | Сопровождает своих клиентов на всех этапах: от оформления визы до первого рабочего дня в больнице. 
      | Для них важно не только трудоустройство, компания также заботится о комфортном переезде всех членов семьи: подбирает квартиры, школы и детские сады.