section.aboutSection.flexContainer.aboutSection__flexColumn  
    div.aboutSection_groupWrapper 
      h2.aboutSection_title О проекте
      .flexContainer.aboutSection__flexColumn  
        .aboutSection_item
          p.aboutSection_itemTitle Сайт-агрегатор
          p.aboutSection_itemText Наш клиент
        .aboutSection_item
          p.aboutSection_itemTitle Апрель 2021 
          p.aboutSection_itemText Старт сотрудничества
    .aboutSection_item
      .aboutSection_itemTitle
        span Индия 
        .aboutSection_imageWrapper
          +img("./assets/images/cathedral.png", "Собор", ["500", "1200"])
      p.aboutSection_itemText Регион продвижения


  

