section.finalSection#finalSection
    .flexContainer.finalSection_wrapper.finalSection_flexColumn
        .finalSection_imageWrapper
                +img("./assets/images/woman.png", "Женщина", ["500", "1200"])        
        .finalSection_contentWrapper
            h2.finalSection_title Итоги
            p.boldText.mb-12 Несмотря на #[span.brightText регион продвижения], специфику оказываемых клиентом услуг и #[span.brightText высокую конкуренцию] в выигрыше оказались все.
            p.boldText Клиент увеличил выручку за счет целевого трафика, а мы создали новый успешный кейс по продвижению лотерейных билетов.  