section.headerSection 
  .headerSection_topWrapper 
    h1.headerSection_title SEO-продвижение  сайта-агрегатора лотерей
    .headerSection_imageWrapper 
      +img("./assets/images/main.png", "Мужчина", ["500", "1200"])
    .headerSection_contentWrapper
      .headerSection_contentItem
        p.headerSection_contentTitle Команда:
        p.headerSection_contentText 6 SEO-специалистов
      .headerSection_contentItem
        p.headerSection_contentTitle Цель:
        p.headerSection_contentText Вывести сайт в Топ-10
  p.headerSection_text За время работы над проектом сайт прошел весь спектр работ по seo-оптимизации. #[span.headerSection__newlLine В результате нам удалось вывести сайт в #[span.brightText ТОП-5 Google] и #[span.brightText увеличить трафик в 10 раз], что привело к увеличению количества покупок лотерей.]    

