section.increaseKeysSection
    h2.increaseKeysSection_title Увеличение ключей в Топ-10 
    p.increaseKeysSection_text Рост ключевых слов в Топ-10 Google за год #[span.brightText в 7 раз]. То есть #[span.brightText из 3000] запросов около #[span.brightText 250] появились в Топе.
    +wrapper(class="flexContainer increaseKeysSection_statisticsWrapper")
        .increaseKeysSection_statisticsItem
            p.increaseKeysSection_statistics 0 #[img(src="./assets/icons/right-arrow.svg" alt="Стрелка вправо").increaseKeysSection_arrow] #[span.brightText 64]
            p.increaseKeysSection_statisticsDescription ключей в Топ-5 Google
        .increaseKeysSection_statisticsItem
            p.increaseKeysSection_statistics 1 #[img(src="./assets/icons/right-arrow.svg" alt="Стрелка вправо").increaseKeysSection_arrow] #[span.brightText 228]
            p.increaseKeysSection_statisticsDescription ключей в Топ-10 Google
        .increaseKeysSection_statisticsItem
            p.increaseKeysSection_statistics 8 #[img(src="./assets/icons/right-arrow.svg" alt="Стрелка вправо").increaseKeysSection_arrow] #[span.brightText 654]
            p.increaseKeysSection_statisticsDescription ключей в Топ-30 Google
    .increaseKeysSection_graphWrapper
        +img("./assets/images/graph1.png", "График", ["500", "1200"])(id="target")