section.initialStateSection
    h2.initialStateSection_title Начальное состояние проекта
    .initialStateSection_wrapper.initialStateSection_flexColumn 
        .initialStateSection_imageWrapper
            +img("./assets/images/sign.png", "Восклицательный знак", ["500", "1200"])
        div 
            p.mb-12 К моменту обращения к нам сайту было около 2 лет, #[span.brightText но никто не продвигал] его.
            p Клиент самостоятельно пытался нарастить ссылки , но получил некачественные и опасался, что #[span.brightText попал под фильтр].