section.peculiaritiesSection 
    h2.peculiaritiesSection_title Особенности проекта
    .peculiaritiesSection_groupWrapper
        +wrapper.peculiaritiesSection_item 
            h3.peculiaritiesSection_itemTitle Легализация бизнеса
            p В топе поисковой выдачи в основном  представлены сайты, где можно приобрести лотерейные билеты напрямую.
            .peculiaritiesSection__firstImage
                +img("./assets/images/block.png", "Блок", ["500", "1200"])
        +wrapper.peculiaritiesSection_item 
            h3.peculiaritiesSection_itemTitle Посредничество
            p Не во всех странах легально заниматься продажами лотерейных билетов, поэтому регион продвижения сайта ограничен законодательством.
        +wrapper.peculiaritiesSection_item 
            h3.peculiaritiesSection_itemTitle Топ в поиске
            p На сайте клиента  нельзя купить лотерейные билеты напрямую. Из-за чего, пользователь может не дойти до конечной покупки.
            .peculiaritiesSection__lastImage
                +img("./assets/images/block2.png", "Блок", ["500", "1200"])