section.resultSection
    h2.resultSection_title Результат
    +wrapperSecondary(class="secondaryBg flexContainer resultSection_wrapper")
        .resultSection_textWrapper
            p.colorInvertText.mb-12 В результате, увеличили посещаемость сайта #[span.boldText в 10 раз], достигли #[span.boldText Топ-5 Google] по различным ключевым запросам с помощью комментариев и наращивания ссылочной массы. Помогли преодолеть проблемы, связанные с фильтрами поисковых систем. 
            p.colorInvertText Наша работа помогла укрепить позиции сайта лотерей на рынке Индии и привлечь новых клиентов, благодаря росту трафика.
        .resultSection_imageWrapper
            +img("./assets/images/target.png", "Мишень", ["500", "1200"])(id="target")
    p.resultSection__mobileText.boldText.mb-12 В результате, увеличили посещаемость сайта #[span.boldText.brightText в 10 раз], достигли #[span.boldText.brightText Топ-5 Google] по различным ключевым запросам с помощью комментариев и наращивания ссылочной массы. Помогли преодолеть проблемы, связанные с фильтрами поисковых систем. 
    p.resultSection__mobileText.boldText Наша работа помогла укрепить позиции сайта лотерей на рынке Индии и привлечь новых клиентов, благодаря росту трафика.
