section.strategySection
    h2.strategySection_title Стратегия
    .strategySection_wrapper
        .flexContainer.strategySection_flexColumn
            .strategySection_groupWrapper.strategySection__minWidth
                +wrapper.strategySection_item 
                    h4.strategySection_itemTitle  Семантическое ядро и #[br] структура сайта
                    p.strategySection_itemText Исследовали сферу лотерей по всему миру, а не только в Индии, и создали структуру сайта, которая отображает все найденные лотереи.
                    .strategySection_imageWrapper.strategySection__image1
                        +img("./assets/images/block3.png", "Картинка", ["500", "1200"])
                    .strategySection_imageWrapper.strategySection__image2
                        +img("./assets/images/core.png", "Ядро", ["500", "1200"])
                +wrapper.strategySection_item 
                    h4.strategySection_itemTitle  Технический аудит
                    p.strategySection_itemText По итогам аудита устранили некоторые проблемы, которые снижали юзабилити сайта: доработали разметку, сниппеты сайта, улучшили мобильную версию сайта, удалили ошибки сервера.
            +wrapper.strategySection_item 
                h4.strategySection_itemTitle  Аудит юзабилити
                ul.strategySection_itemText Исследовали юзабилити сайта, на основе которого внесли изменения:
                    li.strategySection_itemLi добавили раздел FAQ
                    li.strategySection_itemLi рекламные блоки
                    li.strategySection_itemLi генераторы чисел для повышения вероятности выигрыша
                    li.strategySection_itemLi блок с полезными материалами.
        +wrapper.strategySection_item 
            h4.strategySection_itemTitle  Анализ конкурентов
            p.strategySection_itemText.strategySection__maxWidth Делали постоянные и глубокие анализы конкурентов по разным вопросам.
            .strategySection_imageWrapper.strategySection__image3
                +img("./assets/images/block4.png", "Картинка", ["500", "1200"])
            .strategySection_imageWrapper.strategySection__image4
                +img("./assets/images/notebook.png", "Блокнот", ["500", "1200"])
        .flexContainer.strategySection_flexColumn
            +wrapper.strategySection_item 
                h4.strategySection_itemTitle  Контентная оптимизация
                p.strategySection_itemText Команда создавала по 10 новых статей ежемесячно на темы, связанные с лотереями: повышение вероятности выигрыша, выбор лучшей лотереи и т.д. 
                .strategySection_imageWrapper.strategySection__image5
                    +img("./assets/images/block6.png", "Картинка", ["500", "1200"])
                .strategySection_imageWrapper.strategySection__image6
                    +img("./assets/images/comp.png", "Ноутбук", ["500", "1200"])
            .strategySection_groupWrapper.strategySection__minWidth
                +wrapper.strategySection_item 
                    h4.strategySection_itemTitle  Наращивание ссылочной массы
                    p.strategySection_itemText Наращивали каталожные ссылки, форумные, гостевые платные — ссылки в платных статьях.
                +wrapper.strategySection_item 
                    h4.strategySection_itemTitle  Внедрение комментариев
                    p.strategySection_itemText Команда предложила внедрить комментирование статей на сайте, что помогло увеличить количество низкочастотных ключей и привлечь больше целевого трафика.
                    .strategySection_imageWrapper.strategySection__image7
                        +img("./assets/images/block5.png", "Картинка", ["500", "1200"])