section.wishesSection
    +wrapperSecondary.wishesSection_wrapper.colorInvertText        
        .wishesSection_contentWrapper 
            h2.wishesSection_title Пожелания клиента
            .wishesSection_img
                +img("./assets/images/cat.png", "Статуэтка кота на руке", ["500", "1200"])
            p.wishesSection_text “Мы хотим увеличить посещаемость нашего сайта и попасть в ТОП-10 в поисковой выдаче. Также, нам нужна помощь в проверке состояния нашего сайта, так как мы опасаемся, что он мог попасть под фильтр.”  
