.processSection {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  top: -45px;
  min-height: 545px;
  padding-block: 60px 68px;
  border-radius: 35px 35px 0 0;
  background-color: #fff;
  overflow: hidden;

  &__wrapper {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
  }

  &__pic {
    position: absolute;
    right: 31px;
    top: 22px;
    width: 180px;
    height: 124px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 32px;
    margin-bottom: 40px;

    & .processSection__card {
      min-height: 246px;
      border-radius: 20px;
      padding: 24px 28px 28px 28px;
      background: $color-tan;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 32px;

    & .processSection__card {
      min-height: 145px;
      border-radius: 20px;
      padding: 24px 28px 28px 28px;
      background: $color-tan;
    }
  }

  &__card p,
  &__card li {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 22, 28, 400, 1400);
    line-height: 110%;
    color: $color-text;

    & span {
      font-weight: 500;
    }
  }

  &__card ul {
    padding-left: 20px;
    margin-top: 7px;
  }

  &__card li {
    position: relative;
    padding-left: 20px;
  }

  &__card li:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    top: 10px;
    left: -5px;
    background-color: $color-text;
    border-radius: 50%;
  }

  @media (max-width: 1320px) {
    padding-inline: 20px;
  }

  @media (max-width: $breakpoints-lg) {
    &__top,
    &__bottom {
      gap: 16px;
    }
  }

  @media (max-width: $breakpoints-md) {
    &__top,
    &__bottom {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    &__top {
      margin-bottom: 16px;
    }

    &__top &__card {
      min-height: 148px;
    }

    &__bottom &__card {
      min-height: 100px;
    }

    &__pic {
      width: 100px;
      height: 71px;
      right: 0;
    }
  }

  @media (max-width: $breakpoints-xs) {
    top: -65px;
    padding-block: 30px;
    border-radius: 20px 20px 0 0;

    &__pic {
      right: -20px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__card li:before {
      width: 6px;
      height: 6px;
    }

    &__card li {
      padding-left: 15px;
    }
  }
}
