section.section.creation-section
	
	.container.creation-section__container

		h2.creation-section__title.
			#дизайн_сайта

		.creation-section__text
			p.
				The new website design strengthens the company's image as a reliable and open partner.
			p.
				On the main page, we placed information about the company, the main achievements of the company, a bright accent button with a call to action for the user. All this significantly increases the conversion of the site.