section.section.creation-section

	.container.creation-section__container

		h2.creation-section__title.hash-title.
			#дизайн_сайта

		.creation-section__text
			p.
				Новый дизайн сайта отражает образ компании, как надежного и открытого партнера.
			p.
				На главной странице разместили информацию о компании, основные достижения компании, яркую акцентную кнопку с призывом к действию пользователя.
			p.
				Все это значительно повышает конверсию сайта.