section.section.development-section

    .container.development-section__container

        h2.development-section__title.hash-title.
            #этап_разработки

        .development-section__text
            p.
                Среди удобного функционала можно выделить разработанную нами шапку сайта. 
                Она содержит: ссылки на все имеющиеся страницы на сайте, что упрощает навигацию; 
                переключатель языковых версий; контакты для связи, что упрощает коммуникацию клиента с компанией.
            p.
                Сайт реализован на русском, украинском и английском языках. 
                Мультиязычность позволяет получить дополнительное конкурентное преимущество 
                и является эффективным способом расширения клиентской базы и повышения объема продаж.
            p.
                Также реализована форма обратной связи, по которой клиент может получить консультацию либо оформить услугу.