section.section.development-section

    .container.development-section__container

        h2.development-section__title.
            #Site development

        .development-section__text
            p.
                Among the convenient functionality is the developed header of the website. 
                It contains: links to all available pages on the site, which simplifies navigation; 
                language version switcher; 
                contacts for communication with the company, 
                which simplifies the communication of the client with the company.
            p.
                The site is implemented in Russian, 
                Ukrainian and English. Multilingualism provides an additional competitive advantage. 
                This is an effective way to expand your customer base and increase sales.
            p.
                A feedback form has also been implemented, through which the client can get advice or arrange a service.