-
	var technologies = [
		{
			title:'Frontend',
			values:['JAVASCRIPT','CSS3','HTML5']
		},
		{
			title:'Backend',
			values:['WordPress','SQL','PHP']
		},
		{
			title:'Интеграции',
			values:['Внутренние сервисы компании']
		}
	]

	var technologiesIcons = [
		require("../assets/icons/wpIcon.png"),
		require("../assets/icons/htmlIcon.png"),
		require("../assets/icons/cssIcon.png")
	]

section.section.home-section

	.container.home-section__container

		div.project-desc
			h1.home-section__title.
				Разработка сайта для юридической компании

			img(src=require("../assets/img/pcImage.png"), alt="pc" class="logo")

			p.home-section__desc
				b STERLING LAWYERS LTD 
				| юридическая компания из Великобритании. Команда консультирует малый, средний бизнес и частных лиц по иммиграции бизнеса в Великобританию.

			h2.home-section__sub-title.
				Задача от клиента:

			p.home-section__desc.
				Создать современный корпоративный сайт, понятный и удобный для пользователей. Использовать Wordpress, так как старый сайт был создан на даной CMS.

			h2.home-section__sub-title.
				Сайт:: 

			p.home-section__desc.
				https://sterling-law.co.uk

		div.project-tech 

			div.project-tech__icons
				each icon in technologiesIcons
					img(src=icon class="project-tech__icon")

			div.project-tech__group
				each val in technologies
					div.project-tech__box
						p.project-tech__title= val.title
						div.project-tech__items
							each tit in val.values 
								p=tit
