section.section.main-section
	
	.container.main-section__container

		h2.main-section__title.
			Main page

		div.main-section__img
			img(src=require("../assets/img/mainImg.png"), alt="")

		.main-section__pulse.main-section__pulse_1
		.main-section__pulse.main-section__pulse_2
		.main-section__pulse.main-section__pulse_3