section.section.menu-section

    .container.menu-section__container

        h2.menu-section__title.section-title.
            Menu
        .menu-section__image
            img(src=require("../assets/img/menu.png"), alt="")