section.section.result-section

    .container.result-section__container

        .result-section__content 

            h2.result-section__title.
                #результат

            .result-section__text
                p.
                    One of the most important conditions for the successful implementation is long-term communication with the client.
                p.
                    We were constantly in touch: we held video conferences, discussed tasks. During the development process, 
                    there were changes in the functionality. We were able to respond flexibly and issue the necessary solutions.
                p.
                    The result is a well-designed, end-to-end product that meets user needs
                p.
                    These changes unload the company, simplify and speed up processes.

        .result-section__image
            img(src=require("../assets/img/duo-mobile.png"), alt="")