section.section.result-section

    .container.result-section__container

        .result-section__content 

            h2.result-section__title.hash-title.
                #результат

            .result-section__text
                p.
                    Одно из важнейших условий успешной реализации проекта — непрерывная коммуникация с клиентом.
                p.
                    Мы постоянно были на связи: проводили видеоконференции, обсуждали задачи. 
                    В условиях постоянных изменений в функционале и требований, которые возникали во время разработки, 
                    у нас получалось гибко реагировать и выдавать нужные решения.
                p.
                    В результате у нас получился продуманный целостный продукт, 
                    который учитывает потребности пользователей и снимает нагрузку с компании, 
                    упрощая и ускоряя процессы работы.

        .result-section__image
            img(src=require("../assets/img/duo-mobile.png"), alt="")