-
	var stages = [
		[
			'Анализ конкурентов',
			'Анализ целевой аудитории',
			'Разработка карты сайта',
			'Разработка технического задания. Подготовка к SEO продвижению',
		],
		[
			'Подборка ссылок',
			'Прототипирование',
			'Разработка дизайна',
			'Разработка адаптивной версии',
		],
		[
			'HTML / CSS верстка сайта',
			'Функциональное программирование',
			'Установка и настройка модулей',
			'Оптимизация загрузки страницы',
			'Тестирование сайта',
		],
		[
			'Базовое наполнение контента',
			'Сдача проекта клиенту',
			'Публикация сайта',
		],
	]

section.section.stages-section

	.container.stages-section__container
		h2.stages-section__title.hash-title.
			#этапы_работы

		.stages-section__stages
			each items, index in stages
				div.stages-section__stage
					div.stages-section__items
						each item in items
							p.stages-section__item= item
					p.stages-section__counter ЭТАП #{index + 1}