+sections("promotion", "promotion__wrapper")

    article.promotion__content 

        h2.promotion__title.

            Зачем модели продвижение в Instagram?

        p.promotion__text.

            Для нашего клиента в модельном бизнесе важно успешно 
            проходить этап просмотра Instagram-аккаунта. 
            Качество и содержание профиля влияют на решение 
            рекрутеров и агентств о предложении о сотрудничестве.

    .promotion__image