.advantages {
    display: flex;
    justify-content: center;
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 46px;
    }
    &__img {
        & img {
            width: 561px;
            height: 426px;
        }
    }
    &__text {
        width: 560px;
        height: 190px;
        line-height: 160%;
        color: #000;
    }
    @media (max-width: $max-width) {
        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &__img {
            margin-top: 35px;
            & img {
                width: 320px;
                height: 255px;
                object-fit: cover;
            }
        }
        &__text {
            width: 100%;
            height: max-content;
        }
    }
}
