@font-face {
  font-family: 'Accidental Presidency';
  src: url('../assets/fonts/AccidentalPresidency.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src:
    url('../assets/fonts/FiraSansExtraCondensed-Regular.woff2') format('woff2'),
    url('../assets/fonts/FiraSansExtraCondensed-Regular.woff') format('woff'),
    url('../assets/fonts/FiraSansExtraCondensed-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src:
    url('../assets/fonts/FiraSansExtraCondensed-Light.woff2') format('woff2'),
    url('../assets/fonts/FiraSansExtraCondensed-Light.woff') format('woff'),
    url('../assets/fonts/FiraSansExtraCondensed-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  src:
    url('../assets/fonts/FiraSansExtraCondensed-Bold.woff2') format('woff2'),
    url('../assets/fonts/FiraSansExtraCondensed-Bold.woff') format('woff'),
    url('../assets/fonts/FiraSansExtraCondensed-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Source Sans 3';
  src:
    url('../assets/fonts/SourceSans3-VariableFont_wght.woff2') format('woff2'),
    url('../assets/fonts/SourceSans3-VariableFont_wght.woff') format('woff'),
    url('../assets/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans 3';
  src:
    url('../assets/fonts/SourceSans3-VariableFont_wght.woff2') format('woff2'),
    url('../assets/fonts/SourceSans3-VariableFont_wght.woff') format('woff'),
    url('../assets/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
