@import './fonts';

@mixin responsive-sizing($prop, $min, $max, $minDisplay, $maxDisplay) {
  $sizeDiff: $max - $min;
  $displayDiff: $maxDisplay - $minDisplay;

  #{$prop}: clamp(
    #{$min}px,
    calc(
      #{$min}px +
        (#{$sizeDiff} * ((100vw - #{$minDisplay}px) / #{$displayDiff}))
    ),
    #{$max}px
  );
}

@mixin inverse-responsive-sizing($prop, $min, $max, $minDisplay, $maxDisplay) {
  $sizeDiff: $max - $min;
  $displayDiff: $maxDisplay - $minDisplay;

  #{$prop}: clamp(
    #{$min}px,
    calc(#{$max}px - ($sizeDiff * (100vw - #{$minDisplay}px) / $displayDiff)),
    #{$max}px
  );
}

$max-width: 1240px;

//fonts
$font-family: 'Accidental Presidency', sans-serif;
$second-family: 'Fira Sans Extra Condensed', sans-serif;
$third-family: 'Source Sans 3', sans-serif;

//colors

$color-main: #2d2d2d;
$color-accent: #e03000;

//breakpoints
$breakpoints-xs: 400px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
