extends layouts/MainLayout
include mixins/index.pug

block title
  | Lottothrill

block content
  body.body  
    .container
      include sections/headerSection
      include sections/orderSection 
      
    
    