-
    var icons = ["../../assets/icons/identity1.svg", "../../assets/icons/identity2.svg", 
        "../../assets/icons/identity3.svg", "../../assets/icons/identity4.svg", 
        "../../assets/icons/identity5.svg", "../../assets/icons/identity6.svg",
        "../../assets/icons/identity7.svg", "../../assets/icons/identity8.svg",
        "../../assets/icons/identity9.svg", "../../assets/icons/identity10.svg",
        "../../assets/icons/identity11.svg", "../../assets/icons/identity12.svg",
        ];

section.identity

    h2.identity__title.
        Поддержали фирменный стиль бренда

    .identity-content 
        p.identity-content__text
            span.
                <span class="identity-content__blue"> Сайт должен быть продолжением бренда</span>, а не отдельной его частью. 
                Это важно, чтобы посетители сразу узнавали компанию и запоминали ее. 

        .identity-content__colors
            .identity-content__color.
                #111B46
            .identity-content__color.
                #27375F
            .identity-content__color.
                #747A92
            .identity-content__color.
                #FFFFFF
            .identity-content__color.
                #16110D


        p.identity-content__text
            span.
                Сохранили <span class="identity-content__blue">синий цвет</span> как основной, чтобы он соответствовал фирменному стилю компании. 
                Но изменили оттенок на более приглушенный, чтобы подчеркнуть серьезность бизнеса.
        p.identity-content__text
            span.
                Выбрали более <span class="identity-content__blue">простые и сдержанные изображения и иконки</span>, 
                чтобы они сочетались с логотипом. Такой дизайн не отвлекает 
                посетителей от основного посыла.

        .identity-content__icons
            each i in icons 
                picture
                    img(src=i alt="icon")

        .identity-content__logo
            picture 
                img(src="../../assets/icons/identity.svg", alt="logo")
            span Pa-Rus

