- var items = ["Рассказать общую информацию о компании, услугах и УТП.", "Сделать интуитивно понятную структуру сайта."];

section.target 

    .target-left 
        h2.target-left__title.
            Почему клиент обратился к нам?

        p.target-left__text.
            Исходный сайт был создан давно на конструкторе самим клиентом. 
            И уже не доносил нужной информации о компании: ее ценностях, отличии от конкурентов, опыте.
            Также была неудобной навигация. Найти что-то на сайте было трудно.

    .target-right 

        h2.target-right__title.
            Цели проекта:

        ul.target-right__list
            each val, i in items
                li.target-right__item
                    div= i + 1
                    span= val
