section.target 

    article.target__wrapper 

        div.target__left 
            h2 
                | Почему клиент обратился к нам?

            p 
                | Исходный сайт был создан давно на конструкторе самим клиентом. 
                | И уже не доносил нужной информации о компании: ее ценностях, отличии от конкурентов, опыте.
                | Также была неудобной навигация. Найти что-то на сайте было трудно.

