section.featuresSection
  .featuresSection__wrapper.wrapper
    .featuresSection__image-box
      img.featuresSection__image(src="./assets/icons/ellipse.svg")
    .featuresSection__content
        h2.featuresSection__title Особенности проекта
        .featuresSection__list
          .featuresSection__list-item
            img.featuresSection__item-image(src="./assets/icons/card-1.svg")
            p.featuresSection__item-text Сложно было получать ссылки для проекта, многие не хотели их размещать из-за специфики бизнеса
          .featuresSection__list-item
            img.featuresSection__item-image(src="./assets/icons/card-2.svg")
            p.featuresSection__item-text В некоторых странах, например, в России игры запрещены законодательством
          .featuresSection__list-item
            img.featuresSection__item-image(src="./assets/icons/card-3.svg")
            p.featuresSection__item-text Высокая конкуренция в нише азартных игр