section.growthSection
  .growthSection__container
    .growthSection__wrapper.wrapper
      .growthSection__top
        h2.growthSection__title Рост позиций
        .growthSection__top-right
          img.growthSection__top-icon(src="./assets/icons/growth-arrow.svg")
          .growthSection__subtitle Оригинальные графики
      .growthSection__content
        .growthSection__box
          .growthSection__box-left
              .growthSection__box-button Google
              .growthSection__box-text Вывели 54% ключевых слов в Топ-10 Google. Сайт в Топ-5 даже по запросам с высокой конкуренцией
          .growthSection__box-right
            .growthSection__box-pic
              img.growthSection__box-image.desktop(src="./assets/images/growth-1.png")
              img.growthSection__box-image.mobile(src="./assets/images/growth-1-mobile.png")
        .growthSection__box
          .growthSection__box-righ.small
            .growthSection__box-pic
              img.growthSection__box-image.desktop(src="./assets/images/growth-2.png")
              img.growthSection__box-image.mobile(src="./assets/images/growth-2-mobile.png")
          .growthSection__box-left
              .growthSection__box-button Google
              .growthSection__box-text Вывели основную часть запросов по приоритетному направлению — джанкет туры, в Топ-5 Google
        .growthSection__box
          .growthSection__box-left
              .growthSection__box-button Яндекс
              .growthSection__box-text В Яндекс результаты похожие — 46% ключевых слов в Топ-10 
          .growthSection__box-right
            .growthSection__box-pic
              img.growthSection__box-image.desktop(src="./assets/images/growth-3.png")
              img.growthSection__box-image.mobile(src="./assets/images/growth-3-mobile.png")
              

      

