section.headerSection
  .headerSection__wrapper.wrapper
    .headerSection__content
      p.headerSection__subtitle # Продвижение сайта казино
      h1.headerSection__title Вывели более 50% ключей в Топ-5 Google и Яндекс всего за 8 месяцев
      p.headerSection__text Казино "Невада" специализируется на азартных играх, включая игровые автоматы, рулетку, карточные игры. Также есть ресторан и бар.
    .headerSection__bottom
      .headerSection__region-box
        h3.headerSection__region-title Регион продвижения
        button.headerSection__button Минск и ближайшие страны
      .headerSection__info-box
        .headerSection__info-left
          h3.headerSection__region-title Начало сотрудничества
          button.headerSection__button Ноябрь 2022
        .headerSection__info-rigth
          h3.headerSection__region-title Язык продвижения
          button.headerSection__button Русский
      
   
        