section.positionSection
  .positionSection__container
    .positionSection__wrapper.wrapper
      .positionSection__top
        h2.positionSection__title Средняя позиция
        .positionSection__top-right
          img.positionSection__top-icon(src="./assets/icons/growth-arrow.svg")
          .positionSection__subtitle Оригинальный график
      .positionSection__box
        .positionSection__box-content
          .positionSection__box-button Google
          .positionSection__box-text Средняя позиция сайта в Google увеличилась почти в 2 раза: с 50 до 26
          .positionSection__box-button Яндекс
          .positionSection__box-text Средняя позиция увеличилась с 50 до 24
        .positionSection__box-pic
          img.positionSection__box-image(src="./assets/images/position-1.png")