section.resultSection
  .resultSection__wrapper.wrapper
    .resultSection__content
      h2.resultSection__title Итоги продвижения
      p.resultSection__text Мы помогли Казино "Невада" стать заметнее в интернете: обновили их сайт, пересмотрели семантику, чтобы их легче было найти в интернете. Также устранили технические проблемы, чтобы сайт работал быстрее и был удобнее. Благодаря этому на сайте увеличилось количество трафика, повысилась его видимость, а компания получила больше целевых клиентов.