section.resultSection
  .resultSection__wrapper.wrapper
    .resultSection__content
      .resultSection__left
        h2.resultSection__title Итоги продвижения
        p.resultSection__text Мы помогли Казино "Невада" стать заметнее в интернете: обновили их сайт, пересмотрели семантику, чтобы их легче было найти в интернете. Также устранили технические проблемы, чтобы сайт работал быстрее и был удобнее. Благодаря этому на сайте увеличилось количество трафика, повысилась его видимость, а компания получила больше целевых клиентов.
      .resultSection__right
        img.resultSection__mobile-image(src="./assets/images/results-mobile.png")
        button.resultSection__button.button-1
          .resultSection__button-pic
            img.resultSection__button-image(src="./assets/icons/snow.svg")
        button.resultSection__button.button-2 × 2 средняя позиция
        button.resultSection__button.button-3
          .resultSection__button-pic
            img.resultSection__button-image(src="./assets/icons/eye.svg")
          span.resultSection__button-text видимость
        .resultSection__buttons-box
          button.resultSection__button.button-4
            .resultSection__button-pic
              img.resultSection__button-image(src="./assets/icons/broken-line.svg")
            span.resultSection__button-text Топ 5
          button.resultSection__button.button-5
            img.resultSection__button-image(src="./assets/icons/check.svg")