section.trafficSection
  .trafficSection__container
    .trafficSection__wrapper.wrapper
      .trafficSection__top
        h2.trafficSection__title Органический трафик
        .trafficSection__top-right
          img.trafficSection__top-icon(src="./assets/icons/growth-arrow.svg")
          .trafficSection__subtitle Оригинальные графики
      .trafficSection__box
        .trafficSection__box-pic
          img.trafficSection__box-image(src="./assets/images/traffic-1.png")
        .trafficSection__box-content
          .trafficSection__box-button Google
          .trafficSection__box-text С 0 до 2000 увеличился органический трафик 
      .trafficSection__box
        .trafficSection__box-content
          .trafficSection__box-button Яндекс
          .trafficSection__box-text Количество пользователей выросло с 40 до 300
        .trafficSection__box-pic
          img.growthSection__box-image(src="./assets/images/traffic-2.png")