section.workSection
  .workSection__wrapper.wrapper
    h2.workSection__title Работа над проектом
    .workSection__cards
      .workSection__card
        .workSection__card-number 01
        .workSection__card-content
          .workSection__card-top
            .workSection__card-oval
            h3.workSection__card-title Семантическое ядро
        p.workSection__card-text Собрали <b>семантическое ядро</b>, и на основе собранного СЯ предложили <b>расширять структуру сайта</b>.
      .workSection__card
        .workSection__card-number 02
        .workSection__card-content
          .workSection__card-top
            .workSection__card-oval
            h3.workSection__card-title Проработка контента
          p.workSection__card-text <b>Переписали все тексты</b> для страниц игр и для главной страницы сайта. Важно было, чтобы контент был интересным, понятным и оптимизированным для поисковых систем (содержал ключи, не имел переспама и др.)
      .workSection__card
        .workSection__card-number 03
        .workSection__card-content
          .workSection__card-top
            .workSection__card-oval
            h3.workSection__card-title Добавление мета-тегов
          p.workSection__card-text Подготовили и внесли на сайт уникальные мета-теги (h1, title и description) для продвигаемых страниц. Они помогают поисковым системам лучше понимать, о чём страница, и правильно её ранжировать. Так сайт становится более заметным в поиске, что приводит к большему количеству посетителей.
        .workSection__card-right
          img(src="./assets/images/work-mobile.png")
          button.workSection__button.button-1 h1
          button.workSection__button.button-2 description
          button.workSection__button.button-3 title    
      .workSection__card
        .workSection__card-number 04
        .workSection__card-content
          .workSection__card-top
            .workSection__card-oval
            h3.workSection__card-title Технический аудит
          p.workSection__card-text.text-four Провели технический аудит и в результате выявили ряд ошибок, которые после исправили. Вот некоторые из них:
          .workSection__list-block
            ul.workSection__list-left
              li.workSection__card-list-item <b>Удалили дубликаты страниц</b> <br> Избавление от повторяющихся страниц улучшило SEO, так как поисковые системы лучше индексируют уникальный контент
              li.workSection__card-list-item <b>Скорректировали файл sitemap.xml</b> <br> Это помогло поисковикам лучше понять структуру сайта и эффективнее индексировать страницы
              li.workSection__card-list-item <b>Исправили ошибки верстки</b> <br> Улучшило внешний вид и функциональность сайта, делая его более приятным и удобным для пользователей
            ul.workSection__list-right
              li.workSection__card-list-item <b>Увеличили скорость загрузки сайта</b><br>Быстрая загрузка важна для удержания пользователей и улучшения позиций в результатах поиска
              li.workSection__card-list-item <b>Внедрили микроразметку Schema.org</b> <br> Это улучшило понимание содержания сайта поисковыми системами и могло повысить видимость в результатах поиска
              li.workSection__card-list-item <b>Скорректировали иерархию заголовков</b> (от h1 до hn) <br>Правильная структура заголовков помогает поисковым системам лучше понять иерархию и важность контента на страницах          
    .workSection__cards-2
      .workSection__card
        .workSection__card-number 05
        .workSection__card-content
          .workSection__card-top
            .workSection__card-oval
            h3.workSection__card-title SERM
          p.workSection__card-text Работали с репутацией компании в сети
      .workSection__card
        .workSection__card-number 06
        .workSection__card-content
          .workSection__card-top
            .workSection__card-oval
            h3.workSection__card-title Анализ ссылочного профиля
          p.workSection__card-text Проанализировали ссылочный профиль сайта и конкурентов. Были исследованы конкуренты в схожей тематике, имеющие наиболее высокие показатели видимости сайта в ПС. На основе анализа составили план наращивания ссылочной массы.
          p.workSection__card-text Ссылки начали получать с бесплатных каталогов. Регистрировались как на белорусскик, так и на российских площадках, поскольку у клиента одно из направлений это джанкет туры, данная услуга направлена на аудиторию РФ.