extends layouts/MainLayout
include mixins/index.pug

block title
  | Design

block content
  body.body  
    .container
      include sections/headerSection 
      include sections/nichesSection  
      include sections/casesSection       
      include sections/stagesSection 
      include sections/principlesSection
      include sections/feedbackSection 

  script 
    include js/slider.js
    include js/filtration.js    