@font-face {
    font-family: "Circle", sans-serif;
    src: url("../assets/fonts/Circe-Thin.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Circle", sans-serif;
    src: url("../assets/fonts/Circe-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Circle", sans-serif;
    src: url("../assets/fonts/Circe-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Circle", sans-serif;
    src: url("../assets/fonts/Circe-ExtraBold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
