@import './fonts';

$max-width: 1340px;

//spacings
$spacing-1: 124px;
$spacing-2: 110px;
$spacing-3: 70px;
$spacing-4: 64px;
$spacing-5: 60px;
$spacing-6: 50px;
$spacing-7: 45px;
$spacing-8: 40px;
$spacing-9: 35px;
$spacing-10: 30px;
$spacing-11: 24px;
$spacing-12: 20px;
$spacing-13: 15px;
$spacing-14: 10px;
$spacing-15: 5px;

//fonts
$font-family: Circe;
$font-family-H: Toxigenesis;
$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-primary: 400;

$line-height-primary: 140%;
$line-height-secondary: 130%;
$line-height-H: 108.5%;

$font-size-mini: 1.125rem;
$font-size: clamp(0.875rem, 1.8vw, 1.5rem);
$font-size-secondary: clamp(0.875rem, 1.94vw, 1.625rem);
$font-size-H1: clamp(4rem, 9.2vw, 7.68rem);
$font-size-H2: clamp(2.25rem, 4.2vw, 3.5rem);
$font-size-H3: clamp(1.5rem, 3.1vw, 2.625rem);
$font-size-H4: 1.5rem;

$font-color: #363636;
$font-color-invert: #ffffff;
$font-color-bright: #7647c9;
$font-color-placeholder: #363636;
$font-color-orange: #ff7f40;

//backgrounds
$bg-secondary: #bf7ae9;
$bg-bright: #ff7f40;
$bg-white: #ffffff;
$bg-order: #f3f3f3;

$breakpoints-sm: 576px;
$breakpoints-md: 768px;

// $breakpoint: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );
