extends layouts/MainLayout
include mixins/index.pug

block title
  | EMS-sklad

block content
  body.body
  include sections/headerSection
  .container
    include sections/startSection
    include sections/designSection
    include sections/structureSection
    include sections/descriptionSection
    include sections/tabSection
    include sections/devSection
    include sections/tariffSection
    include sections/newsSection
    include sections/teamSection
    include sections/factorySection
    include sections/orderSection