section.conclusion

    .container 

        .conclusion__wrapper 

            article.conclusion__content
                h2.conclusion__title.
                    Выводы

                p.conclusion__text.
                    Основа успешного низкобюджетного продвижения - опытная команда по SMM
                    и тестирование разных форматов креатива. Лучше всего использовать в
                    комплексе и оформление постов, и добавление видео, и ведение сторис.

            picture.conclusion__image
                img(src=require("../../assets/img/conclusion2.png"), alt="pic")