extends layouts/MainLayout
include mixins/index.pug

block title
  | Nova-you

block content
  body.body
    .container
      include sections/headerSection 
      include sections/whoSection
      include sections/serviceSection
      include sections/projectSection 
      include sections/teamSection 
      include sections/coreSection
      include sections/uxSection 
      include sections/contentSection
      include sections/addSection
      include sections/resultSection
      include sections/clientSection
      include sections/importantSection
      include sections/orderSection
      include sections/modalSection