@mixin text-60($color: null) {
    font-family: "RoadRadio";
    font-size: clamp(32px, 4.2vw, 60px);
    line-height: clamp(35.38px, 4.2vw, 66px);
    font-weight: 700;

    @if($color) {
        color: $color;
    }

    @else {
        color: $text-light;
    }

}

@mixin text-50($color: null) {
    font-family: "RoadRadio";
    font-size: clamp(32px, 4.2vw, 50px);
    line-height: clamp(32.29px, 4.2vw, 50.45px);
    font-weight: 700;

    @if($color) {
        color: $color;
    }

    @else {
        color: $text-light;
    }
}


@mixin text-34($color: null) {
    font-family: "Circe", sans-serif;
    font-size: clamp(24px, 4.2vw, 34px);
    line-height: clamp(27.6px, 4.2vw, 39.1px);
    font-weight: 700;

    @if($color) {
        color: $color;
    }

    @else {
        color: $text-blue;
    }
}

@mixin text-32($color: null) {
    font-family: "Circe", sans-serif;
    font-size: clamp(24px, 4.2vw, 32px);
    line-height: clamp(27.6px, 4.2vw, 47.17px);
    font-weight: 700;

    @if($color) {
        color: $color;
    }

    @else {
        color: $text-light;
    }
}

@mixin text-28($color: null) {
    font-family: "Circe", sans-serif;
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 700;

    @if($color) {
        color: $color;
    }

    @else {
        color: $text-light;
    }

    @media (max-width: 480px) {
        font-size: 22px;
        line-height: 30.12px;
    }
}

@mixin text-26($color: null) {
    font-family: "Circe", sans-serif;
    font-size: 26px;
    line-height: 38.32px;
    font-weight: 700;

    @if($color) {
        color: $color;
    }

    @else {
        color: $text-blue;
    }

    @media (max-width: 480px) {
        font-size: 20px;
        line-height: 29.48px;
    }
}


@mixin text-24($color: null) {
    font-family: "Circe", sans-serif;
    font-size: clamp(18px, 4.2vw, 24px);
    line-height: clamp(23.4px, 4.2vw, 26.4px);
    font-weight: 400;

    @if($color) {
        color: $color;
    }

    @else {
        color: $text-light;
    }
}

@mixin text-22($color: null) {
    font-family: "Circe", sans-serif;
    font-size: 22px;
    line-height: 29.7px;
    font-weight: 400;

    @if($color) {
        color: $color;
    }

    @else {
        color: $text-dark;
    }

    @media (max-width: 480px) {
        font-size: 18px;
        line-height: 23.4px;
    }
}


@mixin item-style {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $bg-light;
    padding: clamp(32px, 4.2vw, 35px) clamp(24px, 4.2vw, 50px);
    border-radius: 30px;
    background-color: $bg-light;

    &>p {
        @include text-22;
    }

    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        @include text-28;
        border-radius: 50%;
        background-color: $text-blue;
    }
}

@mixin slider-box {
    width: 100%;
    height: 709px;
    border: 10px solid #26252A;
    border-radius: 30px;
}