.profileSection {
  margin-bottom: 120px;
  padding-right: 7px;

  &__wrapper.wrapper {
    display: flex;
    gap: 7px;
    min-height: 590px;
    max-width: 1152px;
    padding-left: 60px;
    border: 1px solid $color-main;
    border-radius: 24px;
  }

  &__left {
    max-width: 540px;
    width: 100%;
    padding-top: 46px;
  }

  &__title.calcio-title {
    margin-bottom: 16px;
  }

  &__text {
    font-family: $second-family;
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
    color: $color-main;
  }

  &__bottom {
    min-height: 238px;
    margin-top: 24px;
    border-radius: 12px;
    padding: 32px 24px;
    background: linear-gradient(
      129deg,
      #424242 0%,
      #353535 46.4%,
      #424242 100%
    );
    font-family: $second-family;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
  }

  &__pic {
    width: auto;
    height: auto;
  }
}
