+sections("client", "client__wrapper")

    picture.client__image
        img(src=require("./assets/img/client.png") alt="model")

    article.client__content 

        h2.client__title.

            О клиенте

        p.
            <span>София</span> - профессиональная модель. Работает с известными брендами: 
            MaxMara, Twinset, итальянским дизайнером Роберто Ковалли, участвует 
            в фотосъёмках и показах моды. Участница FashionWeek.
        p.
            <span>Срок сотрудничества:</span> август 2022-настоящее время
        p.
            <span>Условия:</span> проект под NDA
