section.begitwork 

    .begitwork-left 

        h2.begitwork-left__title.title-50.
            Начали работу с анализа компании 

        p.begitwork-left__text.
            Клиент работает #[span в сфере складского консалтинга].
            Подход компании напоминает управление кораблем 
            - чтобы быстро достичь нужной точки, следует 
            использовать ветер в свою пользу.

        p.begitwork-left__text.
            #[span Знания клиента] - ветер, который помогает кораблю, т.е. бизнесу, стремительно плыть вперед.
            Мы сохранили эту концепцию при создании нового дизайна.
            Важно было, чтобы сайт стал частью бренда.

    picture.begitwork-right
        img(src="../../assets/images/begin.png" alt="store")
