.blockWrapper {
  position: relative;
  border-radius: $spacing-11;
  padding: clamp($spacing-10, 3.3vw, $spacing-7)
    clamp($spacing-10, 3.75vw, $spacing-6);
  box-shadow: 0px 5px 5px 5px rgba(221, 238, 255, 0.35);
}
