section.promotion 

    .container 

        article.promotion__wrapper 

            h2.promotion__title.
                Продвижение аккаунта

            .promotion__content

                .promotion__images 

                    picture.promotion__image1
                        img(src=require('../../assets/img/promotion1.png'), alt="pic")
                    picture.promotion__image2
                        img(src=require('../../assets/img/promotion2.png'), alt="pic")

                .promotion__texts
                    p.promotion__text.
                        В начале кейса мы упомянули, 
                        что решили использовать только 
                        <span>бесплатные методы для продвижения.</span>
                        Какие именно? 
                    p.promotion__text.
                        Даже если вы не задали этот вопрос, 
                        мы все равно ответим: 
                        <span>#Хештеги и Reels.</span> 
                    p.promotion__text.
                        <span>Вот пример одного из постов.</span> 
                        С помощью одной лишь публикации мы охватили 1 005 человек,
                        которые не подписаны на профиль. 
                        А с учётом того, что в 2023 году в Instagram посты продвигаются,
                        как и reels, то количество просмотров будет только расти.

