.designSection {
  @include responsive-sizing(margin-bottom, 70, 110, 768, 1160);

  &__icon-box {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
  }

  &__icon-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: $color-accent;
    border-radius: 6px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);

    & img {
      display: block;
      width: 22px;
      height: 22px;
    }
  }

  &__icon-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
  }

  &__text {
    max-width: 660px;
    margin-bottom: 36px;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 22, 400, 1160);
    line-height: 136.6%;
    color: $color-extra;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  &__card {
    min-height: 422px;
    border-radius: 16px;
    @include responsive-sizing(padding-inline, 20, 36, 992, 1160);
    @include responsive-sizing(padding-block, 20, 26, 992, 1160);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__card:nth-child(1) {
    background-image: url('../assets/images/design1.png');
  }

  &__card:nth-child(2) {
    background-image: url('../assets/images/design2.png');
  }

  &__card:nth-child(3) {
    background-image: url('../assets/images/design3.png');
  }

  &__card-title {
    margin-bottom: 8px;
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 21, 24, 400, 1160);
    color: $color-main;
  }

  &__card-text {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 22, 400, 1160);
    line-height: 136.6%;
    color: $color-extra;
  }

  @media (max-width: 900px) {
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }

  @media (max-width: 650px) {
    &__cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &__card {
      background-position: bottom;
      @include responsive-sizing(min-height, 360, 422, 400, 650);
    }

    &__card-title {
      margin-bottom: 6px;
      line-height: 138%;
    }
  }
}
