.summarySection {
  position: relative;
  z-index: 10;
  padding-bottom: clamp(30px, 3.57vw, 50px);
  padding-inline: clamp(30px, 5.71vw, 80px);
  border-radius: clamp(40px, 4.29vw, 60px);
  background-color: $bg-white;

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: clamp(70px, 7.14vw, 100px);
  }

  &_content {
    flex: 1;
  }

  &_title {
    font-size: clamp(5.625rem, 11.42vw, 10rem);
    color: #0b60eb;
    opacity: 30%;
    line-height: 110%;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &_imageWrapper {
    max-width: 37%;
    width: 100%;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &_footer {
    display: flex;
    justify-content: center;
    color: #393939;
    font-size: clamp(1.5rem, 2.29vw, 2rem);
    font-weight: 800;
    line-height: 110%;
  }
}

@media (max-width: $breakpoints-md) {
  .summarySection {
    &_wrapper {
      flex-direction: column;
    }

    &_imageWrapper {
      margin-inline: auto;
      max-width: 60%;
    }

    &_title {
      margin-left: 12px;
    }
  }
}

@media (max-width: $breakpoints-sm) {
  .summarySection {
    &_imageWrapper {
      max-width: 100%;
    }

    &_footer {
      justify-content: flex-start;
      font-weight: 700;
    }
  }
}
