.infoSection {
  margin-bottom: 100px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
  }

  &__chronology {
    display: flex;
    padding-inline: 40px 24px;
    border-radius: 12px;
    min-height: 428px;
    background-color: $color-blue;
    overflow: hidden;
  }

  &__chronology-pic {
    max-width: 300px;
    border-radius: 8px;

    & img {
      height: auto;
    }

    &:first-child {
      transform: translateY(92px);
      margin-right: 22px;
    }

    &:nth-child(2) {
      margin-right: 74px;

      & img {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  &__chronology-content {
    max-width: 480px;
    align-self: flex-end;
    padding-bottom: 32px;
  }

  & .title {
    font-family: $font-family;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #fff;
    margin-bottom: 16px;
  }

  & .text {
    font-family: $second-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: rgba(255, 255, 255, 0.75);
  }

  &__favorites {
    display: flex;
    gap: 66px;
    padding-top: 60px;
    padding-left: 24px;
    min-height: 428px;
    border-radius: 12px;
    background-color: $color-light-gray;
  }

  &__favorites-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 380px;
    padding-bottom: 26px;
  }

  &__favorites-title.title {
    color: $color-main;
  }

  &__favorites-text.text {
    color: $color-text;
  }

  &__compare {
    display: flex;
    gap: 66px;
    padding-top: 60px;
    padding-right: 24px;
    min-height: 428px;
    background-color: $color-light-blue;
    border-radius: 12px;
  }

  &__compare-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 380px;
    padding-bottom: 26px;
  }

  &__compare-title.title {
    color: $color-main;
  }

  &__compare-text.text {
    color: $color-text;
  }

  &__history {
    display: flex;
    flex-direction: column;
    padding: 42px 46px 0 46px;
    border-radius: 12px;
    min-height: 428px;
    background-color: $color-blue;
    overflow: hidden;
  }

  &__history-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;
  }

  &__history-text {
    max-width: 358px;
  }
}
