mixin customCheckbox(value, name, id)
    label.checkbox&attributes(attributes)
        input(class="checkbox" type="checkbox" id=id name=name value=value)
        span(class="checkbox__custom")
        span= value

  
   
