section.headerSection
  h1.headerSection__title
    span.headerSection__title-first <span class="accent">Комплексный подход: </span> продвижение агентства 
    span.headerSection__title-second недвижимости и техническая поддержка сайта
  .headerSection__banner
    .headerSection__content
      .headerSection__content-box
        h3.headerSection__content-title О проекте:
        p.headerSection__content-text Агентство недвижимости и крупный застройщик жилых комплексов в Турции
      .headerSection__content-box
        h3.headerSection__content-title Задачи:
        .headerSection__content-item 
          img.headerSection__content-icon(src="./assets/icons/check.svg", alt="пункт")
          p.headerSection__content-text Увеличить количество заявок с сайта 
        .headerSection__content-item
          img.headerSection__content-icon(src="./assets/icons/check.svg", alt="пункт")
          p.headerSection__content-text Увеличить трафик на сайте
    .headerSection__region
      h3.headerSection__region-title Регион продвижения:
      p.headerSection__region-text Турция

  

         
        