section.initialSection
  .initialSection__content
    h3.initialSection__title Исходные данные
    p.initialSection__text  <b>Ранее клиент работал с маркетинговым агентством</b>, которое было монополистом на рынке недвижимости в Турции.  Сотрудничество они прекратили, т.к. клиента не устроил процесс взаимодействия.  Его было мало. Компания получала отчеты о том, что все показатели растут, но количество заявок не увеличивалось.
  .initialSection__pic  
    img.initialSection__image.desktop(src="./assets/images/laptop.png", alt="ноутбук")
    img.initialSection__image.mobile(src="./assets/images/laptop.png", alt="ноутбук")