.modal-gursoy
  .modal__container
    .modal__top
      h2.modal__title Рост трафика на сайте
      .modal__close-button
        img.modal__close-icon(src="./assets/icons/close.svg", alt="закрыть")
    .modal__content
