section.promotionSection
  h2.promotionSection__title.gursoy-title Основные этапы продвижения сайта
  .promotionSection__card
    .promotionSection__card-left
      p.promotionSection__card-title Семантическое ядро
      p.promotionSection__card-text.gursoy-text На первом этапе подготовили семантическое ядро. <br> Т.е. собрали запросы, по которым пользователи ищут сайт. Всего вышло <b>около 1000 ключей</b> для продвижения. На основе СЯ разработали <b>структуру сайта</b>. 
    .promotionSection__card-right
      h3.promotionSection__card-subtitle Особенности этапа
      .promotionSection__card-content
        p.promotionSection__card-text.gursoy-text  Раньше, когда клиент посещал страницу с недвижимостью и выбирал параметры в фильтре (например, регион), <b>создавалась новая временная страница</b> с предложениями. Но фактически на сайте такой страницы не было.<br>
          |Мы <b>изменили</b> это. Теперь страницы с отфильтрованными предложениями <b>стали статическими</b>, но для пользователя ничего не изменилось. 
        p.promotionSection__card-text.gursoy-text Эта технология называется <b>SEO-фильтр</b>.
  .promotionSection__line
    .promotionSection__line-left
      h3.promotionSection__line-subtitle Почему SEO-фильтр?
      .promotionSection__line-text Когда страница физически существует на сайте, мы можем добавлять оптимизированные тексты и продвигать ее.
    .promotionSection__line-pic
  .promotionSection__card
    .promotionSection__card-left
      p.promotionSection__card-title Конкурентный анализ
      p.promotionSection__card-text.gursoy-text  Проанализировали конкурентов, которые занимают первые места в выдаче по отслеживаемым запросам. Изучили их сайты, функциональность, оценили видимость, траст, возможные проблемы и количество страниц.
    .promotionSection__card-right
      p.promotionSection__card-title Технический аудит
      .promotionSection__card-content
        .promotionSection__card-text.gursoy-text  По итогам технического аудита подготовили ТЗ программистам для доработок. Некоторые изменения:
        .promotionSection__card-list
          li.promotionSection__list-item Настройка корректной верстки,
          li.promotionSection__list-item Внедрение микроразметки Schema.org,
          li.promotionSection__list-item Увеличение скорости загрузки сайта,
          li.promotionSection__list-item Заменить ссылки с кодом ответа сервера 3хх.
  .promotionSection__card
    .promotionSection__card-left
      p.promotionSection__card-title Контентная оптимизация
      .promotionSection__card-content
        p.promotionSection__card-text <b>Тексты</b> на страницах были <b>переоптимизированы</b>, т.е. содержали много ключей. Из-за этого сайт мог попасть под фильтр поисковых систем. Поэтому мы их <b>переписали</b>, а для некоторых страниц <b>добавили новые</b>.
          | Создали тексты и для SEO-фильтров. Также скорректировали <b>мета-теги</b> и <b>настроили</b> их корректное <b>отображение</b>.  <br>
        p.promotionSection__card-point Метатеги — это небольшие описания для сайта, которые видят пользователи в поисковых результатах. 
    .promotionSection__card-right
      .promotionSection__card-top
        p.promotionSection__card-text Одна из статей в Блоге принесла  <span class="number"> 3000 </span> бесплатных посетителей на сайт.
        p.promotionSection__card-statistic Статистика статьи из блога
        .promotionSection__statistic-pic
          img.promotionSection__statistic-image.desktop(src="./assets/images/statistic.png", alt="статистика")
          img.promotionSection__statistic-image.mobile(src="./assets/images/statistic-mobile.png", alt="статистика")
  .promotionSection__card
    .promotionSection__card-left
    .promotionSection__card-right
      p.promotionSection__card-title Анализ ссылочного профиля
      .promotionSection__card-content
        p.promotionSection__card-text Изучили ссылочный профиль конкурентов. Сайт клиента имел меньший объем ссылок, поэтому составили <b>план по наращиванию</b>. 
          |Сейчас <b>получаем бесплатные ссылки</b> с блогов, рейтингов, каталогов и др. ресурсов. После перейдем на наращивание платных ссылок.