section.resutSection
  h2.resutSection__title.gursoy-title Результаты за 7 месяцев
  .resutSection__card
    .resutSection__card-left
      span.resutSection__card-number ×16 раз 
      span.resutSection__card-text Увеличили трафик на сайте
    .resutSection__card-right
      .resutSection__card-pic
        img.resutSection__card-image(src="./assets/images/result-1.png", alt="график")
  .resutSection__card
    .resutSection__card-left
      span.resutSection__card-number ×6 раз 
      span.resutSection__card-text Увеличили количество ключевых слов в Топ-10 Google
    .resutSection__card-right
      .resutSection__card-pic
        img.resutSection__card-image(src="./assets/images/result-2.png", alt="график")
  .resutSection__growth
    .resutSection__growth-left
      h3.resutSection__growth-title Рост органического трафика
      .resutSection__growth-content
        .resutSection__growth-text Во время нашего сотрудничества клиент решил <b>отказаться от контекстной рекламы</b>.  <br>
        | Обычно, когда останавливают рекламу, количество людей, которые приходят на сайт через поисковые системы, уменьшается. Однако в нашем случае мы наблюдали постоянное увеличение органического трафика.
    .resutSection__growth-pic
      img.resutSection__growth-image(src="/assets/images/result-3.png", alt="диаграмма")
