section.resumeSection
  .resumeSection__content
    h2.resumeSection__content-title Итоги сотрудничества
    p.resumeSection__content-text В рамках проекта по продвижению турецкого агентства недвижимости и технической поддержке их сайта был выполнен ряд ключевых задач: сбор семантики, внедрение SEO-фильтра, конкурентный анализ, технический аудит и оптимизация контента. Все это помогло увеличить количество посетителей сайта в 16 раз и поднять сайт в Топ-10 поиска по многим запросам. Также решали технические проблемы сайта и вернули контроль над его системой управления.
  .resumeSection__pic
    img.resumeSection__image(src="./assets/images/resume.png", alt="итоги")