section.specificSection
  h2.specificSection__title.gursoy-title Особенности проекта
  .specificSection__top
    .specificSection__top-left
      span.specificSection__number 01
      p.specificSection__top-text.gursoy-text В сфере недвижимости <b>карточки объектов не продвигаются</b>. Поэтому на сайте мало коммерческих страниц.
    .specificSection__pic
      img.specificSection__image(src="./assets/images/specific.png", alt="квартиры")
  .specificSection__bottom
    .specificSection__bottom-pic
      img.specificSection__image(src="./assets/images/search.png", alt="поиск")
    .specificSection__bottom-right
      span.specificSection__number 02
      p.specificSection__top-text.gursoy-text Небольшой процент людей ищет по запросам "купить однокомнатную квартиру в Алании с видом на море", а <b>по высокочастотным запросам</b>, например, "купить квартиру в Алании" <b>выйти в Топ сложно</b> из-за большого уровня конкуренции. 