section.techSection 
  h2.techSection__title.gursoy-title Техническая поддержка сайта
  .techSection__top
    .techSection__top-content
      .techSection__top-title Работа dev-отдела
      .techSection__top-text Клиент также обратился в Webernetic за <b>техподдержкой под ключ</b>. На сайте были технические ошибки, которые переодически давали о себе знать. Например, сайт несколько раз падал, не загружался. Эти проблемы оперативно устранял наш dev-отдел.
    .techSection__pic
      img.techSection__image.desktop(src="./assets/images/tech1.png", alt="ноутбук")
      img.techSection__image.mobile(src="./assets/images/tech1-mobile.png", alt="ноутбук")
  .techSection__bottom
    .techSection__bottom-left
      h3.techSection__bottom-title Ход работы
      p.techSection__bottom-text В ходе работы над проектом нам нужно было внести изменения в мета-теги сайта, но мы столкнулись с проблемой: изменения не сохранялись. Сайт автоматически восстанавливал старую версию кода. Наши программисты обнаружили, что код сайта подтягивается из системы GIT.
    .techSection__bottom-right
      p.techSection__bottom-text.right Выяснилось, что предыдущие подрядчики передали не все доступы к сайту. Но наша команда смогла самостоятельно восстановить доступ к GIT и вернуть контроль над сайтом.