section.repack

    .container

        .repack__wrapper 

            .repack__top
                .repack__content
                    h2.
                        Переупаковка профиля, которая привлекает пользователей, какая она?

                    p.
                        Перед упаковкой профиля мы проанализировали целевую аудиторию.
                        У Zlucky это люди, которые следят за правильным питанием, спортсмены,
                        которые ищут замену сладостям и перекусам с высоким содержанием сахара.

                picture.repack__image1
                    img(src=require("../../assets/img/repack1.png"), alt="pic")

            .repack__bottom

                picture.repack__image2
                    img(src=require("../../assets/img/repack2.png"), alt="pic")
                

                .repack__content

                    p
                        span.
                            Опираясь на интересы аудитории, мы полностью обновили профиль.
                            Добавили рецепты, чтобы поделиться вкусными идеями, информацию,
                            где можно приобрести продукцию и подробнее рассказали о компании.
                            А чтобы взаимодействие с аккаунтом было еще и интерактивным,
                            использовали опросники и мини-викторины в сторис
                        span.
                            В результате создали профиль, который привлекает внимание,
                            мотивирует взаимодействовать с ним и покупать товары бренда в магазине.