+sections("stories", "stories__wrapper")

    .stories__top

        div

            h2.

                Закреплённые Stories

            p.
                80% людей при переходе в профиль
                сначала смотрят закреплённые stories,
                а не посты, мы уделили особое внимание, 
                чтобы зацепить аудиторию и довести до подписки на профиль.

            p.
                До нашего сотрудничества закреплённые stories 
                присутствовали в профиле, но информация там 
                (фото, видео с отдыхов) никак не стимулировала к подписке.

        div

    .stories__present

        picture 
            img(src=require("./assets/img/stories2.jpg"), alt="stories")
        picture 
            img(src=require("./assets/img/stories3.jpg"), alt="stories")
        picture 
            img(src=require("./assets/img/stories4.jpg"), alt="stories")

    .stories__texts 

        p.
            Мы разработали ряд закреплённых stories, 
            с помощью которых раскрывали экспертность модели, 
            рассказывали о её жизненном пути, давали полезную информацию для ЦА.

        p.
            То есть аудитория не только получала полезные полезности, 
            но еще и знакомилась с блогером и узнавала себя в проблемах, 
            с которыми сталкивалась наша клиентка.

    .stories__bottom 

        picture
            img(src=require("./assets/img/storis5.png"), alt="stories")

        p.
            Правильное заполнение таких элементов привело к 
            конверсии в подписку в 30%, вместо 3% мужчин, которые просто подписывались.