section.trend 
    h2.trend__title.
        Анализ рынка и выявление трендов

    .trend-content 
        h3.trend-content__title.
            Мудборд

        picture.trend-content__images 
            img(src="../../assets/images/trend.png" alt="стили и композиция")

        ul.trend-content__list 
            li.trend-content__item
                p.
                    Анализ конкурентов помогает понять, 
                    что делают другие компании и подготовить 
                    стратегию отстройки от конкурентов.
                    Смотрим, что нравится пользователям 
                    на других сайтах и применяем эти идеи в дизайне.
            li.trend-content__item
                div 1
                p.
                    Изучили конкурентов, чтобы понять, 
                    какие дизайнерские и функциональные тенденции 
                    присутствуют на рынке.
            li.trend-content__item
                div 2
                p.
                    Подготовили мудборды, чтобы наглядно представить 
                    концепцию нового дизайна клиенту и команде, а также 
                    определиться со структурой блоков на сайте.

