extends layouts/MainLayout
include mixins/index.pug

block title
  | Vesta

block content
  body.body  
    .container   
      include sections/headerSection
      include sections/workSection
      include sections/goalsSection
      include sections/stepsSection
      include sections/processSection
      include sections/mapSection
      include sections/routeSection
      include sections/creationSection
      include sections/receiveSection
      include sections/accountSection
      include sections/infoSection
      include sections/industrySection
      include sections/orderSection