extends layouts/MainLayout
include mixins/index.pug

block title
  | Sugarant

block content
  body.body
  .container    
    include sections/headerSection
    include sections/promotionSection
    include sections/storySection
    include sections/startSection
    include sections/analysisSection
    include sections/collectSection
    include sections/createSection
    include sections/blogSection
    include sections/linkSection
    include sections/useSection
    include sections/resultSection
    include sections/orderSection