@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_regular.eot");
  src: url("../assets/fonts/circe_regular.woff") format("woff"), url("../assets/fonts/circe_regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_bold.eot");
  src: url("../assets/fonts/circe_bold.woff2") format("woff2"), url("../assets/fonts/circe_bold.woff") format("woff"), url("../assets/fonts/circe_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_extra_bold.eot");
  src: url("../assets/fonts/circe_extra_bold.woff") format("woff"), url("../assets/fonts/circe_extra_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_regular.eot");
  src: url("../assets/fonts/circe_regular.woff") format("woff"), url("../assets/fonts/circe_regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_bold.eot");
  src: url("../assets/fonts/circe_bold.woff2") format("woff2"), url("../assets/fonts/circe_bold.woff") format("woff"), url("../assets/fonts/circe_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_extra_bold.eot");
  src: url("../assets/fonts/circe_extra_bold.woff") format("woff"), url("../assets/fonts/circe_extra_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 26%;
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  font-weight: 500;
  color: #3e3e3e;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.checkbox input[type=checkbox]:checked ~ .checkbox__custom {
  background-color: #5fa4f1;
  border-color: #5fa4f1;
  box-shadow: 0 0 0 0.2rem rgba(95, 164, 241, 0.25);
}
.checkbox input[type=checkbox]:checked ~ .checkbox__custom:after {
  display: block;
}
.checkbox input[type=checkbox]:disabled {
  background-color: #e9ecef;
  border-color: rgb(107, 107, 103);
}
.checkbox .checkbox__custom {
  position: relative;
  height: 14px;
  width: 14px;
  border: 2px solid #5fa4f1;
  border-radius: 2px;
}
.checkbox .checkbox__custom:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 7px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  transform: translate(-50%, -50%);
}

@media (max-width: 576px) {
  .checkbox {
    font-weight: 700;
  }
  .checkbox .checkbox__custom {
    height: 20px;
    width: 20px;
  }
  .checkbox .checkbox__custom:after {
    width: 12px;
    height: 12px;
  }
}
.blockWrapper {
  position: relative;
  border-radius: 20px;
  padding: clamp(25px, 3.3vw, 40px) clamp(25px, 3.75vw, 44px);
  box-shadow: 0px 4px 2px 0px rgba(31, 110, 187, 0.15);
}

.headerSection {
  position: relative;
}
.headerSection .imageWrapper {
  padding-top: clamp(50px, 8.3vw, 100px);
  padding-bottom: 100px;
  background-image: url("../assets/images/banner-1200.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.headerSection .wiex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: clamp(70px, 7.5vw, 90px);
  width: -moz-fit-content;
  width: fit-content;
  height: clamp(35px, 3.5vw, 42px);
  padding: 0 clamp(30px, 3.33vw, 40px);
  border-radius: clamp(18px, 1.75vw, 21px);
  background-color: #ffffff;
  color: #000000;
}
.headerSection .header_text {
  margin-top: 14px;
  font-size: clamp(1.375rem, 2.3vw, 1.75rem);
}
.headerSection_cardsWrapper {
  position: relative;
  bottom: 0;
  transform: translateY(-62px);
  z-index: 10;
  margin-bottom: clamp(30px, 4.2vw, 50px);
}
.headerSection_list {
  padding: 0;
  margin: 0;
}
.headerSection_card {
  background-color: #ffffff;
}
.headerSection__cardTitle {
  margin-bottom: clamp(4px, 2.3vw, 30px);
}
.headerSection_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  background-color: #5fa4f1;
  gap: clamp(16px, 5.2vw, 62px);
}
.headerSection_itemLine {
  display: flex;
  gap: 14px;
}
.headerSection_itemLineNumber {
  font-size: clamp(22px, 2.17vw, 26px);
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 576px) {
  .headerSection .wiex {
    margin-bottom: 256px;
  }
  .headerSection__flexColumn {
    flex-direction: column;
  }
  .headerSection .imageWrapper {
    background-image: url("../assets/images/banner-500.png");
  }
  .headerSection_cardsWrapper {
    margin-bottom: 0;
    transform: translateY(-50px);
  }
}
.structureSection {
  padding: clamp(70px, 8.3vw, 100px) 0;
}
.structureSection_lastBlock {
  max-width: 47%;
}

@media (max-width: 576px) {
  .structureSection__flexColumn {
    flex-direction: column;
  }
  .structureSection_lastBlock {
    max-width: 100%;
  }
}
.profileAnalysisSection > div {
  flex: 1;
}
.profileAnalysisSection_title {
  margin-bottom: clamp(20px, 2.1vw, 25px);
}
.profileAnalysisSection .imageWrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.profileAnalysisSection .imageWrapper > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .profileAnalysisSection__flexColumn {
    flex-direction: column;
  }
}
.competitorSection {
  padding: clamp(70px, 7.5vw, 90px) 0;
}
.competitorSection_descriptionWrapper {
  max-width: 768px;
  margin-bottom: clamp(14px, 2.1vw, 25px);
}
.competitorSection_title {
  margin-bottom: clamp(20px, 2.1vw, 25px);
}
.competitorSection_item {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 14px;
  margin-bottom: 0;
  padding: 25px clamp(25px, 2.5vw, 30px);
  background-color: #ddeeff;
  border-radius: 20px;
}
.competitorSection_list {
  margin: 0;
  padding: 0;
}
.competitorSection_itemText {
  color: #555555;
}
.competitorSection_icon {
  width: 40px;
  height: 40px;
}
.competitorSection_recommendationWrapper {
  margin-top: clamp(70px, 7.5vw, 90px);
  background-color: #5fa4f1;
  padding: clamp(40px, 5vw, 62px) clamp(25px, 3.8vw, 44px);
  border-radius: 20px;
}
.competitorSection_recommendationHeader {
  margin-bottom: clamp(20px, 2.1vw, 25px);
}
.competitorSection_contentWrapper > div:first-of-type {
  flex: 1;
  box-shadow: none;
}
.competitorSection_contentWrapper > div:last-of-type {
  max-width: 32%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 44px clamp(30px, 3.3vw, 40px) 44px;
  box-shadow: none;
}
.competitorSection_contentWrapper > div:last-of-type img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 576px) {
  .competitorSection__flexColumn {
    flex-direction: column;
  }
  .competitorSection_contentWrapper > div:first-of-type {
    flex: 1;
    box-shadow: none;
  }
  .competitorSection_contentWrapper > div:last-of-type {
    max-width: 100%;
  }
}
.optimizationSection_title {
  margin-bottom: clamp(20px, 2.1vw, 25px);
}
.optimizationSection_imageWrapper {
  max-width: 34%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.optimizationSection_imageWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.optimizationSection_footer {
  margin-top: clamp(70px, 7.5vw, 90px);
  margin-bottom: clamp(14px, 1.7vw, 20px);
  padding: clamp(20px, 2.5vw, 30px) clamp(20px, 4.2vw, 50px);
  background-color: #ddeeff;
  border-radius: 20px;
}
.optimizationSection_footer p {
  font-size: clamp(1.125rem, 2.17vw, 1.625rem);
}

@media (max-width: 576px) {
  .optimizationSection__flexColumn {
    flex-direction: column;
  }
  .optimizationSection_imageWrapper {
    max-width: 100%;
  }
}
.resultSection_title {
  margin-bottom: clamp(20px, 2.1vw, 25px);
}
.resultSection p {
  font-size: clamp(1.125rem, 2.17vw, 1.625rem);
}
.resultSection_item {
  position: relative;
  padding-left: clamp(16px, 1.67vw, 20px);
  font-size: clamp(1.125rem, 2.17vw, 1.625rem);
}
.resultSection_item::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: clamp(6px, 0.67vw, 8px);
  top: 0;
  transform: translateY(clamp(10px, 1.3vw, 16px));
  background-color: #3e3e3e;
}
.resultSection_imageWrapper {
  border-radius: 20px;
  overflow: hidden;
  max-width: 42%;
  max-height: 551px;
  width: 100%;
}
.resultSection_imageWrapper > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 576px) {
  .resultSection__flexColumn {
    flex-direction: column;
  }
  .resultSection_imageWrapper {
    max-width: 100%;
  }
}
.orderSection {
  margin-top: clamp(62px, 7.5vw, 90px);
}
.orderSection__position {
  padding-top: clamp(30px, 6.7vw, 70px);
  gap: clamp(40px, 7.08vw, 90px);
}
.orderSection_imageWrapper {
  margin-left: clamp(40px, 4.3vw, 62px);
  margin-right: clamp(40px, 4.3vw, 62px);
  max-width: 36%;
  width: 100%;
  height: auto;
}
.orderSection_imageWrapper > img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.orderSection_nameWrapper {
  position: absolute;
  left: 4%;
  bottom: 30%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(16px, 2.1vw, 25px) clamp(20px, 1.4vw, 35px);
  box-shadow: none;
}
.orderSection_nameWrapper > h4 {
  font-size: 30px;
  font-weight: 800;
}
.orderSection_nameWrapper > p {
  font-size: 10px;
  font-weight: 700;
}
.orderSection_form {
  flex: 1;
}
.orderSection_formTitle {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: clamp(2rem, 4vw, 3rem);
}
.orderSection_secondformTitle {
  margin-top: clamp(35px, 3.6vw, 50px);
  margin-bottom: 25px;
}
.orderSection_inputWrapper {
  display: flex;
  gap: clamp(35px, 2.9vw, 44px);
  flex-wrap: wrap;
}
.orderSection_inputWrapper > input {
  flex-basis: 47%;
}
.orderSection_checkboxWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.orderSection_checkboxWrapper > label {
  flex-basis: 30%;
}
.orderSection_buttonWrapper {
  margin-top: clamp(35px, 3.6vw, 50px);
}
@media (max-width: 576px) {
  .orderSection_imageWrapper, .orderSection_nameWrapper {
    display: none;
  }
  .orderSection_inputWrapper > input:not(:first-of-type) {
    margin-top: 25px;
  }
  .orderSection_inputWrapper > input {
    flex-basis: 100%;
  }
  .orderSection_checkboxWrapper > label {
    flex-basis: 46%;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Circe;
  color: #3e3e3e;
}

body {
  position: relative;
  scroll-behavior: smooth;
  background-color: rgba(221, 238, 255, 0.2);
  z-index: -1;
}

main {
  background-color: rgba(221, 238, 255, 0.2);
  padding-bottom: clamp(20px, 5.8vw, 40px);
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1200px;
  padding: 0 clamp(10px, 1.67vw, 20px);
  width: 100%;
  margin: 0 auto;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 130%;
  color: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(2.375rem, 4vw, 4.06rem);
  line-height: 105%;
}

h2 {
  font-size: clamp(2rem, 3.75vw, 2.81rem);
}

h3 {
  font-size: clamp(1.625rem, 3vw, 2.25rem);
}

h4 {
  font-size: clamp(1.06rem, 2.3vw, 2rem);
}

input::-moz-placeholder {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  line-height: 135%;
  color: inherit;
  margin: 0;
  padding: 0;
}

p,
span,
li,
a,
ul,
figcaption,
blockquote,
input,
label,
input::placeholder {
  font-size: clamp(1.125rem, 2vw, 1.5rem);
  line-height: 135%;
  color: inherit;
  margin: 0;
  padding: 0;
}

.li {
  font-size: max(1.125rem, min(2vw, 1.5rem));
  line-height: 120%;
  color: inherit;
  margin: 0;
  padding: 0;
}

.boldText {
  font-size: clamp(1.375rem, 2.3vw, 1.75rem);
  font-weight: 700;
  line-height: 120%;
}

.colorInvertText {
  color: #ffffff;
}

.brightText {
  color: #1f6ebb;
}

.whiteBg {
  background-color: #ffffff;
}

.darkBg {
  background-color: #5fa4f1;
}

.secondaryBg {
  background-color: #ddeeff;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  gap: clamp(14px, 1.67vw, 20px);
}
.flexContainer > div {
  flex: 1;
}

.mb-10 {
  margin-bottom: clamp(4px, 0.8vw, 10px);
}

.flex-start {
  justify-content: flex-start;
}

.flex-1 {
  flex: 1;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(14px, 1.67vw, 20px);
}

.input {
  border-bottom: 1px solid #3e3e3e;
  width: 100%;
  font-size: clamp(1.125rem, 2vw, 1.5rem);
}
.input::-moz-placeholder {
  color: #3c465b;
  line-height: 1;
  opacity: 0.7;
  font-size: clamp(1.125rem, 2vw, 1.5rem);
}
.input::placeholder {
  color: #3c465b;
  line-height: 1;
  opacity: 0.7;
  font-size: clamp(1.125rem, 2vw, 1.5rem);
}

.customButton {
  font-size: clamp(1.375rem, 2.3vw, 1.75rem);
  color: #3e3e3e;
  font-weight: 800;
  border-bottom: 2px solid #3e3e3e;
}
.customButton:hover, .customButton:active {
  transform: scale(1.05);
  color: #3e3e3e;
  border-color: #3e3e3e;
}/*# sourceMappingURL=main.css.map */