@import "./fonts";
@import "./variables";
@import "../mixins/mixinsStyles.scss";
@import "./headerSection/_headerSection.scss";
@import "./orderSection/_orderSection.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  color: $font-color;
}

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: $max-width;
  padding: 0 clamp($spacing-14, 1.67vw, $spacing-11);
  width: 100%;
  margin: 0 auto;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-bold;
  line-height: $line-height-H;
  color: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-size-H1;
  line-height: $line-height-H1;
}

h2 {
  font-size: $font-size-H2;
}

h3 {
  font-size: $font-size-H3;
}

h4 {
  font-size: $font-size-H4;
}

p,
span,
li,
a,
ul,
figcaption,
blockquote,
input,
label,
input::placeholder {
  font-size: $font-size;
  line-height: $line-height-primary;
  color: inherit;
  margin: 0;
  padding: 0;
}

.boldText {
  font-size: $font-size-secondary;
  font-weight: $font-weight-bold;
  line-height: $line-height-secondary;
}

.regularText {
  $font-weight: $font-weight-primary;
}

.colorInvertText {
  color: $font-color-invert;
}

.colorTextInvert {
  color: #ffffff;
}

.brightText {
  color: $font-color-bright;
}

.whiteBg {
  background-color: $bg-white;
}

.darkBg {
  background-color: $bg-dark;
}

.secondaryBg {
  background-color: $bg-secondary;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  gap: clamp($spacing-13, 1.67vw, $spacing-11);

  & > div {
    flex: 1;
  }
}

.flex-start {
  justify-content: flex-start;
}

.flex-1 {
  flex: 1;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp($spacing-13, 1.67vw, $spacing-11);
}

.input {
  border-bottom: 1px solid $font-color;
  width: 100%;
  font-size: $font-size-mini;

  &::placeholder {
    color: $font-color-placeholder;
    line-height: 1;
    opacity: 0.8;
    font-size: $font-size-mini;
  }
}

.customButton {
  font-size: $font-size-secondary;
  color: $font-color-bright;
  font-weight: $font-weight-bold;
  border-bottom: 2px solid $font-color-bright;

  &:hover,
  &:active {
    transform: scale(1.05);
    // color: $font-color-bright-hover;
    // border-color: $font-color-bright-hover;
  }
}
