.resultsSection {
  border-radius: clamp(40px, 4.1vw, 80px);
  background-color: $bg-secondary;
  padding: clamp(24px, 6.1vw, 120px) clamp(30px, 7.2vw, 140px);

  &_header {
    margin-bottom: clamp(25px, 2.24vw, 44px);
    font-size: clamp(1.75rem, 3.1vw, 3.75rem);
    font-weight: $font-weight-medium;
  }

  &_itemsGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(29px, 1.8vw, 36px);
    padding: 0;
    margin: 0;
    margin-bottom: clamp(32px, 2.04vw, 40px);
    padding-left: clamp(18px, 1.17vw, 23px);
  }

  &_item {
    flex: 1;
    position: relative;
    padding: 0;
    margin: 0;
    padding: clamp(36px, 2.56vw, 50px) clamp(36px, 3.1vw, 60px)
      clamp(44px, 2.04vw, 40px) clamp(36px, 3.1vw, 60px);
    border-radius: clamp(20px, 1.53vw, 30px);
    background-color: $bg-white;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
      width: clamp(36px, 2.3vw, 46px);
      height: clamp(36px, 2.3vw, 46px);
      border-radius: 50%;
      background-color: #65adff;
      z-index: 1;
    }
  }

  &__itemSecondColor::before {
    background-color: #978cff;
  }

  &__itemThirdColor::before {
    background-color: #beff6c;
  }

  &_itemTitle {
    margin-bottom: clamp(5px, 0.51vw, 10px);
    font-size: clamp(3.5rem, 4.1vw, 5rem);
    margin-bottom: clamp(20px, 2.56vw, 50px) clamp(20px, 3.1vw, 60px)
      clamp(20px, 2.04vw, 40px) clamp(20px, 3.1vw, 60px);
    white-space: nowrap;
  }

  &__itemBigTitle {
    font-size: clamp(4rem, 5.1vw, 6.25rem);
  }

  &_itemText {
    font-size: clamp(1.25rem, 1.63vw, 2rem);
  }

  &_text {
    font-size: clamp(1.125rem, 1.84vw, 2.25rem);
    opacity: 80%;
    width: 56%;
  }
}

@media (max-width: $breakpoints-sm) {
  .resultsSection {
    &_itemsGroup {
      flex-direction: column;
    }

    &_text {
      width: 100%;
    }
  }
}
