doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Webpack
  body
    .wrapper
      include ./components/header/header.pug
      main
        include ./components/aboutProject/aboutProject.pug
        include ./components/before/before.pug
        include ./components/repack/repack.pug
        include ./components/description/description.pug
        include ./components/changes/changes.pug
        include ./components/stories/stories.pug
        include ./components/promotion/promotion.pug

