section.positionSection
    .positionSection_searchResults
        h2.positionSection_searchResultsTitle Позиции в выдаче
        .positionSection_searchResultsItem
            .positionSection_searchResultsImgWrapper
                img(src="../assets/images/graph-1.png", alt="График изменения позиций в выдаче")
            .positionSection_searchResultsContent
                span.positionSection_searchResultsTop Топ-5
                p.positionSection_searchResultsText С 1 до 59% вырос процент ключей
        .positionSection_searchResultsItem
            .positionSection_searchResultsImgWrapper
                img(src="../assets/images/graph-2.png", alt="График изменения позиций в выдаче")
            .positionSection_searchResultsContent
                span.positionSection_searchResultsTop Топ-10
                p.positionSection_searchResultsText С 2 до 79% увеличился процент ключей
    .positionSection_searchDisplays
        .positionSection_searchDisplaysContent
            span.positionSection_searchDisplaysTitle Рост показов сайта
            p.positionSection_searchDisplaysText Доля показов сайта Geely-atlantm.by стала выше всех конкурентов по отслеживаемой семантике.
        .positionSection_searchDisplaysImgWrapper
            img(src="../assets/images/statistics.png", alt="График изменения показов сайта")
    .positionSection_visibility
        .positionSection_visibilityItem
            h4.positionSection_visibilityTitle Видимость сайта выросла #[span.positionSection_visibilityTitleItem с 0,8% до 62,6%]
            .positionSection_visibilityImgWrapper
                img(src="../assets/images/graph-3.png", alt="График видимости сайта")
        .positionSection_visibilityItem
            h4.positionSection_visibilityTitle Бесплатный трафик вырос #[span.positionSection_visibilityTitleItem в 17 раз ]
            p.positionSection_visibilityText С 1056 пользователей в месяц до 16751 пользователя.  Основной рост начался в 2023 году после продолжения работы над продвижением сайта.
            .positionSection_visibilityImgWrapper
                img(src="../assets/images/graph-4.png", alt="График бесплатного трафика")