section.resultsSection
    .resultsSection_content
        h2.resultsSection_title Результаты продвижения:
        p.mb-10 За все время сотрудничества клиент приостанавливал работы над продвижением на 1 год из-за сложностей в бизнесе, так как завод Geely приостановил выпуск автомобилей. Наша команда не успела все реализовать по стратегии, которую мы предложили клиенту. 
        p Возобновив продвижение, за полгода нам удалось реализовать большинство предложенных работ, которые дали хорошие и быстрые результаты. За время нашего сотрудничества выросли позиции сайта и трафик на сайте.
    .resultsSection_imageWrapper
        img(src="../assets/images/play.png", alt="Play")