-
    var navItems = [{text: "Сбор СЯ", id: "0"},
    {text: "Конкурентный анализ", id: "1"},
    {text: "Анализ юзабилити", id: "2"},
    {text: "Технический аудит", id: "3"},
    {text: "Анализ ссылочного профиля", id: "4"},
    {text: "Контентная оптимизация", id: "5"},
    {text: "Стратегия продвижения", id: "6"}]

section.stagesSection
    h2.stagesSection_title Этапы работ:
    ul.swiper_navWrapper
        each item in navItems
            li.swiper_navItem("id"= item.id)
                p.stagesSection_navItemText= item.text
    .swiper
        .swiper-wrapper
            .swiper-slide.stagesSection_item.stagesSection__paddingBottom
                .stagesSection_itemTitle 
                    h3.stagesSection_itemTitleText Сбор семантического ядра
                    span.stagesSection_itemTitleNumber 1
                .stagesSection_itemDescription
                    p.stagesSection_descriptionText.mb-10 Для начала составили семантическое ядро сайта и на его основе сделали структуру сайта. На сайте не хватало очень много целевых важных страниц, на которые можно было бы вести большое количество частотных запросов, соответственно приводить трафик на сайт.
                    p.stagesSection_descriptionText У данного бизнеса нет выраженной сезонности, но клиент отмечал некоторые особенности. 
                .stagesSection_itemSecondColumn 
                    .stagesSection_core
                        span.stagesSection_coreNumber 1
                        div 
                            h4.stagesSection_coreTitle Продажа новых автомобилей: 
                            p.stagesSection_descriptionText Пик весной (март-апрель), осенью (с началом учебного года) и под новый год (т.к. дилеры распродают склады)
                    .stagesSection_core
                        span.stagesSection_coreNumber 2
                        div 
                            h4.stagesSection_coreTitle Сервис (тех. обслуживание авто):  
                            p.stagesSection_descriptionText.mb-10 Высокий сезон загрузки сервиса в период шиномонтажа - весна (март-апрель) и осень (ноябрь). 
                            p.stagesSection_descriptionText Сезонные услуги , например, заправка  кондиционера перед летним сезоном.
                    .stagesSection_core
                        span.stagesSection_coreNumber 3
                        div 
                            h4.stagesSection_coreTitle Кузовной ремонт:
                            p.stagesSection_descriptionText.mb-10 Пик перед зимой  
            .swiper-slide.stagesSection_item
                .stagesSection_itemTitle 
                    h3.stagesSection_itemTitleText Конкурентный анализ
                    span.stagesSection_itemTitleNumber 2
                .stagesSection_itemDescription
                    p.stagesSection_descriptionText Проанализировали конкурентов, которые находятся в топе по собранным ключевым запросам, по техническим показателям (видимость сайта, траст, спамность, возраст, количество страниц в индексе и т.д).
                .stagesSection_itemDescription2 itemDescription2
                .stagesSection_itemSecondColumn itemSecondColumn 
            //- .swiper-slide.stagesSection_item
            //-     .stagesSection_itemTitle 
            //-         h3.stagesSection_itemTitleText Сбор семантического ядра
            //-         span.stagesSection_itemTitleNumber 1
            //-     .stagesSection_itemDescription itemDescription
            //-     .stagesSection_itemDescription2 itemDescription2
            //-     .stagesSection_itemSecondColumn itemSecondColumn        
            