//CLIENTS SECTION

.clientsSection {
  margin-top: clamp($spacing-10, 22.1vw, $spacing-8);
  display: flex;
  gap: clamp($spacing-13, 1.4%, $spacing-10);

  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & > div:first-of-type {
    min-width: 50%;
  }

  & > div:not(:first-of-type) {
    padding: clamp($spacing-9, 3.6vw, $spacing-5)
      clamp($spacing-12, 3.6vw, $spacing-8);
  }
}
