.resultSection {
  @include responsive-sizing(margin-bottom, 60, 90, 400, 1160);

  &__title {
    margin-bottom: 26px;
  }

  &__top {
    position: relative;
    min-height: 514px;
    @include responsive-sizing(margin-bottom, 60, 90, 400, 1160);
    @include responsive-sizing(padding-top, 24, 50, 400, 1160);
    @include responsive-sizing(padding-inline, 20, 100, 768, 1160);
    border-radius: 24px;
    background-image: url('../assets/images/result-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  &__subtitle {
    max-width: 660px;
    margin-bottom: 20px;
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 20, 22, 400, 1160);
    line-height: 140%;
    color: $color-black;
  }

  &__pic {
    position: absolute;
    max-width: 960px;
    width: 100%;
    height: 426px;
    bottom: 0;
    left: 100px;

    & img {
      object-fit: contain;
      object-position: bottom;
    }
  }

  &__pic.mobile {
    display: none;
  }

  &__center-pic {
    & img.mobile {
      display: none;
    }
  }

  &__center-subtitle {
    max-width: 572px;
    min-height: 110px;
    margin-bottom: 18px;
    padding-block: 24px;
    @include responsive-sizing(padding-inline, 20, 36, 400, 1160);
    border: 1px solid rgba(138, 169, 252, 0.1);
    border-radius: 18px;
    box-shadow: 2px 4px 4px 0 rgba(138, 169, 252, 0.12);
    background: $color-purple;
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 20, 22, 400, 1160);
    line-height: 140%;
    color: $color-black;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include responsive-sizing(gap, 24, 40, 992, 1160);
    margin-top: 80px;
  }

  &__bottom-title {
    margin-bottom: 16px;
  }

  &__bottom-text {
    font-family: $second-family;
    font-weight: 400;
    font-size: 21px;
    color: $color-text;
  }

  &__bottom-right {
    min-height: 291px;
    padding-block: 24px;
    @include responsive-sizing(padding-inline, 20, 26, 400, 1160);
    border: 1px solid rgba(138, 169, 252, 0.1);
    border-radius: 18px;
    box-shadow: 2px 4px 4px 0 rgba(138, 169, 252, 0.12);
    background: $color-purple;
  }

  @media (max-width: 1150px) {
    &__top {
      min-height: fit-content;
    }

    &__pic {
      position: static;
      height: auto;

      & img {
        object-fit: contain;
        object-position: bottom;
      }
    }
  }

  @media (max-width: $breakpoints-md) {
    &__bottom {
      grid-template-columns: 1fr;
    }

    &__center-pic {
      height: 150px;
      & img {
        object-fit: cover;
        object-position: left;
      }
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__top {
      padding-bottom: 26px;
      margin-bottom: 12px;
    }

    &__subtitle {
      margin-bottom: 0;
    }

    &__pic {
      display: none;
    }

    &__pic.mobile {
      display: block;
      height: 338px;
      margin-bottom: 60px;
    }

    &__center-subtitle {
      margin-bottom: 12px;
    }

    &__center-pic {
      & img.mobile {
        display: block;
      }
    }

    &__center-pic {
      & img {
        display: none;
      }
    }

    &__center-pic {
      & img.mobile {
        display: block;
      }
    }

    &__bottom {
      margin-top: 60px;
    }

    &__bottom-text {
      font-size: 19px;
      line-height: 130%;
    }
  }
}
