body {
	position: relative;
	font-family: "Cera Pro", "sans-serif";
	color: $primary;
	background-color: #f6f6f6;
}

.container {
	max-width: $maxWidth;
	padding: 0 100px;
	margin: 0 auto;

	@include bp-large {
		padding: 0 20px;
		overflow: hidden;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

.section-title {
	font-family: Cera Pro;
	font-size: 90px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	text-transform: capitalize;
	margin-bottom: 40px;
	color: $title-color;
	@include bp-xl {
		font-size: 60px;
	}

	@include bp-large {
		font-size: 50px;
	}

	@include bp-medium {
		margin-bottom: 20px;
		font-size: 40px;
	}
}

.hash-title {
	font-family: Cera Pro;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 115.02%;
	margin-bottom: 60px;
	color: $hash-color;
	text-transform: uppercase;
	@include bp-medium {
		margin-bottom: 25px;
		font-size: 14px;
	}
}
