body {
	position: relative;
	font-family: "Cera Pro", "sans-serif";
	color: $primary;
	background-color: #f6f6f6;
}

.container {
	max-width: $maxWidth;
	padding: 0 100px;
	margin: 0 auto;

	@include bp-large {
		padding: 0 20px;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.9);
	}

	100% {
		transform: scale(1);
	}
}

.gradient {
	position: absolute;
	right: 0;
	left: 0;
	background: linear-gradient(343deg, #d15d51 32.67%, rgba(209, 93, 81, 0) 75.34%);
}
