.finishSection {
  min-height: 590px;
  margin-bottom: 80px;
  padding-left: 30px;
  padding-top: 208px;
  background-image: url('../assets/images/finish-bg.png');

  &__content {
    max-width: 537px;
    min-height: 350px;
    border-radius: 24px;
    padding: 30px 32px;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: $color-light-blue;
  }

  &__content-title {
    margin-bottom: 12px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: $color-blue;
  }
}
