section.doneSection
    h2.doneSection_title Что было выполнено
    p.doneSection_text Работы по продвижению сайта лобарда мы начали со сбора семантического ядра и составления структуры сайта. При сборе семантики особое внимание было уделено низкочастотным запросам по конкретным видам бытовой техники (ноутбуки, фотоаппараты, телефоны, планшеты и т.п.) и ювелирных украшений (кольца, цепочки, браслеты и т.п.), которые можно сдать под залог в ломбард.
    .swiper_sliderWrapper
        .swiper.heightAuto
            .swiper_slidesWrapper.swiper-wrapper
                .slide.swiper-slide.slide_custom
                    h4.swiper_slideTitle Доработали структуру сайта
                    p.swiper_slideText Добавили страницы под низкочастотные запросы (“ломбард ноутбуков”, “скупка видеокамер” и т.п.). 
                .slide.swiper-slide.slide_custom
                    h4.swiper_slideTitle Проработали контент для действующих и новых посадочных страниц
                    p.swiper_slideText Сделали структуру, сделали мета-теги, title и description, а также призывающие к действию тексты, в которых подробно описали нюансы сдачи того или иного вида имущества под залог.
                .slide.swiper-slide.slide_custom
                    h4.swiper_slideTitle Проанализировали  техническую оптимизацию       
                    ul.swiper_slideText
                        li.doneSection_itemLi Улучшили  работу файла sitemap.xml и исправили ошибки, связанные с кодами ответов сервера.
                        li.doneSection_itemLi Внесли изменения в микроразметку и добавили дополнительные виды.
                        li.doneSection_itemLi Исправили ошибки верстки сайта, которые мешали пользователям взаимодействовать с контентом.
                .slide.swiper-slide.slide_custom
                    h4.swiper_slideTitle Проанализировали ссылочную массу
                    p.swiper_slideText По результатам анализа выявили, что конкуренты обладают большей ссылочной массой. В связи с этим был разработан план получения внешних ссылок, учитывающий типы площадок-доноров, доменные зоны, средний прирост ссылок у конкурентов, соотношение анкорных и безанкорных ссылок, а также типы страниц, на которые необходимо получать ссылки.
                .slide.swiper-slide.slide_custom
                    h4.swiper_slideTitle Привлекли дополнительный трафик
                    p.swiper_slideText Привлекли дополнительный поисковый трафик на сайт через внедрение информационных разделов в раздел «Часто задаваемые вопросы». Увеличили время проведения пользователей на сайте благодаря более полной информации о сервисах компании.
                .slide.swiper-slide.slide_custom
                    h4.swiper_slideTitle Проработали контентую часть
                    p.swiper_slideText Проанализировали информационные запросы для блока и создали уникальный и полезный контент в этот раздел, улучшив юзабилити сайта и увеличив количество повторных посещений.
                .slide.swiper-slide.slide_custom
                    h4.swiper_slideTitle Регулярно наращивали ссылки
                    p.swiper_slideText Ежемесячно наращивали ссылки на сайт в соответствии с выбранной стратегией, улучшая позиции сайта в поисковых системах и привлекая больше трафика на сайт.
                .slide.swiper-slide.slide_custom
                    h4.swiper_slideTitle Расширили ассортимент услуг
                    p.swiper_slideText Расширили ассортимент услуг, через создание новых посадочных страниц, улучшив опыт пользователей и обеспечивая больше возможностей для привлечения трафика на сайт.     
        .swiper-control-wrapper  
            p.swiper-slides-numbers #[span.swiper-currentSlide-number 5]/#[span.swiper-count-slides 6]
            .swiper-button-wrapper
                button.swiper-button-prev
                button.swiper-button-next

