section.doneSection
    h2.doneSection_title Что было выполнено
    p.doneSection_text Работы по продвижению сайта лобарда мы начали со сбора семантического ядра и составления структуры сайта. При сборе семантики особое внимание было уделено низкочастотным запросам по конкретным видам бытовой техники (ноутбуки, фотоаппараты, телефоны, планшеты и т.п.) и ювелирных украшений (кольца, цепочки, браслеты и т.п.), которые можно сдать под залог в ломбард.
    .doneSection_sliderWrapper
        .swiper.flex-1.heightAuto
            .doneSection_slidesWrapper.swiper-wrapper
                .doneSection_slide.slide.swiper-slide
                    h4.doneSection_slideTitle Доработали структуру сайта
                    p.doneSection_slideText Добавили страницы под низкочастотные запросы (“ломбард ноутбуков”, “скупка видеокамер” и т.п.). 
                .doneSection_slide.slide.swiper-slide
                    h4.doneSection_slideTitle Проработали контент для действующих и новых посадочных страниц
                    p.doneSection_slideText Сделали структуру, сделали мета-теги, title и description, а также призывающие к действию тексты, в которых подробно описали нюансы сдачи того или иного вида имущества под залог.
                .doneSection_slide.slide.swiper-slide
                    h4.doneSection_slideTitle Проанализировали ссылочную массу
                    p.doneSection_slideText По результатам анализа выявили, что конкуренты обладают большей ссылочной массой. В связи с этим был разработан план получения внешних ссылок, учитывающий типы площадок-доноров, доменные зоны, средний прирост ссылок у конкурентов, соотношение анкорных и безанкорных ссылок, а также типы страниц, на которые необходимо получать ссылки.
                .doneSection_slide.slide.swiper-slide
                    h4.doneSection_slideTitle 4
                    p.doneSection_slideText 4
                .doneSection_slide.slide.swiper-slide
                    h4.doneSection_slideTitle 5
                    p.doneSection_slideText 5
                .doneSection_slide.slide.swiper-slide
                    h4.doneSection_slideTitle 6
                    p.doneSection_slideText 6
           

            button.swiper-button-prev
            button.swiper-button-next

