section.headerSection 
  .headerSection_wrapper
    .headerSection_topWrapper
      p.headerSection_topWrapperTitle Сеть ломбардов
      p.headerSection_topDescription Проект Fortuna24 прошел полный цикл продвижения, начиная от исследования аудитории до продвижения и оптимизации сайта для поисковых систем.
    h1.headerSection_title Fortuna24
  .headerSection_contentWrapper
    .headerSection_contentItemsWrapper
      .headerSection_contentItem 
        .headerSection_contentItemHeader
          p.headerSection_contentItemName топ
          p.headerSection_contentItemNumber 10
        p.headerSection_contentItemText Яндекс
      .headerSection_contentItem 
        .headerSection_contentItemHeader
          p.headerSection_contentItemName топ         
          p.headerSection_contentItemNumber 30
        p.headerSection_contentItemText Google
    p.headerSection_contentDescription Вывели сайт в топ-10 позиций SEO-оптимизации: сайт на первой строчке по низкочастотным запросам в поисковой выдаче. Увеличили рост трафика и посещаемости сайта.
  .headerSection_imageWrapper 
    +img("./assets/images/main.png", "Мужчина", ["500", "1200"])    