section.resultsSection
    .resultsSection_header
        h2.resultsSection_title Результаты
        p.resultsSection_headerText После начала контентной оптимизации ресурса, выполнения технических доработок, а также получения некоторого количества внешних ссылок, наша работа начала приносить плоды:
    .resultsSection_positionWrapper.resultsSection_flexColumn
        .resultsSection_positionContent
            p.resultsSection_positionTextPrimary.resultsSection__positionHeader По низкочастотным запросам сайт fortuna24.by занимает
            div 
                p.resultsSection_positionTextPrimary.resultsSection__positionNumber 1
                p.resultsSection_positionTextPrimary.resultsSection__positionTextDescription позицию 
                p.resultsSection_positionTextPrimary.resultsSection__positionTextDescription2 в поисковой выдаче
            p.resultsSection_positionTextSecondary При этом, создавая конкурентное преимущество не только перед сайтами других ломбардов, но и перед проектами по выкупу техники.
        .resultsSection_imageWrapper
            +img("./assets/images/page.png", "Поисковая система Google в браузере", ["500", "1200"])
    .resultsSection_statisticsWrapper
        h3.resultsSection_statisticsHeader За первый год сотрудничества мы вывели :
        p.resultsSection_statisticsItem.mb-10 77% поисковых запросов сайта выведены в ТОП-10 Google
        p.resultsSection_statisticsItem.mb-24 82% поисковых запросов выведены в ТОП-30 Google
        figure.resultsSection_graphWrapper.mb-50
            +img("./assets/images/graph1.png", "График роста процента ключевых запросов в топ-10 Google", ["500", "1200"])
            figcaption.resultsSection_figcaption Рост процента ключевых запросов в топ-10 Google
        p.resultsSection_statisticsItem.mb-10 66% поисковых запросов сайта выведены в ТОП-10 Яндекс
        p.resultsSection_statisticsItem.mb-24 83% поисковых запросов выведены в ТОП-30 Яндекс
        figure.resultsSection_graphWrapper
            +img("./assets/images/graph2.png", "График роста процента ключевых запросов в топ-10 Zyltrc", ["500", "1200"])
            figcaption.resultsSection_figcaption Рост процента ключевых запросов в топ-10 
    .flexContainer.resultsSection_flexColumn
        p.resultsSection_trafficText Благодаря росту позиций по запросам, начал расти и органический трафик.
        .resultsSection_graphWrapper.secondaryBg
            +img("./assets/images/graph3.png", "График роста органического трафика", ["500", "1200"])
