section.summarySection
    .summarySection_imageWrapper
        +img("./assets/images/coins.png", "Монеты", ["500", "1200"])
    .summarySection_contentWrapper
        h2.summarySection_title Резюме
        p.summarySection_text Благодаря комплексному подходу и профессиональной работе нашей команды, мы смогли добиться высоких результатов в продвижении проекта. Наша работа позволила значительно увеличить трафик на сайте и привлечь новых клиентов, что привело к значительному росту прибыли бизнеса.