.headerSection {
  min-height: 654px;
  @include responsive-sizing(min-height, 350, 654, 992, 1160);
  @include responsive-sizing(margin-top, 34, 92, 400, 1160);
  @include responsive-sizing(margin-bottom, 60, 100, 992, 1160);
  background-image: url('../assets/images/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  &__pic-mobile {
    display: none;
  }

  &__title {
    max-width: 900px;
    margin-bottom: 64px;
    padding-top: 20px;
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 32, 42, 576, 1160);
    line-height: 125%;
    color: $color-black;
  }

  &__banner-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 23px;
  }

  &__card {
    max-width: 291px;
    width: 100%;
    border-radius: 16px;
    padding: 8px 18px 14px 18px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
    background: #fff;
  }

  &__card-title {
    margin-bottom: 4px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 54px;
    @include responsive-sizing(font-size, 48, 54, 400, 1160);
    line-height: 125%;
    color: $color-dark-purple;
  }

  &__card-text {
    font-family: $second-family;
    font-weight: 400;
    font-size: 21px;
    line-height: 125%;
    color: $color-black;
  }

  @media (max-width: $breakpoints-xl) {
    &__card:last-child {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 930px) {
    background-size: contain;
    background-position: center 15%;
    min-height: 730px;
    @include responsive-sizing(min-height, 630, 730, 576, 930);

    &__banner-content {
      flex-direction: row;
      margin-left: 0;
      @include responsive-sizing(padding-top, 260, 380, 576, 930);
    }

    &__card:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $breakpoints-sm) {
    background-position: center 18%;

    &__banner-content {
      flex-direction: column;
      @include responsive-sizing(padding-top, 150, 260, 400, 576);
    }

    &__card {
      max-width: 100%;
    }
  }

  @media (max-width: 500px) {
    background-image: none;

    &__title {
      margin-bottom: 16px;
    }

    &__banner-content {
      padding-top: 0;
    }

    &__pic-mobile {
      display: block;
      width: 100%;
      height: 340px;
      margin-bottom: 16px;

      & img {
        object-fit: cover;
      }
    }
  }
}
