.stepsSection {
  &__title {
    margin-bottom: 19px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 36px;
    line-height: 133%;
    color: #000;
  }

  &__first-block {
    display: flex;
    justify-content: space-between;
    min-height: 363px;
    padding: 26px 24px;
    margin-bottom: 50px;
    border-radius: 12px;
    background-color: $color-light-gray;
  }

  &__first-left {
    max-width: 484px;
  }

  &__number {
    border-radius: 36px;
    padding: 10px 14px 9px 14px;
    width: 96px;
    height: 30px;
    display: inline-block;
    margin-bottom: 20px;
    background-color: white;
    font-family: $font-family;
    font-weight: 500;
    font-size: 14px;
    line-height: 80%;
    text-align: center;
    color: $color-text;
  }

  & .title {
    margin-bottom: 8px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 28px;
    line-height: 133%;
    color: $color-main;
  }

  &__first-text {
    line-height: 133%;
  }

  &__first-right {
    width: 590px;
    height: 311px;
    background-image: url('../assets/images/people.png');
  }

  &__box {
    display: flex;
    gap: 12px;
    margin-bottom: 50px;
  }

  &__second-block {
    position: relative;
    max-width: 614px;
    min-height: 540px;
    padding: 26px 24px;
    border-radius: 8px;
    background-color: $color-light-blue;
  }

  &__second-pictures {
    display: flex;
    margin-top: 30px;
  }

  &__second-pic {
    border-radius: 8px;
    position: absolute;

    &:first-child {
      left: 0;
      bottom: 0;
    }
    &:nth-child(2) {
      right: 0;
      bottom: 0;
    }
  }

  &__third-block {
    position: relative;
    border-radius: 8px;
    padding: 26px 24px;
    background-color: $color-blue;
    color: white;
  }

  &__third-title.title {
    color: white;
  }

  &__third-pic {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__fourth-block {
    display: flex;
    gap: 12px;
    margin-bottom: 100px;
  }

  &__fourth-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 406px;
    min-height: 428px;
    border-radius: 8px;
    padding: 30px 24px 26px 24px;
    background-color: $color-blue;
    color: white;
  }

  &__fourth-title.title {
    color: white;
  }
}
