.workSection {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 30px;
  }

  &__card {
    margin-bottom: 24px;
    display: flex;
    gap: 50px;
    padding: 24px 32px;
    border-radius: 26px;
    background-color: #fff;

    &:nth-of-type(4) {
      gap: 20px;
      padding: 24px 22px 24px 32px;
    }

    &:nth-of-type(4) .workSection__card-left {
      max-width: 553px;
    }

    &:nth-of-type(4) .workSection__card-right {
      flex-direction: row;
    }
  }

  &__card-left {
    display: flex;
    flex-direction: column;
    max-width: 520px;
  }

  &__card-right {
    display: flex;
    flex-direction: column;
    max-width: 636px;
  }

  &__card-column {
    max-width: 315px;
  }

  &__card-subtitle {
    align-self: flex-start;
    min-height: 64px;
    padding: 14px 32px;
    margin-bottom: 16px;
    border-radius: 24px;
    background-color: $color-accent;
    font-family: $font-family;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: $color-main;
  }

  &__card-right-content {
    margin-top: 80px;
    border-radius: 18px;
    padding: 20px 32px;
    background-color: $color-light;
  }

  &__card-text:nth-of-type(1) {
    margin-bottom: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 4px;
  }

  &__item-number {
    width: 36px;
    height: 36px;
    border-radius: 34px;
    padding: 8px 12.5px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: $color-main;
    background-color: $color-light;
  }

  &__card-list {
    margin-top: 10px;
  }

  &__card-list-start {
    margin-top: 16px;
    margin-bottom: 12px;
  }

  &__card:nth-child(4) .workSection__card-right {
    display: flex;
    gap: 15px;
    margin-top: 80px;
  }

  &__card:nth-child(4) .workSection__item-number {
    border-radius: 20px;
    padding: 6px 18px;
    width: 64px;
    height: 48px;
    font-size: 30px;
    line-height: 120%;
  }

  &__card:nth-child(4) .workSection__item {
    margin-bottom: 12px;
  }

  &__column-title {
    margin-bottom: 8px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: $color-main;
  }

  &__column-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 315.5px;
    width: 100%;
    min-height: 122px;
    margin-bottom: 8px;
    border-radius: 18px;
    padding: 16px 30px;
    background-color: $color-light;
  }

  &__column-number {
    display: block;
    font-family: $font-family;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: $color-main;
  }

  &__column-number span.currency {
    font-size: 20px;
  }
}
