section.attentionSection
  .attentionSection__wrapper.wrapper
    .attentionSection__left
      img.attentionSection__image.desktop(src="./assets/images/attention.png", alt="внимание")
      img.attentionSection__image.mobile(src="./assets/images/attention-mobile.png", alt="внимание")
    .attentionSection__right
      .attentionSection__btn.korex-btn Отдельные возможности и контент для каждой страны
      p.attentionSection__text Для нашего клиента по важности наравне с парсингом была <span>настройка возможности выбора страны</span>, особенно с учетом ограничений на доставку авто в Россию и Беларусь. По закону, для этих стран существуют <span>строгие санкции</span>: нельзя доставлять машины стоимостью более 50 000 долларов и с объёмом двигателя свыше 1900 см³. Достаточно одного нарушения для ареста всей компании, поэтому ответственность была большой.