section.audienceSection
  .audienceSection__container
    .audienceSection__content
      h2.audienceSection__title Целевая аудитория
      p.audienceSection__text Начали с анализа целевой аудитории, заодно вспомнили, как каждый из нас сам выбирал автомобиль. Главное, что мы поняли: <span>людям важно быстро получить всю нужную информацию</span> — от состояния авто до стоимости доставки и пошлин, а так как <span>покупка совершается удалённо, то и много фото и видео с самим авто</span>. Пользователи хотят видеть полную картину: какой автомобиль, в каком он состоянии, сколько будет длиться и стоить доставка. Но при этом им совершенно не хочется тратить время на изучение лишних деталей. 
      p.audienceSection__text Именно поэтому мы сделали акцент на том, чтобы пользователь мог за пару секунд найти всю необходимую информацию для принятия решения.
      p.audienceSection__text Мы сделали это главной идеей дизайна — <span>максимально ориентированным на реальные потребности пользователей</span>.
    .audienceSection__picture
      img.audienceSection__image.desktop(src="./assets/images/laptop.png", alt="ноутбук")
      img.audienceSection__image.mobile(src="./assets/images/laptop-mobile.png", alt="ноутбук")