section.brandSection
  .brandSection__wrapper.wrapper
    .brandSection__btn.korex-btn Оживляем бренд
    p.brandSection__text Важно было показать, что по ту сторону экрана и трубки телефона настоящие и живые люди, поэтому <span>фото команды сделали отдельным блоком</span>. Рассказали и показали, какие отделы есть и кто за ними стоит. Так мы добавили человечности и тепла в дизайн и представили компанию более доступной и «живой» для клиентов.
    .brandSection__pic
      img.brandSection__image(src="./assets/images/team.png", alt="команда")