section.calculationSection
  .calculationSection__wrapper.wrapper
    .calculationSection__btn.korex-btn Тонкости работы системы
    p.calculationSection__text Еще одна небольшая фишка для калькулятора – пока пользователь не ввел данные в текущее поле, выбор последующих параметров ему <span>недоступен</span>.
    .calculationSection__pic
      img.calculationSection__image.desktop(src="./assets/images/calculation.png", alt="рассчет стоимости")
      img.calculationSection__image.mobile(src="./assets/images/calculation-mobile.png", alt="рассчет стоимости")