section.customSection
  .customSection__wrapper.wrapper
    .customSection__left
      .customSection__left-top
        .customSection__btn.korex-btn Таможенные нюансы
        p.customSection__text Расчет таможенной пошлины для России требовал особого внимания, т.к. для автомобилей с бензиновыми или дизельными двигателями и для электрокаров <span>действуют разные правила</span>. Цена зависит <span>от множества факторов</span>: типа двигателя, года выпуска и даже кузова. 
      .customSection__left-bottom
        p.customSection__text Например, доставка Tesla и BMW одного года с примерно одинаковыми характеристиками будет рассчитываться совершенно по-разному. Изучив основные <span>законодательные акты</span>, мы разработали <span>формулу расчета</span>, которая учитывает все параметры.
    .customSection__right 
      img.customSection__image.desktop(src="./assets/images/custom.png", alt="расчет")
      img.customSection__image.mobile(src="./assets/images/custom-mobile.png", alt="расчет")  