section.dataSection
  .dataSection__wrapper.wrapper
    h3.dataSection__point.korex-point Исходные данные
    .dataSection__top
      .dataSection__top-left
        img.dataSection__top-icon(src="./assets/icons/auto.svg", alt="авто")
        p.dataSection__top-text Наш клиент занимается <span>продажей автомобилей</span> из Кореи на рынках России, Европы и СНГ. Раньше бизнесу хватало одностраничного сайта, но с ростом проекта стало понятно: для новых масштабов и задач нужен полноценный сайт.
      .dataSection__top-right
        img.dataSection__top-icon(src="./assets/icons/check.svg", alt="проверено")
        p.dataSection__top-text Задача оказалась куда сложнее, чем создать просто сайт по продаже авто. Нужно было разработать платформу <span>на фреймворке</span>, которая будет <span>получать информацию с корейского сайта</span> и адаптировать под местные реалии — <span>переводить информацию, конвертировать валюты, рассчитывать стоимость c учётом налоговых пошлин</span> и иметь другие важные фичи, которые помогут автоматизировать ключевые процессы компании.
    .dataSection__bottom
      img.dataSection__bottom-icon(src="./assets/icons/map.svg", alt="регион")
      p.dataSection__bottom-text Нам нужно было адаптировать работу сайта под разные регионы, т.к. есть ограничения в отдельных странах. Ошибки тут недопустимы — если компания ввезет запрещенный для импорта автомобиль, это может обернуться арестом бизнеса.