section.designSection
  .designSection__wrapper.wrapper
    h3.designSection__point.korex-point Дизайн, созданный для удобства пользователей
    .designSection__container
      .designSection__left
        .designSection__btn.korex-btn Цвет
        .designSection__text При выборе цвета <span> отталкивались от уже существующей айдентики бренда</span>— приглушённые оттенки синего и красного, как на логотипе. Всю концепцию дизайна построили на принципах минимализма и функциональности, а для удобства пользователя выбрали формы карточек, которые идеально подходят для отображения информации и при этом не перегружают интерфейс. Благодаря такому решению мы получили одновременно простой в использовании и эстетически приятный дизайн.
      .designSection__right
        img.designSection__image(src="./assets/images/design.png", alt="цвета")