section.filterSection
  .filterSection__wrapper.wrapper
    .filterSection__left
    .filterSection__right
      .filterSection__right-top
        .filterSection__btn.korex-btn Создание фильтра
        p.filterSection__text Фильтр — это один из самых сложных элементов сайта с точки зрения работы фронтенда. Для него даже понадобилось создавать отдельное ТЗ. В фильтр добавили <span>выпадающие списки</span> (селекты), которые дают возможность выбирать параметры, и <span>поля для ввода</span>. Полученные <span>результаты</span> можно <span>дополнительно отсортировать</span>. 
      .filterSection__right-bottom
        img.filterSection__right-image.desktop(src="./assets/images/filter2.png", alt="фильтр")
        img.filterSection__right-image.mobile(src="./assets/images/filter2-mobile.png", alt="фильтр")