section.finalSection
  .finalSection__wrapper.wrapper
    .finalSection__btn.korex-btn Итоговый дизайн
    .finalSection__video-container
      video(controls, autoplay, muted, loop)
        source(src="./assets/video/video1.mp4", type="video/mp4")
        | Ваш браузер не поддерживает видео.