section.functionalSection
  .functionalSection__wrapper.wrapper
    .functionalSection__left
      h3.functionalSection__point.korex-point   Функционал сайта
      p.functionalSection__text Нужно было представить как можно <span>больший ассортимент</span>, чтобы пользователей с максимальной вероятностью нашёл ту самую машину мечты.
      p.functionalSection__text Важной частью проекта был <span>парсинг</span> — сбор данных и запись в нужную БД о машинах с других сайтов. Нам нужно было быстро получать данные о марке, модели, годе выпуска, фотографиях и других характеристиках автомобилей.
    .functionalSection__right
      img.functionalSection__image(src="./assets/images/functional.png", alt="функционал")