section.getSection
  .getSection__wrapper.wrapper
    .getSection__box
      .getSection__btn.korex-btn Получение данных
      p.getSection__text Сначала мы попытались получать данные с одного из корейских сайтов. Вроде бы всё шло хорошо: информация о моделях, фотографии автомобилей, характеристики — всё это мы могли забрать с сайта. Но технические специалисты сайта <span>заметили, что их данные копируют, и поставили защиту</span>— пароль. Получать данные стало невозможно.
    .getSection__box
      .getSection__btn.korex-btn Поиск решения
      p.getSection__text Затем мы попробовали второй сайт. Но на нем <span>стояла защита от спама и DDoS атак</span>, из-за чего парсинг был очень медленным и неудобным. Информация поступала с большими задержками. Количество марок, моделей и модификаций авто, а также предложений по ним — сотни тысяч. Медленная обработка данных потребовала бы несколько месяцев на их сбор и обновление. и данные были бы неактуальными. Поэтому мы решили отказаться от этой идеи.
    .getSection__box
      .getSection__btn.korex-btn API
      p.getSection__text Вместо того чтобы продолжать искать обходные пути, мы <span>нашли готовое решение</span>— API, которое можно было интегрировать с сайтом. Вариант быстрый, надёжный и удобный. Теперь информация о каждом автомобиле (марка, модель, год выпуска, фото и технические характеристики) собирается и обновляется на сайте сразу же. Ещё добавили парсинг важных для клиентов данных: историю аварий и информацию о страховании автомобиля.