section.headerSection
  .headerSection__wrapper.wrapper
    .headerSection__content
      h1.headerSection__title Разработка сайта для продажи авто
      .headerSection__buttons-box
        .headerSection__btn Разработка сайта
        .headerSection__btn Кастомная CRM

    