section.infoSection
  .infoSection__wrapper.wrapper
    .infoSection__btn.korex-btn Информация под рукой
    p.infoSection__text Основная информация об автомобиле и примерная стоимость доступны прямо на главной странице. <span>Переходить в карточку и делать лишние клики не нужно</span> — пользователь может быстро ознакомиться с ценами и характеристиками авто и с такой же высокой скоростью найти подходящие варианты.
    .infoSection__pic
      img.infoSection__image.desktop(src="./assets/images/info.png", alt="информация")
      img.infoSection__image.mobile(src="./assets/images/info-mobile.png", alt="информация")