section.insightSection
  .insightSection__wrapper.wrapper
    h3.insightSection__point.korex-point Инсайты кейса
    .insightSection__top
      .insightSection__left
        p Современный сайт — это не просто место, где размещаются товары или информация об услугах, а инструмент, который помогает бизнесу работать быстрее и лучше. Он автоматизирует рутинные задачи, как в нашем проекте: данные об автомобилях загружаются автоматически, цены конвертируются в нужную валюту сами, а пошлины и расходы рассчитываются прямо на сайте. Менеджеру ничего не нужно делать для загрузки авто или перевода информации — все происходит автоматически. Это экономит время и уменьшает ошибки.
      .insightSection__right
        img.insightSection__image(src="./assets/images/insight1.png", alt="сайт")
    .insightSection__bottom
      .insightSection__left
        p Сайт также помогает вызывать доверие пользователей: мы добавили видеоотзывы реальных клиентов и фото команды, чтобы показать, что за проектом стоят настоящие люди. Еще сайт адаптирован для работы в разных странах: он учитывает местные законы, показывает доступные машины и пересчитывает цены в нужную валюту. Такой подход делает сайт удобным для покупателей и помогает бизнесу расти без лишних трат.
      .insightSection__right
        img.insightSection__image(src="./assets/images/insight2.png", alt="подход")
      
