section.reviewSection
  .reviewSection__wrapper.wrapper
    .reviewSection__top
      .reviewSection__top-left
        img.reviewSection__top-image(src="./assets/images/review.png", alt="отзывы")
      .reviewSection__top-right
        .reviewSection__btn.korex-btn Отзывы и реальный опыт
        .reviewSection__text Сегодня текстовыми отзывами уже не удивить, да и доверия вызывают все меньше и меньше, поэтому мы решили добавить видеоформат! Так пользователи смогут увидеть реальный опыт клиентов компании, в каком состоянии приходят авто, смогут почувствовать атмосферу сделки. <span>Видео отзывы</span> создают более живое и убедительное впечатление, помогают потенциальным покупателям принять решение и довериться бренду.
    .reviewSection__bottom
      .reviewSection__bottom-left
        p Ещё одна фишка этого блока — по бекенд части. <span>Все видео хранятся прямо на сайте, а не на YouTube</span>, как чаще всего делают. Это сделано специально, чтобы обойти ограничения, которые действуют на соцсеть в некоторых регионах. Пользователи получат доступ к контенту без препятствий, где бы они ни находились.
      .reviewSection__bottom-right
        img.reviewSection__bottom-image.desktop(src="./assets/images/youtube.png", alt="youtube")
        img.reviewSection__bottom-image.mobile(src="./assets/images/youtube-mobile.png", alt="youtube")
