section.siteSection
  .siteSection__wrapper.wrapper
    h3.siteSection__point.korex-point Заказали сайт, а получили еще и CRM
    .siteSection__box 
      .siteSection__number 01
      .siteSection__content
        p В админке сайта мы создали и <span>кастомную CRM</span>. Вот как она работает:
        p Когда клиент бронирует автомобиль, заявка автоматически попадает в систему. Здесь отображаются все данные: кто клиент, его номер телефона, какой автомобиль он выбрал и в какую страну нужно осуществить доставку. 
    .siteSection__box 
      .siteSection__number 02
      .siteSection__content
        p Для менеджеров предусмотрели удобный функционал. Как в мессенджере, <span>каждая заявка</span> появляется <span>со статусом "Не прочитано".</span>  Как только менеджер приступает к работе с заявкой, статус автоматически меняется на "Прочитано", добавляется имя менеджера и время, когда заявка была просмотрена. 
    .siteSection__box 
      .siteSection__number 03
      .siteSection__content
        p Также можно отметить заявку как <span>«Обработано»</span>, и система зафиксирует, <span>какой менеджер и когда это сделал</span>
        p В результате, легко отслеживать, какие заявки были просмотрены, одобрены или оформлены, и следить за статусом каждого этапа. А дополнительных расходов на интеграцию CRM у клиента в ближайшее время не будет.