section.stackSection
  .stackSection__wrapper.wrapper
    h3.stackSection__point.korex-point Стек
    .stackSection__content
      .stackSection__box
        .stackSection__btn.korex-btn Backend
        .stackSection__info
          .stackSection__pic
            img.stackSection__image.desktop(src="./assets/images/laravel.png", alt="Laravel")
            img.stackSection__image.mobile(src="./assets/images/laravel-mobile.png", alt="Laravel")
          .stackSection__text Для проекта мы выбрали фреймворк <span>Laravel</span>, потому что он как раз подходит для сложных, масштабируемых проектов с большим количеством интеграций и объе мом данных и пользователей.
      .stackSection__box
        .stackSection__btn.korex-btn Frontend
        .stackSection__info
          .stackSection__pic
            img.stackSection__image.desktop(src="./assets/images/nuxt.png", alt="Nuxt")
            img.stackSection__image.mobile(src="./assets/images/nuxt-mobile.png", alt="Nuxt")
          .stackSection__text Для фронтенда остановились на <span>Nuxt</span> — он соответствует требованиям SEO и отлично справляется с задачами динамического контента. При этом фреймворк помогает обеспечить быструю загрузку сайта. Дело в том, что загружаются только новые данные при обновлении страниц, а одинаковые элементы не затрагиваются.
      .stackSection__box
        .stackSection__btn.korex-btn  Итог
        .stackSection__info
          .stackSection__pic.hidden
          .stackSection__text  Такой стек позволил нам создать сайт, который одновременно красивый, надёжный и стабильно работает даже при высокой нагрузке.

