section.testSection
  .testSection__wrapper.wrapper
    .testSection__left 
      img.testSection__image(src="./assets/images/test.png", alt="тестирование")
    .testSection__right
      .testSection__btn.korex-btn Финальный штрих
      p.testSection__text Чтобы всё работало как часы, <span>тестировщики</span> были с нами на каждом шаге разработки. Они внимательно проверяли все функции, искали слабые места, а разработчики искали варианты решений. Благодаря такому подходу сайт стал надёжным и удобным для пользователей, а весь функционал работает без сбоев с максимальной точностью.
