section.totalSection
  .totalSection__wrapper.wrapper
    .totalSection__left 
      .totalSection__icon
        img.totalSection__icon-image(src="./assets/icons/calculator.svg", alt="калькулятор")
      p.totalSection__text Это стало основой калькулятора стоимости автомобиля, который помогает клиенту детализированную смету после расчетов
    .totalSection__right 
      img.totalSection__image.desktop(src="./assets/images/total.png", alt="итоговая цена")
      img.totalSection__image.mobile(src="./assets/images/total-mobile.png", alt="итоговая цена")