section.translateSection
  .translateSection__wrapper.wrapper
    .translateSection__top
      .translateSection__top-left Одно «Но» все же было у этого решения — данные, которые поступали через API, были <span>на английском и корейском языках</span>. Основная аудитория проекта все‑таки русскоязычные пользователи, поэтому мы подключили <span>Google Translate</span>, который автоматически переводил всю информацию <span>на русский язык</span>. 
      .translateSection__top-right Этот вариант, кстати, подбирали тоже методом проб и ошибок. Пробовали и <span>Lesta AI</span>, но перевод был неточным. А платные альтернативы вроде <span>Deepl</span> не подходили под бюджет проекта, поэтому Google Translate стал отличным решением.
    .translateSection__bottom
      p.translateSection__botttom-text А еще <span>на корейских сайтах информация часто представлена в другом формате</span>: данные «склеены» и объединяют несколько параметров в одно поле. Там  не выделяют привычные для нас параметры отдельно, так как пользователи Кореи фильтруют автомобили по другим критериям. Поэтому мы не просто получали данные, но и <span>дополнительно автоматически их обрабатывали</span>.
    .translateSection__auto.auto-1 
      img.translateSection__auto-image(src="./assets/images/auto1.png", alt="авто")
    .translateSection__auto.auto-3
      img.translateSection__auto-image(src="./assets/images/auto3.png", alt="авто")
    .translateSection__auto.auto-2 
      img.translateSection__auto-image(src="./assets/images/auto2.png", alt="авто")
