section.workSection
  .workSection__wrapper.wrapper
    h3.workSection__point.korex-point Как в итоге работает система
    .workSection__top
      .workSection__top-box 
        span.workSection__top-number 01
        p.workSection__top-text Если пользователь выбирает Россию как страну доставки, то отображаться будут только те автомобили, которые не попадают под санкции, а стоимости автоматически конвертируется в рубли. Видны все подробные расчёты: пошлины, логистические и складские расходы.
      .workSection__top-box 
        span.workSection__top-number 02
        p.workSection__top-text Если же на сайте выбрана другая страна, например, Европа или Казахстан, то все цены будут в долларах. Детальные расчёты не отобразятся, вместо этого клиент может оставить заявку, и менеджер сам свяжется с ним для уточнения всех условий.
      .workSection__top-box 
    .workSection__bottom
      .workSection__bottom-left
      .workSection__bottom-right
        img.workSection__bottom-icon(src="./assets/icons/work.svg", alt="регион")
        p.workSection__bottom-text Поскольку основная целевая аудитория — пользователи из России, мы решили разрабатывать максимальный функционал именно для этого региона. В будущем, по мере роста проекта, сайт легко можно будет доработать и добавить, например, калькулятор для других стран. Такой подход помогает не распылять ресурсы и время, а сосредоточиться на том, что нужно бизнесу здесь и сейчас.
