.tasks {
    display: flex;
    justify-content: center;
    gap: 85px;
    &__title {
        color: $color-dark;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
    }
    &__list {
        display: flex;
        gap: 30px;
        & ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: $color-text-dark;
            list-style: disc;
            line-height: 141.5%;
        }
        & ul:nth-child(1) {
            width: 470px;
        }
        & ul:nth-child(2) {
            width: 460px;
        }
    }

    @media (max-width: $max-width) {
        justify-content: space-between;
        gap: 10px;
        &__title {
            font-size: 18px;
        }
        &__list {
            flex-direction: column;
            gap: 0;
            width: 245px;
            ul {
                padding: 0 0 0 30px;
            }
            & ul:nth-child(1) {
                width: 100%;
            }
            & ul:nth-child(2) {
                width: 100%;
            }
        }
    }
}
