extends layouts/MainLayout
include mixins/index.pug

block title
  | Calcio

block content
  body.body
  include sections/headerSection
  .container
    include sections/startSection 
    include sections/talismanSection
    include sections/colorSection 
    include sections/contentSection
    include sections/createSection
    include sections/mainSection
    include sections/freeSection
    include sections/presentationSection
    include sections/footballSection
    include sections/diarySection
    include sections/principleSection
    include sections/groupSection
    include sections/reviewSection
    include sections/functionalSection
    include sections/profileSection
    include sections/orderSection