include wrapper/wrapper.pug
include img/img.pug
include aboutClientItem/aboutClientItem.pug
include target/target.pug
include stage/stage.pug
include resultItem/resultItem.pug
include triangle/triangle.pug
include customCheckbox/customCheckbox.pug