.serviceSection {
  margin-bottom: 80px;

  &__tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 80px;
  }

  &__tab {
    max-width: 222.4px;
    width: 100%;
    height: 66px;
    border-radius: 18px;
    padding-block: 18px;
    background: #bed194;
    font-family: $third-family;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: rgba(45, 54, 30, 0.9);
  }

  &__container {
    min-height: 550px;
    border-radius: 24px;
    padding: 30px;
    padding-bottom: 0;
    background: #f7f7f7;
    overflow: hidden;
  }

  &__second-title.nova-title {
    max-width: 560px;
    margin-bottom: 41px;
  }

  &__content {
    display: flex;
  }

  &__content-button {
    margin-left: 20px;
    border-radius: 11px;
    padding: 11px 24px;
    width: fit-content;
    min-height: 52px;
    background: rgba(190, 209, 148, 0.26);
    font-family: $third-family;
    font-weight: 500;
    font-size: 22px;
    color: rgba(99, 127, 36, 0.77);
  }

  &__content-left {
    max-width: 653px;
    width: 100%;

    & img {
      display: block;
      object-fit: contain;
      object-position: top;
    }
  }

  &__content-right {
    max-width: 442px;
    width: 100%;

    & img {
      display: block;
      margin-top: 28px;
      object-fit: contain;
      object-position: top;
    }
  }
}
