.startSection {
  position: relative;
  top: -15px;
  min-height: 747px;
  padding: 60px 55px 90px;
  border-radius: 35px 35px 0 0;
  background: $color-tan;

  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 960px;
    margin-bottom: 32px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: $color-text;
  }

  &__lamp {
    position: absolute;
  }

  &__lamp.lamp1 {
    width: 142px;
    height: 142px;
    right: 123px;
    top: 40px;
  }
  &__lamp.lamp2 {
    width: 91px;
    height: 91px;
    top: 143px;
    right: 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }

  &__card {
    min-height: 163px;
    padding: 24px 28px 28px 28px;
    border-radius: 20px;
    background-color: #fff;
  }
  &__card-title {
    margin-bottom: 8px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 28px;
    line-height: 110%;
    color: $color-text;
  }

  &__card-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $color-text;

    & span {
      font-weight: 600;
    }
  }
}
