section.feedbackSection
    .feedbackSection_wrapper
        .feedbackSection_content
            .feedbackSection_title Давайте пообщаемся!
            .feedbackSection_text Поможем понять ваши идеи и реализуем их
            .feedbackSection_item
                img(src="../assets/images/like.png", alt="like")
                span Мы на связи
        .feedbackSection_form
            input.feedbackSection_input(placeholder="Ваше Имя", type="text", require)
            input.feedbackSection_input(placeholder="Телефон", type="phone", require)
            input.feedbackSection_input(placeholder="E-mail", type="mail")
            input.feedbackSection_input(placeholder="Сайт", type="text")
    .feedbackSection_buttonWrapper
        button.feedbackSection_button(type="submit") Оставить заявку
