section.headerSection 
  h1.headerSection_title Дизайн, #[span.headerSection__titleSecond который решает] #[span.headerSection__titleLast задачи]
    .headerSection_itemsGroup
      img(src="../assets/icons/headerLine.svg", alt="Кривая линия").headerSection_line
      img(src="../assets/icons/headerLineSecondary.svg", alt="Кривая линия").headerSection_lineSecondary
      .headerSection_item.headerSection__itemFirst
        img(src="../assets/icons/problemSmile.svg", alt="Problem smile").headerSection_itemIcon
        p.headerSection_itemText Ваша проблема
      .headerSection_item.headerSection__itemSecond
        img(src="../assets/icons/like.svg", alt="Лайк").headerSection_itemLikeIcon
        p.headerSection_itemText Наше решение
    .headerSection_item.headerSection__itemThird
      p.headerSection_itemText Webernetic Family 
      img(src="../assets/icons/logo.svg", alt="Логотип").headerSection_itemLogoIcon
    .headerSection_image
      +img("./assets/images/wf.png", "WF", ["500", "1200"])   
