section.processSection
    h2.processSection_title Как устроены наши #[span.secondaryColorText процессы]?
    ul.processSection_cardsWrapper
        li.processSection_card
            h3.processSection_cardTitle Ставим потребности бизнеса на 1-ое место
            .processSection_firstCardItemsWrapper
                .processSection_firstCardItem
                    .processSection_firstCardItemIconWrapper
                        img(src="../assets/icons/userIcon.svg", alt="User icon")
                    .processSection_firstCardItemLinesWrapper
                        .processSection_firstCardItemLine
                            .processSection_firstCardItemFirstLineEl
                            .processSection_firstCardItemFirstLineEl
                        .processSection_firstCardItemLine
                            .processSection_firstCardSecondLineEl.processSection__flex2
                            .processSection_firstCardSecondLineEl.processSection__flex1
                .processSection_firstCardItem.processSection__firstCardItemBgSecondary
                    .processSection_firstCardItemIconWrapper.processSection_firstCardItemIconWrapperBg1
                        img(src="../assets/icons/userIcon.svg", alt="User icon")
                    .processSection_firstCardItemLinesWrapper
                        .processSection_firstCardItemLine
                            .processSection_firstCardItemFirstLineEl
                            .processSection_firstCardItemFirstLineEl
                        .processSection_firstCardItemLine
                            .processSection_firstCardSecondLineEl.processSection__flex2
                            .processSection_firstCardSecondLineEl.processSection__flex1
            p.processSection_cardText Команда умеет задавать уточняющие вопросы, чтобы понять ваши цели и желания. Также проводим исследования и опросы среди ваших клиентов, чтобы выяснить их потребности.
