section.resultsSection 
  h2.resultsSection_header Погружаемся в особенности каждой отрасли, поэтому наши клиенты видят реальные результаты:
  ul.resultsSection_itemsGroup
    li.resultsSection_item
      p.resultsSection_itemTitle на #[span.resultsSection__itemBigTitle 40%] 
      p.resultsSection_itemText Снижение доли отказов
    li.resultsSection_item.resultsSection__itemSecondColor
      p.resultsSection_itemTitle на #[span.resultsSection__itemBigTitle 38%] 
      p.resultsSection_itemText Рост посещаемости сайта    
    li.resultsSection_item.resultsSection__itemThirdColor
      p.resultsSection_itemTitle на #[span.resultsSection__itemBigTitle 20%] 
      p.resultsSection_itemText Увеличение повторных посещений сайта
  p.resultsSection_text Эти цифры говорят сами за себя - дизайн может приносить изменения в бизнес-показателях

