-
    var navItems = [{text: "Исследование", number: "1", id: "0"},
    {text: "Подготовка мудборда", number: "2", id: "1"},
    {text: "Прототипирование", number: "3", id: "2"},
    {text: "Отрисовка дизайна", number: "4", id: "3"}]

section.stagesSection
    h2.stagesSection_title #[span.secondaryColorText Этапы] работ по дизайну
    .swiper
        .swiper-wrapper
            .swiper-slide.stagesSection_item
                h4.stagesSection_itemTitle Исследование
                p.stagesSection_itemText Обсуждаем ваши цели и потребности. Анализируем имеющиеся предложения на рынке. #[br] Также исследуем поведение и потребности целевой аудитории. Проводим опросы среди ваших клиентов, чтобы опираться на объективные данные.
                .stagesSection_itemImageWrapper
                    +img("./assets/images/step1.png", "Первый шаг. Исследование", ["500", "1200"])   
                p.stagesSection_itemNumber 1
            .swiper-slide.stagesSection_item.stagesSection__itemBg2
                h4.stagesSection_itemTitle.stagesSection__itemTitleColor2 Подготовка мудборда
                p.stagesSection_itemText.stagesSection__itemTextColor2 Подбираем визуальные элементы(изображения, цвета, шрифты, стили и т.д.), которые отражают общее визуальное направление будущего сайта. 
                .stagesSection_itemImageWrapper
                    +img("./assets/images/step2.png", "Второй шаг. Подготовка мудборда", ["500", "1200"])   
                p.stagesSection_itemNumber.stagesSection_itemNumberColor2 2
            .swiper-slide.stagesSection_item.stagesSection__itemBg3
                h4.stagesSection_itemTitle.stagesSection__itemTitleColor3 Прототипирование
                p.stagesSection_itemText.stagesSection__itemTextColor3 Определяем структуру сайта и содержание блоков. Создаем прототипы -  черновые версии дизайна, которые показывают основные элементы будущего интерфейса.
                .stagesSection_itemImageWrapper
                    +img("./assets/images/step3.png", "Третий шаг. Прототипирование", ["500", "1200"])   
                p.stagesSection_itemNumber.stagesSection_itemNumberColor3 3
            .swiper-slide.stagesSection_item.stagesSection__itemBg4
                h4.stagesSection_itemTitle.stagesSection__itemTitleColor4 Отрисовка дизайна
                p.stagesSection_itemText.stagesSection__itemTextColor4 На этом этапе создаются визуальные элементы сайта, включая цветовую схему, шрифты, изображения и другие графические элементы.  
                .stagesSection_itemImageWrapper
                    +img("./assets/images/step4.png", "Четвертый шаг. Отрисовка дизайна", ["500", "1200"], false)   
                p.stagesSection_itemNumber.stagesSection_itemNumberColor4 4
    .swiper_navWrapper
        each item in navItems
            .swiper_navItem("id"= item.id)
                p.stagesSection_navItemText= item.text
                p.stagesSection_navItemText= item.number  