section.targetSection 
  h2.targetSection_text #[span.targetSection_textColorSecondary Наша цель] — определить потребности и идею вашего бизнеса, чтобы создать #[span.targetSection_textColorSecondary понятный и удобный дизайн], который увеличивает продажи