section.teamSection
    h2.teamSection_title За каждым дизайном и результатом стоят люди – #[span.secondaryColorText команда], которая превратит вашу идею в реальность
    .teamSection_teamWrapper
        .teamSection_imageWrapper.teamSection__img1
            img(src="../assets/images/team-1200.png", alt="Наша команда")            
        .teamSection_imageWrapper.teamSection__img2
            img(src="../assets/images/team1-1200.png", alt="Аккаунт-менеджер")
            .teamSection_role Елена, #[br] аккаунт-менеджер
        .teamSection_imageWrapper.teamSection__img3
            img(src="../assets/images/team2-1200.png", alt="Аккаунт-менеджер")
            .teamSection_role Елена, #[br] аккаунт-менеджер
        .teamSection_imageWrapper.teamSection__img4
            img(src="../assets/images/team3-1200.png", alt="Sales менеджер")
            .teamSection_role Валерия, #[br] Sales менеджер
        .teamSection_imageWrapper.teamSection__img5
            img(src="../assets/images/team4-1200.png", alt="Проект-менеджер")
            .teamSection_role Олег, #[br] проект-менеджер