section.teamSection
    h2.teamSection_title За каждым дизайном и результатом стоят люди – #[span.secondaryColorText команда], которая превратит вашу идею в реальность
    .teamSection_teamWrapper
        .teamSection__img1.teamSection__absolute
            .teamSection_imageWrapper
                img.teamSection_img(src="../assets/images/team-1200.png", alt="Наша команда", data-id="1")           
        .teamSection__img2.teamSection__absolute
            .teamSection_imageWrapper(data-id="2")
                img.teamSection_img(src="../assets/images/team1-1200.png", alt="Аккаунт-менеджер", data-id="2")
            .teamSection_role(data-id="2") Елена, #[br] аккаунт-менеджер
        .teamSection__img3.teamSection__absolute
            .teamSection_imageWrapper(data-id="3")
                img.teamSection_img(src="../assets/images/team2-1200.png", alt="Аккаунт-менеджер", data-id="3")
            .teamSection_role(data-id="3") Елена, #[br] аккаунт-менеджер
        .teamSection__img4.teamSection__absolute
            .teamSection_imageWrapper(data-id="4")
                img.teamSection_img(src="../assets/images/team3-1200.png", alt="Sales менеджер", data-id="4")
            .teamSection_role(data-id="4") Валерия, #[br] Sales менеджер
        .teamSection__img5.teamSection__absolute
            .teamSection_imageWrapper(data-id="5")
                img.teamSection_img(src="../assets/images/team4-1200.png", alt="Проект-менеджер", data-id="5")
            .teamSection_role(data-id="5") Олег, #[br] проект-менеджер