.stagesSection {
  padding-inline: clamp(30px, 5.71vw, 80px);
  margin-bottom: clamp(70px, 7.14vw, 100px);

  &_title {
    margin-bottom: clamp(18px, 1.43vw, 20px);
  }

  &_item {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'title title'
      'a b'
      'c b';
    gap: 20px;
    background-color: #f6faff;
    margin: 0;
    padding: clamp(40px, 5vw, 70px) clamp(20px, 3.57vw, 50px) 0
      clamp(20px, 3.57vw, 50px);
    border-radius: 30px;
    height: auto;
    box-shadow: 0px 4px 4px 0px #a1bff078;
    margin-bottom: 4px;
  }

  &__paddingBottom {
    padding: clamp(30px, 3.57vw, 50px);
  }

  &_itemTitle {
    display: flex;
    align-items: center;
    position: relative;
    grid-area: title;
    margin-bottom: clamp(5px, 1.07vw, 15px);
  }

  &_itemTitleText {
    position: relative;
    color: #0c0c0c;
    font-weight: $font-weight-bold;
    line-height: 147%;
    z-index: 10;
  }

  &_itemTitleNumber {
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    color: #0b60eb;
    opacity: 15%;
    font-size: clamp(5.625rem, 11.43vw, 10rem);
    line-height: 1;
    z-index: 2;
  }

  &_itemDescription {
    grid-area: a;
  }

  &_itemDescription2 {
    grid-area: c;
  }

  &_itemSecondColumn {
    grid-area: b;
  }

  &_descriptionText {
    font-size: clamp(1.125rem, 1.86vw, 1.625rem);
    line-height: 130%;
    color: #393939;
    opacity: 80%;
  }

  &_core {
    display: flex;
    gap: clamp(12px, 1.07vw, 15px);
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      margin-bottom: clamp(10px, 1.43vw, 20px);
    }
  }

  &_coreNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: clamp(36px, 3.2vw, 45px);
    width: 100%;
    height: clamp(36px, 3.2vw, 45px);
    background-color: #97b9f0;
    border-radius: 50%;
    color: $font-color-invert;
    font-size: clamp(1.25rem, 2vw, 1.75rem);
    font-weight: $font-weight-bold;
  }

  &_coreTitle {
    margin-block: 5px;
    margin-top: 7px;
    font-size: clamp(1.125rem, 1.86vw, 1.625rem);
    font-weight: $font-weight-bold;
    line-height: 130%;
    color: #393939;
    opacity: 80%;
  }

  &_itemImageWrapper {
    position: relative;
    grid-area: image;
    border-radius: clamp(20px, 2.04vw, 40px);
    overflow: hidden;
    color: #352959;
    flex: 1;
    height: auto;
    aspect-ratio: 1.57;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

@media (max-width: $breakpoints-md) {
  .stagesSection {
    padding: 0;

    &_item {
      padding-right: 20px;
      align-items: stretch;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
        'title'
        'a'
        'b'
        'c';
    }
  }
}

@media (max-width: $breakpoints-sm) {
  .stagesSection {
    &_itemTitleNumber {
      left: 10%;
    }
  }
}

// кастомизация слайдера
.swiper {
  &_navWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(5px, 1.07vw, 15px);
    padding: 0;
    margin: 0;
    margin-bottom: clamp(20px, 2.5vw, 35px);
  }

  &_navItem {
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: clamp(8.5px, 0.71vw, 10px) clamp(10px, 2.14vw, 30px);
    border-radius: 50px;
    background-color: $bg-secondary;
    font-size: clamp(1.25rem, 2vw, 1.75rem);
    line-height: 140%;
    white-space: nowrap;
  }

  &_activeNavItem {
    background-color: #3f484f;
    color: $font-color-invert;
  }
}

@media (max-width: $breakpoints-md) {
  .swiper {
    &_navItem {
      display: none;
    }

    &_navItemDisplay {
      display: flex;
    }
  }
}
