@import './fonts';
@import './variables';
@import '../mixins/mixinsStyles.scss';
@import './swiper/_swiper-bundle.min.css';
@import './headerSection/_headerSection.scss';
@import './nichesSection/_nichesSection.scss';
@import './casesSection/_casesSection.scss';
@import './stagesSection/_stagesSection.scss';
@import './feedbackSection/_feedbackSection.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  color: #242733;
}

body {
  position: relative;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: $max-width;
  width: 100%;
  margin-inline: auto;
}

.padding {
  padding-inline: clamp(24px, 8.57vw, 120px);
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 130%;
  font-family: $font-family;
  color: inherit;
  margin: 0;
  padding: 0;
}

.h1 {
  font-size: clamp(1.875rem, 3.86vw, 3.375rem);
  font-weight: 700;
  line-height: 115%;
}

.h2 {
  font-size: clamp(1.75rem, 3.21vw, 2.875rem);
  line-height: 115%;
}

.h3 {
  font-size: clamp(1.5rem, 2.57vw, 2.25rem);
  line-height: 120%;
}

.h4 {
  font-size: clamp(1.375rem, 1.86vw, 1.625rem);
  line-height: 120%;
}

p,
span,
li,
a,
ul,
figcaption,
blockquote,
input,
label,
button,
input::placeholder {
  font-family: Manrope;
  font-size: clamp(1.125rem, 1.57vw, 1.375rem);
  line-height: 130%;
  color: inherit;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

span {
  font-size: inherit;
  line-height: inherit;
}

.li {
  color: inherit;
  margin: 0;
  padding: 0;
}

.customBtn {
  display: inline-block;
  width: 100%;
  background-color: #2f58ff;
  border-radius: 14px;
  padding: 18px 30px;
  color: #fff;
  line-height: 1.37;
  font-weight: 600;
  font-size: clamp(1rem, 1.43vw, 1.25rem);
  text-align: center;

  &:hover {
    background-color: #5073ff;
  }
}

@media (max-width: $breakpoints-sm) {
  .padding {
    padding-inline: 24px;
  }
}

// .input {
//   border-bottom: 1px solid $font-color;
//   width: 100%;
//   font-size: $font-size;

//   &::placeholder {
//     color: $font-color-placeholder;
//     line-height: 1;
//     opacity: 0.7;
//     font-size: $font-size;
//   }
// }

// .customButton {
//   font-size: clamp(1.25rem, 2.57vw, 2.25rem);
//   color: $font-color-bright;
//   font-weight: $font-weight-extra-bold;
//   border-bottom: 2px solid $font-color-bright;

//   &:hover,
//   &:active {
//     transform: scale(1.05);
//     color: $font-color-bright;
//     border-color: $font-color-bright;
//   }
// }
