+sectionLayout("result", "Итог")

    p.result__text.
        Мы обновили #[span одностраничный сайт], чтобы сделать Pa-rus ближе к клиентам. 
        Теперь найти нужную информацию на сайте можно быстро и просто.

    picture.result__image 
        img(src="../../assets/icons/result.svg", alt="бейдж")