doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= 'french'
  body
    include components/mixins/mixins
    include components/header/header.pug

    .french-wrapper

      main.french__main

        include components/welcomeSection/welcomeSection.pug
        include components/problemSection/problemSection.pug
        include components/requirementSection/requirementSection.pug
        include components/taskSection/taskSection.pug
        include components/done/done.pug
        include components/upshot/upshot.pug
        include components/teams/teams.pug
        include components/text/text.pug
