+layout("upshot", "upshot__wrapper")

    .upshot__image(data-anim)


    .upshot__content 

        .upshot__bubble
        .upshot__bubble
        h2 Как итог

        p.
            Команда разработала многостраничный сайт на WordPress, 
            который позволяет пользователям узнать информацию об экскурсиях, 
            просмотреть их расписание и забронировать подходящие. 
            Эти решения снизили нагрузку с колл-центра, 
            увеличили конверсию и улучшили общее качество сервиса.

        
