.resumeSection {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
  min-height: 450px;
  border-radius: 12px;
  padding: 36px 36px 32px 36px;
  padding-top: 0;
  background: linear-gradient(135deg, #f8e7db 0%, #fff6f0 100%);

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 58px;
  }
  &__content-title {
    margin-bottom: 50px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    color: $color-brown;
  }

  &__content-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: rgba(82, 65, 49, 0.85);
  }

  &__pic {
    margin-top: 10px;

    & img {
      object-fit: contain;
    }
  }
}
