extends layouts/MainLayout
include mixins/index.pug

block title
  | Korex

block content
  body.body
    include sections/headerSection 
    .container
      include sections/dataSection 
      include sections/stackSection
    include sections/audienceSection
    .container
      include sections/designSection
      include sections/reviewSection   
      include sections/brandSection   
      include sections/infoSection     
      include sections/finalSection 
      include sections/functionalSection
      include sections/getSection
      include sections/translateSection
      include sections/priceSection
      include sections/attentionSection
      include sections/workSection
    include sections/calculationSection
    .container
      include sections/filterSection
      include sections/customSection
      include sections/totalSection
      include sections/siteSection
      include sections/testSection
      include sections/insightSection
      include sections/orderSection