section.descriptionSection
    .descriptionSection_header
        p.descriptionSection_headerItem monetory.io
        .descriptionSection_headerTextWrapper 
            p Если вы когда-нибудь искали билеты через Aviasales или Skyscanner, то сталкивались с агрегаторами. Эти сайты не продают билеты, а только находят их по выбранным параметрам и предлагают перейти на сайт продавца.
            p Платформа работает так же, только ищет не билеты, а предложения о покупке и продаже криптовалют.
    .descriptionSection_itemsGroup
        .descriptionSection_item
            h3.descriptionSection_itemTitle Срок сотрудничества:
            h4.descriptionSection_itemTitleSecondary Февраль - май 2022 года,#[br] апрель 2023 - настоящее время
            p Из-за смены внутренней команды маркетологов нам пришлось остановить сотрудничество. Но в апреле 2023 клиент вернулся к нам.
        .descriptionSection_item
            h3.descriptionSection_itemTitle.descriptionSection__itemTitleMgSecondary Русскоязычные страны:
            p Россия, Беларусь, Украина, Казахстан. 
            .descriptionSection_itemLine
            h3.descriptionSection_itemTitle.descriptionSection__itemTitleMgSecondary Англоязычные страны:  
            p Индия, Бразилия, Австралия, Нигерия.