section.resultsSection 
    h2.resultsSection_title Результаты
    .resultsSection_contentWrapper
        .resultsSection_imageWrapper
            +img("./assets/images/resultsMan.png", "Мужчина", ["500", "1200"])
        p.resultsSection_textWrapper Команда  изучила конкурентов, улучшила технические характеристики сайта, сделала его удобным для пользователей и разработала способы получения ссылок с других сайтов. В итоге сайт появился в Топе, а трафик существенно вырос.#[br] Наш опыт в SEO-продвижении криптопроектов помогает предлагать уникальные стратегии для бизнеса и поднимать сайты в Топ Google и Яндекс.