section.trafficSection 
    h2.trafficSection_title Трафик
    .trafficSection_contentWrapper
        p.trafficSection_textWrapper #[span.brightText.boldText В 3,5 раза] вырос поисковый трафик: с 1300 пользователей в месяц (апрель 2023) до 4600 (июль 2023).
        .trafficSection_scrollWrapper
            .trafficSection_imageWrapper
                img(src="../assets/images/graph2.png", alt="График поискового трафика")
            +arrowButton().trafficSection_arrowButtonPosition(id="btn_trafficSection")
