.stepSection {
  &__highlight {
    display: flex;
    align-items: center;
    gap: 26px;
    min-height: 74px;
    @include responsive-sizing(margin-top, 50, 80, 400, 1160);
    margin-bottom: 20px;
    border-radius: 14px;
    padding: 6px 21px;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: $color-blue;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__highlight-number {
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 48, 52, 400, 1160);
    line-height: 120%;
    text-align: center;
    color: #fff;
  }

  &__highlight-text {
    font-family: $font-family;
    font-weight: 500;
    font-size: 26px;
    @include responsive-sizing(font-size, 20, 26, 400, 1160);
    line-height: 120%;
    color: #f2f9ff;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__content-left.first {
    min-height: 500px;
    border-radius: 24px;
    @include responsive-sizing(padding-inline, 20, 40, 992, 1160);
    @include responsive-sizing(padding-block, 26, 30, 992, 1160);
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }

  &__content-right {
    border-radius: 24px;

    & img {
      border-radius: 24px;
    }
  }

  &__content-top,
  &__content-bottom {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
    color: $color-extra;
  }

  &__content-top {
    @include responsive-sizing(margin-bottom, 14, 40, 992, 1160);

    & span {
      font-weight: 500;
    }
  }

  &__content-bottom {
    border-radius: 14px;
    padding: 16px 20px;
    background-color: #e1f1ff;

    & span {
      font-weight: 500;
    }
  }

  &__content-left.second {
    border-radius: 14px;

    & img {
      border-radius: 14px;
    }
  }

  &__content-right.second {
    border-radius: 24px;
    @include responsive-sizing(padding-inline, 20, 40, 992, 1160);
    @include responsive-sizing(padding-block, 26, 30, 992, 1160);
    min-height: 345px;
    background-color: #fff;
  }

  &__content-main {
    min-height: 180px;
    border-radius: 24px;
    padding: 30px 40px;
    @include responsive-sizing(padding-block, 26, 30, 400, 1160);
    @include responsive-sizing(padding-inline, 20, 40, 400, 1160);
    margin-bottom: 20px;
    background-image: url('../assets/images/step-bg.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }

  &__main-text {
    max-width: 520px;
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  &__card {
    border-radius: 24px;
    padding: 24px;
    background-color: #fff;
  }

  &__card-pic {
    margin-bottom: 16px;
  }

  &__card-text {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
    color: $color-extra;
  }

  &__content.fourth {
    min-height: 322px;
    gap: 30px;
    @include responsive-sizing(margin-bottom, 50, 80, 400, 1160);
    border-radius: 14px;
    @include responsive-sizing(padding-inline, 20, 40, 992, 1160);
    @include responsive-sizing(padding-block, 26, 30, 992, 1160);
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }

  &__content-icon {
    display: block;
    width: 28px;
    height: 28px;
  }

  &__content-icon.fourth {
    margin-bottom: 24px;
  }

  &__content-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: $color-extra;
  }

  &__content-right {
    & span {
      font-weight: 500;
    }
  }

  &__message-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include responsive-sizing(margin-bottom, 50, 80, 400, 1160);
  }

  &__message-left {
    @include responsive-sizing(min-height, 276, 434, 992, 1160);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    @include responsive-sizing(padding-inline, 20, 40, 992, 1160);
    @include responsive-sizing(padding-block, 26, 30, 992, 1160);
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }

  &__message-title {
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
    color: $color-blue;
  }

  &__message-right {
    padding: 31px 71px;
    @include responsive-sizing(padding-inline, 10, 71, 992, 1160);
    border-radius: 24px;
    background: #eaeef6;
  }

  &__message-image {
    display: block;
  }

  &__message-image.mobile {
    display: none;
  }

  &__traffic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include responsive-sizing(margin-bottom, 50, 80, 400, 1160);
  }

  &__traffic-image.mobile {
    display: none;
  }

  &__traffic-bottom {
    min-height: 158px;
    border-radius: 14px;
    padding: 16px 20px;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: $color-light-blue;
  }

  &__traffic-right {
    border-radius: 24px;
    @include responsive-sizing(padding-top, 26, 80, 992, 1160);
    @include responsive-sizing(padding-bottom, 26, 30, 992, 1160);
    @include responsive-sizing(padding-right, 20, 45, 992, 1160);
    @include responsive-sizing(padding-left, 20, 40, 992, 1160);
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
    background-color: #fff;

    & span {
      font-weight: 500;
    }
  }

  &__traffic-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 222px;
    min-height: 36px;
    padding: 4px 12px;
    margin-bottom: 24px;
    border: 1px solid $color-blue;
    border-radius: 12px;
  }

  &__traffic-btn-text {
    font-family: $font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: $color-blue;
  }

  &__traffic-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: $color-extra;
  }

  &__conversion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include responsive-sizing(margin-bottom, 50, 80, 400, 1160);
  }

  &__conversion-left {
    min-height: 324px;
    border-radius: 24px;
    @include responsive-sizing(padding-inline, 20, 40, 992, 1160);
    @include responsive-sizing(padding-block, 26, 30, 992, 1160);
    background-color: #fff;
  }

  &__conversion-left-top {
    min-height: 80px;
    margin-bottom: 16px;
    border-radius: 14px;
    padding: 16px 20px;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: $color-light-blue;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
    color: $color-blue;
  }

  &__conversion-left-bottom {
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
  }

  &__conversion-left-bottom span {
    font-weight: 500;
  }

  &__conversion-right {
    & img {
      object-fit: contain;
    }
  }

  &__optimization {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include responsive-sizing(margin-bottom, 50, 80, 400, 1160);
  }

  &__optimization-left {
    border-radius: 24px;

    & img {
      border-radius: 24px;
    }
  }

  &__optimization-right {
    border-radius: 24px;
    @include responsive-sizing(padding-inline, 20, 40, 992, 1160);
    @include responsive-sizing(padding-block, 26, 30, 992, 1160);
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }

  &__optimization-right-top {
    margin-bottom: 30px;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
    color: $color-extra;

    & span {
      font-weight: 500;
    }
  }

  &__optimization-right-bottom {
    min-height: 186px;
    border-radius: 14px;
    padding: 16px 20px;
    box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.06);
    background: $color-light-blue;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 17, 18, 400, 1160);
    line-height: 120%;
    color: $color-extra;

    & span {
      font-weight: 500;
    }
  }

  @media (max-width: $breakpoints-lg) {
    &__content-main {
      background-position: center 25%;
    }

    &__traffic-pic {
      height: 260px;
    }
  }

  @media (max-width: 700px) {
    &__content {
      grid-template-columns: 1fr;
    }

    &__cards {
      grid-template-columns: 1fr;
      gap: 8px;
    }

    &__content-left.first {
      min-height: 0;
    }

    &__content-right.second {
      min-height: 250px;
    }

    &__title.mps-title {
      margin-bottom: 24px;
    }

    &__traffic {
      grid-template-columns: 1fr;
    }

    &__traffic-pic {
      min-height: 300px;

      & img {
        object-fit: cover;
      }
    }

    &__conversion {
      grid-template-columns: 1fr;
    }

    &__optimization {
      grid-template-columns: 1fr;
      gap: 8px;
    }

    &__optimization-right {
      order: 1;
    }

    &__optimization-left {
      order: 2;
    }
  }

  @media (max-width: $breakpoints-sm) {
    &__message-box {
      grid-template-columns: 1fr;
      gap: 8px;
    }

    &__message-title {
      margin-bottom: 14px;
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__highlight {
      gap: 16px;
      padding: 6px 18px;
      margin-bottom: 8px;
    }

    &__content {
      gap: 8px;
    }

    &__content-main {
      min-height: 360px;
      background-image: url('../assets/images/step-bg-mobile.png');
      background-repeat: no-repeat;
      margin-bottom: 8px;
    }

    &__content.fourth {
      gap: 14px;
    }

    &__content-top.fourth {
      margin-bottom: 20px;
    }

    &__content-icon.fourth {
      margin-bottom: 16px;
    }

    &__content-text.fourth {
      font-size: 17px;
    }

    &__content-right.fourth {
      font-size: 18px;
      line-height: 120%;
    }

    &__message-pic {
      background-repeat: no-repeat;
    }

    &__message-pic .stepSection__message-image {
      display: none;
    }

    &__message-pic .stepSection__message-image.mobile {
      display: block;
    }

    &__message-right {
      padding-block: 10px;
      padding-inline: 20px;
    }

    &__traffic {
      gap: 8px;
    }

    &__traffic-pic {
      height: 300px;
      margin-bottom: 8px;
    }

    &__traffic-image {
      display: none;
    }
    &__traffic-image.mobile {
      display: block;
    }

    &__highlight.fifth {
      margin-bottom: 16px;
    }

    &__traffic-text {
      font-size: 17px;
    }

    &__conversion {
      gap: 8px;
    }

    &__conversion-left-top {
      margin-bottom: 14px;
    }

    &__optimization-left {
      height: 300px;
    }

    &__optimization-right-top {
      margin-bottom: 14px;
    }
  }
}
