doctype html
html(lang="en")

	include modules/head.pug

	body
		main
			include sections/home
			include sections/stages
			include sections/creation
			include sections/main
			include sections/internal
			include sections/colors
			include sections/mobile