doctype html
html(lang="en")

	include modules/head.pug

	body
		.low-wrapper
			main
				include sections/home
				include sections/stages
				include sections/creation
				include sections/main
				include sections/internal
				include sections/colors
				include sections/mobile
				include sections/development
				include sections/menu
				include sections/result
			include modules/footer