.translateSection {
  @include responsive-sizing(margin-bottom, 70, 120, 400, 1440);

  &__wrapper {
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    min-height: 272px;
    border-radius: 16px;
    @include responsive-sizing(padding-block, 20, 36, 1100, 1440);
    @include responsive-sizing(padding-inline, 20, 40, 1100, 1440);
    margin-bottom: 12px;
    background: #dce3e9;
  }

  &__top-left,
  &__top-right {
    max-width: 350px;
    width: 100%;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: rgba(40, 40, 40, 0.85);

    & span {
      font-weight: 700;
    }
  }

  &__bottom {
    min-height: 322px;
    @include responsive-sizing(padding-block, 20, 36, 1100, 1440);
    @include responsive-sizing(padding-left, 20, 40, 1100, 1440);
    border-radius: 16px;
    background-image: url('../assets/images/translate-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__bottom-text {
    max-width: 350px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.6);

    & span {
      font-weight: 700;
    }
  }

  &__auto {
    position: absolute;
    width: 270px;
    height: 224px;
    box-shadow: 3px 4px 2px 0 rgba(0, 0, 0, 0.09);
  }

  &__auto.auto-1 {
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__auto.auto-2 {
    top: 214px;
    right: 20.5%;
  }

  &__auto.auto-3 {
    bottom: 45px;
    left: 50%;
    transform: translateX(-15%);
  }

  &__auto.auto-4 {
    display: none;
  }

  @media (max-width: 1100px) {
    &__top {
      gap: 300px;
      height: 350px;
    }

    &__auto.auto-2 {
      top: 260px;
      right: 15%;
    }
  }

  @media (max-width: 900px) {
    &__top {
      flex-direction: column;
      height: auto;
    }

    &__top-left,
    &__top-right {
      max-width: 100%;
    }

    &__auto.auto-1 {
      display: none;
    }

    &__auto.auto-2 {
      top: 160px;
      right: 50%;
      transform: translateX(50%);
    }

    &__auto.auto-3 {
      left: 65%;
    }
  }

  @media (max-width: 750px) {
    &__bottom {
      position: relative;
      padding-right: 20px;
    }

    &__bottom-text {
      padding-top: 264px;
    }

    &__auto.auto-3 {
      display: none;
    }

    &__bottom-text {
      max-width: 100%;
    }

    &__auto.auto-4 {
      display: block;
      top: 26px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__bottom {
      background-image: url('../assets/images/translate-bg-mobile.png');
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: 600px) {
    &__auto.auto-2 {
      top: 200px;
      @include inverse-responsive-sizing(top, 180, 300, 375, 600);
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__top {
      gap: 275px;
    }
  }
}
