section.attendanceSection
    h2.attendanceSection_title Посещаемость
    .attendanceSection_imgWrapper
        img(src="../assets/images/graph-5.png", alt="Посещаемость")
    .attendanceSection_wrapper 
        .attendanceSection_item
            p.attendanceSection_itemText на  #[span.attendanceSection_itemBigText 87,96 %]
            p.attendanceSection_itemText.attendanceSection_itemFooterWrapper увеличился #[span.attendanceSection_itemOutline органический] 
        .attendanceSection_item
            p.attendanceSection_itemText на  #[span.attendanceSection_itemBigText 50.91 %]
            p.attendanceSection_itemText.attendanceSection_itemFooterWrapper увеличился #[span.attendanceSection_itemOutline реферальный] трафик