section.conversionSection
    h2.conversionSection_title Конверсия
    .conversionSection_header
        p.conversionSection_headerText Конверсия увеличилась #[span.conversionSection_headerItem до 37,2%.] 
        p.conversionSection_headerText То есть 198000 посетителей сайта положили товар в корзину.
    .conversionSection_imgWrapper
        img(src="../assets/images/graph-9.png", alt="Конверсия")