section.featuresSection
    h2.featuresSection_title Особенности проекта:
    .featuresSection_cardsWrapper 
        .featuresSection_card
            h3.featuresSection_cardTitle Пожелания клиента:
            p.featuresSection_cardText.mb-20 В начале сотрудничества перед командой были поставлены следующие задачи:
            ul.featuresSection_cardList
                li.featuresSection_cardListItem
                    span.featuresSection_cardListItemNumber 1
                    p.featuresSection_cardText Повысить позиции в Google и Яндекс по двум регионам - Сургут и Курган.
                li.featuresSection_cardListItem
                    span.featuresSection_cardListItemNumber 2
                    p.featuresSection_cardText Продвижение раздела Пицца, так как позиции сайта по данным ключам были низкими. 
            p.featuresSection_cardDescription В Кургане изначально позиции были выше, т.к. бренд находился дольше на рынке и был более известен.               
        .featuresSection_card
            h3.featuresSection_cardTitle Ограничения:         
            ul.featuresSection_cardList
                li.featuresSection_cardListItem
                    span.featuresSection_cardListItemNumber 1
                    p.featuresSection_cardText Неправильно настроенные заголовки. Робот не понимал, о чем страницы из-за некорректных названий, и не пропускал сайт в выдачу.
                li.featuresSection_cardListItem
                    span.featuresSection_cardListItemNumber 2
                    p.featuresSection_cardText Отсутствие корректных страниц для продвижения (структуры). Все товары лежали на главной странице, а переходить к ним можно было только с помощью якорных ссылок.
            p.featuresSection_cardDescription #[span.boldText Якорные ссылки] - ссылки на странице, которые переносят к определенному месту на ней.
    .featuresSection_startWrapper
        .featuresSection_startImageWrapper
            img(src="../assets/images/analitycs.png", alt="Аналитическая записка")
        .featuresSection_startContent
            h3.featuresSection_startTitle Первый месяц работ
            p.featuresSection_startText Для продвижения нам #[span.boldText важно было обнаружить все технические ошибки] на сайте и подготовить ТЗ программистам для исправления.