section.headerSection   
  .headerSection_content
    h1.headerSection_title.renovista-title  Продвижение сайта по доставке еды
    ul.headerSection_itemsWrapper 
      li.headerSection_item 
        h4.headerSection_itemTitle Ниша
        p.headerSection_itemText Доставка суши, роллов и пиццы
      li.headerSection_item 
        h4.headerSection_itemTitle Регион
        p.headerSection_itemText Курган + область, Сургут + область
      li.headerSection_item
        h4.headerSection_itemTitle Начало сотрудничества
        p.headerSection_itemText Апрель 2022 года
