section.positionSection
    h2.positionSection_title Топ Google и Яндекс
    .positionSection_header
        .positionSection_headerText Процент ключей в некоторых регионах вырос 
        .positionSection_headerItem в Топ-10 в 10 раз
    .positionSection_searchResults
        h3.positionSection_searchResultsTitle Курган
        .positionSection_searchResultsItem
            .positionSection_searchResultsImgWrapper
                img(src="../assets/images/graph-1.png", alt="Процент ключей в топ 10 Google")
            .positionSection_searchResultsContent
                span.positionSection_searchResultsTop Google
                p.positionSection_searchResultsText Процент ключей в топ 10 вырос с 47 до 76%.
        .positionSection_searchResultsItem
            .positionSection_searchResultsImgWrapper
                img(src="../assets/images/graph-2.png", alt="Процент ключей в топ 10 Яндекс")
            .positionSection_searchResultsContent
                span.positionSection_searchResultsTop Яндекс
                p.positionSection_searchResultsText Процент ключей в топ 10 вырос с 64 до 68%.
    .positionSection_searchResults.positionSection_searchResultsSecondary
        h3.positionSection_searchResultsTitle.colorInvertText Сургут
        .positionSection_searchResultsItem
            .positionSection_searchResultsImgWrapper
                img(src="../assets/images/graph-1.png", alt="Процент ключей в топ 10 Google")
            .positionSection_searchResultsContent
                span.positionSection_searchResultsTop.colorInvertText.colorInvertBorder Google
                p.positionSection_searchResultsText.colorInvertText Процент ключей в топ 10 вырос с 30 до 51%.
        .positionSection_searchResultsItem
            .positionSection_searchResultsImgWrapper
                img(src="../assets/images/graph-2.png", alt="Процент ключей в топ 10 Яндекс")
            .positionSection_searchResultsContent
                span.positionSection_searchResultsTop.colorInvertText.colorInvertBorder Яндекс
                p.positionSection_searchResultsText.colorInvertText Процент ключей в топ 10 вырос с 5 до 18%.
