section.resultsSection
    h2.resultsSection_title Результаты:
    .resultsSection_cardsWrapper
        .resultsSection_card 
            span.resultsSection_cardNumber 1
            p.resultsSection_cardText За первые 6 месяцев сотрудничества  увеличили количество ключей в Топ-10 
            span.resultsSection_cardStat до 10 раз
        .resultsSection_card 
            span.resultsSection_cardNumber 2
            p.resultsSection_cardText Изменился основной источник трафика с платной рекламы на органический (87,96%) и реферальный (50,91%). 
        .resultsSection_card 
            span.resultsSection_cardNumber 3
            p.resultsSection_cardText Увеличили конверсию
            span.resultsSection_cardStat до 37,2 %