//- section.summarySection
//-     .summarySection_wrapper
//-         .summarySection_content
//-             h2.summarySection_title Итоги
//-             p.mb-10 Несмотря на все ограничения, наша качественная SEO-оптимизация приводит к успеху. 
//-             p.mb-10 Для этого мы провели аудит-стратегию, оптимизировали контент и технические аспекты сайта. Мы не только #[span.boldText увеличили трафик], но и привлекли целевых пользователей. Это подтверждается тем,  что количество обращений с сайта увеличилось в 3 раза.
//-             p #[span.boldText Вывод один:] Нет ничего невозможного, есть неэффективная стратегия.
//-         .summarySection_imageWrapper 
//-             img(src="../assets/images/results.png", alt="Итого")
//-     h3.summarySection_footer Добейтесь больших результатов! Закажите SEO-услуги уже сейчас!