section.summarySection 
    .summarySection_wrapper   
        .summarySection_content
            h2.summarySection_title Итоги
            p.mb-6 В результате доработок на сайте за первые 6 месяцев сотрудничества удалось увеличить количество ключей #[span.summarySection__selectedText в Топ-10 до 10 раз.]
            p.mb-6 Изменился основной источник трафика с платной рекламы на #[span.summarySection__selectedText органический] (87,96%) и #[span.summarySection__selectedText реферальный] (50,91%). 
            p.mb-6 Но мы привлекли не просто трафик, а действительно заинтересованных пользователей. Об этом говорит #[span.summarySection__selectedText увеличение конверсии до 37,2 %.]
            p  Сейчас мы продолжаем работы по оптимизации структуры сайта, получению ссылок, исправлению оставшихся технических ошибок и улучшению ЧПУ URL.
        .summarySection_imageWrapper 
            img(src="../assets/images/summary.png", alt="Итого")   