section.trafficSection
    h2.trafficSection_title Источник трафика
    .trafficSection_wrapper
        .trafficSection_firstBlock
            .trafficSection_blockHeader
                p #[span.trafficSection__blockTitle1 Оранжевый] - статистика до сотрудничества
                p #[span.trafficSection__blockTitle2 Синий] - статистика после сотрудничества
            .trafficSection_firstBlockImageWrapper
                img(src="../assets/images/graph-7.png", alt="Источник трафика")
        .trafficSection_secondBlock
            .trafficSection_secondBlockImageWrapper
                img(src="../assets/images/graph-8.png", alt="Источник трафика")
        .trafficSection_item
            h3.trafficSection_itemtTtle В 2 раза
            .trafficSection_itemFooterWrapper
                p.trafficSection_itemText вырос #[span.trafficSection_itemOutline органический] трафик 
        
