section.trafficSection
    h2.trafficSection_title Источник трафика
    .trafficSection_firstBlock
        p #[span.trafficSection__blockTitle1 Оранжевый] - статистика до сотрудничества
        p #[span.trafficSection__blockTitle2 Синий] - статистика после сотрудничества
        .trafficSection_firstBlockImageWrapper
            img(src="../assets/images/graph-7.png", alt="Источник трафика")
    .trafficSection_secondBlock
    .trafficSection_thirdBlock