section.usersSection 
    h2.usersSection_title Поведение пользователей 
    .usersSection_wrapper
        h3.usersSection_wrapperTitle Увеличение длительности сеанса и количества пользователей.
        .usersSection_imageWrapper
            img(src="../assets/images/graph-6.png", alt="Поведение пользователей") 