section.addSection 
  .addSection__wrapper.wrapper 
    h2.addSection__title.nova-title  Дополнительно
    .addSection__cards 
      .addSection__card
        img.addSection__card-icon(src="./assets/icons/search-add.svg", alt="поиск") 
        p.addSection__card-text Напомним, что при анализе семантики предыдущего подрядчика мы обнаружили много мусорных запросов. Оказалось, что за низкими позициями также стояли и спамные ссылки от плохих доноров. Решение этих задач не входило в рамки бюджета, но мы не могли бросить клиента на полпути. 
      .addSection__card
        img.addSection__card-icon(src="./assets/icons/link.svg", alt="поиск") 
        p.addSection__card-text Поэтому предложили свои рекомендации по работе со ссылочным профилем: 
        ul.addSection__list
          li сократить количество анкорных ссылок с 75% до 70%
          li отказаться от спамных ссылок и плохих доноров
          li наращивать качественные ссылки на главную, коммерческие и информационные страницы 