section.clientSection 
  .clientSection__wrapper.wrapper 
    h2.clientSection__title.nova-title И сколько клиентов приносит сайт?
    .clientSection__top 
      .clientSection__top-left Конверсии
      p.clientSection__top-right Сайт вышел на более высокие позиции. Количество бронирований на сайте при этом осталось неизменным. Но не спешите делать выводы по конверсии!
    .clientSection__center 
      h3.clientSection__center-title Бьюти-индустрия развивается в социальных сетях
      .clientSection__center-content
        p.clientSection__text Большинство пользователей после изучения услуг переходили по ссылке на страничку салона в Facebook, где было больше фотографий работ и отзывов. Для ниши – это нормальная практика. Люди хотят видеть, каким будет результат оказанной услуги, читать комментарии других клиентов, обращаться к администраторам группы за консультациями. Сами мастера также могут напрямую общаться со своей аудиторией в социальных сетях, поэтому часто делают ставку именно на них.
        .clientSection__pic 
          img(src="./assets/images/client1.png", alt="схема")
    .clientSection__bottom
      .clientSection__pic 
        img(src="./assets/images/client2.png", alt="работы мастера")
      p.clientSection__text Сейчас сайт приводит трафик из Google и больше выполняет функцию одного из этапов воронки. Но если разместить на сайте портфолио мастера – конверсия увеличится. Сейчас клиентов становится больше, а значит стратегия продвижения салона красоты сработала.