section.contentSection 
  .contentSection__wrapper.wrapper
    .contentSection__left 
      h2.contentSection__title.nova-title Полезный контент 
      p.contentSection__text Клиент предоставил нам список наиболее приоритетных услуг, под которые мы создали новые коммерческие страницы с описанием процедур. Для этого мы представили, что хочет видеть потенциальный клиент в таком контенте. И сделали ставку на пользу – не просто рассказывали о наличии услуги, но также описывали процесс, материалы и подтверждали результат фотографиями. 
    .contentSection__right 
      img(src="./assets/images/content.png", alt="схема контента")
      img.mobile(src="./assets/images/content-mobile.png", alt="схема контента")