section.importantSection 
  .importantSection__wrapper.wrapper 
    .importantSection__content 
      h2.importantSection__title.nova-title Почему нам важен этот кейс?
      p.importantSection__text «Для продвижения нужен комплекс инструментов. Но если у клиента небольшой бюджет – это не повод отказывать ему, ведь право на развитие имеет каждый бизнес.
      p.importantSection__text В кейсе с продвижением салона красоты мы сделали ставку на качественном контенте, который бы лучше всего раскрыл ценность работы мастера. Человек, который хочет сделать качественный татуаж, заслуживает забронировать его удобном и полезном сайте. 
      p.importantSection__text А репутация и уровень доверия к специалисту станет только выше, если по запросу на конкретную процедуру пользователь получит соответствующий результат в поиске».
    .importantSection__pic 
      img(src="./assets/images/facebook.png", alt="facebook")