section.projectSection 
  .projectSection__wrapper.wrapper
    h2.projectSection__title.nova-title Каким мы забрали проект?
    .projectSection__top 
      .projectSection__top-left 
        p.projectSection__text Сайт <span class="light">https://nova-you.com.au/</span> создал другой подрядчик, он же и начал работу над продвижением салона красоты. Результатов клиент не увидел: время шло, а новые пользователи приходили только по одному типу запроса – на услугу fine-line-tattoo. 
      .projectSection__top-right
        img(src="./assets/images/project1.png", alt="сообщения")
    .projectSection__center 
      .projectSection__center-left 
        img(src="./assets/images/project2.png", alt="татуаж губ")
      .projectSection__center-right
        p.projectSection__text Мы начали работу с анализа семантического ядра и выяснили: запросы для продвижения сайта салона красоты были выгружены из автоматизированных сервисов сбора вообще без какой-либо сортировки. Контент на коммерческих страницах также был плохо оптимизирован. 
        p.projectSection__text Например, при запросе <span>«татуаж губ»</span> пользователь получал информацию обо всех услугах салона, а не о конкретно интересующей его. Аудитория давно научилась отличать тексты, написанные для поисков, от действительно ценного контента. Поэтому редко задерживается на страницах, собранных на быструю руку, что существенно сказывается на позициях в выдаче. 
    .projectSection__bottom
      .projectSection__bottom-left
        p.projectSection__text В случае с сайтом салона красоты страницы приоритетных услуг находились на <span>70-100 позициях</span> в выдаче, куда пользователи почти никогда не заглядывают.  
        p.projectSection__text Да, на старте работы наша команда тоже обращается к сервисам для сбора семантики. Но после мы отбираем вручную только самые подходящие запросы и проверяем выдачу по ним: на какие страницы ведут ключи, к какому типу они относятся.
      .projectSection__center-right
        img(src="./assets/images/project3.png", alt="запрос")