section.teamSection 
  .teamSection__wrapper.wrapper
    .teamSection__left 
      h3.teamSection__left-title Челлендж команды
      p.teamSection__text Повысить трафик с новой семантикой, <span>НО</span> в условиях маленького бюджета, что для небольшого семейного бизнеса – абсолютно нормально. Мы понимали: клиент делает ставку на качество, и такой же уровень требовался от нас. 
    .teamSection__right
      .teamSection__right-top
        h3.teamSection__right-title Решения
        p.teamSection__right-text Новая стратегия продвижения салона красоты включала следующие задачи: 
      ul.teamSection__list 
        li Повысить видимость сайта – поднять позиции в выдаче Google по приоритетным услугам.
        li Увеличить общий трафик – регулярно приводить на сайт больше новых пользователей из Австралии.
        li Увеличить конверсию – превратить пользователей-посетителей в реальных клиентов, бронирующих услуги прямо на сайте.