section.uxSection 
  .uxSection__wrapper.wrapper
    h2.uxSection__title.nova-title Удобный UX
    p.uxSection__text После анализа запросов пользователей, мы полностью переработали структуру сайта. На ее основе пересмотрели структуру меню, вынесли популярные услуги вверх. Изменения помогли клиентам быстрее находить нужную страницу, а доступ к ним стал понятным и структурированным.
    .uxSection__pic 
      img(src="./assets/images/ux.png", alt="структура меню")