section.whoSection 
  .whoSection__wrapper.wrapper
    h2.whoSection__title.nova-title Кто обратился за продвижением? 
    .whoSection__content
      .whoSection__top
        .whoSection__left 
          img(src="./assets/images/australia.png", alt="Австралия")
        .whoSection__right
          p.whoSection__text Для знакомства переместимся в Австралию, город Perth. Наши клиенты – семейная пара в эмиграции. Жена много лет работает в бьюти-индустрии, специализируется на косметическом татуаже и хорошо понимает, каким эстетичным и красивым должен быть результат. 
          p.whoSection__text  Муж забрал на себя все операционные задачи и администрировал развитие семейного бизнеса, в том числе, и продвижение сайта салона красоты. Пара хотела занять свое место в нише именно за счет качества, которое у конкурентов заметно страдает из-за низких стандартов и плохих материалов. 
      .whoSection__bottom
        img.whoSection__bottom-icon(src="./assets/icons/safety.svg", alt="безопасность")
        .whoSection__bottom-text Первое время мастер работала на дому, в оборудованной комнате. Но вскоре переехала в отдельный кабинет в центре города. Это был важный шаг к соблюдению основных норм санитарии и безопасности клиентов, ведь мастер работает с кровью.