+layout("problem", "problem__wrapper")

    .problem__image

        .problem__circle
            .problem__phone

    .problem__text 
        p.
            Заказчик обратился к нам с проблемой того, что <strong>клиенты уходили с сайта</strong> из-за сложной структуры, 
            которая не позволяла быстро и легко найти нужную информацию. 
            Это <strong>приводило к ухудшению пользовательского опыта</strong> и снижению конверсии на сайте.
        p.
            Кроме того, большинство заявок поступали через колл-центр из-за затянутой структуры заказа онлайн. 
            Это <strong>увеличивало нагрузку на операторов</strong> колл-центра и <strong>увеличивало расходы компании</strong> на их содержание.