section.challengeSection
  .challengeSection__box
    .challengeSection__box-content
      h2.challengeSection__box-title.aas-title Челленджи по проекту
      p.challengeSection__text При работе с ass.ru была специфичная CMS — Finalsite, и отсутствие программиста со стороны клиента. Платформа <b>Finalsite</b> разработана специально для школ. Все <b>доработки</b> необходимо было реализовывать <b>через запросы</b> (тикеты) к разработчикам админки Finalsite.
      p.challengeSection__text <b>Зависимость от внешних разработчиков</b> означает, что изменения могли быть реализованы не сразу и, возможно, не в полном объеме, что создавало дополнительные препятствия при управлении сайтом.
    .challengeSection__box-pic
  .challengeSection__result
    h2.challengeSection__result-title.aas-title Результаты
    .challengeSection__result-pic
      img.challengeSection__result-image(src="./assets/images/result.png" alt="результаты")
