section.growthSection
  .growthSection__wrapper.wrapper
    h2.growthSection__title.aas-title Рост процента ключевых запросов в топ-10 Google
    .growthSection__box
      .growthSection__pic
        img.growthSection__image(src="./assets/images/growth-1.png" alt="график")
      .growthSection__content
        .growthSection__city Москва
        .growthSection__value-box
          span.growthSection__number 52%
          span.growthSection__text ключей
    .growthSection__box
      .growthSection__pic
        img.growthSection__image(src="./assets/images/growth-2.png" alt="график")
      .growthSection__content
        .growthSection__city Великобритания
        .growthSection__value-box
          span.growthSection__number 24%
          span.growthSection__text ключей
    .growthSection__box
      .growthSection__pic
        img.growthSection__image(src="./assets/images/growth-3.png" alt="график")
      .growthSection__content
        .growthSection__city Китай
        .growthSection__value-box
          span.growthSection__number 33%
          span.growthSection__text ключей
