section.headerSection
  .headerSection__top
    span.headerSection__top-left Кейс: seo-продвижение сайта англо-американской школы
    span.headerSection__top-right #SEO-оптимизация сайта
  .headerSection__center
    .headerSection__pic
    .headerSection__content
      h1.headerSection__title Обучение без границ
      p.headerSection__subtitle Как международное учебное заведение в Москве повысило известность в столице РФ и мире
      p.headerSection__text AAS Moscow, или же Англо-американская школа, - частное, международное учебное заведение в Москве. В школе <b>более 1500 учеников 60 национальностей</b>. AAS имеет разрешение Международной организации бакалавриата (IBO) на обучение PYP и DP.
  .headerSection__bottom
    .headerSection__bottom-left
      h2.headerSection__bottom-title.left.aas-title Регионы продвижения
      .headerSection__country-box
        span.headerSection__country Россия
        span.headerSection__country США
        span.headerSection__country Канада
        span.headerSection__country Китай
        span.headerSection__country Великобритания
        span.headerSection__country Южная Корея
    .headerSection__bottom-right
      h2.headerSection__bottom-title.right.aas-title Цели от клиента
      p.headerSection__bottom-text Хотим увеличить продажи и осведомленность о бренде. Желаемый результат — <b>100 лидов в месяц</b>, как можно скорее.

         
        