section.resultSection
  .resultSection__wrapper.wrapper
    .resultSection__left
      .resultSection__left-info Благодаря росту позиций по запросам начал расти органический трафик
      .resultSection__left-pic
        img.resultSection__left-image(src="./assets/images/result-1.png" alt="визиты")
    .resultSection__right
      .resultSection__right-info Рост органического трафика  согласно сервису Яндекс.Метрика:
      .resultSection__right-pic
        img.resultSection__right-image(src="./assets/images/result-2.png" alt="рост траффика")
  .resultSection__results
    .resultSection__results-pic
    .resultSection__results-content
      h2.resultSection__results-title.aas-title Итоги продвижения
      p.resultSection__results-text В результате продвижения англо-американской школы были достигнуты цели клиента: увеличение продаж и осведомленности о бренде. Стратегия включала анализ семантического ядра, оптимизацию контента и юзабилити сайта, а также наращивание ссылочной массы. Результатом стал рост у органического трафика, видимости и позиций в поисковой выдаче.