section.stepSection
  .stepSection__start-box
    .stepSection__start-left
      h2.stepSection__start-title.aas-title Исходное состояние 
      .stepSection__start-content
        p.stepSection__start-text Органический трафик в Google
        span.stepSection__start-info <b>2023</b> пользователя/месяц
    .stepSection__start-right
      .stepSection__start-pic
        img.stepSection__start-image(src="./assets/images/step.png" alt="исходное состояние")
  h2.stepSection__title.aas-title Этапы работы над проектом
  .stepSection__cards
    .stepSection__card
      .stepSection__card-left
        span.stepSection__card-title.accent Сбор семантического ядра
      .stepSection__card-right
        p.stepSection__card-text Работы по проекту мы начали со сбора семантического ядра и составления структуры сайта. При сборе семантики особое внимание уделили регионам, по которым клиент хотел привлекать целевой трафик. В итоге было подготовлено <b>3 семантических ядра</b>:
        ul.stepSection__list
          li.stepSection__list-item Англоязычное для США, Великобритании, Канады, Китая и Южной Кореи;
          li.stepSection__list-item Англоязычное для России;
          li.stepSection__list-item Русскоязычное для России.
        .stepSection__card-info По результатам собранной семантики <b>структура сайта</b> не подверглась сильным изменениям, так как важные для продвижения страницы уже существовали в нужном формате и вложенности.
    .stepSection__card
      .stepSection__card-left
        span.stepSection__card-title.accent Проработка контента
      .stepSection__card-right
        p.stepSection__card-text После сбора семантики мы начали прорабатывать контент для действующих посадочных страниц: подготовили <b>оптимизированные</b> под запросы <b>h1, мета-теги title и description</b>, а также полезные <b>тексты</b>, которые описывают школу и ее деятельность на разных ступенях образования.
    .stepSection__card
      .stepSection__card-left
        span.stepSection__card-title.accent Анализ ссылочного профиля сайта и конкурентов
      .stepSection__card-right
        p.stepSection__card-text Оказалось, что <b>конкуренты</b> имеют <b>в 2 раза больше ссылок</b>. Поэтому составили стратегию наращивания, которая заключалась в постепенном увеличении качественных тематических доноров на сайт, без резких скачков, чтобы не вызывать подозрения у поисковых систем. Мы учитывали:
        ul.stepSection__list
          li.stepSection__list-item Тип площадок-доноров;
          li.stepSection__list-item Доменную зону площадок-доноров;
          li.stepSection__list-item Средний прирост ссылок у конкурентов;
          li.stepSection__list-item Соотношение анкорных и безанкорных ссылок;
          li.stepSection__list-item Типы страниц, на которые нужно получать ссылки.
        .stepSection__card-info При составлении стратегии наращивания были также <b>учтены регионы продвижения</b> проекта. Таким образом, мы получали ссылки от доноров с трафиком из целевых регионов (Россия, США, Канада, Китай, Великобритания, Южная Корея).
    .stepSection__card
      .stepSection__card-left
        span.stepSection__card-title.accent  Анализ юзабилити
      .stepSection__card-right
        p.stepSection__card-text Также провели анализ юзабилити, чтобы найти возможности повысить удобство сайта. Улучшение пользовательского опыта не только способствует удовлетворенности посетителей, но и напрямую влияет на его позиции в поисковых системах. Поисковые алгоритмы учитывают показатели пользовательского взаимодействия с сайтом — время на сайте, отказы и клики, при ранжировании страниц. Поэтому работа над юзабилити приводит к повышению конверсии, уменьшению отказов и увеличению времени на сайте. По итогам анализа:
        ul.stepSection__list
          li.stepSection__list-item Добавлена русская версия сайта;
          li.stepSection__list-item Оптимизирован логотип сайта - добавлено текстовое описание через тег &lt;alt&gt; и заголовок &lt;title&gt; с добавлением ключевых слов;
          li.stepSection__list-item Оптимизированы отображения иконок с социальными сетями - увеличен размер для удобства восприятия;
          li.stepSection__list-item Выровнены иконки со ссылками.
    .stepSection__card
      .stepSection__card-left
        span.stepSection__card-title.accent Технические аудит
      .stepSection__card-right
        p.stepSection__card-text По результатам аудита обнаружили ошибки, которые далее исправляли. Например:
        ul.stepSection__list
          li.stepSection__list-item Удалили дубли title и description;
          li.stepSection__list-item Провели работы по оптимизации h1 (исправили дубли, отсутствующие и множественные заголовки).