.competitorSection {
  padding: clamp($spacing-3, 7.5vw, $spacing-2) 0;

  &_descriptionWrapper {
    max-width: 768px;
    margin-bottom: clamp($spacing-13, 2.1vw, $spacing-10);
  }

  &_title {
    margin-bottom: clamp($spacing-11, 2.1vw, $spacing-10);
  }

  &_item {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: $spacing-13;
    padding: $spacing-10 clamp($spacing-10, 2.5vw, $spacing-9);
    background-color: $bg-secondary;
    border-radius: 20px;
  }

  &_itemText {
    color: $font-color-secondary;
  }

  &_icon {
    width: 40px;
    height: 40px;
  }

  &_recommendationWrapper {
    margin-top: clamp($spacing-3, 7.5vw, $spacing-2);
    background-color: $bg-dark;
    padding: clamp($spacing-7, 5vw, $spacing-4)
      clamp($spacing-10, 3.8vw, $spacing-6);
    border-radius: 20px;
  }

  &_recommendationHeader {
    margin-bottom: clamp($spacing-11, 2.1vw, $spacing-10);
  }

  &_contentWrapper {
    & > div:first-of-type {
      flex: 1;
      box-shadow: none;
    }

    & > div:last-of-type {
      max-width: 32%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: $spacing-9;
      padding-bottom: clamp($spacing-9, 3.3vw, $spacing-7);
      box-shadow: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
