.devSection {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  min-height: 290px;
  padding: 60px 55px;
  background: $color-pink;

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }

  &__card {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 2;
    gap: 0;
    min-height: 170px;
    border-radius: 20px;
    background-color: #fff;
  }

  &__card-pic {
    grid-row: 1/3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    & img {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  &__pic {
    width: 110px;
    height: 170px;
  }

  &__card-title {
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 24, 28, 400, 1400);
    line-height: 110%;
    color: $color-text;
    padding: 24px 28px 8px 18px;
  }

  &__card-text {
    padding: 0 28px 28px 18px;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1400);
    line-height: 120%;
    color: $color-text;
  }

  @media (max-width: 1320px) {
    padding-inline: 20px;
  }

  @media (max-width: $breakpoints-xl) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  @media (max-width: 620px) {
    &__cards {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 12px;
    }

    &__card {
      height: 122px;
      min-height: 122px;
      border-radius: 20px;
    }

    &__card-pic {
      min-height: 122px;

      & img {
        object-fit: cover;
        object-position: top;
      }
    }

    &__card:nth-child(2) &__card-pic img {
      object-position: center;
    }

    &__card-title {
      padding: 20px 20px 8px 18px;
    }

    &__card-text {
      padding: 0px 20px 20px 18px;
    }
  }

  @media (max-width: $breakpoints-xs) {
    padding-block: 30px;
  }
}
