.importantSection {
  margin-bottom: 80px;
  @include responsive-sizing(margin-bottom, 64, 80, 400, 1160);

  &__wrapper {
    display: flex;
    gap: 20px;
    min-height: 489px;
    border-radius: 24px;
    padding: 13px 30px 28px 30px;
    @include responsive-sizing(padding-inline, 18, 30, 992, 1160);
    background: #e4eecf;
  }

  &__content {
    max-width: 530px;
    width: 100%;
    margin-top: 37px;
  }

  &__title.nova-title {
    margin-bottom: 16px;
    font-size: 28px;
    @include responsive-sizing(font-size, 22, 28, 400, 1160);
  }

  &__text {
    margin-bottom: 5px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    @include responsive-sizing(font-size, 16, 18, 400, 1160);
    line-height: 140%;
    letter-spacing: 0.2px;
    color: rgba(62, 73, 45, 0.85);
  }

  &__pic {
    max-width: 519px;
    width: 100%;
    min-height: 448px;
  }

  @media (max-width: 1100px) {
    &__pic img {
      object-fit: contain;
    }

    &__content {
      margin-top: 0;
    }
  }

  @media (max-width: 650px) {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      max-width: 100%;
    }

    &__pic {
      min-height: auto;
    }
  }
}
