.useSection {
  @include responsive-sizing(margin-bottom, 60, 90, 400, 1160);

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    min-height: 141px;
    padding: 30px 36px;
    @include responsive-sizing(padding-inline, 20, 36, 992, 1160);
    @include responsive-sizing(padding-block, 24, 30, 992, 1160);
    margin-bottom: 12px;
    border: 1px solid rgba(138, 169, 252, 0.1);
    border-radius: 24px;
    box-shadow: 2px 4px 4px 0 rgba(138, 169, 252, 0.12);
    background: $color-light;
    font-family: $second-family;
    font-weight: 400;
    font-size: 21px;
    color: $color-text;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: #fff;
  }

  &__card-pic {
    max-width: 573px;
    width: 100%;
    height: auto;
    border-radius: 24px;

    & img {
      object-fit: contain;
      object-position: top;
    }
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 182px;
    padding: 36px 36px 30px 36px;
    @include responsive-sizing(padding-inline, 20, 36, 992, 1160);
    @include responsive-sizing(padding-top, 20, 36, 992, 1160);
    @include responsive-sizing(padding-bottom, 24, 30, 992, 1160);
  }

  &__card-title {
    margin-bottom: 8px;
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 24, 26, 400, 1160);
    color: $color-black;
  }

  &__card-text {
    font-family: $second-family;
    font-weight: 400;
    font-size: 19px;
    line-height: 125%;
    color: $color-text;
  }

  @media (max-width: $breakpoints-md) {
    &__cards {
      grid-template-columns: 1fr;
    }

    &__card-pic {
      margin: 0 auto;
    }
  }

  @media (max-width: $breakpoints-md) {
    &__card-text {
      line-height: 130%;
    }
  }
}
