extends layouts/MainLayout
include mixins/index.pug

block title
  | Logistics

block content
  body.body    
    include sections/headerSection 
    .container 
      include sections/specializationSection
      include sections/prioritySection
      include sections/strategySection
      include sections/resultsSection
    .container-pic
      include sections/chartSection 
      include sections/tableSection
      include sections/graphSection
    .container 
      include sections/diagramSection
      include sections/orderSection