section.header

    .container.header__container

        .header__wrapper

            .header__logos 

                div
                    img(src=require('../../assets/img/logo.svg'), alt="logo")

                div
                    img(src=require('../../assets/img/subLogo.png'), alt="subLogo")
            

            a.header__link(href="#", target="_blank", rel="noopener noreferrer").
                    frenchkiss-events.ru
                
            p.header__text.
                октябрь 2022 - март 2023