@mixin text-style {
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.2%;
    color: $text-color;

    @media (max-width: $media-sm) {
        font-size: 16px;
    }
}

@mixin title-style {
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: $text-color;

    @media (max-width: $media-sm) {
        font-size: 28px;
    }
}

@mixin circle-style {
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(238, 220, 255, 0.08) -18.06%, rgba(238, 220, 255, 0) 123.61%);
    box-shadow:
        1px 1px 4px 0px #eedcff inset,
        -20px -20px 100px 0px #eedcff inset;
}
