.testSection {
  padding-bottom: 110px;
  background-color: #1d499b;

  &__wrapper {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 32px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 38px;
    line-height: 130%;
    color: #fff;
  }

  &__card {
    display: flex;
    min-height: 310px;
    padding: 40px 40px 0;
    border-radius: 16px;
    background: rgba(242, 246, 255, 0.12);

    &:nth-child(2) {
      gap: 95px;
      margin-bottom: 16px;

      & .testSection__card-right {
        max-width: 547px;
        width: 100%;
      }
    }

    &:nth-child(3) {
      flex-direction: row-reverse;
      gap: 50px;

      & .testSection__card-right {
        max-width: 600px;
        width: 100%;
      }
    }
  }

  &__card-left {
    max-width: 430px;
    width: 100%;
  }

  &__card-title {
    margin-bottom: 16px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.92);
  }

  &__card-text {
    font-family: $font-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.64);
  }
}
