.workSection {
  min-height: 872px;
  padding-block: 90px 60px;
  margin: 0 auto;
  margin-top: -70px;
  background-image: url('../assets/images/work-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    margin-top: 70px;
    max-width: 1070px;
    padding: 60px;
    margin: 0 auto;
    border: 1px solid $color-dark-pink;
    border-radius: 35px;
    background-color: #fff;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: $color-text;

    & span {
      font-weight: 500;
      line-height: 110%;
    }
  }

  &__text:nth-child(5) {
    margin-block: 32px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin-block: 20px 32px;
  }

  &__card {
    min-height: 145px;
    padding: 24px 28px 28px 28px;
    border-radius: 20px;
    background-color: $color-tan;
    font-family: $font-family;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
    color: $color-text;
  }
}
