.headerSection {
  min-height: 659px;
  padding-block: 93px 134px;
  background-image: url('../assets/images/banner.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    max-width: 553px;
    margin-bottom: 148px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 72px;
    line-height: 105%;
    color: #fff;

    & span {
      color: $color-accent;
    }
  }

  &__content {
    max-width: 479px;
  }

  &__subtitle {
    margin-bottom: 12px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 36px;
    line-height: 117%;
    color: #fff;
  }

  &__text {
    font-family: $second-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #fff;
  }
}
