.trafficSection {
  &__container {
    border-radius: 70px;
    position: relative;
    top: -20px;
    min-height: 1017px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-block: 75px;
    background-image: url('../assets/images/traffic-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__title {
    font-family: $second-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 26, 36, 400, 1440);
    line-height: 115%;
    letter-spacing: 0.01em;
    color: $color-light;
  }

  &__top-right {
    display: flex;
    align-items: center;
  }

  &__top-icon {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }

  &__subtitle {
    font-family: $second-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: 0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
  }

  &__box {
    min-height: 351px;
    margin-bottom: 12px;
    padding: 30px 36px;
    @include responsive-sizing(padding-block, 0, 30, 400, 1440);
    @include responsive-sizing(padding-inline, 0, 36, 400, 1440);
    display: flex;
    gap: 40px;

    &:last-child {
      background-image: url('../assets/images/traffic-box.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__box-pic {
    max-width: 800px;
    width: 100%;
    overflow-x: auto;

    & img {
      object-position: left;
    }
  }

  &__box-content {
    max-width: 328px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__box-button {
    border: 1.5px solid #fff;
    border-radius: 67px;
    padding: 12px 32px 10px 32px;
    min-height: 52px;
    font-family: $second-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 20, 26, 400, 1440);
    line-height: 115%;
    letter-spacing: 0.01em;
    color: #fff;
  }

  &__box-text {
    @include responsive-sizing(font-size, 20, 26, 400, 1440);
  }

  @media (max-width: $breakpoints-lg) {
  }

  @media (max-width: $breakpoints-md) {
    &__top {
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      margin-bottom: 36px;
    }

    &__box {
      flex-direction: column;
    }

    &__box-pic,
    &__box-content {
      width: 100%;
      max-width: 100%;
    }
  }
}
