.headerSection {
  margin-bottom: 120px;
  padding: 18px 18px 0;

  &__wrapper {
    min-height: 662px;
    padding: 55px 0 38px 114px;
    background-image: url('../assets/images/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }

  &__content {
    margin-bottom: 217px;
  }

  &__title {
    margin-bottom: 12px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: #2a2a2a;
  }

  &__text {
    max-width: 450px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: rgba(42, 42, 42, 0.8);
  }

  &__region-btn {
    min-height: 48px;
    width: fit-content;
    margin-bottom: 6px;
    padding: 10px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2a2a2a;

    &:last-of-type {
      margin-top: 26px;
    }
  }

  &__region-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    color: rgba(42, 42, 42, 0.8);
  }
}
