.headerSection {
  @include responsive-sizing(margin-bottom, 70, 120, 400, 1440);
  padding: 18px 18px 0;

  &__wrapper {
    min-height: 662px;
    padding: 55px 0 38px 114px;
    @include responsive-sizing(padding-top, 30, 55, 400, 1440);
    @include responsive-sizing(padding-bottom, 26, 38, 400, 1440);
    @include responsive-sizing(padding-left, 18, 114, 768, 1440);
    background-image: url('../assets/images/banner.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
  }

  &__content {
    margin-bottom: 217px;
  }

  &__title {
    margin-bottom: 12px;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 32, 42, 400, 1440);
    line-height: 50px;
    color: #2a2a2a;
  }

  &__text {
    max-width: 450px;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1440);
    line-height: 140%;
    color: rgba(42, 42, 42, 0.8);
  }

  &__region-btn {
    min-height: 48px;
    width: fit-content;
    margin-bottom: 6px;
    padding: 10px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1440);
    line-height: 140%;
    color: #2a2a2a;

    &:last-of-type {
      margin-top: 26px;
    }
  }

  &__region-text {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 22, 26, 400, 1440);
    line-height: 140%;
    color: rgba(42, 42, 42, 0.8);
  }

  @media (max-width: $breakpoints-md) {
    padding-inline: 0;

    &__wrapper {
      background-position: 25% 0;
    }
  }
  @media (max-width: $breakpoints-sm) {
    &__wrapper {
      padding-right: 18px;
    }
  }

  @media (max-width: 500px) {
    &__wrapper {
      min-height: 583px;
      background-image: url('../assets/images/banner-mobile.png');
      background-position: center;
      padding-right: 18px;
    }

    &__title {
      line-height: 125%;
    }

    &__content {
      margin-bottom: 167px;
    }

    &__region-btn {
      min-height: 41px;
      padding: 8px 16px;

      &:last-of-type {
        margin-top: 16px;
      }
    }
  }
}
