section.stories 

    .container 

        article.stories__wrapper

            .stories__content

                h2 Изменение оформления Stories

                p.
                    Команда разработала план, как взаимодействовать с аудиторией, 
                    чтобы максимально ее вовлечь и заинтересовать в покупке товаров. 
                    Также создали дизайн макетов для Stories в фирменном стиле компании.

            .stories__images

                picture.stories__image
                    img(src=require("../../assets/img/stories1.png"), alt="pic")
                picture.stories__image
                    img(src=require("../../assets/img/stories2.png"), alt="pic")
                picture.stories__image
                    img(src=require("../../assets/img/stories3.png"), alt="pic")
                picture.stories__image
                    img(src=require("../../assets/img/stories4.png"), alt="pic")