.startSection {
  margin-bottom: 24px;

  &__cards {
    display: flex;
    gap: 20px;
  }

  &__card {
    min-height: 594px;
    max-width: 594px;
    width: 100%;
    border-radius: 24px;
    padding: 40px 32px;
    @include responsive-sizing(padding-inline, 20, 32, 992, 1160);
    @include responsive-sizing(padding-block, 26, 40, 992, 1160);
    background-color: #fff;
  }

  &__card-title {
    margin-bottom: 16px;
  }

  &__card-text {
    margin-bottom: 24px;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1160);
    line-height: 120%;
    color: $color-extra;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 36px;
    width: fit-content;
    padding: 3px 12px;
    border: 1px solid $color-blue;
    border-radius: 12px;

    &:last-child {
      margin-top: 12px;
    }
  }

  &__btn-image {
    display: block;
    width: 28px;
    height: 28px;
  }

  &__btn-text {
    font-family: $font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: $color-blue;
  }

  @media (max-width: 900px) {
    &__cards {
      flex-direction: column;
      gap: 12px;
    }

    &__card {
      max-width: 100%;
      min-height: 0;
    }
  }

  @media (max-width: $breakpoints-xs) {
    margin-bottom: 20px;

    &__card-text {
      margin-bottom: 16px;
    }

    &__card:nth-child(2) .startSection__card-text {
      margin-bottom: 0;
    }
  }
}
