.orderSection {
  margin-bottom: 30px;

  &_title {
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 24px;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 20, 28, 400, 1160);
    line-height: 127.5%;
    text-align: center;
    color: #272727;
  }

  &_wrapper {
    position: relative;
    display: flex;
    max-width: 1152px;
    margin: 0 auto;
    gap: 37px;
    padding: 56px 40px 56px 71.5px;
    @include responsive-sizing(padding-left, 20, 83, 992, 1440);
    box-shadow: 0 4px 10px 0 rgba(17, 21, 55, 0.13);
    box-shadow: 2px 4px 9px 0 rgba(36, 24, 61, 0.1);
    border-radius: 12px;
    background: linear-gradient(
      137deg,
      #eceff1 0%,
      #eceff1 51.99%,
      #eceff1 100%
    );
  }

  &_imageWrapper {
    max-width: 387px;
    width: 100%;
    height: auto;

    & > img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  &_nameWrapper {
    position: absolute;
    left: 0;
    bottom: 20%;
    transform: translateX(17%);
    width: 218px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 20px 20px 37px 20px;
    background: #fff;
    border-radius: 12px;

    & > h4 {
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 0.02em;
      color: #272727;
      font-family: $font-family;
    }

    & > p {
      font-size: 12px;
      font-weight: 800;
      color: #272727;
      font-weight: bold;
    }
  }

  &_form {
    display: flex;
    flex-direction: column;
    padding: 30px 28px 20px 30px;
    @include responsive-sizing(padding-left, 20, 30, 992, 1440);
  }

  &_formTitle {
    font-family: $font-family;
    margin-bottom: 20px;
    font-weight: 400;
    @include responsive-sizing(font-size, 24, 42, 400, 1440);
    line-height: 125%;
    color: #272727;
  }

  &_secondformTitle {
    font-family: $font-family;
    color: $color-main;
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    margin-bottom: 20px;
    color: #272727;
  }

  &_inputWrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 50px;

    & > input {
      flex-basis: 250px;
      max-width: 240px;
      height: 36px;
      color: #333333;
      border-bottom: 2px solid #3c3c3c;
      font-size: 21px;
    }
  }

  &_checkboxWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
    margin-bottom: 50px;

    & > label {
      flex-basis: 30%;
      font-size: 24px;
    }
  }

  & button.customButton {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 36, 400, 1440);
    line-height: 120%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: left;
    color: #272727;
  }

  @media (max-width: 1200px) {
    &_nameWrapper {
      width: 200px;
      height: 100px;
      bottom: 25%;
      padding: 15px;
    }
  }

  @media (max-width: $breakpoints-lg) {
    &_form {
      align-items: center;
      padding: 0;
    }

    &_imageWrapper,
    &_nameWrapper {
      display: none;
    }

    &_checkboxWrapper {
      width: 60%;
      gap: 30px;
    }

    &_inputWrapper {
      width: 60%;

      & > input {
        flex-basis: 100%;
      }
    }
  }

  @media (max-width: $breakpoints-md) {
  }

  @media (max-width: $breakpoints-sm) {
    &_wrapper {
      padding: 46px 26px;
    }

    &_form {
      align-items: stretch;
    }

    &_checkboxWrapper {
      width: 100%;
    }

    &_inputWrapper {
      width: 100%;
    }
  }

  @media (max-width: $breakpoints-xs) {
    &_wrapper {
      padding: 30px 26px;
    }

    &_title {
      display: none;
    }

    &_secondformTitle {
      font-size: 22px;
      margin-bottom: 24px;
    }

    &_inputWrapper {
      gap: 30px;
      margin-bottom: 30px;

      & > input {
        max-width: 100%;
        height: 36px;
        font-size: 18px;
      }
    }

    &_checkboxWrapper {
      margin-bottom: 40px;
      gap: 20px;

      & > label {
        font-size: 18px;
        height: 22px;
      }
    }

    & button.customButton {
      font-size: 18px;
    }
  }

  @media (max-width: 370px) {
    &_checkboxWrapper {
      & > label {
        flex-basis: 46%;
      }
    }
  }
}
