section.aboutSection
  .aboutSection__wrapper.wrapper
    .aboutSection__client-box
      .aboutSection__client-card
        h2.aboutSection__client-title.aboutSection__title О клиенте
        p.aboutSection__client-text Магазин канцелярских товаров, давно утвердившийся на рынке. Компания <b> работает с 1992 года</b> и за это время открыла 9 офлайн магазинов, также продает товары онлайн.
      .aboutSection__client-card
        h2.aboutSection__client-title.aboutSection__title Проект до сотрудничества
        p.aboutSection__client-text <b>Сайт не приносил продаж</b>, а скорее выполнял функцию каталога. То есть, клиенты выбирали товары, но покупали их в офлайн магазинах.
    .aboutSection__platform-box
      .aboutSection__platform-content
        h2.aboutSection__platform-title.aboutSection__title Платформы 
        p.aboutSection__platform-text Поисковая и контекстно-медийная реклама в Google (поисковая сеть, Google Maps, Gmail и др.) и Ютуб.
    .aboutSection__performance-box
      .aboutSection__performance-content
        .aboutSection__performance-title.aboutSection__title Задачи
        ul.aboutSection__performance-list
          li.aboutSection__performance-item Повысить узнаваемость бренда
          li.aboutSection__performance-item Получать больше заказов с сайта
          li.aboutSection__performance-item Увеличить продажи в магазинах бренда
    
    