section.effectSection
  .effectSection__wrapper.wrapper
    .effectSection__content
      h2.effectSection__title Итоги сотрудничества
      h2.effectSection__title.mobile Итог
      p.effectSection__text Запуск контекстной рекламы, ремаркетинга, улучшение сайта и адаптация под сезонные изменения позволили увеличить эффективность продвижения магазина канцелярских товаров. 
      p.effectSection__text Особенно успешным оказался запуск умных кампаний для продвижения отдельных магазинов, что существенно увеличило офлайн продажи.
    .effectSection__pic
      img.effectSection__image(src="./assets/images/effect.png")