section.specificSection
  .specificSection__wrapper.wrapper
    .specificSection__card.first
      .specificSection__left
        h2.specificSection__title Особенности продвижения
        p.specificSection__text В нише канцелярских товаров, как и в любой другой, есть <b>сезонность</b>. Самые активные периоды — июль-август, связанный с подготовкой к школе, и октябрь -декабрь, время рождественских праздников.  <br>
          | А еще в эти периоды в ассортименте появляются <b>тематические товары</b> — учебная литература летом и новогодняя атрибутика зимой (гирлянды, елочные игрушки,  т.д.).
      .specificSection__right.first
    .specificSection__card.second
      .specificSection__left
        h2.specificSection__title Адаптация стратегий под сезон
        p.specificSection__text Летом товары с сезонным спросом пользовались популярностью, но зимой ситуация изменилась. Поэтому нам пришлось <b>активизировать продажи новогодних товаров</b>. 
          |Это важно, во-первых, потому что они являются основным источником дохода в предпраздничный период, а во-вторых, нереализованный товар нужно будет где-то хранить в течение года. Для решения этой задачи мы временно 
          |приостановили все рекламные кампании и оставили только те, которые были связаны с новым годом.
      .specificSection__right.second
    .specificSection__card.third
      .specificSection__left.third
        h2.specificSection__title Особенности поведения потребителей
        p.specificSection__text Клиенты из городов, где есть физические магазины бренда, чаще просто <b>смотрели товары, а покупали уже офлайн</b>. В регионах, где нет магазинов, выбора не было, поэтому они заказывали товары онлайн. Из-за этой
          |особенности мы могли отслеживать точное количество заказов только для этих регионов.
      .specificSection__right.third
        span.specificSection__top Наблюдения
        p.specificSection__text Клиент отметил, что после запуска рекламы продажи выросли не только на сайте, но и в офлайн-магазинах.
