section.clientsSection
      +wrapper(class="darkBg colorInvertText")
        +aboutClientItem("О клиенте:", "Официальный дистрибютор оборудования для теелкоммуникаций и серверных стоек. Под NDA")
      +wrapper(class="secondaryBg")
        +aboutClientItem("Срок сотрудничества:", "май 2021 - сегодня")
      +wrapper(class="secondaryBg")
        +aboutClientItem("Регион продвижения:", "США")