section.header
      .header_title
        h1.renovista-title Продвижение и разработка сайта для 
        h1.brightText.renovista-title дистрибьютора серверного 
        h1.brightText.renovista-title оборудования
      +wrapper(class="brightBg header_content")
        p.header_text.boldText.colorInvertText Как перенести сайт с одной платформы на другую, не уронив позиции и подняться в Топ-5 поисковой выдачи 
        .header_imgWrapper
          +img("./assets/images/computer.png", "Компьютер", ["500", "1200"])