section.stageProjectSection
      h2 Исходное состояние проекта:
      +wrapper(class="secondaryBg")
        h3 Переход от фрилансеров к единой команде специалистов
        p Ранее клиент #[span.brightText сотрудничал с фрилансерами] и небольшими студиями, но разные команды для разработки сайта и SEO-продвижения не удовлетворяли его требования. Работа в таком формате занимала #[span.brightText больше времени и усилий], так как нужно было объяснять свои задачи каждому отдельно и следить за процессом их выполнения. 
        p Поэтому заказчик обратился к нам. Команда разработчиков и SEO-специалистов работают над проектом вместе.
      .stageProjectSection_region
        +wrapper(class="darkBg colorInvertText")
          h3 Смена региона продвижения - из Канады в США
          p Клиент пришел с запросом сменить регион и продвигаться на США, до этого он работал с Канадой. Для реализации этих планов мы порекомендовали сменить доменную зону с .ca на .com. 
          p Это логический шаг, чтобы привлечь американскую аудиторию.
        div
          +img("./assets/images/com.png", ".com", ["500", "1200"])
      .stageProjectSection_loading
        div 
          +img("./assets/images/loading.png", "Изображение загрузки", ["567", "1200"])
        +wrapper(class="secondaryBg") 
          h3 Переезд на новую CMS
          p Изначально сайт был на Битрикс, но он не подходит для продвижения в англоязычных странах, так как платформа ориентирована на рынок СНГ. Например, функциональность корзины была неудобной и непонятной для иностранных пользователей. 
          p После изучения ниши, мы рекомендовали перейти на CMS WordPress, которая позволяет создать удобный сайт для англоязычной аудитории. Клиент согласился, и отдел разработки приступил к реализации, а мы стали создавать стратегию продвижения и переноса сайта на новый домен.