section.stagesSection
      h2 Этапы работ:
      +wrapper(class="darkBg colorInvertText") 
        p.stagesSection_info Пока разрабатывался новый сайт, мы разместили старую версию на новом домене, начали добавлять контент и наращивать ссылки на главную страницу.
        p.stagesSection_info В период и после создания сайта были выполнены 9 этапов 
      ul.stagesSection_stagesWrapper
        li.stagesSection_line
          +stage("01","Сбор семантического ядра, которое регулярно обновляется")(class="secondaryBg")
          +wrapper(class="brightBg verticalCenter colorWhite") 
            p В настоящее время клиент решил расширить сайт и добавить версии на французском и испанском языках. Команда уже начала собирать семантику для этого обновления.
        li.stagesSection_gridLine
          +stage("02","Подготовка структуры сайта и структуры меню")(class="secondaryBg")
          div 
            +img("./assets/images/aboutUs.png", "О нас", ["500", "1200"])
          div
            +img("./assets/images/equipment.png", "Оборудование", ["500", "1200"])
        li.stagesSection_line
          +stage("03","Подготовка контент-плана на основе собранного семантического ядра, созданы новые страницы и текст для их продвижения")(class="secondaryBg")
          +wrapper(class="secondaryBg verticalCenter") 
            p В ходе работы клиент предложил перенести тексты с канадского сайта на новый. При анализе мы обнаружили, что контент неуникальный и скопирован из других источников. Это могло вызвать проблемы в продвижении, о чем мы объяснили клиенту. После согласования приступили к созданию новых текстов.
        li 
          +wrapper(class="brightBg colorWhite")
            h4.stage_numberWrapper.stage__numberInvert С какой проблемой столкнулись при создании новых текстов?
            p Было сложно найти копирайтера, специализирующегося в сложной технической тематике, т.к. в основном в серверах разбираются сисьемные администраторы, но мало кто из них имеет писательское хобби. В итоге мы все-таки нашли технически грамотного специалиста, который глубоко понимает тематику телекоммуникационного оборудования.
        li.stagesSection_line
          +stage("04","Подготовка уникальных мета-тегов","stage__numberInvert")(class="stage__invert")
          +wrapper(class="secondaryBg verticalCenter") 
            p Команда подготовила мета-теги h1, title и description и внесла на сайт на продвигаемые страницы
            +img("./assets/images/tags.png", "Тэги", ["500", "1200"])(class="stagesSection_tags")
        li.stagesSection_line
          +stage("05","Подготовка ТЗ для отдела разработки")(class="secondaryBg")
          +wrapper(class="secondaryBg verticalCenter") 
            p В ТЗ были подробно описаны SEO-требования, которые должны быть учтены при переносе сайта
        li.stagesSection_line
          +stage("06","Анализ ссылочного профиля сайта клиента и сайтов конкурентов")(class="secondaryBg")
          +wrapper(class="secondaryBg verticalCenter") 
            p Были изучены конкуренты по этой же тематике, имеющие наиболее высокую видимость сайта в поисковых системах. На основе анализа был составлен план наращивания ссылочной массы. Сейчас мы активно занимаемся наращиванием ссылок, получая ежемесячно бесплатные ссылки с форумов, каталогов и практикуем guest posting.
        li.stagesSection_line
          +stage("07","Анализ юзабилити и коммерческих факторов ранжирования, изучение конкурентов")(class="secondaryBg")
          +wrapper(class="brightBg verticalCenter colorWhite") 
            p Учитывая, что сайт был в стадии разработки, все наши рекомендации из анализа были внедрены.
            .stagesSection_imageWrapper   
              +img("./assets/images/delivery.png", "Тэги", ["500", "1200"])  
              +img("./assets/images/404.png", "Тэги", ["500", "1200"]) 
        li.stagesSection_line
          +stage("08","Ведение блога")(class="secondaryBg")
          +wrapper(class="secondaryBg verticalCenter") 
            p Для заполнения Блога на сайте собрали информационные запросы и стали регулярно писать статьи.
        li.stagesSection_line
          +stage("09","Разработка стратегии увеличения количества продаж", "stage__numberInvert")(class="stage__invert")
          +wrapper(class="secondaryBg verticalCenter") 
            p В процессе работы в рамках продвижения клиент поставил цель - х заказов/день. Мы начали исследовать, почему некоторые пользователи не завершают оформление заказа и не покупают. Провели аудит корзины, проанализировали воронку продаж и в итоге сформулировали гипотезы. 
        li 
          +stage("Итог","После внедрения наших рекомендаций и последовательной работы, смогли увеличить количество заказов на сайте на 15%.","stage__numberInvert")(class="darkBg stagesSection_lastLine")