.resultSection {
  display: flex;
  gap: 32px;
  min-height: 315px;
  padding: 24px 32px;
  margin-bottom: 100px;
  border-radius: 26px;
  background-color: $color-light;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 364px;
  }

  &__left-text.portable-text {
    color: $color-main;
  }

  &__left-title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: $color-main;
  }

  &__pic {
    max-width: 810px;
    min-height: 267px;

    & img {
      object-fit: contain;
    }
  }
}
