section.accountSection
  .accountSection__wrapper.wrapper
    .accountSection__left
      .accountSection__left-content
        h2.accountSection__title Личный кабинет
        p.accountSection__text Все заявки в одном месте. Можно в один клик скачать кп, добавить в избранное или поделиться моделью.
      .accountSection__left-pic
        img.accountSection__image(src="./assets/images/account-2.png", alt="Карта")
    .accountSection__right
      .accountSection__sort
        .accountSection__sort-pic
          img.accountSection__image(src="./assets/images/account-1.png", alt="Карта")
        .accountSection__sort-content
          h2.accountSection__sort-title Сортировка по готовности
          p.accountSection__sort-text Сортировка позволяет легко отслеживать заказ в зависимости от его статуса: в работе, изготовлено, ранние заявки.
      .accountSection__opportunity
          h2.accountSection__opportunity-title Возможность отслеживать % готовности заказа
          p.accountSection__opportunity-text Визуализировали данные о степени готовности заказа с помощью круговой диаграммы. Такой формат интуитивно понятен, и пользователи могут быстро оценить, насколько близка работа к завершению. 
      .accountSection__diagram-pic
        img.accountSection__image(src="./assets/images/account-3.png", alt="Карта")