section.creationSection
  .creationSection__wrapper.wrapper
    .creationSection__top
      .creationSection__top-left
        span.creationSection__number 02
        .creationSection__content
          h2.creationSection__title Создание здания 
          p.creationSection__text Здесь важно было предоставить полную информацию, необходимую для моделирования будущего сооружения. Сделали весь алгоритм создания конструкции понятныйдаже человеку без опыта проектирования зданий и сооружений. Поэтому к каждой характеристике добавили краткую справочную информацию и базу знаний “Как работает система”.
      .creationSection__pic
        img.creationSection__image(src="./assets/images/house.png", alt="Дом")
    .creationSection__bottom
      .creationSection__bottom-content
        .creationSection__bottom-title Некоторые функции платные
        .creationSection__bottom-text К примеру, можно онлайн посмотреть VR-версию будущего объекта в реальном размере на предполагаемом месте возведения.
        .creationSection__bottom-text Чтобы акцентировать внимание пользователя на дополнительных возможностях, мы выделили их специальными знаками. И создали отдельные страницы с подробным описанием — как работает та или иная функция, опция, зачем ее использовать и сколько она стоит.
      .creationSection__bottom-pictures
        .creationSection__bottom-pic
          picture
            source(media="(max-width: 992px)" srcset="./assets/images/creation1-mobile.png")
            img.creationSection__image(src="./assets/images/creation-1.png", alt="Дополнения") 
        .creationSection__bottom-pic
          picture
            source(media="(max-width: 992px)" srcset="./assets/images/creation2-mobile.png")
            img.creationSection__image(src="./assets/images/creation-2.png", alt="Описание") 