-
  var cards = [
    {number: "01", text: "Сделать дизайн простым и интуитивно понятным, чтобы клиент легко ориентировался в сервисе"},
    {number: "02", text: "Придерживаться минималистического стиля"},
    {number: "03", text: "Учесть двуязычность сайта – русский и английский"},
    {number: "", text: ""},
    {number: "04", text: "Использовать в дизайне элементы, которые относительно быстро загружаются. Несмотря на то, что основной рынок - СНГ, завод планирует выходить на рынки Африки и Ближнего Востока, где в большинстве стран Интернет — слабый"},
    {number: "05", text: "Реализовать адаптивную верстку с учетом основных разрешений (8К, 5K, 4K, 2.5K и Full HD и HD), соотношений сторон (16:9,3:2 и др) и основных браузеров"},
    {number: "", text: ""},
    {number: "06", text: "Проработать наполнение и создать дизайн для нового раздела - отраслевые решения. На этой странице было решено разместить уже готовые макеты сооружени, что позволит экономить время пользователей"},
    {number: "", text: ""},
    {number: "", text: ""},
    {number: "07", text: "Использовать нейтральные корпоративные цвета (светло-серый, акцентный — темно-синий, желтый)"},
    {number: "08", text: "Обновить дизайн не только самого сервиса, но и других составляющих элементов — поп-апы, формы с входом/регистрацией, личный кабинет"},
  ]

section.goalsSection
  .goalsSection__container
    .goalsSection__top
      h2.goalsSection__title Цели проекта
    .goalsSection__cards
      each card in cards
        .goalsSection__card
          p.goalsSection__card-number=card.number
          p.goalsSection__card-text=card.text
    .goalsSection__bottom