section.headerSection
  .headerSection__container
    .headerSection__wrapper.wrapper
      h1.headerSection__title < 600 экранов, 7 месяцев работ
      h3.headerSection__subtitle Как мы создали новый дизайн для онлайн-конфигуратора промышленной компании
      .headerSection__content
        p.headerSection__text Наш клиент, международная промышленная компания PK Vesta, обратился с запросом редизайна онлайн системы WebSteel.
        .headerSection__country-box
          span.headerSection__country-left География продаж
          span.headerSection__country-right Страны СНГ
    .headerSection__pic-bg
      img.headerSection__image(src="./assets/images/macbook.png", alt="Ноутбук")
    .headerSection__pic-line
      img.headerSection__image(src="./assets/images/line.png", alt="Webernetic дизайн")
    .headerSection__bottom
      span.headerSection__bottom-text Дизайн онлайн-конфигуратора
      span.headerSection__bottom-text < 600 экранов
      span.headerSection__bottom-text 7 месяцев работ

    