section.infoSection
  .infoSection__wrapper.wrapper
    .infoSection__chronology
      .infoSection__chronology-pictures
        .infoSection__chronology-pic
          picture
            source(media="(max-width: 500px)" srcset="./assets/images/chronology1-mobile.png")
            img.infoSection__chronology-image(src="./assets/images/chronology-1.png", alt="Хронология заказа")
        .infoSection__chronology-pic
            picture
              source(media="(max-width: 500px)" srcset="./assets/images/chronology2-mobile.png")
              img.infoSection__chronology-image(src="./assets/images/chronology-2.png", alt="Хронология заказа")
      .infoSection__chronology-content
        h2.infoSection__chronology-title.title Хронология заказа
        p.infoSection__chronology-text.text При желании, можно получить подробную информацию, на каком этапе заказ сейчас — все в формате пути от точки А (производитель) до Б (клиент) с промежуточными данными и трекингом по датам.
    .infoSection__favorites
      .infoSection__favorites-content
        h2.infoSection__favorites-title.title Избранное
        p.infoSection__favorites-text.text Часть целевой аудитории — проектировщики и юр лица, у которых много объектов. Чтобы пользователи не тратили в дальнейшем время на поиск нужного сооружения или создание новой конструкции, мы добавили возможность добавлять нужные варианты в избранное.
      .infoSection__favorites-pic
        img.infoSection__favorites-image(src="./assets/images/favorites.png", alt="Избранное")
    .infoSection__compare
      .infoSection__compare-pic
        img.infoSection__compare-image(src="./assets/images/compare.png", alt="Сравнение")
      .infoSection__compare-content
        h2.infoSection__compare-title.title Сравнение
        p.infoSection__compare-text.text Добавили возможность сравнивать варианты по основным характеристикам (порт поставки, место производства, состояние зданий. Клиент может выбрать, что для него важнее — анализ всех характеристик или только различий.
    .infoSection__history
      .infoSection__history-content
        h2.infoSection__history-title.title История заказа
        p.infoSection__history-text.text Просмотреть историю заказа платных функций можно тоже в личном кабинете.
      .infoSection__history-pic
        img.infoSection__history-image(src="./assets/images/history.png", alt="История заказа")