section.mapSection
  .mapSection__wrapper.wrapper
    .mapSection__top
      .mapSection__pic
        picture
          source(media="(max-width: 400px)" srcset="./assets/images/map-mobile.png")
          img.mapSection__image(src="./assets/images/map.png", alt="Карта")
      .mapSection__right
        .mapSection__number 01
        .mapSection__content
          h2.mapSection__title Выбор гео параметров
          p.mapSection__text Основная часть экрана — карта, чтобы пользователь мог, не вчитываясь в текст, понять, что сейчас необходимо выбрать место для строительства. Поскольку не всем удобно ориентироваться по карте, мы добавили строку поиска.
    .mapSection__bottom
      .mapSection__bottom-left
        .mapSection__bottom-number 01
        p.mapSection__bottom-text Шаг помогает рассчитать стоимость доставки
      .mapSection__bottom-right
        .mapSection__bottom-number 02
        p.mapSection__bottom-text Определить нагрузки на здание по особенностям выбранной климатической зоны. Эта информация нужна проектировщику, чтобы учесть необходимые требования к конструкции для надежности и устойчивости, например, укрепления, теплоизоляция.