section.processSection
  .processSection__wrapper.wrapper
    h2.processSection__title Весь процесс создания модели и оформления заказа <span>разделили на 3 шага</span>
    .processSection__pic
        img.processSection__image(src="./assets/images/process.png", alt="Процесс")
    .processSection__text Теперь каждый шаг имеет свои конкретные задачи и цели, что позволяет избежать путаницы и ошибок. Пользователи понимают, куда двигаться, где они находятся сейчас. А основная информация для каждого шага фиксируется, и ее в любой момент можно посмотреть во всплывающем окне.