section.receiveSection
  .receiveSection__wrapper.wrapper
    .receiveSection__top
      .receiveSection__pic
        img.receiveSection__image(src="./assets/images/receive.png", alt="Получение заказа")
      .receiveSection__right
        span.receiveSection__number 03
        .receiveSection__content
          h2.receiveSection__title Получение КП <br>и оформление заказа
          p.receiveSection__text Ключевую для пользователя информацию выделили с помощью цвета. Например, на этапе оплаты это коммерческое предложение и детали заказа — состав заказа, сроки изготовления, сумма предоплаты. Кнопка Call-to-Action также выделена, чтобы направить клиента на  целевое действие — звонок для заказа. 
    .receiveSection__bottom
      .receiveSection__bottom-left
        .receiveSection__button-box
          button Позвонить
          button Задать вопрос
        .receiveSection__bottom-content
          h2.receiveSection__title Помощь на всех этапах
          p.receiveSection__text  А если понадобится помощь — можно обратиться к менеджеру, нажав на кнопку “Задать вопрос”. При оформлении заказа клиент может определить удобный вариант оплаты. Чтобы помочь сделать оптимальный для него выбор, выделили чем отличаются варианты друг от друга.  
      .receiveSection__bottom-right
        h2.receiveSection__title Уточнение заказа
        p.receiveSection__text Подробно описали, что включено в заказ и акцентировали внимание на УТП компании.
        .receiveSection__bottom-pic
          img.receiveSection__image(src="./assets/images/receive-2.png", alt="Получение заказа")