section.routeSection
  .routeSection__container
    .routeSection__left 
      .routeSection__title Построение <span>маршрута</span>
      .routeSection__text После выбора необходимой локации прокладывается маршрут от компании до места возведения конструкции.<br> Так пользователь сможет удостовериться, что выбрал верные геоданные. 
      .routeSection__left-pic
        img.routeSection__image(src="./assets/icons/arrow-right.svg", alt="Стрелка")
    .routeSection__right 
      .routeSection__title <span>Подсказки</span> для пользователей
      .routeSection__text Подсказки были и до этого в системе, но состояли из сплошного текста. Такой формат отпугивал пользователей, поэтому они пропускали их, а возникающие вопросы решали самостоятельно.<br>
        | Мы разбили всю информацию на логические блоки и добавили графику, чтобы подсказки были понятнее.
      .routeSection__right-pic
        img.routeSection__image(src="./assets/icons/arrow-left.svg", alt="Стрелка")
    .routeSection__pic
      img.routeSection__image(src="./assets/images/macbook-2.png", alt="Ноутбук")