.trafficSection {
  margin-bottom: clamp(60px, 7.86vw, 110px);

  &_title {
    margin-bottom: clamp(12px, 1.43vw, 20px);
  }

  &_wrapper {
    display: grid;
    grid-template:
      'a b'
      'a c';
    gap: clamp(15px, 2.14vw, 30px);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 58% 1fr;
  }

  &_firstBlock {
    display: flex;
    flex-direction: column;
    padding: clamp(20px, 3.57vw, 50px);
    padding-bottom: 0;
    border-radius: clamp(15px, 2.14vw, 30px);
    background-color: #e8eeff;
    grid-area: a;
  }

  &_firstBlockImageWrapper {
    flex: 1;
    border-top-left-radius: clamp(10px, 1.43vw, 20px);
    border-top-right-radius: clamp(10px, 1.43vw, 20px);
    overflow: hidden;
    height: auto;
    width: 100%;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &_blockHeader {
    margin-bottom: clamp(15px, 1.43vw, 20px);

    & > p {
      font-size: clamp(0.875rem, 1.86vw, 1.625rem);
    }
  }

  &__blockTitle1 {
    color: #ff7b00;
    font-size: clamp(1.125rem, 2.43vw, 2.125rem);
    font-weight: $font-weight-bold;
  }

  &__blockTitle2 {
    display: inline-block;
    color: #0689c0;
    font-size: clamp(1.125rem, 2.43vw, 2.125rem);
    font-weight: $font-weight-bold;
  }

  &_secondBlock {
    display: flex;
    grid-area: b;
    padding-left: clamp(20px, 3.57vw, 50px);
    padding-top: clamp(20px, 3.57vw, 50px);
    border-radius: clamp(20px, 2.14vw, 30px);
    overflow: hidden;
    background-color: $bg-dark;
  }

  &_secondBlockImageWrapper {
    border-top-left-radius: 20px;
    overflow: hidden;
    height: auto;
    width: 100%;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &_item {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: clamp(40px, 4.29vw, 50px) clamp(20px, 3.57vw, 50px)
      clamp(30px, 3.57vw, 50px) clamp(20px, 3.57vw, 50px);
    background-color: $bg-bright;
    border-radius: clamp(15px, 2.14vw, 30px);
  }

  &_itemtTtle {
    display: inline-block;
    margin-bottom: clamp(41px, 3.86vw, 54px);
    font-size: clamp(3.44rem, 6.07vw, 5.313rem);
    font-weight: $font-weight-bold;
    color: $font-color-invert;
    line-height: 120%;
  }

  &_itemFooterWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  &_itemText {
    font-size: clamp(1.125rem, 2.43vw, 2.125rem);
    font-weight: $font-weight-bold;
    color: $font-color-invert;
    line-height: 120%;
  }

  &_itemOutline {
    display: inline-block;
    padding: 4px clamp(8px, 1.07vw, 15px);
    border: 1px solid $font-color-invert;
    border-radius: 50px;
  }
}

@media (max-width: $breakpoints-md) {
  .trafficSection {
    &_wrapper {
      max-width: 80%;
      margin-inline: auto;
      flex-direction: column;
      grid-template:
        'a'
        'b'
        'c';
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
    }

    &_item {
      justify-content: space-between;
    }
  }
}

@media (max-width: $breakpoints-sm) {
  .trafficSection {
    &_wrapper {
      max-width: 100%;
    }
    &__blockTitle1 {
      display: block;
    }

    &__blockTitle2 {
      display: block;
    }
  }
}
