.about {
  position: relative;
  &__content {
    position: relative;
    color: $color-light;
    padding: 60px;
    border-radius: 10px;
    background: #dd4a2e;
    font-size: 26px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
  }

  &__img {
    position: absolute;
    top: 50%;
    right: -33%;
    width: 542px;
    height: 548px;
    transform: translate(0, -50%);
  }

  @media (max-width: $max-width) {
    &__content {
      padding: 25px;
      font-size: 18px;
    }
    &__img {
      display: none;
    }
  }
}
