.purpose {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        @include bold-text;
        font-size: 35px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }

    &__points {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & > li {
            max-width: 630px;
            height: 110px;
            display: flex;
            // justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 25px 30px;
            border-radius: 20px;
            background-color: $list-colot;

            & > div:first-child {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;

                font-family: "Hammersmith One", sans-serif;
                font-size: 32px;
                line-height: 140%;

                background-color: $light-color;
                border-radius: 50%;
            }

            & > div:last-child {
                @include regular-text;
                font-size: 27px;
                font-weight: 700;
                max-width: 480px;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 460px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & > li {
            display: flex;
            flex-direction: column;
            max-width: 364px;

            & > div:first-child {
                font-family: "Hammersmith One", sans-serif;
                font-size: 80px;
                line-height: 110%;
                color: $text-purpur;
            }

            & > div:last-child {
                @include regular-text;
            }
        }
    }

    @media (max-width: $media-sm) {
        &__wrapper {
            flex-direction: column;
        }

        &__left {
            gap: 10px;
            margin-bottom: 65px;
        }

        &__points {
            gap: 10px;
            & > li {
                height: auto;
                gap: 15px;
                padding: 20px 15px;

                & > div:first-child {
                    width: 40px;
                    height: 40px;
                    font-size: 22px;
                }
            }
        }

        &__right {
            gap: 10px;
        }

        &__list {
            gap: 15px;

            & > li {
                max-width: 100%;

                & > div:first-child {
                    font-size: 60px;
                }

                & > div:last-child {
                    text-align: start;
                }
            }
        }
    }
}
