.mapSection {
  margin-bottom: 100px;

  &__top {
    display: flex;
    gap: 13px;
    margin-bottom: 12px;
  }

  &__pic {
    max-width: 822px;
  }

  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 405px;
    border-radius: 8px;
    padding: 30px 24px 26px 24px;
    background-color: $color-light-blue;
    overflow: hidden;
  }

  &__number {
    position: absolute;
    top: 45px;
    left: -33px;
    font-family: $font-family;
    font-weight: 700;
    @include responsive-sizing(font-size, 70, 100, 400, 1440);
    color: #adc2f1;
  }

  &__title {
    margin-bottom: 8px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: $color-main;
  }

  &__text {
    font-size: 18px;
    line-height: 135%;
  }

  &__bottom {
    display: flex;
    gap: 12px;
  }

  &__bottom-left,
  &__bottom-right {
    display: flex;
    gap: 36px;
    border-radius: 8px;
    padding: 18px 20px;
    background-color: $color-light-gray;
  }

  &__bottom-left {
    max-width: 406px;
  }

  &__bottom-right {
    max-width: 822px;
  }

  &__bottom-number {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    padding: 14px 12px;
    background-color: $color-main;
    color: white;
    font-family: $font-family;
    font-weight: 600;
    font-size: 24px;
    line-height: 80%;
    text-align: center;
  }

  @media (max-width: 1070px) {
    &__right {
      padding-top: 120px;
    }
  }

  @media (max-width: $breakpoints-md) {
    &__top {
      flex-direction: column-reverse;
    }

    &__right {
      max-width: 100%;
    }

    &__bottom {
      flex-direction: column;
    }

    &__bottom-left,
    &__bottom-right {
      max-width: 100%;
    }
  }

  @media (max-width: $breakpoints-xs) {
    margin-bottom: 64px;

    &__right {
      padding: 118px 18px 24px 18px;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 17px;
    }

    &__number {
      top: 30px;
      left: -21px;
    }

    &__bottom {
      gap: 6px;
    }

    &__bottom-number {
      border-radius: 6px;
      padding: 10px 12px;
      width: 46px;
      height: 46px;
      font-weight: 600;
      font-size: 20px;
      line-height: 80%;
      text-align: center;
    }

    &__bottom-right,
    &__bottom-left {
      gap: 16px;
      padding: 18px;
    }
  }
}
