+sectionLayout("mobile", "Адаптивный дизайн")

    p.mobile__text.
        #[span 40% клиентов] просматривают сайт #[span на мобильных телефонах]. 
        Важно было, чтобы сайт корректно отображался на любом устройстве.

    .mobile__images
        picture.mobile__image
            img(src="../../assets/images/mob1.png", alt="Мобильный макет")
        picture.mobile__image
            img(src="../../assets/images/mob2.png", alt="Мобильный макет")
        picture.mobile__image
            img(src="../../assets/images/mob3.png", alt="Мобильный макет")
        picture.mobile__image
            img(src="../../assets/images/mob4.png", alt="Мобильный макет")
        picture.mobile__image
            img(src="../../assets/images/mob5.png", alt="Мобильный макет")