section.reels 

    .container 

        article.reels__wrapper 

            .reels__content

                h2.reels__title Reels

                p.reels__text.
                    Для Reels мы снимали процесс производства, 
                    сами продукты и с помощью графики создавали 
                    эффекты движения упаковки в кадре. 
                    В итоге увеличили количество просмотров в <span>3,6 раза.</span>

            .reels__images 
                picture
                    img(src=require('../../assets/img/reels3.png'), alt="pic")
                picture
                    img(src=require('../../assets/img/reels4.png'), alt="pic")

