.welcome {
    position: relative;
    padding: 76px 50px 70px 50px;
    background-color: $bg-blue;
    border-radius: 50px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 80px);
    }

    &__title {
        grid-row: 1/3;
        font-family: "Circe", sans-serif;
        font-size: 60px;
        line-height: 66px;
        color: $text-light;
    }

    &__list {
        grid-row: 4/6;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        & > span:first-child {
            @include text-24;
        }

        & > span:last-child {
            @include text-32;
        }
    }

    &__image {
        position: absolute;
        top: -50px;
        right: 0;
        display: block;
        width: 1054px;
        height: 641px;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}