- var items = [{title: "Компания", subtitle: "Pa-rus"}, {title: "Ниша", subtitle: "Складской консалтинг"}, {title: "Тип сайта", subtitle: "Визитка"}]

section.welcome 
    .welcome__wrapper 

        h1.welcome__title   
            | Редизайн корпоративного сайта

        ul.welcome__list 

            each val in items
                li.welcome__item 
                    span= val.title
                    span= val.subtitle

        picture.welcome__image 
            img(src="../../assets/images/laptop.png", alt="laptop")

    include ../targetSection/targetSection.pug
