section.welcome 

    .container 

        .welcome__wrapper 

            h1.welcome__title   
                | Редизайн корпоративного сайта

            ul.welcome__list 

                li.welcome__item 
                    span 
                        | Компания

                    span 
                        | Pa-rus
                li.welcome__item 
                    span 
                        | Ниша

                    span 
                        | Складской консалтинг
                li.welcome__item 
                    span 
                        | Тип сайта

                    span 
                        | Визитка  


