- var items = [{title: "Компания", subtitle: "Pa-rus"}, {title: "Ниша", subtitle: "Складской консалтинг"}, {title: "Тип сайта", subtitle: "Визитка"}]

section.welcome 
    .welcome__wrapper 

        h1.welcome__title.
            Редизайн корпоративного сайта

        each val in items
            div.welcome__item
                span= val.title
                span= val.subtitle

    include ../targetSection/targetSection.pug
