- var items = [{count: 309, user: "человек", bottom: "охват профиля"}, {count: 3, user: "подписчика", bottom: "вовлеченность аккаунта"}, {count: 110, user: "посещений", bottom: "страницы Instagram"}]

section.before 

    .before__header
        .container
            article.before__content
                h2 А что было до?

                p.
                    У клиента не было стратегии ведения Инстаграм, 
                    он не знал, как привлекать новую аудиторию и взаимодействовать 
                    с существующей. Публикация контента была нерегулярной.
                p.
                    Хотя у аккаунта Zlucky были полезные посты, его дизайн нуждался в обновлении.
                    В нем использовались разные шрифты, некоторые тяжело читались.
                    Проблемы с упаковкой профиля могут испортить впечатление о бренде, даже если сам контент интересный.

    .container 

        .before__wrapper 

            .before__body 

                h3 Исходная точка

                .before__boxs
                    each item in items
                        .before__box.box
                            div.box__top 
                                span= item.count
                                span= item.user

                            div.box__bot= item.bottom

