.tabSection {
  @include responsive-sizing(margin-bottom, 70, 110, 400, 1160);

  &__tabs {
    display: flex;
    row-gap: 12px;
    column-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 26px;
  }

  &__tab {
    border-radius: 12px;
    padding: 12px 30px 14px 30px;
    width: fit-content;
    min-height: 56px;
    background: #f6f6f6;
    font-family: $font-family;
    font-weight: 500;
    font-size: 22px;
    line-height: 136%;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.3s;

    &.active {
      background: $color-accent;
      color: #fff;
    }

    &:hover {
      background: $color-accent;
      color: #fff;
    }
  }

  &__tab.active {
    background-color: $color-accent;
    color: #fff;
  }

  &__dropdown {
    display: none;
    position: relative;
  }

  &__dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 59px;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
    padding: 16px 20px 18px 20px;
    background: $color-accent;
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 18, 22, 400, 1160);
    color: #fff;
  }

  &__dropdown-item {
    width: 100%;
    min-height: 59px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 20px 18px 20px;
    background: $color-bluish;
    font-family: $font-family;
    font-weight: 500;
    @include responsive-sizing(font-size, 18, 22, 400, 1160);
    color: rgba(0, 0, 0, 0.7);
  }

  &__dropdown-list {
    display: none;
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    z-index: 5;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__dropdown-list.show {
    display: block;
  }

  &__dropdown-icon {
    transition: 0.2s;
  }

  &__dropdown-icon.show {
    transform: rotate(180deg);
    transition: 0.2s;
  }

  &__container {
    min-height: 624px;
    position: relative;
  }

  &__card {
    display: flex;
    align-items: center;
    min-height: 624px;
    @include responsive-sizing(min-height, 500, 624, 992, 1100);
    padding-left: 36px;
    @include responsive-sizing(padding-left, 15, 36, 992, 1100);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    border-radius: 16px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
  }

  &__card.active {
    opacity: 1;
    visibility: visible;
    position: relative;
  }

  &__card-content {
    max-width: 516px;
  }

  &__card:nth-child(1) {
    background-image: url('../assets/images/tab1.png');
  }
  &__card:nth-child(2) {
    background-image: url('../assets/images/tab2.png');
  }
  &__card:nth-child(3) {
    background-image: url('../assets/images/tab3.png');
  }
  &__card:nth-child(4) {
    align-items: flex-start;
    padding-top: 80px;
    background-image: url('../assets/images/tab4.png');
  }
  &__card:nth-child(5) {
    background-image: url('../assets/images/tab5.png');
  }
  &__card:nth-child(6) {
    background-image: url('../assets/images/tab6.png');
  }
  &__card:nth-child(7) {
    background-image: url('../assets/images/tab7.png');
  }
  &__card:nth-child(8) {
    background-image: url('../assets/images/tab8.png');
  }
  &__card:nth-child(9) {
    background-image: url('../assets/images/tab9.png');
  }

  &__title {
    margin-bottom: 16px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 30px;
    @include responsive-sizing(font-size, 22, 30, 400, 1160);
    line-height: 130%;
    color: $color-main;

    & span {
      color: $color-accent;
    }
  }

  &__text {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 22, 400, 1160);
    line-height: 136%;
    color: $color-extra;
  }

  &__list {
    padding-left: 15px;
  }

  &__list-item {
    position: relative;
    padding-left: 20px;
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 22, 400, 1160);
    line-height: 136%;
    color: $color-extra;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 14px;
      width: 5px;
      height: 5px;
      background-color: $color-extra;
      border-radius: 100%;
    }
  }

  @media (max-width: 1100px) {
    &__card-content {
      @include responsive-sizing(max-width, 400, 516, 850, 1100);
    }
    &__tabs {
      row-gap: 8px;
    }

    &__tab {
      min-height: 50px;
      border-radius: 12px;
      padding: 10px 15px 10px 15px;
      font-size: 19px;
    }
  }

  @media (max-width: 880px) {
    &__tabs {
      display: none;
    }

    &__dropdown {
      display: block;
    }

    &__container {
      min-height: auto;
    }

    &__card {
      transition: none;
    }
  }

  @media (max-width: 800px) {
    &__card:nth-child(-n + 9) {
      min-height: 400px;
      align-items: flex-start;
      padding-block: 22px;
      background: $color-bluish;
      background-image: none;
    }

    &__card-content {
      max-width: 100%;
    }
  }

  @media (max-width: 550px) {
    &__card:nth-child(-n + 9) {
      min-height: 813px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__card:nth-child(1) {
      background-image: url('../assets/images/tab1-mobile.png');
      background-position: bottom;

      & .tabSection__title {
        max-width: 220px;
      }
    }
    &__card:nth-child(2) {
      background-image: url('../assets/images/tab2-mobile.png');
      background-position: bottom;
    }
    &__card:nth-child(3) {
      background-image: url('../assets/images/tab3-mobile.png');
      background-position: bottom;
    }
    &__card:nth-child(4) {
      align-items: flex-start;
      background-image: url('../assets/images/tab4-mobile.png');
    }
    &__card:nth-child(5) {
      background-image: url('../assets/images/tab5-mobile.png');
    }
    &__card:nth-child(6) {
      background-image: url('../assets/images/tab6-mobile.png');
      background-position: bottom;
    }
    &__card:nth-child(7) {
      background-image: url('../assets/images/tab7-mobile.png');
      background-position: bottom;
    }
    &__card:nth-child(8) {
      background-image: url('../assets/images/tab8-mobile.png');
    }
    &__card:nth-child(9) {
      background-image: url('../assets/images/tab9-mobile.png');
      background-position: bottom;
    }

    &__card {
      align-items: flex-start;
      padding-top: 20px;
      padding-right: 20px;
      border-radius: 10px;
    }

    &__card:nth-child(4) {
      padding-top: 20px;
    }

    &__card-content {
      max-width: 100%;
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__title {
      margin-bottom: 12px;
    }
  }
}
