+sections("storytelling")

    .storytelling__top

        div
            h2.
                Сторителлинг
            p.
                До сторудничества в профиле stories велись без какого-либо смысла: 
                просто выкладывались фото/видео материалы. 
                Мы внедрили рубрики для сторителлинга «Ошибки на фото» и «Референсы», 
                чтобы подтвердить экспертность модели. 
                Информационный контент разбавили сторителлингом о истории жизни Софии.

        picture
            img(src=require("./assets/img/storytelling.png"), alt="storytelling")

    .storytelling__bottom

        h2.
            Дополнительно:

        ul
            li.
                Монтировали видео для Reels
            li.
                Подбирали #хэштеги по тематике

        p.
            Если ранее Reels набирали максимум 11К просмотров, то теперь это минимум на видео, которые были созданы командой.

        .storytelling__images

            picture 
                img(src=require("./assets/img/storytelling1.png"), alt="storytelling")
            picture 
                img(src=require("./assets/img/storytelling2.png"), alt="storytelling")