.increaseKeysSection {
  margin-bottom: clamp($spacing-10, 9.5vw, $spacing-1);
  &_wrapper {
    position: relative;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp($spacing-11, 3.67vw, $spacing-7);
  }

  &_imageWrapper {
    padding-top: 20px;
    width: fit-content;
    position: relative;
  }

  &_text {
    max-width: 50%;
    margin-bottom: clamp($spacing-11, 3.75vw, $spacing-7);
    opacity: 0;
    transition: all 3s ease-in-out;
  }

  &_statisticsWrapper {
    border: 2px solid $bg-secondary;
    margin-bottom: clamp(36px, 5.83vw, 70px);
  }

  &_statisticsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_arrow {
    height: auto;
    width: clamp(12px, 2.83vw, 34px);
  }

  &_statistics {
    font-weight: $font-weight-bold;
    font-size: clamp(1.125rem, 3.75vw, 2.813rem);
  }

  &_statisticsDescription {
    font-size: clamp(0.75rem, 2.08vw, 1.563rem);
    text-align: center;
  }

  &_graphWrapper {
    position: relative;
    overflow-x: auto;
    width: 100%;
    height: auto;

    &:not(:first-of-type) h4 {
      margin-top: $spacing-7;
      margin-bottom: $spacing-13;
    }

    img {
      min-width: 656px;
      width: 100%;
      height: 100%;
    }
  }

  &__descriptionItem {
    top: 0;
    left: 52%;
    background-color: $bg-bright;
    opacity: 0;
    transition: all 3s ease-in-out;
  }

  &_imageWrapper {
    padding-top: 20px;
    width: fit-content;
    position: relative;
  }

  &_originalsGrahpics {
    display: none;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
  }

  &_originalsGrahpics.active {
    display: block;
  }

  &_originalsGrahpics.activeMobile {
    display: block;
    position: relative;
    margin-top: 24px;
  }
}

@media (max-width: $breakpoints-sm) {
  .increaseKeysSection {
    &_btn {
      display: none;
    }

    &_text {
      max-width: 100%;
    }

    &__descriptionItem {
      top: 0;
      left: 65%;
    }

    &_graphWrapper {
      h4 {
        font-weight: $font-weight-extra-bold;
      }
    }
  }
}
