section.headerSection
  .headerSection__wrapper.wrapper
    .headerSection__content
      h1.headerSection__title Продвижение логистической компании в Google и Яндекс
      .headerSection__about
        button.headerSection__button О проекте:
        p.headerSection__text Компания работает в сфере внешнеэкономической деятельности (ВЭД), логистики, транспорта и торговли. 
    .headerSection__pictures
      .headerSection__pic
        img.headerSection__image(src="./assets/images/railway.png", alt="Железная дорога")
      .headerSection__pic
        img.headerSection__image(src="./assets/images/frame1.png", alt="Рамка")
      .headerSection__pic
        img.headerSection__image(src="./assets/images/train.png", alt="Поезд")
      .headerSection__pic
        img.headerSection__image(src="./assets/images/frame2.png", alt="Рамка")
      .headerSection__pic-hidden
        img.headerSection__image(src="./assets/images/train-mobile.png", alt="Поезд")
      .headerSection__pic-hidden
        img.headerSection__image(src="./assets/images/frame2-mobile.png", alt="Рамка")       
        