section.headerSection
  .headerSection__wrapper.wrapper
    .headerSection__content
      h1.headerSection__title Продвижение логистической компании в Google и Яндекс
      .headerSection__about
        button.headerSection__button О проекте:
        p.headerSection__text Компания работает в сфере внешнеэкономической деятельности (ВЭД), логистики, транспорта и торговли. 
    .headerSection__pictures
      .headerSection__pic
        +img("./assets/images/railway.png", "Железная дорога", ["500", "1200"])
      .headerSection__pic
        +img("./assets/images/frame1.png", "Рамка", ["500", "1200"])
      .headerSection__pic
        +img("./assets/images/train.png", "Поезд", ["500", "1200"])
      .headerSection__pic
        +img("./assets/images/frame2.png", "Рамка", ["500", "1200"])
        