  
section.specializationSection 
  .specializationSection__wrapper.wrapper
    .specializationSection__left
      h3.specializationSection__left-title Основная специализация
      p.specializationSection__left-text Организация железнодорожных перевозок из Китая и логистические услуги через Республику Беларусь.
    .specializationSection__right
      h3.specializationSection__right-title Проблема:
      p.specializationSection__right-text Ранее клиент продвигал сайт через <b>контекстную рекламу</b> в другом агентстве, но столкнулся с проблемой — <b>большое количество нецелевых заявок</b>. Стоимость за качественный лид была высокой.