section.strategySection 
  .strategySection__wrapper.wrapper
    h2.strategySection__title Стратегия и работы над проектом
    .strategySection__base
      h3.strategySection__base-title.strategy-title Базовая настройка
      p.strategySection__base-text Начали со сбора ключевых запросов, по которым будет отображаться реклама. Использовали <b>узконаправленные ключи</b> (низкочастотные), точно связанные с услугами компании, для привлечения целевой аудитории.
      p.strategySection__base-text.second-text Поскольку низкочастотных запросов мало, то мы создали <b>отдельные группы с более общими ключами</b>. Но прописали конкретные услуги, которые предоставляет компания в рамках поискового запроса, чтобы <b>сузить аудиторию</b>, которая переходит на сайт, до целевой.
      button.strategySection__step-btn 1 шаг
    .strategySection__particular
      .strategySection__particular-left
      .strategySection__particular-right
        h3.strategySection__particular-title Особенности настройки РК в Яндексе
        p.strategySection__particular-text Создали <b>отдельные кампании для каждого крупного города РФ</b>, где проживает более 100 тысяч человек. Это позволило более точно отслеживать результаты, быстро и точно избавляться от неэффективных кампании.
    .strategySection__analysis
      h3.strategySection__analysis-title.strategy-title Анализ и корректировка кампаний
      p.strategySection__analysis-text Отслеживали конверсии и <b>отключали</b> группы запросов, которые приносили <b>много нецелевых заявок</b>. Это было сделано для того, чтобы уменьшить расходы на нерелевантные обращения в компанию и сосредоточиться на ключах, по которым приходят качественные заявки.
      p.strategySection__analysis-text.second-text Вынесли <b>конверсионные запросы в отдельную группу</b> и повысили на них бюджет.
      button.strategySection__step-btn 2 шаг
    .strategySection__marketing
      h3.strategySection__marketing-title.strategy-title Ремаркетинг и таргетинг
      p.strategySection__marketing-text <b>Добавили</b> в рекламную кампанию <b>базу клиентов</b>, чтобы напомнить о компании пользователям, которые оставляли заявки на сайте.
      p.strategySection__marketing-text.second-text Также алгоритмы, имея информацию о клиентах компании, искали похожую аудиторию и показывали рекламу ей.
      button.strategySection__step-btn 3 шаг
    .strategySection__graph
      .strategySection__graph-left
        h3.strategySection__graph-title График показа рекламы
        p.strategySection__graph-text.strategy-text Заметили, что в нерабочее время в основном приходит только нецелой трафик, поэтому установили показ рекламы в ограниченный период — <b>с 9 до 18 в будни</b>.
        button.strategySection__step-btn 4 шаг
      .strategySection__graph-right
        h3.strategySection__graph-title Прозрачность и сотрудничество с клиентом
        p.strategySection__graph-text.strategy-text Регулярно <b>обсуждали</b> стратегии, решения и результаты с клиентом, поддерживая полную прозрачность и вовлеченность в процесс.
        button.strategySection__step-btn 5 шаг
