section.tableSection
  .tableSection__wrapper.wrapper
    .tableSection__picture
      img.tableSection__image(src="./assets/images/table.png")
    .tableSection__info
      .tableSection__info-pic
        img.tableSection__image(src="./assets/icons/notepad.svg")
      p.tableSection__info-text Точная стоимость лида в конечном итоге ниже, поскольку в рамках этого проекта колл-трекинг и аналитика не были подключены, поэтому данные в статистику попали не все.