.infoSection {
  margin-bottom: 100px;

  &__wrapper {
    border-radius: 20px;
    padding: 26px 26px 0;
    width: 1152px;
    min-height: 506px;
    background-color: #fff;
  }

  &__btn {
    margin-bottom: 26px;
  }

  &__text {
    max-width: 715px;
    margin-bottom: 24px;

    & span {
      font-weight: 700;
    }
  }

  &__pic {
    height: 230px;
  }
}
