.info {
    position: relative;
    padding: 29px 0 56px 0;
    &__wrapper {
        padding: 60px;
        border-radius: 10px;
        background-color: $color-red;
    }
    &__text {
        width: 476px;
        line-height: 130%;
        color: $color-light;
    }
    &__img {
        position: absolute;
        top: 10%;
        right: 10%;
        transform: rotate(-15deg);
        & img {
            width: 591px;
            height: 450px;
            object-fit: cover;
        }
    }
    @media (max-width: $max-width) {
        &__wrapper {
            padding: 25px;
        }
        &__text {
            width: 100%;
            margin-bottom: 118px;
        }
        &__img {
            top: 72%;
            right: 1%;
            & img {
                width: 310px;
                height: 235px;
                object-fit: cover;
            }
        }
    }
}
