.resultSection {
  @include responsive-sizing(margin-bottom, 70, 120, 400, 1440);

  &__title {
    max-width: 380px;
    margin-bottom: 24px;

    & span {
      color: $color-accent;
    }
  }

  &__box {
    display: flex;
    gap: 20px;
  }

  &__chart-container {
    position: relative;
    max-width: 880px;
    width: 100%;
    height: 331px;
    border-radius: 6px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__chart-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  &__chart {
    width: 880px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0 100% 0 0);
    background: url('../assets/images/chart.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    // animation: reveal 2s forwards;
    overflow-x: auto;
    overflow-y: hidden;
  }

  @keyframes reveal {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 280px;
    width: 100%;
  }

  &__text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $color-extra;

    & span {
      color: $color-accent;
    }
  }

  &__original-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 242px;
    width: 100%;
    min-height: 36px;
    margin-top: 16px;
    padding: 6px 18px;
    border-radius: 8px;
    border: 1px solid $color-accent;
    color: $color-accent;
  }

  &__original-btn.mobile {
    display: none;
  }

  &__btn-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-accent;
  }

  &__btn-image {
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1179px) {
    &__chart-bg {
      width: auto;
    }
  }

  @media (max-width: $breakpoints-lg) {
    &__box {
      flex-direction: column-reverse;
    }

    &__content {
      max-width: 100%;
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__picture {
      height: 256px;
    }

    &__original-btn {
      display: none;
    }

    &__original-btn.mobile {
      display: flex;
      justify-content: center;
      gap: 6px;
      max-width: 100%;
      gap: 6px;
    }

    &__title {
      margin-bottom: 16px;
    }
  }
}
