@import "./variables";
@import "./fonts";
@import "./header/header";
@import "./about/about";
@import "./task/task";
@import "./prototype/prototype";
@import "./info/info";
@import "./advantages/advantages";
@import "./rate/rate";
@import "./design/design";
@import "./outline/outline";
@import "./result/result";
@import "./footer/footer";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}
.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  @media (max-width: $max-width) {
    max-width: 360px;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $max-width) {
    max-width: 360px;
    padding: 0 20px;
  }
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 90px;
  @media (max-width: $max-width) {
    gap: 40px;
  }
}

.stack {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  margin-bottom: 90px;
  @media (max-width: $max-width) {
    flex-wrap: wrap;
    left: 0;
    right: 0;
    margin-bottom: 40px;
    &__list {
      li {
        flex: auto;
      }
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
}

.prof-list {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  color: $color-light;
  & li {
    border-radius: 50px;
    padding: 18px 40px;
    background-color: $color-dark;
    white-space: nowrap;
  }
  & li:nth-child(even) {
    background-color: $color-red;
  }

  @media (max-width: $max-width) {
    flex-wrap: wrap;
    gap: 5px;
    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 24px;
      font-size: 16px;
    }
  }
}

.text-size24 {
  font-family: Ubuntu;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  @media (max-width: $max-width) {
    font-size: 18px;
  }
}

.text-size26 {
  font-family: Ubuntu;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  @media (max-width: $max-width) {
    font-size: 18px;
  }
}

.title-style {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
