@import "./variables";
@import "./fonts";
@import "./header/header";
@import "./about/about";
@import "./task/task";
@import "./prototype/prototype";
@import "./info/info";
@import "./advantages/advantages";
@import "./rate/rate";
@import "./design/design";
@import "./outline/outline";
@import "./result/result";
@import "./footer/footer";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

.prof-list {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  color: $color-light;
  & li {
    border-radius: 50px;
    padding: 18px 40px;
    background-color: $color-dark;
    white-space: nowrap;
  }
  & li:nth-child(even) {
    background-color: $color-red;
  }
}
