.casesSection {
  &_title {
    margin-bottom: clamp(20px, 2.04vw, 40px);
  }

  &_itemsWrapper {
    display: flex;
    padding: 0;
    margin: 0;
    gap: clamp(10px, 0.8vw, 16px);
    margin-bottom: clamp(14px, 1.43vw, 28px);
  }

  &_item {
    margin: 0;
    padding: clamp(10px, 1.02vw, 20px) clamp(16px, 1.63vw, 32px);
    font-size: clamp(14px, 1.22vw, 24px);
    font-weight: $font-weight-medium;
    border-radius: 32px;
    background-color: $bg-secondary;
    line-height: 137%;

    &:hover {
      background-color: #d3d3d3;
    }

    &:active {
      background-color: #cfff94;
    }
  }

  &_casesWrapper {
    display: flex;
    justify-content: space-between;
    gap: clamp(20px, 2.04vw, 40px);
    flex-wrap: wrap;
  }

  &__minWidthPrimary {
    min-width: calc((100% - clamp(20px, 2.04vw, 40px)) / 2);
  }

  &__minWidthSecondary {
    width: calc((100% - 2 * clamp(10px, 1.02vw, 20px)) / 3);
  }
}

@media (max-width: $breakpoints-sm) {
  .casesSection {
  }
}
