.summarySection {
  padding: clamp(20px, 3.57vw, 50px);
  padding-top: clamp(25px, 5vw, 70px);
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #0000000d;
  margin-bottom: clamp(60px, 7.86vw, 110px);
  overflow: hidden;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin-bottom: clamp(16px, 2.08vw, 25px);
  }

  &__text {
    font-size: clamp(1.25rem, 2.33vw, 1.75rem);
    color: #2d2d2d;
    line-height: 1.3;
  }

  &__imageWrapper {
    max-width: 44%;
    width: 100%;
    height: 100%;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__listItem {
    position: relative;
    padding-left: clamp(25px, 3.33vw, 40px);

    &::before {
      content: '';
      position: absolute;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      top: clamp(9px, 1.33vw, 16px);
      left: clamp(10px, 1.42vw, 17px);
      background-color: #2d2d2d;
    }
  }
}

@media (max-width: $breakpoints-md) {
  .summarySection {
    &__wrapper {
      flex-direction: column;
    }

    &__imageWrapper {
      margin-inline: auto;
      max-width: 60%;
    }

    &__title {
      margin-left: 12px;
    }
  }
}

@media (max-width: $breakpoints-sm) {
  .summarySection {
    &__imageWrapper {
      max-width: 100%;
    }

    &__footer {
      justify-content: flex-start;
      font-weight: 700;
    }
  }
}
