.descriptionSection {
  margin-bottom: 110px;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  &__card {
    display: flex;
    height: 223px;
  }

  &__card-left {
    max-width: 580px;
    width: 100%;
  }

  &__card-text {
    font-family: $font-family;
    font-weight: 400;
    font-size: 22px;
    line-height: 136%;
    color: $color-extra;
  }

  &__card:nth-child(1) {
    & .descriptionSection__card-left {
      padding: 51.5px 60px 51.5px 0;
    }
  }

  &__card:nth-child(2) {
    flex-direction: row-reverse;

    & .descriptionSection__card-left {
      padding: 6.5px 0px 6.5px 60px;
    }
  }

  &__card:nth-child(3) {
    & .descriptionSection__card-left {
      padding: 21.5px 60px 21.5px 0px;
    }
  }

  &__card-right {
    max-width: 580px;
    width: 100%;
    min-height: 223px;
    border-radius: 16px;

    & img {
      border-radius: 16px;
      object-fit: cover;
    }
  }

  &__list {
    padding-left: 15px;
  }

  &__list-item {
    position: relative;
    padding-left: 20px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 22px;
    line-height: 136.6%;
    color: $color-extra;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 14px;
      width: 5px;
      height: 5px;
      background-color: $color-extra;
      border-radius: 100%;
    }
  }
}
