section.aboutSection
  h2.aboutSection__title.ppc-title Про что проект?
  .aboutSection__container
    .aboutSection__left
      .aboutSection__content
        p.aboutSection__text Мы уже рассказывали об этом проекте в контексте сео продвижения. 
        p.aboutSection__text Напомним, что это за компания и поделимся, какую задачу решали уже с помощью контекстной рекламы.       
      button.aboutSection__btn  Смотреть кейс SEO
    .aboutSection__right
      p.aboutSection__text Medical Personal Service (MPS) помогает врачам из СНГ устроиться на работу в Польше. Сопровождает своих клиентов от этапа подготовки документов для визы до первого рабочего дня на новом рабочем месте. У компании есть особенность в подходе — она заботится о переезде всей семьи, помогает найти жилье, школы и детские сады.
      .aboutSection__pic
        img.aboutSection__image(src="./assets/images/logo.png", alt="логотип")