section.baseSection
  h2.baseSection__title.ppc-title Базовая настройка
  .baseSection__container
    .baseSection__top
      .baseSection__top-left  Начали со сбора запросов, по которым будет показываться реклама. Из-за узкой ниши семантика оказалась небольшой — до 100 ключей, в основном со средней и низкой частотностью.
      .baseSection__top-right После запустили <b>Google Perfomance Max</b>, который сочетает в себе и медийную, и поисковую рекламы. 
    .baseSection__bottom
      .baseSection__bottom-pic
        img.baseSection__bottom-image(src="./assets/images/base.png", alt="программа")
      .baseSection__bottom-content
        h3.baseSection__bottom-title Как это работает
        p.baseSection__bottom-text Aудитории и целевые показатели, а программа комбинирует разные форматы объявлений, автоматически подбирает контент под каждый сегмент пользователей и размещает его на всех своих ресурсах: Google Поиск, YouTube, Gmail, Discover и КМС. Благодаря автоматизации процесса, система сама решает, где, когда и какие объявления показывать в зависимости от поведения целевой аудитории. Это экономит время и ресурсы и помогает привлечь заинтересованных в  услугах компании пользователей. 
