section.frameSection
  h2.frameSection__title.ppc-title В рамках цензуры 
  p.frameSection__subtitle Или как мы восстановили показ рекламы?
  .frameSection__container
    .frameSection__left В начале работы основной проблемой стала <span>частичная блокировка объявлений</span>. Автоматические алгоритмы модерации рекламы ошибочно считали, что компания оказывает медицинские услуги. Мы подавали апелляции и общались с техподдержкой, подробно рассказывали о проекте, отвечали на все вопросы, и тогда модераторы разблокировали рекламу вручную.
    .frameSection__right
      img.frameSection__image(src="./assets/images/frame.png", alt="цензура")    