section.googleSection
  h2.googleSection__title.ppc-title Google   <span>(за последний месяц) </span>
  .googleSection__container
    .googleSection__left
      span.googleSection__number 48,37$
      span.googleSection__text Цена конверсий <br> Perfomance Max
    .googleSection__cards
      .googleSection__cards-top
        .googleSection__card
          span.googleSection__number 0,057$
          span.googleSection__text Средняя цена за клик
        .googleSection__card
          span.googleSection__number 48
          span.googleSection__text Конверсий
      .googleSection__cards-bottom
        .googleSection__card
          span.googleSection__number 16,92
          span.googleSection__text Цена конверсий Video 
        .googleSection__card
          span.googleSection__number 33,56$
          span.googleSection__text Средняя цена конверсий
        

