section.graphSection
  .graphSection__top
    h2.graphSection__title График с результатами
    .graphSection__top-right.show-button
      img.graphSection__top-icon(src="./assets/icons/arrow-down.svg")
      .graphSection__subtitle Оригинальный график
  .graphSection__pic
    img.graphSection__image(src="./assets/images/graph.png", alt="таблица")