section.headerSection
  .headerSection__left
    h1.headerSection__title Как мы оптимизировали рекламный бюджет на 7390$/месяц и при этом увеличили конверсии
    .headerSection__content
      h5.headerSection__subtitle Задачи: 
      p.headerSection__text Быстро привлечь новых клиентов
  .headerSection__cards
    .headerSection__card
      p.headerSection__card-title Регион продвижения:
      p.headerSection__card-text СНГ
    .headerSection__card
      p.headerSection__card-title Поисковая система:
      p.headerSection__card-text Google    


  
        