section.optimizationSection
  .optimizationSection__top
    .optimizationSection__content
      h3.optimizationSection__title Оптимизация результатов
      p.optimizationSection__text После запуска мы не оставили кампанию без внимания. Постоянный мониторинг и аналитика помогли перераспределить бюджет и направить его на группы с высокой конверсией, при этом отключить неэффективные запросы. Так, каждое действие подчинялось общей стратегической цели — максимальная отдача от каждого вложенного доллара.
  .optimizationSection__bottom
    .optimizationSection__pic
      img.optimizationSection__image(src="./assets/images/foto.png", alt="девушка")
      .optimizationSection__name-box
        span.optimizationSection__name Елена
        span.optimizationSection__job Аккаунт-менеджер
    .optimizationSection__bottom-content
      h3.optimizationSection__title Открытость
      p.optimizationSection__text Открытое общение — залог успешного сотрудничества. Наша команда всегда была на связи с клиентом и обсуждала результаты рекламной кампании. Также регулярно предоставляла отчёты о проделанной работе, отвечала на возникающие вопросы. 
        |Прозрачность в отношениях с клиентом — главный приоритет нашей команды.
        |в основном со средней и низкой частотностью.