section.resultSection
  h2.resultSection__title.ppc-title Результаты  <span>(за период 21 мая - 21 июня, 2024) </span>
  .resultSection__cards
    .resultSection__card
        .resultSection__card-number 1,699,477
        p.resultSection__card-text показов рекламы в месяц
    .resultSection__card
        .resultSection__card-number 22,588 
        p.resultSection__card-text именно столько новых пользователь перешли на сайт благодаря нашей рекламе
    .resultSection__card
      img.resultSection__card-image(src="./assets/images/result.png", alt="результат")