section.storySection
  .storySection__top
    .storySection__top-content
      h3.storySection__top-title  Что делать, если результаты перестали расти?
      p.storySection__top-text Когда кампании достигли своего максимума, мы обратили внимание на растущий YouTube-канал клиента с подкастами. В видео поднимались разные темы: как стать медбратом, как поменять больницу или почему не стоит выбирать для работы крупные города. 
    .storySection__top-pic
      img.storySection__top-image(src="./assets/images/story.png", alt="подкаст")
  .storySection__bottom Подкаст был интересен целевой аудитории и мы решили сделать на этом ставку — <span>запустили рекламу на Youtube</span>, используя отрывки роликов. Настроили показ объявлений на целевую аудиторию: молодых специалистов и врачей с опытом. Это стало хорошим решением, ведь <span>стоимость клика уменьшилась в 3 раза</span>, а <span>конверсия увеличилась в 3,2 уже в первом месяце</span>. 
