section.strategySection
  h2.strategySection__title.ppc-title Стратегия ведения контекстной рекламы
  .strategySection__container
    .strategySection__left
      p.strategySection__left-text Далее мы расскажем, какая стратегия ведения контекстной рекламы помогла нам снизить стоимость клика в 3 раза и при этом увеличить количество конверсий. Звучит фантастически, поэтому делимся подробностями!
      .strategySection__left-pic
        img.strategySection__left-image(src="./assets/images/strategy.png", alt="стратегия")
        img.strategySection__left-image.mobile(src="./assets/images/strategy-mobile.png", alt="стратегия")
    .strategySection__right
      .strategySection__right-top
        h5.strategySection__right-title Стратегия
        p.strategySection__right-text Не просто контекст, а умное планирование.
      .strategySection__right-bottom
        p.strategySection__right-text Мы понимали, что для достижения цели одного лишь запуска рекламы недостаточно. Ключ к успеху — многоуровневая стратегия, которая направлена на постоянное уменьшение стоимости лида.


    