section.teamSection
  .teamSection__content
    .teamSection__title  Подведение итогов
    .teamSection__text Успех этой кампании не только в использовании инструментов, но и в стратегическом видении, постоянном анализе и готовности адаптироваться к изменениям. Наша команда знает, как создавать решения, которые работают.
  .teamSection__pic
    img.teamSection__image(src="./assets/images/team.png", alt="команда")