section.analysisSection
  h2.analysisSection__title.sugarant-title Анализ конкурентов
  p.analysisSection__text Продвижение мы начали с анализа спроекта и его конкурентов. Кратко, что выяснили и учитывали при создании стратегии:
  .analysisSection__cards
    .analysisSection__card
      p.analysisSection__card-text Сайт клиента состоял <b>из одной страницы</b>, а для продвижения этого мало.
    .analysisSection__card
      p.analysisSection__card-text Сама CRM находилась ещё <b>на конечном этапе разработки</b>.
    .analysisSection__card
      p.analysisSection__card-text В нише много <b>крупных игроков</b>. Это старожилы рынка, их сайтам по 5–10 лет, и у всех есть <b>несколько продуктов</b>. Наш клиент же работал с CRM только для MCA, что сужало целевую аудиторию проекта.

