section.collectSection
  h2.collectSection__title.sugarant-title Сбор семантического ядра
  .collectSection__content
    .collectSection__content-left
      p.collectSection__text Далее приступили к сбору семантического ядра. Просмотрели, как люди формулируют свои запросы, какие фразы используют, что ожидают увидеть. А для этого по каждому ключу <b>вручную проверили</b> выдачу, проанализировали, какие страницы отображаются, какой контент на них.
        .collectSection__card На этом этапе заметили, что тематика довольно <b>низкочастотная</b>. Запросы в основном с частотностью до 50 (для главной страницы). Немного ключей есть для статей в блоге. Это значительно повлияло на стратегию продвижения, но об этом чуть позже.
    .collectSection__content-right
      img.collectSection__content-image(src="./assets/images/collect.png")
    