section.createSection
  h2.createSection__title.sugarant-title Формирование структуры сайта
  p.createSection__text После семантики приступили к структуре сайта, но из 1 страницы её сделать невозможно, нужно больше. Предложили этапами расширять сайт и начать с добавления двух разделов:
  .createSection__top
    .createSection__top-left
      h3.createSection__top-title Блог
      p.createSection__top-text Для привлечения дополнительного трафика на сайт
    .createSection__top-right
      h3.createSection__top-title Glossary (глоссарий)
      p.createSection__top-text Для быстрого поиска определений необходимых терминов
  .createSection__bottom
    .createSection__bottom-pic
      img.createSection__bottom-image(src="./assets/images/create.png" alt="ноутбук")
    .createSection__bottom-content
      h2.createSection__bottom-title.sugarant-title Создание контента
      p.createSection__bottom-text  <b>Для главной</b> страницы полностью <b>переписали текст</b> и создали уникальные мета-теги. Ориентировались на полезность для пользователя и основные seo-требования — содержание релевантных ключей, использование LSI-слов, отсутствие переспама, уникальность более 98%, структуру блоков. 
      p.createSection__bottom-text Создавать <b>новые коммерческие страницы</b> решили после того, как CRM будет полностью готова.
