-
  var cards = [
    {title: "4-ый", text: "в выдаче по основным коммерческим запросам "},
    {title: "×1,5",  text: "длительность сеанса"}, 
    {title: "×5 ",   text: "рост органического трафика"},
    
  ]



section.headerSection
  h1.headerSection__title Привлекли первые заказы на демо-версию для новой CRM-системы 
  .headerSection__pic-mobile
    img.headerSection__image-mobile(src="./assets/images/banner-mobile.png")
  .headerSection__banner
    .headerSection__banner-content
      each card in cards
        .headerSection__card
          h2.headerSection__card-title=card.title
          p.headerSection__card-text=card.text
        