-
  var cards = [
    {number: "01", title: "Удалили дубли страниц",  text: "Дублирующие страницы путают поисковые системы. Им непонятно, какую страницу показывать в выдаче."},
    {number: "02", title: "Ускорили скорость загрузки сайта", text: "Люди не любят ждать, поэтому, если сайт загружается медленно, они просто уходят к конкурентам. Это негативно влияет на поведенческие факторы и SEO."}, 
    {number: "03", title: "Исправили микроразметку opengraph и schema.org",  text: "Микроразметка помогает поисковым системам понять, о чем сайт. Это влияет на отображение сайта в поисковой выдаче (например, добавление сниппетов)."},    
  ]

section.linkSection
  .linkSection__top
    .linkSection__top-pic
      img.linkSection__top-image(src=('./assets/images/link.png')  aly="link")
    .linkSection__top-right
      h2.linkSection__title.sugarant-title Наращивание ссылочной массы
      .linkSection__top-right-text Ссылочной массы не было, поскольку сайт новый. С одной стороны это хорошо — нам не мешают спамные ссылки, что часто бывает, а с другой — нужно их наращивать с 0. Начали с анализа конкурентов. Изучали следующее:
      .linkSection__top-list
        li.linkSection__list-item количество ссылок,
        li.linkSection__list-item тип,
        li.linkSection__list-item доменные зоны,
        li.linkSection__list-item соотношение анкорных и безанкорных ссылок, 
        li.linkSection__list-item и другие критерии.
  .linkSection__highlight-box
    p.linkSection__highlight-text Разработали <b>стратегию наращивания</b> и взялись за работу. Резко наращивать ссылки нельзя — можно попасть в бан Google. Мы начали с 3–4 в месяц и постепенно увеличивали это число. Размещались как на платных, так и на бесплатных площадках. В основном это были ресурсы про бизнес и технологии. 
    p.linkSection__highlight-text Спустя 7–8 месяцев нарастили около 60 ссылок и перешли к работе с двухуровневыми.
  .linkSection__center-text  Поисковики сканируют и что “под капотом” у сайта, то есть его код. Технические ошибки могут ухудшить позиции в выдаче. Чтобы этого не случилось, мы проверили более <b>65 параметров</b> сайта в рамках технического аудита. Нашли проблемы и составили ТЗ для программистов для их устранения. Часть того, что было реализовано:
  .linkSection__cards
    each card in cards
      .linkSection__card
        .linkSection__card-number=card.number
        .linkSection__card_content 
            .linkSection__card-title=card.title
            .linkSection__card-text=card.text

    
