section.resultSection
  h2.resultSection__title.sugarant-title Результаты
  .resultSection__top
    .resultSection__subtitle За 12 месяцев сайт в Топ-10 Google, а часть запросов даже в Топ-3. Напомним, что сайт новый и позиций не было.
    .resultSection__pic
      img.resultSection__image(src="./assets/images/result1.png" alt="top-10")
  .resultSection__center
    h3.resultSection__center-subtitle Органический трафик увеличился в 5 раз, а длительность сеанса в 1,5 раз
    .resultSection__center-pic
      img.resultSection__image(src="./assets/images/result2.png"  alt="table")
  .resultSection__bottom
    .resultSection__bottom-left
      h2.resultSection__bottom-title.sugarant-title Чем этот кейс может быть полезен для вас?
      p.resultSection__bottom-text Если у вас молодой сайт и при этом ограниченная целевая аудитория, то вы можете для продвижения выбрать комбинацию контент-маркетинга и наращивания ссылочной массы, но сперва нужно будет устранить все технические ошибки на сайте.
    .resultSection__bottom-right
      p.resultSection__bottom-text Этот проект — доказательство эффективности такого подхода. Мы создавали статьи для Блога на более частотные темы, связанные с тематикой сайта. В конце текста рассказывали о продукте клиента и предлагали заказать просмотр демо. А небольшой возраст сайта компенсировали с помощью наращивания ссылочной массы, тем самым показали Google, что проекту можно доверять и показывать выше в выдаче.
  