section.storySection
  .storySection__top
    .storySection__top-content
      h2.storySection__title.sugarant-title Что такое MCA?
      p.storySection__text Итак, рассказываем, что такое MCA и как мы получили такой результат. <br> 
      p.storySection__text MCA — сфера, в которой компании занимаются займом денег для других организаций на определённых условиях. В основном такие краткосрочные кредиты берут для покупки оборудования медицинские учреждения, рестораны и т.п.
  .storySection__bottom
    .storySection__bottom-content
      h3.storySection__bottom-title Как это работает:
      ul.storySection__list
        li.storySection__list-item Компания, которой нужны деньги, обращается в MCA-компанию.
        li.storySection__list-item Та оценивает предложение и выдаёт аванс.
        li.storySection__list-item Компания-заёмщик возвращает деньги в виде фиксированного процента от продаж.
        .storySection__bottom-pic.mobile
          img.storySection__bottom-image(src="./assets/images/hand-mobile.png" alt="телефон")   