section.description 

    .container

        .description__wrapper 

            .description__content

                h2 Обновление описания профиля

                p
                    span.
                        Шапка профиля состояла из мотивирующих, 
                        но неуникальных фраз: “Чемпион по здоровью”, “Заряжаем на удачу”.

                    span.
                        <span class="description__word">Наша цель</span> – вызвать желание купить продукт, 
                        поэтому информацию заменили на более выгодную для компании. 
                        Мы старались описать бренд так, чтобы потребитель сам пришел к выводу, 
                        что продукция полезна для здоровья.
                
            .description__image 
                picture
                    img(src=require('../../assets/img/description1.png'), alt="before-pic") 

                picture
                    img(src=require('../../assets/img/description2.png'), alt="after-pic") 