section.welcome

    .container

        article.welcome__wrapper

            h1.welcome__title.
                Разработка сайта для организатора экскурсий на шоколадную фабрику

            .welcome__info 
                p.welcome__text.
                    Компания «Веселое путешествие» является организатором экскурсий 
                    на фабрику по производству шоколада French Kiss для детей и взрослых
                