.headerSection {
  position: relative;

  .imageWrapper {
    padding-top: clamp($spacing-5, 8.3vw, $spacing-1);
    padding-bottom: $spacing-1;
    background-image: url('../assets/images/banner-1200.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  .wiex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: clamp($spacing-3, 7.5vw, $spacing-2);
    width: fit-content;
    height: clamp(35px, 3.5vw, 42px);
    padding: 0 clamp($spacing-9, 3.33vw, $spacing-7);
    border-radius: clamp(18px, 1.75vw, 21px);
    background-color: $bg-white;
    color: #000000;
  }

  .header_text {
    margin-top: $spacing-13;
    font-size: $font-size-secondary;
  }

  &_cardsWrapper {
    position: relative;
    bottom: 0;
    transform: translateY(-$spacing-4);
    z-index: 10;
    margin-bottom: clamp($spacing-9, 4.2vw, $spacing-5);
  }

  &_card {
    background-color: $bg-white;
  }

  &__cardTitle {
    margin-bottom: clamp($spacing-15, 2.3vw, $spacing-9);
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    background-color: $bg-dark;
    gap: clamp($spacing-12, 5.2vw, $spacing-4);
  }

  &_itemLine {
    display: flex;
    gap: 14px;
  }

  &_itemLineNumber {
    font-size: clamp(22px, 2.17vw, 26px);
    font-weight: $font-weight-bold;
    color: $font-color-invert;
  }
}
@media (max-width: $breakpoints-sm) {
  .headerSection {
    .wiex {
      margin-bottom: 256px;
    }

    &__flexColumn {
      flex-direction: column;
    }

    .imageWrapper {
      background-image: url('../assets/images/banner-500.png');
    }

    &_cardsWrapper {
      margin-bottom: 0;
      transform: translateY(-$spacing-5);
    }
  }
}
