.headerSection {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 76px 24px 100px;
  }

  &__top-left {
    min-height: 38px;
    padding: 7px 24px;
    border: 1px solid $color-main;
    border-radius: 16px;
    box-shadow: 1px 2px 0 0 #000;
    background: #fff;
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $color-main;
  }

  &__center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid $color-main;
    border-bottom: 1px solid $color-main;
  }

  &__pic {
    min-height: 532px;
    background-image: url('../assets/images/banner-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    padding: 80px 100px 54px 100px;
    border-left: 1px solid $color-main;
  }

  &__title {
    margin-bottom: 14px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 45px;
    line-height: 120%;
    color: $color-main;
  }

  &__subtitle {
    max-width: 470px;
    margin-bottom: 32px;
    font-size: 26px;
    line-height: 120%;
    color: $color-grey-2;
  }

  &__text {
    min-height: 204px;
    padding: 24px 36px;
    border-radius: 16px;
    background-color: $color-yellow;
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: $color-main;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 273px;
    border-bottom: 1px solid $color-main;
  }

  &__bottom-left {
    border-right: 1px solid $color-main;
  }

  &__bottom-left {
    padding: 60px 150px 60px 100px;
  }

  &__bottom-right {
    padding: 60px 100px;
  }

  &__bottom-title {
    margin-bottom: 20px;
  }

  &__bottom-title.right {
    margin-bottom: 14px;
  }

  &__country-box {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }

  &__country {
    display: inline-block;
    min-height: 38px;
    padding: 7px 24px;
    border: 1px solid $color-main;
    border-radius: 32px;
    box-shadow: 1px 2px 0 0 #000;
    background: #fff;
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $color-main;
  }
}
