.header {
    position: relative;
    margin: 251px 0 279px 0;

    &__img {
        position: absolute;
        width: 250px;
        height: 545px;
        overflow: hidden;
        transform: rotate(-35deg);
        top: -115%;
        left: 40%;
        z-index: 1;
        & img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.anims {
    &__lines {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: -50%;
    }
    &__line {
        display: flex;
        width: max-content;
        transform: translateX(-80%);
        animation: scrollLeft 15s linear infinite;
        & h2 {
            font-size: 120px;
            font-weight: 700;
            line-height: 108.5%;
            margin-right: 20px;
        }
    }
    &__bottom {
        display: flex;
        width: max-content;
        gap: 20px;
        transform: translateX(0);
        & li {
            font-size: 32px;
            font-weight: 500;
            line-height: 141.5%;
            color: $color-red;
        }
    }
}

.revers {
    animation: scrollRight 25s linear infinite;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
