-
    var elements = [
        'Мы заменили шрифт на более тонкий и изменили цвет фона, чтобы создать контраст и улучшить читабельность текста.',
        "Cтруктурировали всю информацию и выделили основное цветом, другим стилем шрифта, чтобы расставить акценты."
    ]

+sectionLayout("decor", "Оформление  текста")

    .decor-content 

        .decor-content__image
            .decor-content__year 
                span.
                    Годы работы: 2009 - наст время
                span.
                    Подпись текста

            .decor-content__title
                span.
                    Запуск в эксплуатацию хай-бея. 
                    Проект для крупного банка
                span.
                    H1 - Заголовок

            .decor-content__text
                span.
                    Автоматизированный высотный склад высотой 40 м, 
                    емкость хранения около 50 000 палетомест
                span.
                    Основной текст

            .decor-content__task 
                span.
                    Выполненные задачи:
                span.
                    Склад был не запущен в работу. Требовалось описать 
                    бизнес-процессы и организовать запуск в работу


        ul.decor-content__list
            each el, i in elements
                li.decor-content__item
                    div= i + 1
                    p= el
