.challengeSection {
  &__box {
    display: flex;
  }

  &__box-content {
    max-width: 814px;
    width: 100%;
    @include responsive-sizing(min-height, 320, 439, 768, 1440);
    @include responsive-sizing(padding-block, 40, 80, 768, 1440);
    @include responsive-sizing(padding-inline, 24, 100, 768, 1440);
    background-color: $color-yellow;
    line-height: 130%;
  }

  &__box-title {
    margin-bottom: 24px;
  }

  &__text {
    @include responsive-sizing(font-size, 18, 20, 400, 1440);
    line-height: 130%;
    color: #6b6a4d;
  }

  &__box-pic {
    max-width: 626px;
    width: 100%;
    min-height: 439px;
    background-image: url('../assets/images/challenge-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__result {
    @include responsive-sizing(padding-top, 40, 80, 992, 1440);
    @include responsive-sizing(padding-bottom, 40, 70, 992, 1440);
    @include responsive-sizing(padding-left, 24, 100, 992, 1440);
    @include responsive-sizing(padding-right, 0, 100, 992, 1440);
  }

  &__result-title {
    margin-bottom: 28px;
  }

  &__result-pic {
    height: 218px;
    max-width: 1240px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    & img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 900px) {
    &__box {
      flex-direction: column;
    }

    &__box-content {
      max-width: 100%;
    }

    &__box-pic {
      max-width: 100%;
      border-top: 1px solid $color-main;
      border-bottom: 1px solid $color-main;
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__box-title {
      margin-bottom: 20px;
    }

    &__box-pic {
      min-height: 320px;
    }
  }
}
