section.competitorSection
    h2.competitorSection_title Анализ конкурентов юзабилити
    +wrapper.competitorSection_descriptionWrapper 
        p.mb-10 У клиента не было полноценного сайта (за исключением 1 страницы). Поэтому анализировались макеты будущего сайта.  
        p Были предложены #[span.brightText доработки] для повышения юзабилити.  