section.headerSection 
  .imageWrapper   
    .container
      .wiex
        p wiex.io
      h1.renovista-title.colorInvertText Продвижение  
      h1.renovista-title.colorInvertText криптобиржи Wiex  
      p.header_text.colorInvertText Часть I. SEO-подготовка к релизу нового сайта
  .container
    .flexContainer.headerSection_cardsWrapper.headerSection__flexColumn
      +wrapper.headerSection_card
        h3.headerSection__cardTitle О проекте:
        p Платформа позволяет пользователям обменивать, вносить и снимать различные виды криптовалют.
        p Биржа использует современные меры безопасности, включая двухфакторную аутентификацию, SSL-шифрование и холодное хранение средств.
      .flexColumn 
        +wrapper.headerSection_card
          h3.headerSection__cardTitle Начало сотрудничества:
          p Январь 2023 года
        +wrapper.headerSection_card
          h3.headerSection__cardTitle Регион продвижения:
          p Европа (EN)
    .container.flexContainer.headerSection__flexColumn
      +wrapper.headerSection_item.colorInvertText 
        h3.flex-1 Исходное состояние:
        p Проект не имел рейтинга и до этого не продвигался.
      +wrapper.headerSection_item.colorInvertText 
        h3.flex-1 Задачи: 
        ul 
          li.headerSection_itemLine.mb-10 #[span1.headerSection_itemLineNumber 1.] Повысить позиции сайта в выдаче.
          li.headerSection_itemLine #[span1.headerSection_itemLineNumber 2.] Повысить позиции сайта в выдаче.
      +wrapper.headerSection_item.colorInvertText 
        h3.flex-1 Особенности:
        ul 
          li.headerSection_itemLine.mb-10 #[span1.headerSection_itemLineNumber 1.] Большая конкуренция в сфере.
          li.headerSection_itemLine #[span1.headerSection_itemLineNumber 2.] Новый сайт и домен.