section.headerSection 
  .imageWrapper   
    .container
      .wiex
        p wiex.io
      h1.renovista-title.colorTextInvert Продвижение  
      h1.renovista-title.colorTextInvert криптобиржи Wiex  
      p.header_text.colorTextInvert Часть I. SEO-подготовка к релизу нового сайта
  .container.flexContainer.headerSection_cardsWrapper
    +wrapper.headerSection_card
      h3.headerSection__cardTitle О проекте:
      p Платформа позволяет пользователям обменивать, вносить и снимать различные виды криптовалют.
      p Биржа использует современные меры безопасности, включая двухфакторную аутентификацию, SSL-шифрование и холодное хранение средств.
    .flexColumn 
      +wrapper.headerSection_card
        h3.headerSection__cardTitle Начало сотрудничества:
        p Январь 2023 года
      +wrapper.headerSection_card
        h3.headerSection__cardTitle Регион продвижения:
        p Европа (EN)