.optimizationSection
    h2.optimizationSection_title Контентная оптимизация
    .flexContainer
        .optimizationSection_imageWrapper
            +img("./assets/images/news.png", "Новости", ["500", "1200"])
        +wrapper 
            p.mb-10 Активно #[span.brightText работаем над подготовкой контента] для сайта. Создаем множество технических заданий для текстов на страницах, а клиент предоставляет информацию. 
            p Контент разместим на новом сайте.
    .optimizationSection_footer
        p Сейчас мы активно работаем над разработкой и оптимизацией нового сайта для клиента.