.profileAnalysisSection
    h2.profileAnalysisSection_title Анализ ссылочного профиля
    .flexContainer.profileAnalysisSection__flexColumn 
        div
            .imageWrapper
                +img("./assets/images/chain.png", "Цепь", ["500", "1200"])
        +wrapper 
            p.mb-10 У сайта было небольшое количество внешних ссылок и ограниченная видимость. В результате разработали #[span.brightText стратегию наращивания]. 
            p.mb-10 Использовали информационные блоги и каталоги компании. Также учли качество доменов и доменные зоны.
            p Сейчас планируем постепенно #[span.brightText увеличивать ссылки], учитывая естественный рост и баланс анкорных и безанкорных ссылок. 