-
    var items = [
        "привлекать органический трафик,",
        "повышать позиции в поисковой выдаче,",
        "привлекать больше пользователей на платформу."]

.resultSection.flexContainer.resultSection__flexColumn 
    +wrapper 
        h2.resultSection_title Результат
        p.mb-10 Поскольку домен клиента новый и не имеет истории, мы сконцентрировались на создании качественного и оптимизированного сайта с учетом основных SEO-требований. 
        p.mb-10 После релиза ожидаем получить результаты наших усилий, так как сайт будет готов:
        ul 
            each item in items 
                li.resultSection_item= item
    .resultSection_imageWrapper
        +img("./assets/images/computer.png", "Ноутбук", ["500", "1200"])

