section.structureSection
    h2 Сбор СЯ и структура сайта
    .flexContainer
        .flexColumn 
            +wrapper 
                p Принцип сбора семантики простой: разделили запросы на #[span.brightText информационные] и #[span.brightText коммерческие]. 
                p Вторые нужны для достижения целей. 
            +wrapper 
                p Затем создали #[span.brightText новую структуру] сайта на основе собранной семантики.
        +wrapper 
            p.mb-10 Сейчас расширяем семантику сайта клиента. Собираем запросы для информационных статей в блоге и разделе "База знаний". 
            p Эта страница содержит #[span.brightText "общие запросы"] для органического трафика. То есть, создает дополнительный канал привлечения посетителей.