section.challengeSection
  .challengeSection__pic
  .challengeSection__content
    h3.challengeSection__title Челленджи при настройке рекламы
    p.challengeSection__text.portable-text Параллельно с оптимизацией сайта мы запустили контекстную рекламу, но <b>Google блокировал</b> ее. Чтобы решить проблему в ускоренном режиме, <b>пришлось менять домен</b>. Смена доменного имени могла привести к просадке позиций и долгому их восстановлению в поисковой выдаче. Но благодаря оперативной работе нашей команды и программиста со стороны клиента, нам <b>удалось сохранить позиции</b> и видимость сайта. 
    p.challengeSection__text.portable-text Процесс построили следующим образом – seo-специалисты подготовили <b>список редиректов</b> со старого адреса на новый, а программист все настроил.
