section.goalSection
  h2.goalSection__title.portable-title Цель от клиента
  .goalSection__top
    .goalSection__top-left
      .goalSection__icon
        img.goalSection__image(src="./assets/icons/quotes.svg", alt="quotes")
      .goalSection__top-content
        p.goalSection__top-text Наша цель – <b>увеличить количество продаж</b>, для этого необходимо привлечь <b>целевой трафик</b> на сайт и вывести его в <b>Топ-5</b> по приоритетным для нас направлениям.
        p.goalSection__top-text В целом, хотим за месяц увеличить количество лидов на 20%, а в течение 2 месяцев – на 50%.
    .goalSection__top-right 
  .goalSection__bottom
    .goalSection__bottom-left
      h3.goalSection__bottom-title Старт проекта
      .goalSection__bottom-content.start
        p.goalSection__bottom-text.portable-text Сайт до нашего сотрудничества <b>не продвигался</b>. Поэтому первые результаты SEO стали заметны только через несколько месяцев. Чтобы дать клиенту максимальный результат в короткие сроки, мы подошли к проекту <b>комплексно</b> – помимо оптимизации сайта, подключили <b>контекстную рекламу и ремаркетинг</b>. 
        p.goalSection__bottom-text.portable-text Но у Google были свои планы, и рекламу он блокировал, но об этом дальше.
    .goalSection__bottom-right
      h3.goalSection__bottom-title Особенности ниши
      .goalSection__bottom-content.specific
        h4.goalSection__bottom-subtitle Нет сезонности
        p.goalSection__bottom-text.portable-text Выраженной сезонности нет, но команда отметила некоторый <b>рост спроса в летний период</b> – с сентября по март. Так как Новая Зеландия - это другой конец света, то климатические времена года отличаются от привычных,а точнее  они сдвинуты: лето длится с декабря по февраль, зима — с июня по август.
        h4.goalSection__bottom-subtitle Спрос на портативное жилье
        p.goalSection__bottom-text.portable-text В Новой Зеландии большой спрос на портативные домики из-за <b>нарастания жилищного кризиса</b>. За последние 10 лет цены на жилье в Новой Зеландии выросли более чем на 60%, а количество собственников жилья в стране ниже, чем в других. Из-за этого в нише портативных домов и сооружений <b>большая конкуренция</b>. Занять высокие места в выдаче – задача не простая. 
        p.goalSection__bottom-text.portable-text Наша команда уже не первый раз сталкивается с такой проблемой, поэтому знает, на что сделать упор, чтобы начать получать результаты.