section.headerSection
  .headerSection__pic
    img.headerSection__image(src="./assets/images/banner.png" alt="дом")
  .headerSection__content
    h1.headerSection__title Рекордные продажи — результат SEO-продвижения магазина портативных домов и сооружений
    .headerSection__regions-box
      .headerSection__region Регион продвижения
      .headerSection__region Новая Зеландия
    h3.headerSection__subtitle Основная деятельность 
    p.headerSection__text.portable-text Продажа и установка переносных портативных зданий (дома (cabins, tiny houses), переносные офисы (portable offices), сооружения для отдыха (sleep outs) и т.д.).
    h3.headerSection__subtitle Второстепенная деятельность
    p.headerSection__text.portable-text Продажа строительных материалов (ограждения из ПВХ, фанера, гипсокартон, окна и двери).
    .headerSection__bottom 
      p.headerSection__text.portable-text У компании есть два офиса-шоурума: один в Окленде, другой в Крайстчерче, поэтому большинство клиентов именно из этих городов.




        