section.promotionSection
  h2.promotionSection__title.portable-title Результаты за 4 месяца продвижения сайта
  .promotionSection__card
    .promotionSection__card-pic
      img.promotionSection__card-image(src="./assets/images/promotion-1.png", alt="результаты")
    .promotionSection__card-content
      span.promotionSection__card-number В 10,75 раз
      span.promotionSection__card-text увеличилось количество показов – с 2280 до 24500
  .promotionSection__card
    .promotionSection__card-pic
      img.promotionSection__card-image(src="./assets/images/promotion-2.png", alt="результаты")
    .promotionSection__card-content
      span.promotionSection__card-number в 3 раза
      span.promotionSection__card-text <b>Вырос % ключей</b> в Топ Google, а средняя позиция увеличилась
  .promotionSection__card
    .promotionSection__card-pic
      img.promotionSection__card-image(src="./assets/images/promotion-3.png", alt="результаты")
    .promotionSection__card-content
      span.promotionSection__card-number в 12,5 раз 
      span.promotionSection__card-text Органический трафик вырос с 83 до 665
  .promotionSection__comment-box
    .promotionSection__comment-left
      h3.promotionSection__comment-title Отзыв от клиента
      p.promotionSection__comment-text Положительный отзыв клиента показывает, что мы достигли не только высоких позиций, но и бизнес-целей проекта
    .promotionSection__comment-pic
      img.promotionSection__card-image(src="./assets/images/comment.png", alt="комментарий")
    
