section.resultSection
  .resultSection__left
    h3.resultSection__left-title Расширенный результат <br> по второму месяцу
    p.resultSection__left-text.portable-text Данные указаны в новозеландских долларах
  .resultSection__pic
    img.resultSection__image(src="./assets/images/result.png", alt="результат")
