section.stateSection
  h2.stateSection__title.portable-title Состояние проекта до нашего сотрудничества
  .stateSection__cards
    .stateSection__card
      h3.stateSection__card-title Трафик
      p.stateSection__card-text.portable-text Органический трафик – <b>83 пользователя/месяц</b>, реферальный – <b>6</b>, прямые переходы – <b>107</b>
    .stateSection__card
      h3.stateSection__card-title Ключи
      p.stateSection__card-text.portable-text  <b>1%</b> ключей в <b>Топ 10</b>,<br> <b>4%</b> ключей <b>в Топ 30</b>
    .stateSection__card
      h3.stateSection__card-title Показы
      p.stateSection__card-text.portable-text <b>2280</b> показов <b>в месяц</b>