section.workSection
  h2.workSection__title.portable-title Работа над проектом
  .workSection__cards
    .workSection__card
      .workSection__card-left
        h3.workSection__card-subtitle Сбор семантического ядра
        p.workSection__card-text.portable-text Семантику собирали итерациями – сначала клиент определил <b>несколько ключевых направлений</b> для продвижения портативных сооружений:
        ul.workSection__card-list
          li.workSection__item
            .workSection__item-number 1
            p.workSection__item-text Для двуспальных мест (2-bedroom-unit)
          li.workSection__item
            .workSection__item-number 2
            p.workSection__item-text Стандартных кабин (standard cabins)
          li.workSection__item
            .workSection__item-number 3
            p.workSection__item-text Делюкс кабин (delux cabins)
      .workSection__card-right
        .workSection__card-right-content
          p.workSection__card-text.portable-text По этим направлениям мы и начали собрали запросы. Затем в течение двух месяцев дополнили список коммерческими ключами для остальных видов портативных домов, заборов и сооружений.
          p.workSection__card-text.portable-text Мы регулярно <b>обновляем и расширяем семантическое ядро</b>, проверяем актуальность ключей и добавляем новые.
    .workSection__card
      .workSection__card-left
        h3.workSection__card-subtitle Контент
        p.workSection__card-text.portable-text Когда клиент к нам пришел, на сайте почти не было текстов, только <b>краткие описания, сгенерированные искусственным интеллектом</b>. Оптимизированные теги также отсутствовали.
        p.workSection__card-text.portable-text После сбора семантического ядра решили работать итерациями.
        p.workSection__card-text.portable-text В первый месяц работы сосредоточились на <b>проработке тегов</b>. На следующем этапе приступили к <b>написанию текстов</b> для страниц, для которых были собраны ключевые слова (СЯ).
      .workSection__card-right
        .workSection__card-right-content
          p.workSection__card-text.portable-text В последующие месяцы мы <b>продолжили</b> оптимизацию контента, <b>комбинируя работу над тегами и текстами</b>. Основное внимание при этом уделяли продвижению приоритетных для клиента направлений.
    .workSection__card
      .workSection__card-left
        h3.workSection__card-subtitle Анализ юзабилити
        p.workSection__card-text.portable-text При оптимизации сайта для поисковых систем важно также улучшать его юзабилити. Когда сайт удобен, пользователи проводят на нем больше времени, реже уходят сразу после его открытия и активнее взаимодействуют с контентом, повышается вовлеченность и улучшаются поведенческие факторы.
        p.workSection__card-text.portable-text Ранжирование основывается на полезности ресурса. Важно учитывать и поведенческий фактор, то есть насколько сайт интересен пользователям: глубина просмотра, время, которое пользователи провели на страницах, показатели отказов и другие данные.
      .workSection__card-right
        .workSection__card-right-content
          p.workSection__card-text Таким образом, <b>улучшение юзабилити</b> помогает сайту привлекать <b>больше трафика</b> и улучшает его <b>позиции</b> в поисковых результатах. 
        p.workSection__card-list-start Изменения на сайте:
        ul.workSection__card-list
          li.workSection__item
            .workSection__item-number 1
            p.workSection__item-text Создание интуитивно понятного меню
          li.workSection__item
            .workSection__item-number 2
            p.workSection__item-text Корректирование хедера и футера сайта
          li.workSection__item
            .workSection__item-number 3
            p.workSection__item-text Проработка блоков перелинковки на страницах 
          li.workSection__item
            .workSection__item-number 4
            p.workSection__item-text Внесение изменений на главной странице
    .workSection__card
      .workSection__card-left
        h3.workSection__card-subtitle Подключение контекстной рекламы
        p.workSection__card-text.portable-text Чтобы достичь целей клиента, подключили контекстную рекламу: поисковые кампании и ремаркетинг в <b>Google Ads</b>. Если кратко, то вот какие результаты получили:
        p.workSection__card-text.portable-text Здесь конверсия = оформленная заявка.
        ul.workSection__card-list
          li.workSection__item
            .workSection__item-number 12
            p.workSection__item-text конверсий в 1-ый месяц
          li.workSection__item
            .workSection__item-number 14
            p.workSection__item-text Конверсий во 2-ой месяц
          li.workSection__item
            .workSection__item-number 19
            p.workSection__item-text Конверсий в 3-ий месяц
      .workSection__card-right
        .workSection__card-column
          .workSection__column-title Результаты по поисковой рекламе:
          .workSection__column-card
            span.workSection__column-number 56 <span class="currency"> $ </span>
            span.workSection__column-text.portable-text Cтоимость конверсии
          .workSection__column-card
            span.workSection__column-number 0,7  <span class="currency"> $ </span>
            span.workSection__column-text.portable-text Cтоимость клика
        .workSection__card-column
          .workSection__column-title Эффективность ремаркетинга:
          .workSection__column-card
            span.workSection__column-number 4,74  <span class="currency"> $ </span>
            span.workSection__column-text.portable-text Cтоимость конверсии
          .workSection__column-card
            span.workSection__column-number 0,24  <span class="currency"> $ </span>
            span.workSection__column-text.portable-text Cтоимость клика