extends layouts/MainLayout
include mixins/index.pug

block title
  | MPS-SEO

block content
  body.body
  .container    
    include sections/headerSection
    include sections/taskSection
    include sections/resultSection
    include sections/startSection
    include sections/effectiveSection
    include sections/stepSection
    include sections/tandemSection
    include sections/outcomeSection
    include sections/finishSection
    include sections/orderSection