.footer {
  width: 100%;
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 140px;
    padding: 59px 0 114px 0;
  }
  &__img {
    position: relative;
    width: 440px;
    height: 539px;
    flex-shrink: 0;
    border-radius: 30px;
    & img:nth-child(2) {
      position: absolute;
      bottom: 80px;
      left: 260px;
      width: 245px;
      height: 120px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 571px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #26252a;
  }
  &__subtitle {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
  }
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 150px;
  }
  &__inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
  }
  &__input {
    width: 260px;
    height: 36px;
    border: none;
    border-bottom: 2px solid #26252a;
    outline: none;
  }
  &__checkboxs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 86px;
  }
  &__button {
    align-self: baseline;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $color-red;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $color-red;
    cursor: pointer;
  }
  &__link {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    & h3 {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    & a {
      color: $color-red;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 132.66%;
      text-decoration-line: underline;
    }
  }

  @media (max-width: $max-width) {
    &__wrapper {
      padding: 40px 0 29px 0;
    }
    &__img {
      display: none;
    }
    &__actions {
      gap: 30px;
      height: max-content;
      margin-bottom: 59px;
    }
    &__title {
      font-size: 25px;
    }
    &__inputs {
      gap: 30px;
    }
    &__input {
      width: 100%;
    }
    &__checkboxs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0 25px;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__button {
      font-size: 20px;
    }
    &__link {
      h3 {
        font-size: 25px;
      }
      a {
        font-size: 20px;
      }
    }
  }
}

.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 26%;
  font-size: 24px;
  color: #26252a;
  cursor: pointer;
  user-select: none;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:checked {
      ~ .checkbox__custom {
        background-color: $color-light;

        &:after {
          display: block;
        }
      }
    }
  }

  .checkbox__custom {
    position: relative;
    height: 14px;
    width: 14px;
    border: 2px solid $color-red;
    border-radius: 2px;

    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      display: none;
      width: 7px;
      height: 7px;
      background-color: $color-red;
      transform: translate(-50%, -50%);
    }
  }

  @media (max-width: $max-width) {
    font-size: 14px;
  }
}
