- var items = ["Отсутствовало визуальное оформление аккаунта", "Контент в постах не имел никакой смысловой нагрузки", "Stories и reels постились нерегулярно и не привлекали новых подписчиков, при этом не удерживали и старых", "Аудитория набиралась с помощью накруток и с участия в Гивах"]

+sections("start", "start__wrapper")

    .start__points

        h3.start__title  Исходная точка:

        ul.start__list
            each item in items 
                li= item

    .start__image 
    
    .start__description 

        h3.start__title А если кратко?

        p.start__text.
            Были низкие охваты и вовлеченность, 
            стабильная ежемесячная отписка от профиля, 
            что было вполне логично, так как профиль не 
            мог удержать аудиторию.
