.createSection {
  &__wrapper {
    display: flex;
    gap: 15px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 567px;
    width: 100%;
    min-height: 430px;
    border-radius: 16px;
    border: 1px solid $color-main;
    border-radius: 16px;
    padding: 32px 26px;
    @include responsive-sizing(padding-block, 20, 32, 992, 1159);
    @include responsive-sizing(padding-inline, 16, 26, 992, 1159);
  }

  &__card:first-child {
    margin-top: 24px;
  }

  &__card:last-child {
    transform: rotate(1deg);
    margin-bottom: 24px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__text {
    font-family: $second-family;
    font-weight: 300;
    font-size: 20px;
    @include responsive-sizing(font-size, 18, 20, 400, 1159);
    line-height: 130%;
    color: $color-main;

    & span {
      font-weight: 700;
    }
  }

  @media (max-width: 700px) {
    &__wrapper {
      flex-direction: column;
      gap: 10px;
    }

    &__card {
      max-width: 100%;
      min-height: auto;
    }

    &__card:first-child {
      margin-top: 0;
    }

    &__card:last-child {
      transform: rotate(0deg);
      margin-bottom: 0;
    }

    &__icon {
      margin-bottom: 40px;
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__text {
      line-height: 127%;
    }
  }
}
