@mixin light-text {
    font-family: "Circle", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: $text-color;

    @media (max-width: $media-sm) {
        font-size: 16px;
    }
}

@mixin regular-text {
    font-family: "Circle", sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 130%;
    color: $text-color;

    @media (max-width: $media-sm) {
        font-size: 18px;
    }
}

@mixin bold-text {
    font-family: "Circle", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $text-color;

    @media (max-width: $media-sm) {
        font-size: 24px;
    }
}
