extends layouts/MainLayout
include mixins/index.pug

block title
  | Portable-houses

block content
  body.body
  .container    
    include sections/headerSection
    include sections/stateSection
    include sections/goalSection
    include sections/workSection
    include sections/resultSection
    include sections/challengeSection
    include sections/promotionSection
    include sections/orderSection