section.headerSection
  .headerSection__wrapper.wrapper
    .headerSection__top
      .headerSection__top-item
        img(src="./assets/icons/kurs-logo.svg", alt="логотип Курс-маркет")
      .headerSection__top-item
        span.headerSection__top-adress kurs-market.com
      .headerSection__top-item
        img(src="./assets/icons/webernetic-logo.svg", alt="логотип Webernetic")
    .headerSection__content-box
      .headerSection__content
        h1.headerSection__title Техническая<br> поддержка<br> сайта-агрегатора<br> для онлайн-обучения 
        .headerSection__badge.badge1
          img(src="./assets/icons/badge1.svg", alt="фреймворки")
        .headerSection__badge.badge2
          img(src="./assets/icons/badge2.svg", alt="EduTech")
      .headerSection__right
        img(src="./assets/icons/done.svg", alt="круги")