section.processSection
  .processSection__wrapper
    .processSection__pic 
      img(src="./assets/icons/process.svg", alt="компьютер")
    h2.processSection__title.kurs-title Процесс работы
    .processSection__top
      .processSection__card.animate-card
        p <span> Ежемесячная техническая поддеркжка сайта, в том числе: </span>
        ul.processSection__list 
          li исправление ошибок
          li мониторинг доступности сайта
      .processSection__card.animate-card
        p <span>Разработка функционала: </span>
        ul.processSection__list 
          li системы рейтинга курсов
          li каталога курсов
          li карточек курсов  
      .processSection__card.animate-card
        p Изменение архитектуры сайта  и разработка новой удобной административной системы управления сайтом        
    .processSection__bottom
      .processSection__card.animate-card
        p Программирование парсинга курсов
      .processSection__card.animate-card
        p Верстка нового дизайна сайта, а также его адаптация и оптимизация для различных устройств