-
  var cards = [
    {title: "Наличие постоянной технической поддержки", text: "Техническая поддержка позволяет обеспечить бесперебойную работу работу сайта и устранить возникающие проблемы в кратчайшие сроки."},
    {title: "Возможность оперативной связи с менеджерами", text: "Наши менеджеры всегда на связи и при необходимости подключают команду для работы."}, 
    {title: "Высокая компетентность команды", text: "Кроме опытной команды, мы также гарантируем высокое качество нашей работы и индивидуальный подход к каждому проекту.<span> Наша цель — обеспечить максимальную удовлетворенность клиентов и помощь в достижении успеха в своем бизнесе.</span>"},
    {title: "Возможность быть клиенту в контексте проблем и самостоятельно принимать важные решения", text: "Это позволяло клиенту принимать взвешенные решения, основанные на его бизнес-целях и бюджете."}, 
  ]


section.startSection
  .startSection__wrapper.wrapper 
    h2.startSection__title.kurs-title Стартовая точка
    .startSection__subtitle Клиент, имея негативный опыт работы с предыдущими подрядчиками, определил ключевые критерии для выбора новой команды:
    .startSection__lamp.lamp1.animate-card
      img(src="./assets/icons/lamp1.svg", alt="лампа")
    .startSection__lamp.lamp2.animate-card
      img(src="./assets/icons/lamp1.svg", alt="лампа")
    .startSection__cards
      each card in cards 
        .startSection__card.animate-card
          .startSection__card-title=card.title
          .startSection__card-text!=card.text