section.taskSection
  .taskSection__wrapper.wrapper
    h2.taskSection__title Задачи
    .taskSection__top
      .taskSection__card 
        .taskSection__card-title  Аудит кода
        .taskSection__card-text Провести детальный анализ кода сайта, выявить проблемные места, ошибки и несоответствия лучшими практиками разработки.
      .taskSection__card 
        .taskSection__card-title  Масштабирование сайта
        .taskSection__card-text Создать план по расширению функциональности сайта, включая рейтинг курсов, каталог курсов и карточки курсов, а также разработку парсинга курсов и удобной административной системы управления сайтом.
    .taskSection__bottom
        .taskSection__card 
          .taskSection__card-title Исправление багов 
          .taskSection__card-text Разработать план по исправлению обнаруженных ошибок, включая приоритизацию задач, распределение задач между командой и сроки выполнения.
        .taskSection__card 
          .taskSection__card-title  Изменение архитектуры сайта
          .taskSection__card-text Переработать архитектуру сайта, чтобы обеспечить масштабируемость, гибкость и устойчивость к нагрузкам, а также разработать новую удобную административную систему управления сайтом.