- const cards = ["Устранили существующие проблемы", "Улучшили функциональность и дизайн сайта", "Сделали его более удобным в управлении"];

section.workSection
  .workSection__content 
    h2.workSection__title.kurs-title Итог работы
    p.workSection__text.animate-card <span>В результате нашей работы, мы: </span>
    .workSection__cards 
      each card in cards 
        .workSection__card.animate-card
          p=card
    p.workSection__text.animate-card Все эти изменения значительно повысили качество работы сайта и улучшили пользовательский опыт.
    p.workSection__text.animate-card <span>Техническая поддержка сайта - это процесс, который требует времени и внимания. Важно выбрать надежного заказчика, гарантирующего качественную работу и соблюдение сроков. </span>
    p.workSection__text.animate-card Мы стремимся стать таким партнером для наших клиентов.  Хотите узнать больше о том, как мы работаем? Просто свяжитесь с нами!
  
  