section.problem 

    .container

        .problem__top 

            div
                h2.
                    Но не все так просто

                p.

                    Необходимо было реанимировать аккаунт после серого способа продвижения,
                    поскольку репутация данного аккаунта в Instagram была на нуле и контент
                    площадка никак не продвигала.
                p.
                    Для продвижения выбирали среди двух вариантов:
                    реклама у блогеров и таргетированная реклама.
                    Выбрали второе, так как реклама у блогеров более
                    дорогостоящая и не даёт никакой гарантии окупаемости.
            div
    
    .problem__middle 

        .container

           .problem__state 
                p.
                    Большая часть подписчиков не подходила под нашу новую целевую аудиторию, 
                    поэтому методы настройки таргета сужались. Однако мы получили достаточно 
                    хорошие результаты и цифры говорят сами за себя:

                div

    .problem__bottom

        .container

            .problem__laptop