.customSection {
  margin-bottom: 60px;

  &__wrapper {
    display: flex;
    gap: 24px;
  }

  &__btn.korex-btn {
    margin-bottom: 18px;
  }

  &__text {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1440);
    line-height: 140%;
    color: $color-txt;

    & span {
      font-weight: 700;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 464px;
    width: 100%;
    min-height: 555px;
  }

  &__left-bottom {
    min-height: 220px;
    border-radius: 14px;
    padding: 26px;
    background: #dce3e9;
  }

  &__right {
    max-width: 664px;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 14px;

    & img {
      border-radius: 14px;
      object-fit: contain;
      object-position: top;
    }
  }

  &__image.desktop {
    display: block;
  }

  &__image.mobile {
    display: none;
  }

  @media (max-width: 800px) {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    &__left {
      max-width: 100%;
      min-height: auto;
    }

    &__left-bottom {
      margin-top: 16px;
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__image.desktop {
      display: none;
    }

    &__image.mobile {
      display: block;
    }

    &__right {
      height: 571px;
    }
  }
}
