@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_regular.eot");
  src:
    url("../assets/fonts/circe_regular.woff") format("woff"),
    url("../assets/fonts/circe_regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_bold.eot");
  src:
    url("../assets/fonts/circe_bold.woff2") format("woff2"),
    url("../assets/fonts/circe_bold.woff") format("woff"),
    url("../assets/fonts/circe_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe_extra_bold.eot");
  src:
    url("../assets/fonts/circe_extra_bold.woff") format("woff"),
    url("../assets/fonts/circe_extra_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "RoadRadio";
  src: url("../assets/fonts/roadradio_bold.otf") format("opentype");
  src:
    url('../assets/fonts/roadradio_bold.woff2') format("woff"),
    url("../assets/fonts/roadradio_bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
