@import './fonts';
@import './variables';
@import '../mixins/mixinsStyles.scss';
@import './mixins/mixins';
@import 'swiper/scss';
@import '../sections/welcomeSection/style';
@import '../sections/targetSection/style';
@import '../sections/beginworkSection/style';
@import '../sections/beforeSection/style';
@import '../sections/trendSection/style';
@import '../sections/identitySection/style';
@import '../sections/decorSection/style';
@import '../sections/navSection/style';
@import '../sections/afterSection/style';
@import '../sections/mobileSection/style';



*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  scroll-behavior: smooth;
  z-index: -1;
  background-color: #f1f1f1;
}


body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.title-50 {
  @include text-50($text-blue);
  margin-bottom: 30px;
}