@import './fonts';

$max-width: 1280px;

//spacings

//fonts

//backgrounds
$bg-blue: #34499F;
$bg-light: #E4EAFF;

$text-light: #fff;
$text-dark: #353535;
$text-blue: #17214A;

$breakpoints-sm: 576px;
$breakpoints-md: 768px;


