.stagesSection {
  padding: 0 clamp(60px, 7.14vw, 140px);
  margin-bottom: clamp(90px, 9.69vw, 190px);

  &_title {
    margin-bottom: clamp(32px, 1.79vw, 35px);
  }

  &_item {
    display: grid;
    position: relative;
    grid-template-columns: 34% 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'title image'
      'text image';
    gap: clamp(24px, 2.55vw, 50px);
    background-color: #beff6c;
    margin: 0;
    padding: clamp(51px, 5.61vw, 110px) clamp(20px, 11.73vw, 230px)
      clamp(36px, 4.29vw, 84px) clamp(20px, 2.55vw, 50px);
    border-radius: clamp(30px, 3.06vw, 60px);
    height: auto;
  }

  &__itemBg2 {
    background-color: #83bdff;
  }

  &__itemBg3 {
    background-color: #fff2a8;
  }

  &__itemBg4 {
    background-color: #ebe4ff;
  }

  &_itemTitle {
    grid-area: title;
    color: #35530e;
    line-height: 105%;
  }

  &__itemTitleColor2 {
    color: #041e3c;
  }

  &__itemTitleColor3 {
    color: #362f03;
  }

  &__itemTitleColor4 {
    color: #352959;
  }

  &_itemText {
    grid-area: text;
    color: #2e460e;
    line-height: 105%;
  }

  &__itemTextColor2 {
    color: #235692;
  }

  &__itemTextColor3 {
    color: #847730;
  }

  &__itemTextColor4 {
    color: #7c729a;
  }

  &_itemImageWrapper {
    grid-area: image;
    border-radius: clamp(20px, 2.04vw, 40px);
    overflow: hidden;
    color: #352959;
    flex: 1;
    height: auto;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &_itemNumber {
    position: absolute;
    top: clamp(20px, 2.76vw, 54px);
    right: clamp(42px, 2.76vw, 54px);
    font-size: clamp(5rem, 8.67vw, 10.625rem);
    line-height: 105%;
    color: #010002;
  }

  &_itemNumberColor2 {
    color: #0f4684;
  }

  &_itemNumberColor3 {
    color: #594e0e;
  }

  &_itemNumberColor4 {
    color: #403759;
  }
}

@media (max-width: $breakpoints-md) {
  .stagesSection {
    padding: 0;

    &_item {
      align-items: stretch;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
        'title'
        'image'
        'text';
    }

    &_itemTitle {
      margin-bottom: 21px;
      max-width: 80%;
    }

    &_itemContent {
      max-width: 100%;
    }
  }
}

// кастомизация слайдера
.swiper {
  &_navWrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: clamp(14px, 1.22vw, 24px);
    padding: 0;
    margin: 0;
    margin-top: clamp(10px, 1.53vw, 30px);
  }

  &_navItem {
    flex: 1;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: clamp(22px, 1.73vw, 34px) clamp(20px, 2.04vw, 40px);
    border-radius: 20px;
    background-color: $bg-secondary;
  }

  &_activeNavItem {
    background-color: #1c1c1c;
    color: $font-color-invert;
  }
}

@media (max-width: $breakpoints-md) {
  .swiper {
    &_navItem {
      display: none;
    }

    &_navItemDisplay {
      display: flex;
    }
  }
}
