.newsSection {
  min-height: 664px;
  margin-bottom: 80px;
  padding: 50px 36px 0px 36px;
  border-radius: 16px;
  background: $color-bluish;

  &__text {
    margin-bottom: 36px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 22px;
    line-height: 136%;
    color: $color-extra;
  }

  &__pic {
    width: 1088px;
    height: 488px;
    border-radius: 16px 16px 0 0;

    & img {
      border-radius: 16px 16px 0 0;
    }
  }
}
