section.badge 

    .container 

        article.badge__wrapper

            h2.badge__title.
                В чем вся привлекательность результатов?

            p.badge__text.
                Мы использовали только <span>бесплатные методы привлечения</span> новой аудитории.
                Это доказывает, что опытные сммщики могут продвинуть бизнес даже без вложений в рекламу.