@import './fonts';

@mixin responsive-sizing($prop, $min, $max, $minDisplay, $maxDisplay) {
  $sizeDiff: $max - $min;
  $displayDiff: $maxDisplay - $minDisplay;

  #{$prop}: clamp(
    #{$min}px,
    calc(
      #{$min}px +
        (#{$sizeDiff} * ((100vw - #{$minDisplay}px) / #{$displayDiff}))
    ),
    #{$max}px
  );
}

@mixin inverse-responsive-sizing($prop, $min, $max, $minDisplay, $maxDisplay) {
  $sizeDiff: $max - $min;
  $displayDiff: $maxDisplay - $minDisplay;

  #{$prop}: clamp(
    #{$min}px,
    calc(#{$max}px - ($sizeDiff * (100vw - #{$minDisplay}px) / $displayDiff)),
    #{$max}px
  );
}

$max-width: 1240px;

//fonts
$font-family: 'Inter', sans-serif;
$second-family: 'Circe', sans-serif;
$third-family: 'Manrope', sans-serif;
$font3-family: 'Caveat', sans-serif;

//colors

$color-extra: #6e6e6e;
$color-greenish: rgba(45, 54, 30, 0.8);

//breakpoints
$breakpoints-xs: 400px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
