.swiper {
  width: 100%;
}

.swiper-control-wrapper {
  display: flex;
  justify-content: space-between;
}

.swiper-slides-numbers {
  font-family: Toxigenesis;
  font-size: clamp(2rem, 2.86vw, 2.5rem);
  font-weight: $font-weight-bold;
}

.swiper-button-wrapper {
  display: flex;
  gap: $spacing-10;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  margin-top: 0;
  background-color: $bg-dark;
  border-radius: $spacing-7;
  height: clamp(54px, 4.3vw, 60px);
  width: clamp(84px, 6.4vw, 90px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: clamp(24px, 2.14vw, 30px);
  color: $font-color-invert;
  font-weight: $font-weight-bold;
}

.slide_custom {
  padding: clamp($spacing-9, 2.9vw, $spacing-6);
  min-height: 100%;
  background-color: $bg-bright;
  border-radius: clamp($spacing-9, 2.14vw, $spacing-7);
}

.swiper_sliderWrapper {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: auto !important;
  padding: clamp($spacing-9, 2.9vw, $spacing-6);
  background-color: $bg-secondary;
  border-radius: clamp($spacing-9, 2.86vw, $spacing-6);
  position: relative;
  overflow: hidden;
}

.swiper_slidesWrapper {
  min-width: 100%;
  margin-bottom: clamp($spacing-11, 1.4vw, $spacing-9);
}

.swiper_slideTitle {
  margin-bottom: clamp($spacing-11, 1.4vw, $spacing-9);
  color: $font-color-invert;
}

.swiper_slideText {
  color: $font-color-invert;
  font-size: $font-size-mini;
}

@media (max-width: $breakpoints-sm) {
  .swiper_slideText {
    font-weight: $font-weight-bold;
  }
}
