.internal-section {
	margin-bottom: 100px;

	@include bp-large {
		margin-bottom: 40px;
	}

	@media only screen and (max-width: 500px) {
		overflow: hidden;
	}

	&__container {
		position: relative;
	}

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include bp-medium {
			flex-direction: column;
			align-items: normal;
			justify-content: normal;
			margin-bottom: 20px;
		}
	}

	&__title {
		margin-bottom: 40px;

		@include bp-xl {
			font-size: 60px;
		}

		@include bp-large {
			font-size: 50px;
		}

		@include bp-medium {
			margin-bottom: 20px;
			font-size: 40px;
		}
	}

	&__text {
		max-width: 350px;
		color: rgba(0, 0, 0, 0.87);
		font-size: 24px;
		line-height: 130%;

		@include bp-xl {
			font-size: 22px;
		}

		@include bp-large {
			font-size: 20px;
		}

		@include bp-medium {
			font-size: 18px;
		}
	}

	&__images {
		display: flex;
		justify-content: center;
		gap: 30px;

		& > div > img {
			@media only screen and (max-width: 1620px) {
				width: 400px;
			}

			@media only screen and (max-width: 1280px) {
				width: 300px;
			}

			@media only screen and (max-width: 970px) {
				width: 200px;
			}

			@media only screen and (max-width: 680px) {
				width: 140px;
			}
		}

		& > div:nth-child(1) {
			display: flex;
			flex-direction: column;
			gap: 60px;

			@include bp-large {
				gap: 30px;
			}

			@media only screen and (max-width: 680px) {
				gap: 10px;
			}
		}
	}

	&__pulse {
		position: absolute;
		z-index: -1;
		background: radial-gradient(50% 50% at 50% 50%, #cc4a3d 0%, rgba(204, 74, 61, 0) 100%);
		animation: pulse 2s linear infinite;

		&_1 {
			top: 11%;
			right: 15%;
			width: 283px;
			height: 283px;
			border-radius: 283px;

			@media only screen and (max-width: 1620px) {
				top: 12%;
				right: 19%;
			}

			@media only screen and (max-width: 970px) {
				width: 110px;
				height: 110px;
				top: 16%;
				right: 29%;
			}

			@media only screen and (max-width: 680px) {
				top: 23%;
				right: 3%;
			}
		}

		&_2 {
			top: 30%;
			left: 5%;
			width: 436px;
			height: 436px;
			border-radius: 436px;

			@media only screen and (max-width: 1620px) {
				top: 26%;
				left: 10%;
			}

			@media only screen and (max-width: 1280px) {
				width: 350px;
				top: 26%;
				left: 15%;
			}

			@media only screen and (max-width: 970px) {
				width: 129px;
				height: 129px;
				top: 37%;
				left: 28%;
			}

			@media only screen and (max-width: 680px) {
				left: -3%;
			}
		}

		&_3 {
			top: 42%;
			left: 44%;
			width: 456px;
			height: 456px;
			border-radius: 456px;

			@media only screen and (max-width: 1620px) {
				top: 44%;
				left: 41%;
			}

			@media only screen and (max-width: 1280px) {
				width: 350px;
				height: 350px;
			}

			@media only screen and (max-width: 970px) {
				width: 113px;
				height: 113px;
				top: 57%;
				left: 53%;
			}

			@media only screen and (max-width: 680px) {
				left: 41%;
			}
		}

		&_4 {
			top: 73%;
			left: 20%;
			width: 456px;
			height: 456px;
			border-radius: 456px;

			@media only screen and (max-width: 1620px) {
				top: 68%;
				left: 25%;
			}

			@media only screen and (max-width: 1280px) {
				width: 350px;
				height: 350px;
			}

			@media only screen and (max-width: 970px) {
				width: 94px;
				height: 94px;
				top: 82%;
				left: 34%;
			}

			@media only screen and (max-width: 680px) {
				top: 80%;
			}
		}
	}
}
