.aboutSection {
  margin-bottom: clamp($spacing-5, 4.28vw, $spacing-3);

  &_title {
    margin-bottom: clamp($spacing-10, 1.79vw, $spacing-8);
  }

  &_itemsWrapper {
    display: flex;
    gap: clamp($spacing-11, 1.1vw, $spacing-10);
    margin-bottom: clamp($spacing-5, 4.28vw, $spacing-3);
  }

  &_item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: clamp(64px, 8.4vw, 118px);
    background-color: $bg-secondary;
    border-radius: clamp($spacing-9, 2.9vw, $spacing-6);
    overflow: hidden;
    padding: clamp($spacing-9, 2.9vw, $spacing-6);

    & > h3 {
      flex: 1;
    }
  }

  &_imageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    & > img {
      height: 100%;
      width: 100%;
    }
  }

  &__bgNone {
    background: none;
  }

  &_activityContent {
    max-width: 47%;
    padding-top: clamp(50px, 7vw, 98px);
    padding-right: clamp($spacing-9, 2.9vw, $spacing-6);
    padding-bottom: clamp(24px, 10.1vw, 142px);
  }

  &_activityTitle {
    margin-bottom: clamp($spacing-9, 2.9vw, $spacing-6);
    color: $font-color-invert;
  }

  &_activityWrapper {
    display: flex;
    gap: $spacing-4;
    margin-bottom: clamp($spacing-5, 4.28vw, $spacing-3);
    background-color: $bg-medium;
    border-radius: clamp($spacing-9, 2.86vw, $spacing-6);
    overflow: hidden;
  }

  &_activityImageWrapper {
    position: relative;
    width: 100%;
    height: 100%;

    & > img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      height: auto;
      width: 100%;
      object-fit: contain;
    }
  }

  &_listWrapper {
    margin: 0;
    max-width: 80%;
  }

  &_itemLi {
    margin: 0;
    position: relative;
    padding-left: 20px;
    font-family: 'Toxigenesis';
    color: $font-color-invert;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      left: 7px;
      top: 0;
      transform: translateY(clamp(9px, 1.3vw, 18px));
      background-color: $font-color-invert;
    }
  }

  &_targetWrapper {
    display: flex;
    align-items: center;
    gap: clamp(20px, 7.57vw, 106px);
    flex-direction: column;
    padding: clamp($spacing-8, 2.9vw, $spacing-6)
      clamp($spacing-9, 10.9vw, 152px) clamp($spacing-8, 12.5vw, 175px)
      clamp($spacing-9, 10.9vw, 152px);
    background-color: $bg-dark;
    border-radius: clamp($spacing-9, 2.86vw, $spacing-6);
    margin-bottom: clamp($spacing-5, 4.28vw, $spacing-3);
  }

  &_targetTitle {
    color: $font-color-invert;
    font-family: Toxigenesis;
    font-size: $font-size;
  }

  &_targetText {
    color: $font-color-invert;
    font-family: Toxigenesis;
    font-weight: $font-weight-bold;
    font-size: $font-size-H3;
    text-align: center;
  }

  &_wishesWrapper {
    display: flex;
    gap: 40px;
    background-color: $bg-secondary;
    border-radius: clamp($spacing-9, 2.86vw, $spacing-6);
    overflow: hidden;
  }

  &_wishesContent {
    padding: clamp($spacing-8, 4.3vw, $spacing-3)
      clamp($spacing-9, 2.9vw, $spacing-6) clamp($spacing-8, 4.3vw, $spacing-3)
      clamp($spacing-9, 2.9vw, $spacing-6);
  }

  &_wishesTitle {
    margin-bottom: $spacing-9;
  }

  &_wishesText {
    font-size: $font-size-secondary;
    margin-bottom: clamp($spacing-9, 2.3vw, $spacing-7);
  }

  &_wishesQuoteWrapper {
    display: flex;
    gap: 28px;
  }

  &_wishesQuoteImage {
    max-width: 13%;
    width: 100%;

    & > img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &_wishesQuoteTextWrapper {
    padding-top: clamp($spacing-11, 2.1vw, $spacing-7);
  }

  &_wishesQuoteText {
    font-weight: $font-weight-bold;
    font-size: clamp(1.125rem, 1.7vw, 1.5rem);
    line-height: 145%;
  }

  &_wishesImageWrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 100%;
    max-width: 30%;

    & > img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}

@media (max-width: $breakpoints-md) {
  .aboutSection {
    &_activityContent {
      max-width: 60%;
    }

    &_listWrapper {
      max-width: 100%;
    }

    &_itemLi {
      &::before {
        width: 3px;
        height: 3px;
      }
    }
  }
}

@media (max-width: $breakpoints-sm) {
  .aboutSection {
    &_wrapper {
      padding: 0 $spacing-9;
    }

    &_activityImageWrapper {
      min-height: clamp(200px, 52vw, 300px);

      & > img {
        left: 19%;
        transform: rotate(90deg) scale(1.1);
        height: 100%;
        width: 100%;
      }
    }

    &_activityContent {
      padding-top: 0;
      max-width: 100%;
      padding-left: clamp($spacing-9, 2.9vw, $spacing-6);
    }

    &__flexColumn {
      flex-direction: column;
    }

    &_activityWrapper {
      gap: 0;
    }

    &_targetWrapper {
      padding-bottom: $spacing-8;
    }

    &_wishesImageWrapper {
      display: none;
    }

    &_wishesText {
      font-weight: $font-weight-bold;
    }

    &_wishesQuoteWrapper {
      gap: 0;
    }
  }
}
