section.aboutSection
  .aboutSection__left
    h3.aboutSection__title О проекте
    p.aboutSection__text Сарафанное радио в бизнес среде 19 лет приносило поток клиентов, а сайт был скорее формальностью. За такой длительный период работы команда реализовала десятки проектов, и на базе этого опыта появились готовые решения для отдельных отраслей и задач.
  .aboutSection__right
    .aboutSection__top 
      h3.aboutSection__title Поставленная задача
      p.aboutSection__text Задача была ответственной для нас: представить новый бренд EMS онлайн и привлекать клиентов через сайт.
    .aboutSection__bottom
      .aboutSection__text Наши SEO-специалисты разработали требования для создания нового сайта, продумали его структуру и подготовили контент. Но это уже отдельная глава истории проекта.
      a.aboutSection__btn(href="#")
        span.aboutSection__btn-text SEO кейс
        img.aboutSection__btn-icon(src="./assets/icons/arrow-down.svg", alt="стрелка вниз")

    


    
