section.allSection
  .allSection__top
    .allSection__top-left
      .allSection__content
        .allSection__title Все под рукой
        .allSection__text Плавающая навигация позволяет быстро ориентироваться по странице, и в любой момент перейти к нужному разделу. 
          | Этот элемент особенно важен для сайтов с большим объёмом контента: он показывает заботу о времени клиента и делает процесс изучения интуитивно понятным.
      .allSection__subtitle-box
        .allSection__subtitle-text Реализация меню в десктопной версии
        img.allSection__subtitle-icon(src="./assets/icons/arrow.svg", alt="стрелка")
    .allSection__top-right
  .allSection__video-box
    .allSection__video-container
      video.desktop(controls, autoplay, muted, loop)
        source(src="./assets/video/video1.mp4", type="video/mp4")
        | Ваш браузер не поддерживает видео.
      video.mobile(controls, autoplay, muted, loop)
        source(src="./assets/video/video5.mp4", type="video/mp4")
        | Ваш браузер не поддерживает видео.