section.answerSection
  .answerSection__left
    h3.answerSection__title От вопросов к ответам за пару секунд
    p.answerSection__text Поиск на сайте часто разочаровывает: вводишь запрос, а ответы хаотичны и особо не помогают. Мы сделали иначе: добавили запросы, которые ищут чаще всего, и разделили результаты на удобные категории.
  .answerSection__right
    .answerSection__video-container
      video(controls, autoplay, muted, loop)
        source(src="./assets/video/video2.mp4", type="video/mp4")
        | Ваш браузер не поддерживает видео.