section.brandSection
  .brandSection__container
    h2.brandSection__title Брендирование проекта
    .brandSection__content
      p.brandSection__left Клиент хотел, чтобы дизайн сайта подчёркивал технологичность, статус и надёжность компании, но при этом был современным и минималистичным. Сперва нужно было объединить все — философию компании, видение клиента и наши идеи, поэтому мы начали с создания брендбука.
      .brandSection__right
        h3.brandSection__right-title ИДЕЯ
        p.brandSection__right-text Брендбук помогает удерживать все элементы бренда в единой концепции и исключить хаос.
    .brandSection__pic
      img.brandSection__image(src="./assets/images/brand.png", alt="брендирование")