-
  var cards = [
    {title: "Логотип", text: "Добавили плавающую навигацию, которая облегчает ориентирование по странице и позволяет пользователям быстро переходить к нужным разделам"},
    {title: "Слоган", text: "Все грани автоматизации» отразил подход к работе — универсальность, глубина и внимание к деталям"},
    {title: "Шрифт", text: "Получил текстуру стали, заодно подчеркнул твёрдую экспертизу компании"}, 
    ]

section.corpoSection
  h2.corpoSection__title Корпоративный сайт для инжиниринговой компании
  .corpoSection__top
    .corpoSection__top-left Мы выстроили фирменный стиль вокруг синего цвета — символа стабильности и надёжности в психологии и нейробиологии. Он давно ассоциируется с технологическими компаниями и усиливает доверие пользователей.
    .corpoSection__top-right Брендбук не только задал стиль, но и стал основой для дальнейшей работы, а ещё помог сделать визуальную концепцию единой.
  .corpoSection__cards
    each card in cards
      .corpoSection__card
        h3.corpoSection__card-title=card.title
        p.corpoSection__card-text=card.text