-
  var cards = [
    {title: "Плавающая навигация", text: "Добавили плавающую навигацию, которая облегчает ориентирование по странице и позволяет пользователям быстро переходить к нужным разделам."},
    {title: "Интуитивный поиск", text: "Улучшили поиск на сайте, добавив популярные запросы и организовав результаты по удобным категориям."},
    {title: "Эффективная форма ОС", text: "Мы упростили форму обратной связи, оставив только необходимые поля и добавив возможность загрузки технического задания для удобства клиентов."}, 
    ]

section.functionalSection
  .functionalSection__content
    h2.functionalSection__title Функциональность, которая заботится о пользователе
    p.functionalSection__text Мы сделали интерфейс не просто удобным, а решающим задачи пользователей ещё до того, как они их сформулируют. Каждое решение при создании сайта помогло сэкономить время клиентов на разных этапах.
  .functionalSection__cards
    each card in cards
      .functionalSection__card
        h3.functionalSection__card-title=card.title
        p.functionalSection__card-text=card.text
