section.harmonySection
  .harmonySection__top
    .harmonySection__card-left
      .harmonySection__card-content
        h3.harmonySection__title Гармония визуального и текстового
        p.harmonySection__text Сложные технические проекты нуждаются в простой подаче информации. Поэтому мы создали структуру, где текст и графика не конкурируют, а усиливают друг друга. А между ними добавили воздуха, чтобы не перегружать пользователя и помочь сфокусироваться на сути.
      .harmonySection__card-pic
        img.harmonySection__card-image(src="./assets/images/harmony1.png", alt="гармония")
    .harmonySection__card-right
      .harmonySection__card-content
        h3.harmonySection__title Графические акценты
        p.harmonySection__text Фото установок и процессов  добавляют ощущение надёжности, ведь клиент смотрит на реальные проекты, а не абстракции.
      .harmonySection__card-pic
        img.harmonySection__card-image(src="./assets/images/harmony2.png", alt="акценты")
  .harmonySection__bottom
    .harmonySection__card-left
      .harmonySection__card-content
        h3.harmonySection__title Меньше кликов — больше информации
        p.harmonySection__text Пользователи ценят время. Это факт. Поэтому вместо традиционного меню мы добавили к навигации карточки с краткими описаниями страниц. Пользователь, не переходя внутрь, уже понимает, что будет. Это работает как мини-превью: достаточно навести курсор — и можно увидеть, что скрыто за ссылкой. Такой подход помогает клиенту быстро перемещаться по сайту.
      .harmonySection__card-pic.special
        img.harmonySection__card-image(src="./assets/images/harmony4.png", alt="навигация")
    .harmonySection__card-right
      .harmonySection__card-content
        h3.harmonySection__title Легко найти то, что нужно
        p.harmonySection__text Автоматизация — это всегда про уникальные задачи, но мы заметили, что запросы при поиске кейсов компании схожи. Поэтому каждый кейс оснастили тегами: отрасль, технология. Это упрощает процесс принятия решений.
      .harmonySection__card-pic
        img.harmonySection__card-image(src="./assets/images/harmony3.png", alt="автоматизация")
