section.matterSection
  .matterSection__container
    .matterSection__content
      h3.matterSection__title Все дело в деталях 
      p.matterSection__text Чтобы передать технологичность и инновационность, мы добавили в дизайн едва заметные элементы — например, сетки и схемы, которые ассоциируются с системами управления. Это как намёк на сложность процессов, которые решает компания, но без излишней перегрузки визуала.
    .matterSection__pic
        img.matterSection__image(src="./assets/images/matter.png", alt="детали")