section.requestSection
  .requestSection__pic
    img.requestSection__image(src="./assets/images/request.png", alt="заявка")
  .requestSection__content
    h3.requestSection__title  Простая форма заявки
    p.requestSection__text От формы обратной связи зависит оставить клиент свой контакт или нет. Поэтому мы убрали в ней все лишнее: только необходимые данные, чтобы начать диалог. Добавили поле для загрузки технического задания, ведь понимаем, что большинство клиентов — это инженеры и специалисты, которые лучше опишут свою задачу документом, чем словами.