section.siteSection
  .siteSection__content
    h3.siteSection__title Выкатка сайта прошла — время подводить итоги!
    p.siteSection__text Сайт стал не просто витриной с услугами, а реальным помощником в привлечении новых клиентов. Компания получила инструмент, который поможет начать новую главу в развитии бизнеса.
