section.teamSection
  .teamSection__wrapper
    .teamSection__content Наша команда уже более 12 лет работает с WordPress, Laravel и другими современными технологиями, поэтому с технической точки зрения всё прошло гладко.