section.techSection
  .techSection__content
    .techSection__subtitle Ключевая идея дизайна
    .techSection__title Технология, которой доверяешь
    .techSection__text Мы решили показать идею проекта через реальные кейсы и фотографии установок. Пользователь с первых секунд должен видеть примеры готовых решений и главное — доверять компании
  .techSection__bottom
    span.techSection__bottom-text Смотрите наши решения
    img.techSection__bottom-icon(src="./assets/icons/arrow-right.svg", alt="стрелка вправо")
