section.testSection
  .testSection__wrapper
    h2.testSection__title Тестирование
    .testSection__card
      .testSection__card-left
        h3.testSection__card-title Особенности тестирования
        p.testSection__card-text После в дело вступил тестировщик — он проверил, чтобы всё работало без сбоев. Протестировал формы обратной связи, кнопки, видео и баннеры, чтобы они корректно работали и отображались на любом устройстве. Особое внимание мы уделили скорости загрузки страниц, логике переходов по меню и разделам. 
      .testSection__card-right
        img.testSection__card-image(src="./assets/images/test1.png", alt="тестирование")
    .testSection__card
      .testSection__card-left
        h3.testSection__card-title Тестирование админ-панели
        p.testSection__card-text Также проверили админ-панель: удобно ли добавлять тарифы, новости и изображения. Дополнительно протестировали нагрузоустойчивость сайта, чтобы он оставался быстрым и стабильным даже при большом количестве посетителей. После устранения мелких недочётов сайт стал полностью готов к запуску — быстрым, удобным и надёжным.
      .testSection__card-right
        img.testSection__card-image(src="./assets/images/test2.png", alt="тестирование")