section.about 

    .container 

        article.about__wrapper 

            .about__header

                h2 О проекте

                p.
                    Zlucky — производитель цельнозерновых снеков в Беларуси.
                    Компания применяет только 100% натуральные ингредиенты,
                    без соли, сахара и консервантов.
                    Подходит клиентам с непереносимостью глютена.

            .about__body 

                picture.about__image
                    img(src=require("../../assets/img/about1.png"), alt="phone")

                .about__content 

                    div.about__box
                        span Цели проекта
                        p.
                            Увеличить количество подписчиков, 
                            охват и вовлеченность аккаунта Instagram, 
                            но без бюджета на продвижение.
                        p.
                            Нам стал интересен этот вызов, поэтому мы предложили 
                            протестировать гипотезу - изменить дизайн профиля и 
                            использовать #Хештеги и Reels для привлечения новой аудитории.

                    div.about__box
                        span Наш план
                        p
                            span.
                                1. Изменить дизайн профиля
                            span.
                                2. Возобновить регулярное ведение профиля
                            span.
                                3. Подготовить профиль к рекламе для увеличения количества продаж.



