@font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/circe_regular.eot');
  src:
    url('../assets/fonts/circe_regular.woff') format('woff'),
    url('../assets/fonts/circe_regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Onest';
  src:
    url('../assets/fonts/Onest-Regular.woff2'),
    url('../assets/fonts/Onest-Regular.woff') format('woff'),
    url('../assets/fonts/Onest-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Onest';
  src:
    url('../assets/fonts/Onest-Medium.woff2'),
    url('../assets/fonts/Onest-Medium.woff') format('woff'),
    url('../assets/fonts/Onest-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src:
    url('../assets/fonts/Manrope-Regular.woff2'),
    url('../assets/fonts/Manrope-Regular.woff') format('woff'),
    url('../assets/fonts/Manrope-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src:
    url('../assets/fonts/Manrope-Medium.woff2'),
    url('../assets/fonts/Manrope-Medium.woff') format('woff'),
    url('../assets/fonts/Manrope-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src:
    url('../assets/fonts/Manrope-SemiBold.woff2'),
    url('../assets/fonts/Manrope-SemiBold.woff') format('woff'),
    url('../assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
