.promotionSection {
  &__card {
    display: flex;
    gap: 15px;
    margin-bottom: 60px;

    &:nth-of-type(1) {
      @include responsive-sizing(min-height, 266, 367, 992, 1440);

      & .promotionSection__card-content {
        background-image: url('../assets/images/promotion-bg.png');
      }
    }
    &:nth-of-type(2) {
      flex-direction: row-reverse;
      min-height: 212px;

      & .promotionSection__card-content {
        background-color: $color-accent;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }
    }
    &:nth-of-type(3) {
      @include responsive-sizing(min-height, 371, 564, 992, 1440);

      & .promotionSection__card-content {
        background-image: url('../assets/images/promotion-bg2.png');
        flex-direction: column-reverse;
        justify-content: flex-end;
      }
    }
  }

  &__card-pic {
    max-width: 918px;
    width: 100%;
    border-radius: 26px;

    & img {
      border-radius: 26px;
      object-position: left;
    }
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    max-width: 337px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 26px;
    padding: 24px 32px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__card-number {
    align-self: flex-start;
    @include responsive-sizing(min-height, 36, 42, 400, 1440);
    padding: 8px 15px 4px 15px;
    margin-bottom: 6px;
    border-radius: 80px;
    font-family: $font-family;
    font-weight: 700;
    @include responsive-sizing(font-size, 20, 26, 400, 1440);
    line-height: 115%;
    color: $color-main;
    background-color: $color-light;
  }

  &__card-text {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 24, 400, 1440);
    line-height: 120%;
    color: $color-main;
    margin-bottom: 6px;
  }

  &__comment-box {
    display: flex;
    @include responsive-sizing(gap, 12, 32, 992, 1440);
    min-height: 246px;
    @include responsive-sizing(padding-block, 20, 24, 992, 1440);
    @include responsive-sizing(padding-inline, 20, 32, 992, 1440);
    margin-top: 100px;
    border-radius: 26px;
    background-color: $color-accent;
  }

  &__comment-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 364px;
    width: 100%;
  }

  &__comment-title {
    @include responsive-sizing(min-height, 36, 47, 400, 1440);
    border-radius: 18px;
    padding: 8px 20px;
    background-color: $color-light;
    font-family: $font-family;
    font-weight: 700;
    @include responsive-sizing(font-size, 20, 26, 400, 1440);
    line-height: 120%;
    color: $color-main;
  }

  &__comment-pic {
    max-width: 810px;
    width: 100%;
    border-radius: 18px;

    & img {
      border-radius: 18px;
      object-fit: contain;
      object-position: top;
    }
  }

  &__comment-text {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1440);
    line-height: 130%;
    color: $color-main;
  }

  @media (max-width: $breakpoints-lg) {
    &__comment-box {
      flex-direction: column;
    }

    &__comment-title {
      margin-bottom: 8px;
    }
  }

  @media (max-width: $breakpoints-md) {
    &__card {
      flex-direction: column;
      gap: 8px;
    }

    &__card:nth-of-type(2) {
      flex-direction: column;
    }

    &__card-content {
      max-width: 100%;
      min-height: 230px;
      padding: 20px;
    }
  }

  @media (max-width: 450px) {
    &__card-pic {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-radius: 20px;

      & img {
        width: auto;
        height: 100%;
      }
    }

    &__card:nth-of-type(1) .promotionSection__card-pic {
      height: 266px;
    }

    &__card:nth-of-type(2) .promotionSection__card-pic {
      height: 212px;
    }

    &__card:nth-of-type(2) .promotionSection__card-content {
      min-height: 212px;
    }

    &__card:nth-of-type(3) .promotionSection__card-pic {
      height: 371px;
    }

    &__card:nth-of-type(3) .promotionSection__card-content {
      background-image: url('../assets/images/promotion-bg2-mobile.png');
    }

    &__card-number {
      margin-bottom: 4px;
    }

    &__comment-box {
      min-height: 258px;
      margin-top: 70px;
    }

    &__comment-pic {
      height: 70px;
      border-radius: 10px;

      & img {
        border-radius: 10px;
      }
    }

    .text-hidden {
      display: none;
    }
  }
}
