extends layouts/MainLayout
include mixins/index.pug

block title
  | Pa-rus

block content
  body.body
    .container
      main 
        include ./sections/welcomeSection/welcomeSection.pug
        include ./sections/beginworkSection/beginworkSection.pug



