extends layouts/MainLayout
include mixins/index.pug

block title
  | Pa-rus

block content
  body.body
    .container
      main 
        include ./sections/welcomeSection/welcomeSection.pug
        include ./sections/beginworkSection/beginworkSection.pug
        //- include ./sections/beforeSection/beforeSection.pug
        include ./sections/trendSection/trendSection.pug
        include ./sections/identitySection/identitySection.pug
        include ./sections/decorSection/decorSection.pug
        //- include ./sections/navSection/navSection.pug
        //- include ./sections/afterSection/afterSection.pug
        //- include ./sections/mobileSection/mobileSection.pug
        //- include ./sections/resultSection/resultSection.pug
        //- include ./sections/marketing/marketing.pug



