extends layouts/MainLayout
include mixins/index.pug

block title
  | MPS-PPC

block content
  body.body
  .container    
    include sections/headerSection
    include sections/aboutSection
    include sections/strategySection
    include sections/baseSection
    include sections/frameSection
    include sections/optimizationSection
    include sections/storySection
    include sections/resultSection
    include sections/googleSection
    include sections/graphSection
    include sections/teamSection
    include sections/orderSection