extends layouts/MainLayout
include mixins/index.pug

block title
  | Design

block content
  body.body  
    .container
      include sections/headerSection  
      include sections/resultsSection  
      include sections/targetSection 
      include sections/casesSection 
      include sections/nichesSection 
      include sections/stagesSection 

  script
    include js/filtration.js 
    include js/slider.js 
    //- include js/customizeSlider.js 

