section.businesSection
  .businesSection__wrapper.wrapper
    h3.businesSection__title.demica-title Что это значит для бизнеса?
    p.businesSection__text Это наглядно показывает, что своевременная адаптация и точная стратегия продвижения могут принести ошеломляющий успех. В условиях стремительно меняющегося рынка важно реагировать быстро и точно, что мы сделали для Demica. <br>
      |Мы вкладываем максимум усилий в развитие каждого проекта, создавая индивидуальные решения, которые учитывают все нюансы ниши. 