section.dataSection
  .dataSection__wrapper.wrapper
    .dataSection__top 
      .dataSection__top-left 
        h3.dataSection__title.demica-title <span>Исходные данные:</span><br> проблемы, требующие срочного вмешательства
        p У Demica сайт был создан на самописной системе, где всё написано с нуля без использования шаблонов или платформ. Это обернулось множеством технических ошибок, которые мешали проекту выйти в Топ. Поэтому спустя пару месяцев работы мы провели технический аудит. Проверили 65 ключевых параметров.
      .dataSection__top-right
        .dataSection__bottom-btn.accent-btn Наши исправления
        ol.dataSection__list
          li Мы скорректировали файл robots.txt, добавили блокировки для временных страниц.
          li Добавили canonical-теги для всех страниц.
          li Исправили битые ссылки в sitemap.xml, добавили недостающие страницы.
          li Нашли дубли главной страницы с разными URL (например, index.php) и настроили 301 редиректы. 
          li Исправили ошибки в HTML и CSS, в том числе проблему с множественными тегами &lt;h1&gt; на главной странице. 
          li Добавили микроразметку Schema.org и OpenGraph на главную и внутренние страницы. 
          li Мы изменили структуру URL-адресов, заменили подчеркивания на дефисы и сделали их более логичными. 
          li Добавили ссылку на карту сайта в файле robots.txt.
          li Оптимизировали изображения, настроили кэширование и исправили проблемы с CSS и JS.
          li Добавили alt-теги ко всем изображениям.
    .dataSection__bottom
      h3.dataSection__bottom-title.demica-title <span> Итоги<span>
      p.dataSection__bottom-text Внешние обстоятельства тогда сыграли нам на руку. В тот момент многие известные бренды один за другим стали покидать Россию, и пользователи массово искали возможности для покупок. Мы сработали на опережение: написали статьи на горячие темы, например,“Бренды косметики, которые ушли из России».
