section.headerSection
  .headerSection__wrapper
    .headerSection__content
      h1.headerSection__title Продвижение сайта байера
      p.headerSection__text Создали новый канал продаж: стратегия SEO, ситуативный маркетинг и нестандартные решения в горячий сезон
    .headerSection__region-box
      .headerSection__region-btn Поисковые системы:
      span.headerSection__region-text Google и Яндекс
      .headerSection__region-btn Регион продвижения: 
      span.headerSection__region-text Россия

    