section.marketingSection
  .marketingSection__wrapper.wrapper
    .marketingSection__content
      h3.marketingSection__title.demica-title <span>Ситуативный маркетинг:</span><br> в действии
      p.marketingSection__text Мы подстраивались под тренды и извлекали из них выгоду для проекта. В условиях высокой конкуренции на рынке гибкость и способность быстро реагировать на изменения — ключ к удержанию и расширению целевой аудитории. Такой подход помог не только привлечь новых пользователей, но и увеличить продажи.
    .marketingSection__picture
      img.marketingSection__image(src="./assets/images/man.png", alt="парень")
      .marketingSection__name Кирилл, <br> SEO тимлид