section.maximumSection
  .maximumSection__wrapper.wrapper
    .maximumSection__left 
      .maximumSection__btn.accent-btn Ситуативный маркетинг
      h3.maximumSection__title.demica-title Из любых обстоятельств берем максимум выгоды
      p.maximumSection__text После проработки коммерческих страниц, мы перешли к сбору информационных запросов и созданию статей для Блога. Писали на популярные темы, которые интересны целевой аудитории. Среди них – “Как отличить стайлер Dyson от подделки”, “Как отличить оригинал кроссовок Adidas”. 
    .maximumSection__right
      .maximumSection__right-box
        img.maximumSection__right-icon(src="./assets/icons/question.svg", alt="вопрос")
        .maximumSection__box-text Как отличить стайлер Dyson от подделки?
      .maximumSection__right-box
        img.maximumSection__right-icon(src="./assets/icons/question.svg", alt="вопрос")
        .maximumSection__box-text Как отличить оригинал кроссовок Adidas?