section.resultSection
  .resultSection__wrapper.wrapper
    h3.resultSection__title.demica-title <span>Результаты</span>, которые  сложно не заметить
    .resultSection__box 
      .resultSection__chart-container 
        img.resultSection__chart-bg(src="./assets/images/result.png", alt="график")
        .resultSection__chart
      .resultSection__content
        p.resultSection__text За чуть меньше года нам удалось сделать из сайта полноценный канал продаж. Сейчас через органический трафик приходит более <span>10000 пользователей/ месяц</span>, а на старте сотрудничество это число было в 5 раз меньше.
        button(type="button" data-images='["./assets/images/modal-4.png"]').resultSection__original-btn.show-modal-btn
          .resultSection__btn-text Оригинальный график
          img.resultSection__btn-image(src="./assets/icons/arrow-down-right.svg", alt="стрелка")
    button(type="button" data-images='["./assets/images/modal-4.png"]').resultSection__original-btn.mobile.show-modal-btn
      .resultSection__btn-text Оригинальный график
      img.resultSection__btn-image(src="./assets/icons/arrow-down-right.svg", alt="стрелка")