section.solutionSection
  .solutionSection__wrapper.wrapper
    .solutionSection__top
      .solutionSection__top-left
        h3.solutionSection__title.demica-title Сработало ли решение? <br> <span>Однозначно да! </span>
      .solutionSection__top-right
        p Внешние обстоятельства тогда сыграли нам на руку. 
        p В тот момент многие известные бренды один за другим стали покидать Россию, и пользователи массово искали возможности для покупок. Мы сработали на опережение: написали статьи на горячие темы, например,“Бренды косметики, которые ушли из России».
    .solutionSection__picture 
      img.solutionSection__image(src="./assets/images/solution.png", alt="косметика")
    .solutionSection__bottom
      .solutionSection__btn.accent-btn Топ-1 по всем ключам
      .solutionSection__table-box
        .solutionSection__table 
          img.solutionSection__table-image(src="./assets/images/table.png", alt="топ-1 по ключам")
        .solutionSection__description
          p Подтверждение тому Топ-1 по всем ключам, по которым мы продвигали сайт с помощью статей.
          .solutionSection__description-bottom
            p А для того, чтобы превратить информационный трафик в коммерческий интерес, мы добавляли ссылки на услуги компании и перечень брендов, товары которых можно заказать. 
            button(type="button").solutionSection__original-btn
              .solutionSection__btn-text Оригинальный график
              img.solutionSection__btn-image(src="./assets/icons/arrow-down-right.svg", alt="стрелка")
      .solutionSection__circle
        img.solutionSection__circle-image(src="./assets/icons/circle.svg", alt="круг") 