section.startSection
  .startSection__wrapper.wrapper
    .startSection__btn.accent-btn Старт проекта
    .startSection__text Пока все готовят сани летом, в digital — сайт перед Черной пятницей. Компания обратилась к нам летом, за пару месяцев до Черной пятницы, сезона повышенного спроса. У нас была <span>чёткая задача</span>: привести сайт в боевую готовность и создать стратегию продвижения, чтобы не упустить ни одного клиента в горячий сезон.
