section.workSection
  .workSection__wrapper.wrapper
    .workSection__subtitle Работы по проекту
    h2.workSection__title.dark-title Какие этапы были пройдены?
    .workSection__cards
      .workSection__card
        .workSection__card-title 
          span 01
          span Подготовка коммерческих страниц
        .workSection__card-content
          .workSection__card-text
            p Сначала сделали упор на общие и высокочастотные запросы: «товары из европы» и «обувь из европы». 
            p Следующим шагом проработали более узкие запросы, которые были связаны с конкретными брендами — Dyson, Adidas, Zara и др. Для популярных магазинов мы предложили создать отдельные посадочные страницы.
          button(type="button").workSection__card-btn
            .workSection__btn-text Оригинальная таблица
            img.workSection__btn-image(src="./assets/icons/arrow-down-right.svg", alt="стрелка")
        .workSection__card-pic
          img.workSection__card-image(src="./assets/images/work1.png", alt="ттаблица")
      .workSection__card
        .workSection__card-title 
          span 02
          span Добавление разделов
        .workSection__card-content
          .workSection__card-text
            p А ещё добавить разделы для крупных категорий: «детская обувь» и «одежда для спорта» и др. Это помогло пользователям легче ориентироваться на сайте и быстрее находить нужные категории товаров. Выросла и конверсия.
          button(type="button").workSection__card-btn
            .workSection__btn-text Оригинальная таблица
            img.workSection__btn-image(src="./assets/icons/arrow-down-right.svg", alt="стрелка")
        .workSection__card-pic
          img.workSection__card-image(src="./assets/images/work2.png", alt="ттаблица")
      .workSection__card
        .workSection__card-title 
          span 03
          span Нестандартные решения
        .workSection__card-content  
          .workSection__card-left
            p Мы понимаем, что успешное продвижение — это больше, чем просто SEO. Погрузившись в проект и изучив специфику рынка, мы предложили вынести услугу “Виртуальный адрес” на отдельную страницу. Такое решение помогло:
            ul.workSection__card-list
              li Лучше презентовать дополнительную услугу, 
              li Акцентировать внимание на ее преимуществах и особенностях,
              li Создать более убедительное предложение,
              li Продвигать услугу в поисковых системах.
          .workSection__card-right
            p Для бизнеса рост спроса на услугу “Виртуальный адрес” выгоден. Значительно упрощаются операционные процессы. Пользователи могут самостоятельно оформлять заказы и применять промокоды, снижается нагрузка на команду и освобождаются ресурсы для более важных задач.
    .workSection__bottom
      h2.workSection__bottom-title.dark-title Наша особенность
      p.workSection__bottom-text В этом и есть особенность нашего подхода — мы мыслим шире и всегда стараемся предлагать новые идеи и услуги. Ищем дополнительные регионы для масштабирования и варианты развития бизнеса наших партнёров, чтобы они были на шаг впереди конкурентов.
