.resultsSection {
  margin-bottom: clamp(90px, 8.57vw, 120px);
  background: linear-gradient(90deg, #061faa 0%, #2641d0 100%);
  padding-block: clamp(60px, 6.43vw, 90px) clamp(60px, 7.14vw, 100px);

  &_title {
    margin-bottom: clamp(32px, 3.57vw, 50px);
    color: #fff;
    max-width: 55%;
  }

  &_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    row-gap: 33px;
    column-gap: clamp(36px, 2.86vw, 40px);
  }

  &_itemIcon {
    margin-bottom: 14px;
    width: clamp(46px, 4.64vw, 65px);
    height: clamp(46px, 4.64vw, 65px);
  }

  &_itemTitle {
    margin-bottom: 10px;
    font-weight: 600;
    color: #fff;
  }

  &_itemText {
    font-size: clamp(1.125rem, 1.43vw, 1.25rem);
    line-height: 1.3;
    color: #fff;
    opacity: 80%;
  }
}

@media (max-width: $breakpoints-lg) {
  .resultsSection {
    &_title {
      max-width: 70%;
    }
  }
}

@media (max-width: $breakpoints-md) {
  .resultsSection {
    &_wrapper {
      row-gap: 36px;
      grid-template-columns: 1fr;
    }

    &_title {
      max-width: 100%;
    }
  }
}
