section.descriptionSection
  .descriptionSection__cards
    .descriptionSection__card
      .descriptionSection__card-left
        p.descriptionSection__card-text Мы осознали, что для пользователей EMS Sklad критически важно сразу понять, как работает система. Сухие текстовые описания вызывают больше вопросов, чем дают ответов.
      .descriptionSection__card-right
        img.descriptionSection__card-image.desktop(src="./assets/images/message.png", alt="сообщение")
        img.descriptionSection__card-image.mobile(src="./assets/images/message-mobile.png", alt="сообщение")
    .descriptionSection__card  
      .descriptionSection__card-left 
        p.descriptionSection__card-text Описывать возможности системы в тексте — это как рассказывать о закате, но не показывать его. Поэтому для каждой системы мы добавили скриншоты интерфейса и понятные графики. Пользователь видит не только, что умеет система, но и как это выглядит в действии.
      .descriptionSection__card-right
        img.descriptionSection__card-image(src="./assets/images/description.png", alt="описание")
    .descriptionSection__card
      .descriptionSection__card-left
        p.descriptionSection__card-text Такой подход:
          ul.descriptionSection__list
            li.descriptionSection__list-item Снимает барьеры недоверия — пользователи понимают, что перед ними реальный, продуманный продукт.
            li.descriptionSection__list-item Помогает быстрее оценить релевантность функционала для их задач.
      .descriptionSection__card-right
        img.descriptionSection__card-image(src="./assets/images/solution.png", alt="решение")
