section.devSection
  .devSection__top
    .devSection__top-left
    .devSection__top-right
      .devSection__icon-box
        .devSection__icon-pic
          img.devSection__icon(src="./assets/icons/dev.svg", alt="код")
        .devSection__icon-text Разработка
      .devSection__text Затем проект оказался в руках front-end и back-end разработчиков, которые превратили макеты Figma в работающий проект. Его разработали на WordPress — идеальное решение для сайтов-каталогов. Эта CMS позволяет добавлять и обновлять контент без технических знаний, а её гибкость поможет легко масштабировать проект в будущем.
  .devSection__center
    .devSection__center-left
      .devSection__icon-box
        .devSection__icon-pic
          img.devSection__icon(src="./assets/icons/dev.svg", alt="код")
        .devSection__icon-text Верстка
      .devSection__text Вёрстка слайдеров, добавление проверок корректности ввода, фильтры — все легко на плечи наших frontend разработчиков. Они создали хедер, который подстраивается под действия пользователя.
    .devSection__center-right
      ol.devSection__list 
        li.devSection__list-item При прокрутке вверх он появляется, упрощая навигацию
        li.devSection__list-item При прокрутке вниз исчезает, чтобы не закрывать контент. Кроме того, для удобства реализован компактный вариант хедера, который появляется при возврате к верхней части страницы.
  .devSection__picture
    img.devSection__bottom-image(src="./assets/images/screen.png", alt="скрин")
  .devSection__bottom
    .devSection__bottom-text Баннеры на главной и других страницах, например, в разделе «Возможности», можно менять прямо в админ-панели. Пользователь может загрузить изображение или видео, в зависимости от цели. Эти баннеры автоматически растягиваются на всю высоту экрана, независимо от устройства, создавая единый стиль отображения.
  .devSection__bottom-pic
    img.devSection__bottom-image(src="./assets/images/laptop.png", alt="ноутбук")