section.factorySection
  .factorySection__top
    .factorySection__top-left
      img.factorySection__top-icon(src="./assets/icons/rabbit.svg", alt="RabbitMQ")
      .factorySection__top-content
        h3.factorySection__title Внедрение RabbitMQ
        p.factorySection__top-text Осноpвным функционалом сайта были формы обратной связи, и для их надёжной работы мы внедрили RabbitMQ. Он инструмент обеспечивает бесперебойный обмен сообщениями, исключает перегрузки и задержки. Для нашего клиента это значит, что сайт будет работать стабильно, а данные отправляться, даже если трафик вырастет или проект станет масштабнее.       
    .factorySection__top-right
      img.factorySection__top-icon(src="./assets/icons/elastic.svg", alt="Elasticsearch")
      .factorySection__top-content
        h3.factorySection__title Использование Elasticsearch
        p.factorySection__top-text Чтобы улучшить пользовательский опыт, мы добавили Elasticsearch. Этот инструмент делает поиск на сайте быстрым и точным: он исправляет опечатки, подсказывает подходящие результаты и выделяет нужный блок. Пользователи легко могут находить информацию, даже если ввели запрос с ошибкой.
  .factorySection__center
    .factorySection__center-content
      h3.factorySection__title Паттерн проектирования «Фабрика»
      p.factorySection__center-text Чтобы сайт можно было легко развивать и масштабировать, мы использовали паттерн проектирования «Фабрика». Этот подход помогает выбирать нужный метод или класс в зависимости от запроса пользователя. Это значит, что если в будущем потребуется добавить новый раздел или функцию, это можно будет сделать быстро и без кардинальных изменений в исходном коде. Такой подход делает сайт готовым к любым доработкам.
  .factorySection__bottom
    .factorySection__bottom-left
      h2.factorySection__bottom-title В итоге сделали сайт, который <span>стал лучшим аргументом</span>
    .factorySection__bottom-right
      p.factorySection__bottom-text Новый сайт теперь помогает пользователям принимать решения и мягко подводит к целевым действиям. И является своего рода мостом между продуктом и клиентом, который транслирует ценности EMS Sklad: надёжность, технологичность и эффективность.