section.headerSection
  .headerSection__wrapper
    .headerSection__content
      h1.headerSection__title <span>Сайт-каталог</span> для SaaS-решений
      p.headerSection__subtitle Классному приложению — классный сайт!        