section.headerSection
  .headerSection__wrapper
    .headerSection__content
      h1.headerSection__title Сайт-каталог для SaaS-решений
      p.headerSection__subtitle Классному приложению — классный сайт!        