section.newsSection
  p.newsSection__text В раздел с новостями можно сортировать материалы по дате или названию. На странице конкретной новости автоматически формируется оглавление на основе заголовков, упрощая навигацию. А в админ-панели можно добавить текст, заголовки и изображения любого объёма. 
    |Команда сверстала весь дизайн пиксель к пикселю.
  .newsSection__pic
    img.newsSection__image(src="./assets/images/news.png", alt="новости")