section.startSection
  .startSection__top
    .startSection__top-left
      p.startSection__top-text К нам обратился лидер в области автоматизации с задачей — создать сайт для нового проекта. 
      p.startSection__top-text EMS Sklad — коробочное решение для управления складскими процессами: от логистики и интеграции с маркетплейсами до формирования отчётов и аналитики.
      p.startSection__top-text Его особенность в том, что не нужно тратить значительную часть прибыли на индивидуальную настройку системы.
    .startSection__top-right Компания на протяжении почти 20 лет работала с проектами своих клиентов, где вёлся складской учёт и создала решение, которое учитывает максимум требований.
  .startSection__center
    .startSection__center-content
      p.startSection__center-text Нам предстояла <span>ответственная задача<span> — понятно и наглядно рассказать о возможностях и преимуществах системы.
  .startSection__bottom
    .startSection__bottom-content
      .startSection__bottom-text На одном сайте нам нужно было бы объединить интересы двух групп целевой аудитории в одном месте:
      ul.startSection__bottom-list
        li.startSection__list-item Бизнесы, которые ищут готовое решение
        li.startSection__list-item Разработчики клиентов, которым нужны простые и понятные инструменты для интеграции
  .startSection__pic 
    img.startSection__image(src="./assets/images/start3.png", alt="целевая аудиторияы")