section.structureSection
  h2.structureSection__title.ems-title Карточная структура интерфейса
  p.structureSection__text Интерфейс мы создали в карточной структуре. Вдохновились подходом Yandex Cloud. Каждая функция оформлена как отдельный модуль с кратким описанием, визуальными элементами и понятным призывом к действию. Информация подаётся чётко и доступно. Это помогает быстрее находить нужные решения, а значит и совершать целевые действия.
  .structureSection__cards
    .structureSection__card
      h3.structureSection__card-title Референс от  Yandex Cloud
      .structureSection__card-pic
        img.structureSection__card-image(src="./assets/images/structure1.png", alt="облачные сервисы")
    .structureSection__card
      h3.structureSection__card-title Наш результат
      .structureSection__card-pic
        img.structureSection__card-image(src="./assets/images/structure2.png", alt="функционал сервиса")