section.tariffSection
  .tariffSection__content
    h2.tariffSection__title.ems-title Эффективное управление тарифами
    .tariffSection__text На странице с тарифами пользователи могут легко переключаться между планами и сравнивать их. В админ-панели легко управлять карточками тарифов: добавлять, редактировать или удалять их. 
      |Эти решения сделали сайт простым в использовании и интерактивным, а управление контентом максимально удобным.