section.teamSection
  .teamSection__left
    img.teamSection__image(src="./assets/images/team.png", alt="команда")
  .teamSection__right
    .teamSection__right-text В конце проекта мы спросили команду о сложностях проекта, а в ответ услышали: <br> «Сложностей нет, мы готовы реализовать даже самые креативные и нестандартные задачи».
    .teamSection__bottom
      .teamSection__bottom-text Нужна качественная разработка, с которой можно будет расти и развиваться?
      a.teamSection__bottom-btn Оставить заявку