extends layouts/MainLayout
include mixins/index.pug

block title
  | Kurs-market

block content
  body.body
    .container
      include sections/headerSection  
      include sections/aboutSection 
      include sections/startSection
      include sections/taskSection
      include sections/processSection
      include sections/resultSection
      include sections/workSection
      include sections/devSection
      include sections/orderSection