@import "./fonts";

$max-width: 1400px;

//fonts
$font-family: Circe;
$font-weight-bold: 500;
$font-weight-primary: 700;


$font-size: 1.75rem;
$font-size-secondary: 2rem;
$font-size-H1: 3.875rem;
$font-size-H2: 3.44rem;
$font-size-H3: 2.25rem;
$font-size-H4: 2rem;


$font-color: #363636;
$font-color-invert: #FFFFFF;
$font-color-secondary:#555555;
$font-color-H:#373C41;
$font-color-bright:#F16237;
$max-width: 1400px;

//backgrounds
$bg-secondary: #F5F5F5;
$bg-dark: #393939;
$bg-bright: #F16237;

