section.marketing

    .container

        p.marketing__text.
            Если вы хотите привлекать больше клиентов через Инстаграм, заполните форму ниже,
            и наши эксперты разработают индивидуальный план Вашего успеха в социальных сетях.