+layout("task", "task__wrapper")

    .task__images
        .task__circle
        .task__circle
        .task__img
            img(src=require("./assets/img/task1.png"), alt="logo")
        .task__img
            img(src=require("./assets/img/task2.png"), alt="logo")
        .task__img
            img(src=require("./assets/img/task3.png"), alt="logo")

    .task__content 

        h2.task__title.
            Задачи

        ul.task__list

            li.
                Провести анализ целевой аудитории и конкурентов
            li.
                Создать прототип сайта
            li.
                Разработать новый дизайн сайта с учетом требований заказчика
            li.
                Программирование сайта на новой CMS — WordPress
            li.
                Реализовать автоматическую систему бронирования
            li.
                Внедрить модуль с расписанием
            li.
                Произвести тестирование сайта

