section.header 

    .container 

        .header__wrapper 

            h1.header__title.
            
                SMM для личного бренда модели


            p.header__text.

                Увеличили охваты до <span>578 825</span> человек

            .header__image

