@import './fonts';
@import './variables';
@import '../mixins/mixinsStyles.scss';
@import './headerSection/_headerSection.scss';
@import './orderSection/_orderSection.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  color: $font-color;
}

body {
  position: relative;
  scroll-behavior: smooth;
  z-index: -1;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: $max-width;
  padding: clamp(20px, 2.38vw, 30px);
  padding-bottom: 0;
  width: 100%;
  margin: 0 auto;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-weight-bold;
  line-height: 115%;
  font-family: $font-family;
  color: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-size-H1;
}

h2 {
  font-size: $font-size-H2;
}

h3 {
  font-size: $font-size-H3;
}

h4 {
  font-size: $font-size-H4;
}

p,
span,
li,
a,
ul,
figcaption,
blockquote,
input,
label,
input::placeholder {
  font-size: $font-size;
  line-height: 140%;
  color: inherit;
  margin: 0;
  padding: 0;
}

span {
  font-size: inherit;
  line-height: inherit;
}

.li {
  color: inherit;
  margin: 0;
  padding: 0;
}

.boldText {
  font-weight: $font-weight-bold;
}

.lightText {
  $font-weight: $font-weight-primary;
}

.colorInvertText {
  color: $font-color-invert;
}

.brightText {
  color: $font-color-bright;
}

.whiteBg {
  background-color: $bg-white;
}

.brightBg {
  background-color: $bg-bright;
}

.secondaryBg {
  background-color: $bg-secondary;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.textCenter {
  text-align: center;
}

.flexContainer {
  display: flex;
  justify-content: space-between;

  & > div {
    flex: 1;
  }
}

.flex-start {
  justify-content: flex-start;
}

.flex-1 {
  flex: 1;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  border-bottom: 1px solid $font-color;
  width: 100%;
  font-size: $font-size;

  &::placeholder {
    color: $font-color-placeholder;
    line-height: 1;
    opacity: 0.7;
    font-size: $font-size;
  }
}

.customButton {
  font-size: clamp(1.25rem, 2.57vw, 2.25rem);
  color: $font-color-bright;
  font-weight: $font-weight-extra-bold;
  border-bottom: 2px solid $font-color-bright;

  &:hover,
  &:active {
    transform: scale(1.05);
    color: $font-color-bright;
    border-color: $font-color-bright;
  }
}
