-
    var Filters = {STORE: "store", CORPORATE:"corporate", BUSINESSCARD:"businessСard", CATALOG:"catalog", LANDING:"landing"}

-
    var items = [{name: "Интернет-магазин", filterName: Filters.STORE}, 
    {name: "Сайт-каталог", filterName: Filters.CATALOG},
    {name: "Корпоративный сайт", filterName: Filters.CORPORATE},    
    {name: "Сайт-визитка", filterName: Filters.BUSINESSCARD},    
    {name: "Лендинг", filterName: Filters.LANDING}]

section.casesSection
    h2.casesSection_title Наши работы
    up.casesSection_itemsWrapper.filtersWrapper
        each item in items
            li 
                button.casesSection_item.filterItem("data-filter-name"= item.filterName)= item.name
    .casesSection_casesWrapper
        //- +case("Sysracks", "Разработка онлайн-магазина серверного оборудования", "./assets/images/case1.png", "https://webernetic.by/nashi-raboty/kejs-sysracks/" ).casesSection_case.activeFiltartionElement.casesSection__minWidthPrimary("data-filter-value" = Filters.STORE)
        //- +case("Aquar System", "Сайт для промышленной компании", "./assets/images/case2.png", "https://webernetic.by/nashi-raboty/kejs-akvar-sistems/", "corporate").casesSection_case.activeFiltartionElement.casesSection__minWidthPrimary("data-filter-value" = Filters.CORPORATE)
        //- +case("Лидкон", "Сайт для производителя пищевой продукции", "./assets/images/case3.png", "https://webernetic.by/nashi-raboty/lidkon-case/").casesSection_case.activeFiltartionElement.casesSection__minWidthSecondary("data-filter-value" = Filters.BUSINESSCARD)
        //- +case("Zmicer Consulting", "Лендинг для продажи услуг консалтинга", "./assets/images/case4.png", "https://webernetic.by/nashi-raboty/kejs-zmicer-consulting/").casesSection_case.activeFiltartionElement.casesSection__minWidthSecondary("data-filter-value" = Filters.CATALOG)
        //- +case("Law", "Сайт для юридической компании", "./assets/images/case5.png", "https://webernetic.by/nashi-raboty/law-company/ ").casesSection_case.activeFiltartionElement.casesSection__minWidthSecondary("data-filter-value" = Filters.LANDING)