-
    const Filters = {STORE: "store", CORPORATE:"corporate", BUSINESSCARD:"businessСard", CATALOG:"catalog", LANDING:"landing"}

    const items = [{name: "Интернет-магазин", filterName: Filters.STORE}, 
    {name: "Сайт-каталог", filterName: Filters.CATALOG},
    {name: "Корпоративный сайт", filterName: Filters.CORPORATE},    
    {name: "Сайт-визитка", filterName: Filters.BUSINESSCARD},    
    {name: "Лендинг", filterName: Filters.LANDING}]

    const cases = [{type: "Интернет-магазин", image:"../assets/images/case-1.png", filterName: Filters.STORE, text:"Онлайн-магазин серверного и телекоммуникационного оборудования"}, 
    {type: "Сайт-визитка", image:"../assets/images/case-2.png", filterName: Filters.BUSINESSCARD, text:"Сайт для юридической компании"}, 
    {type: "Сайт-каталог", image:"../assets/images/case-3.png", filterName: Filters.CATALOG, text:"Сайт для производителя продуктов питания"},    
    {type: "Лендинг", image:"../assets/images/case-4.png", filterName: Filters.LANDING, text:"Лендинг для продажи услуг консалтинга"},    
    {type: "Корпоративный сайт", image:"../assets/images/case-5.png", filterName: Filters.CORPORATE, text:"Корпоративный сайт для промышленной компании"}]


section.casesSection.filtersWrapper
    .container.padding
        h2.h2.casesSection_topTitle Соблюдаем баланс между #[span креативностью] и #[span функциональностью]
        h2.h2.casesSection_title Наши кейсы
        .casesTabsSwiper
            ul.casesSection_itemsWrapper.filtersTabs.swiper-wrapper 
                each item in items
                    li.swiper-slide
                        button.casesSection_item.filterTab("data-filter-name"= item.filterName)= item.name    
        ul.casesSection_casesWrapper
            each caseItem in cases
                li.casesSection_case.filterItem("data-filter-value"= caseItem.filterName)
                    .casesSection_caseImageWrapper
                        a(href="#")
                            img(src= caseItem.image, alt= caseItem.type)
                    .casesSection_caseFooter
                        p.casesSection_caseText= caseItem.text 
                        .casesSection_caseBtn
                            a.customBtn(href="#") К проекту
                    .casesSection_caseType=caseItem.type  
        .casesSection_showMoreBtn 
            button.customBtnSecondary#showMoreBtn("data-title"="Загрузить больше", "data-title-short"="Свернуть") Загрузить больше
        .casesSection_feedback
            p.casesSection_feedbackText Поможем выполнить и другие задачи, даже самые #[span необычные]. Расскажите нам о них и мы подберем решение
            .casesSection_feedbackBtn
                button.customBtn.toggleModal Обсудить проект  