section.principlesSection.padding    
    h2.h2.principlesSection_title Принципы нашей работы
    .principlesSection_wrapper
        .principlesSection_item
            .principlesSection_imageWrapper
                img(src="../assets/images/principle_1.png", alt="Наша команда")
            .principlesSection_itemContent
                h3.principlesSection_itemTitle Создаем для людей
                p.principlesSection_itemText.mb-10 #[span.principlesSection__colorSecondary >30 часов общаемся с вашими клиентами], чтобы узнать их боли и потребности, мнение о существующей платформе. Эту информацию берем за основу дизайна. 
                p.principlesSection_itemText #[span.principlesSection__colorSecondary Наши дизайны не просто красивы — они удобны], на них чаще совершают целевые действия.
        .principlesSection_item
            .principlesSection_itemContent
                h3.principlesSection_itemTitle Слушаем и вас, #[br] и вашу аудиторию            
                p.principlesSection_itemText Обсуждаем ваши цели, предлагаем решения, и только тогда начинаем работу. 
                p.principlesSection_itemText По мере отрисовки макетов общаемся с вами, чтобы убедиться, что результат соответствует ожиданиям.
                p.principlesSection_itemText Этот подход — основа долгосрочных отношений.  
                .principlesSection_statistics
                    .principlesSection_statisticsText Наш средний срок сотрудничества с клиентами
                    .principlesSection_statisticValue 3 года              
            .principlesSection_imageWrapper
                img(src="../assets/images/principle_2.png", alt="Наша команда")
            .principlesSection_statistics.principlesSection_statisticsSecondary
                .principlesSection_statisticsText Наш средний срок сотрудничества с клиентами
                .principlesSection_statisticValue 3 года