.techSection {
  margin-bottom: 80px;

  &__title {
    margin-bottom: 26px;
  }

  &__top {
    min-height: 440px;
    margin-bottom: 10px;
    @include responsive-sizing(padding-top, 20, 30, 1200, 1440);
    background-image: url('../assets/images/tech.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 560px;
    min-height: 235px;
    border-radius: 10px;
    @include responsive-sizing(padding-block, 18, 26, 1200, 1440);
    @include responsive-sizing(padding-inline, 20, 30, 1200, 1440);
    background: linear-gradient(225deg, #c69e85 0%, #efbd96 100%);
    @include responsive-sizing(margin-right, 20, 30, 1200, 1440);
    @include responsive-sizing(margin-left, 500, 650, 992, 1440);
  }

  &__top-title {
    font-family: $font-family;
    font-weight: 700;
    @include responsive-sizing(font-size, 22, 36, 400, 1440);
    line-height: 130%;
    color: #fff;
  }

  &__top-text {
    font-family: $font-family;
    font-weight: 400;
    @include responsive-sizing(font-size, 18, 20, 400, 1440);
    line-height: 120%;
    color: #fff;
  }

  &__pic {
    display: none;
  }

  &__bottom {
    display: flex;
    @include responsive-sizing(gap, 20, 40, 992, 1440);
    min-height: 270px;
    @include responsive-sizing(padding-block, 18, 36, 400, 1440);
    @include responsive-sizing(padding-inline, 20, 30, 400, 1440);
    border: 1.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }

  &__bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 580px;
    width: 100%;
  }

  &__bottom-title {
    min-height: 52px;
    border-radius: 14px;
    padding: 8px 32px;
    font-family: $font-family;
    font-weight: 700;
    @include responsive-sizing(font-size, 22, 28, 400, 1440);
    line-height: 130%;
    text-align: center;
    color: #fff;
    background-color: $color-accent;
  }

  &__bottom-text {
    @include responsive-sizing(font-size, 20, 22, 400, 1440);
  }

  &__pic {
    & img {
    }
  }

  &__image.mobile {
    display: none;
  }

  &__bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 560px;
    width: 100%;
    border-radius: 10px;
  }

  &__bottom-text.right {
    border-radius: 10px;
    padding: 26px 30px;
    background-color: $color-blue;
  }

  @media (max-width: $breakpoints-xxl) {
    &__top {
      background-position-x: 35%;
    }

    &__bottom-title {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 850px) {
    &__top {
      position: relative;
      background-image: none;
      background: linear-gradient(135deg, #f8e7db 0%, #fff6f0 100%);
    }

    &__top-content {
      margin-inline: 0;
      max-width: 100%;
    }

    &__pic {
      display: block;
    }
  }

  @media (max-width: 650px) {
    &__bottom {
      flex-direction: column;
    }
  }

  @media (max-width: $breakpoints-xs) {
    &__top {
      min-height: 620px;
    }

    &__image.desktop {
      display: none;
    }

    &__image.mobile {
      display: block;
    }

    &__bottom-title {
      width: 100%;
      min-height: 40px;
      border-radius: 10px;
      padding: 8px 26px;
      text-align: left;
      line-height: 110%;
    }

    &__bottom-text.right {
      padding: 18px 16px;
      font-size: 18px;
      line-height: 115%;
    }
  }
}
