+sections("result")

    .result__image

    .result__content 

        h2.
            И какие выводы можно сделать?
        p.
            Эпоха необдуманного постинга фотографий закончилась в социальных сетях.
            Сейчас необходимо выделяться, и бездумное ведение профиля не поможет в
            продвижении и удержании аудитории. 
        p.
            Прежде чем запускать какую-либо рекламу,
            необходимо правильно упаковать профиль.
            Чем лучше он упакован, тем выше будет
            конверсия в целевое действие из рекламы