section.seoResultsSection 
  h2.head2.seoResultsSection__title Результаты продвижения
  .seoResultsSection__wrapper
    .seoResultsSection__item.seoResultsSection_block  
      span.seoResultsSection__itemNumber 1
      p.seoResultsSection За все время сотрудничества сайт увеличился с #[span.bold 45 до 363] страниц.
    .seoResultsSection__imageWrapper.seoResultsSection_block 
      img(src="../assets/images/results_1.png", alt="Результаты продвижения")
    .seoResultsSection__imageWrapper.seoResultsSection_block 
      img(src="../assets/images/results_2.png", alt="Результаты продвижения")
    .seoResultsSection__item.seoResultsSection_block 
      span.seoResultsSection__itemNumber 2
      p.seoResultsSection #[span.bold В 30 раз] увеличили органический трафик и #[span.bold в 150 раз] конверсию на сайте.
  