section.seoSection 
  h2.head2.seoSection__title Особенности SEO-продвижения:
  .seoSection__wrapper
    .seoSection__item
      span.seoSection__itemTitle Высокая конкуренция
      .seoSection__flex
        p.seoSection__itemText #[span.bold Мувинг в Америке] — очень конкурентная сфера и в Топе выдачи находятся компании, которые занимаются переездами по всем штатам и имеют возраст сайта до 20 лет.
        p.seoSection__itemText Сайту клиента на тот момент было около 2-х месяцев, то есть он был совсем новый. А значит, чтобы попасть на первые места в выдаче, нужно было заслужить доверие у поисковых систем.
    .seoSection__item.seoSection_itemImage
      img(src="../assets/images/seo_1.png", alt="seo-1")
    .seoSection__item
      span.seoSection__itemTitle Отложенный спрос
      p.seoSection__itemText Согласитесь, что реклама в Google или Instagram не заставит Вас переехать в другой город за день. Отсюда возникает следующая особенность — отложенный спрос, то есть клиент может воспользоваться услугами только через месяц, а может и через полгода. 
    .seoSection__item.seoSection_itemImage
      img(src="../assets/images/seo_2.png", alt="seo-2")
    .seoSection__item
      span.seoSection__itemTitle Пандемия 2020 года
      p.seoSection__itemText Думаете это все? Проект появился перед самым разгаром пандемии. Основная причина переезда — смена работы, но с появлением удаленки находиться можно в любой точке мира, получается и ехать никуда не надо. Поэтому спрос на мувинговые компании снизился.
    .seoSection__item.seoSection_itemImage
      img(src="../assets/images/seo_3.png", alt="seo-3")
    .seoSection__item
      span.seoSection__itemTitle Шаблонный сайт
      p.seoSection__itemText Клиент обратился к нам с целью продвижения своего нового сайта, который был создан на основе готового #[span.bold шаблона Wordpress]. Но подобных проектов несколько сотен, поэтому мы стали думать, как выделиться среди конкурентов. <br/> #[span.bold Спойлер]: придумали.
    .seoSection__item
      .seoSection__itemInner
        span.seoSection__itemTitle Начальное состояние
        span.seoSection__itemValue 28
        span.seoSection__itemDescription пользователей в месяц
    .seoSection__item
      span.seoSection__itemTitle Рост органического трафика за 2 года продвижения
      div
        img(src="../assets/images/seo_4.png", alt="seo-4")