section.stagesSection
  h2.head2.stagesSection__title Этапы работ:
  .stagesSection__itemWrapper
    .stagesSection__itemHeader
      span.stagesSection__itemNumber 01
      h3.head3.stagesSection__itemTitle Семантическое ядро
    .stagesSection__item.stagesSection__item1
      .stagesSection__itemFlex
        p.stagesSection__itemText За месяц собрали полное семантическое ядро — более #[span.bold 400 ключей]. Из-за высокой конкуренции мы делали упор на низкочастотные запросы. В итоге увеличили СЯ в 5 раз, и количество ключей составило #[span.bold 1160]. 
        p.stagesSection__itemText Необходимо было регулярно обновлять семантику, т.к. некоторые коммерческие запросы со временем становились информационными или просто переставали быть актуальными.
      .stagesSection__item1block
        span.stagesSection__item1statictics Средняя позиция по всем запросам увеличилась с #[span.bold 183] позиции до #[span.bold 97]
        .stagesSection__itemImageWrapper 
          img(src="../assets/images/stages-graph-1.png", alt="Семантическое ядро")
  .stagesSection__itemWrapper    
    .stagesSection__itemHeader
      span.stagesSection__itemNumber 02
      h3.head3.stagesSection__itemTitle Семантическое ядро
    .stagesSection__item.stagesSection__item2.stagesSection__itemFlex
        .stagesSection__itemInnerColored
          p.stagesSection__itemText Анализировались как технические показатели, так и полезность текста для пользователя.
          p.stagesSection__itemText Также корректировались мета-теги, поскольку не были учтены все запросы, а сниппеты не были привлекательными.
        p.stagesSection__itemText Необходимо было регулярно обновлять семантику, т.к. некоторые коммерческие запросы со временем становились информационными или просто переставали быть актуальными.
  .stagesSection__itemWrapper    
    .stagesSection__itemHeader
      span.stagesSection__itemNumber 03
      h3.head3.stagesSection__itemTitle Cбор информационных запросов
    .stagesSection__item.stagesSection__item3
      .stagesSection__itemFlex
        div 
          p.stagesSection__itemText Для увеличения трафика и продвижения основных страниц, команда предложила вести информационный блок на сайте, где будут публиковаться полезные статьи и советы по переезду, которые будут интересны для пользователей. 
          p.stagesSection__itemText Мы провели сбор информационных запросов и составили план написания материалов для блога.
        .stagesSection__itemImageWrapper 
          img(src="../assets/images/stages-search.png", alt="Cбор информационных запросов")
  .stagesSection__itemWrapper    
      .stagesSection__itemHeader
        span.stagesSection__itemNumber 04
        h3.head3.stagesSection__itemTitle Технический аудит
      .stagesSection__item.stagesSection__item4        
        p.stagesSection__itemText Провели технический аудит сайта, в результате которого устранили следующие ошибки: 
        .stagesSection__itemFlex.stagesSection__listWrapper
          ul.stagesSection__list
            li.stagesSection__listItem Вынесли скрипты в коде в отдельные файлы
            li.stagesSection__listItem Увеличили скорость загрузки сайта
            li.stagesSection__listItem Провели работу над страницей с заказом клиента
            li.stagesSection__listItem Вынесли стили css в коде в отдельные таблицы
            li.stagesSection__listItem Внедрили навигацию «Хлебные крошки»
            li.stagesSection__listItem Внедрили микроразметку SiteElementNavigation
          ul.stagesSection__list
            li.stagesSection__listItem Оптимизировали мета-теги
            li.stagesSection__listItem Убрали лишние заголовки
            li.stagesSection__listItem Откорректировали файл robots.txt
            li.stagesSection__listItem Исправили ошибки верстки
            li.stagesSection__listItem Оптимизировали изображения на сайте
  .stagesSection__itemWrapper    
      .stagesSection__itemHeader
        span.stagesSection__itemNumber 05
        h3.head3.stagesSection__itemTitle Конкурентный анализ  и анализ юзабилити
      .stagesSection__item.stagesSection__itemFlex.stagesSection__item5  
        ul.stagesSection__ol.stagesSection__itemInnerColoredSecondary
          li.stagesSection__olItem
            span.stagesSection__olNumber 1
            span.stagesSection__itemText Проработана шапка сайта 
          li.stagesSection__olItem
            span.stagesSection__olNumber 2
            span.stagesSection__itemText Скорректировано главное меню   
          li.stagesSection__olItem
            span.stagesSection__olNumber 3
            span.stagesSection__itemText Добавлены блоки перелинковки на страницы городов    
          li.stagesSection__olItem
            span.stagesSection__olNumber 4
            span.stagesSection__itemText Интегрированы на сайт сервисы с отзывами со сторонних ресурсов (Yelp и Google)    
          li.stagesSection__olItem
            span.stagesSection__olNumber 5
            span.stagesSection__itemText Добавлены формы обратной связи          
        div
          p.stagesSection__itemText Проанализировали конкурентов, которые находятся в топе поисковой выдачи по собранной семантике, также провели анализ юзабилити сайта. В результате предложили ряд визуальных изменений на сайте, которые были необходимы для лучшего ранжирования сайта и удобства пользователя.  
          p.stagesSection__itemText Поскольку сайт клиента был сделан из готового шаблона, мы внесли много доработок, чтобы улучшить его функциональность. 
      .stagesSection__itemInnerColored.stagesSection__item5Secondary
        ul.stagesSection__item5Header
          li.stagesSection__tab Обновленная шапка сайта
          li.stagesSection__tab Новая структура главного меню
          li.stagesSection__tab Форма обратной связи
        .stagesSection__itemImageWrapper 
          picture
            source(media="(max-width: 799px)" srcset="../assets/images/stages-5-sm.png") 
            img(src="../assets/images/stages-5.png", alt="Стратегия по наращиванию ссылок")
  .stagesSection__itemWrapper    
    .stagesSection__itemHeader
      span.stagesSection__itemNumber 06
      h3.head3.stagesSection__itemTitle Стратегия по наращиванию ссылок
    .stagesSection__item.stagesSection__itemFlex.stagesSection__item6 
      div
        p.stagesSection__itemText Провели анализ ссылочного профиля сайта и его конкурентов. Выяснили, что конкуренты имели большой объем внешней ссылочной массы: от 110 до 3194 доноров. Некоторым сайтам, которые в топе, уже по 20 лет, а сайт клиента новый (2020 год).
        p.stagesSection__itemText На момент анализа, у сайта было всего 6 ссылающихся доноров, поэтому разработали план наращивания.
      p.stagesSection__itemInnerColored.stagesSection__itemText Сначала постепенно получали ссылки, минимальная стоимость которых в США — 50$, поэтому мы по-максимуму использовали бесплатные методы: регистрировались на тематических площадках и участвовали на форумах. На данный момент количество проиндексированных ссылок составляет — 382.
    .stagesSection__itemImageWrapper.stagesSection__itemImageWrapper6 
      img(src="../assets/images/stages-graph-6.png", alt="Стратегия по наращиванию ссылок")
  .stagesSection__itemWrapper    
    .stagesSection__itemHeader
      span.stagesSection__itemNumber 07
      h3.head3.stagesSection__itemTitle Повышение видимости сайта
    .stagesSection__item.stagesSection__itemFlex 
      div
        p.stagesSection__itemText.mb-16 Параллельно проработали профиль компании в Google My Business и Bing Places for Business для повышения видимости карточки организации в локальной выдаче и на Google Картах.
        p.stagesSection__itemInnerColored.stagesSection__itemText Оптимизация бизнес-профиля в Google и Bing является ключом к тому, чтобы получить трафик из локального поиска, выделиться на фоне конкурентов и получить клиентов.
      .stagesSection__itemImageWrapper
        img(src="../assets/images/phones.png", alt="Phones")
  .stagesSection__itemWrapper    
    .stagesSection__itemHeader
      span.stagesSection__itemNumber 08
      h3.head3.stagesSection__itemTitle Подключение контекстной рекламы
    .stagesSection__item.stagesSection__item8 
      .stagesSection__itemFlex
        div
          span.stagesSection__tab Начальное состояние 
          p.stagesSection__itemText Так как #[span.bold сайт молодой], результаты с SEO мы начали получать спустя пару месяцев. Поэтому предложили использовать #[span.bold комплексное продвижение] и, помимо оптимизации сайта, запустить контекстную рекламу.
          p.stagesSection__itemText В результате удалось быстро привлечь целевую аудиторию и увеличить количество заявок с сайта.
        .stagesSection__itemImageWrapper
          img(src="../assets/images/stages-8-graph2.png", alt="Начальное состояние")
      .stagesSection__itemFlex 
        .stagesSection__itemImageWrapper
          img(src="../assets/images/stages-8-graph.png", alt="Начальное состояние")
        div
          span.stagesSection__tab.stagesSection__tabSecondary Результаты по контекстной рекламе за первый месяц 
          .stagesSection__bigTextWrapper
             span.stagesSection_bigText 65$
             p.stagesSection__itemText средняя стоимость конверсии