section.summarySection 
    .summarySection__wrapper   
        .summarySection__content
            h2.head2.summarySection__title Итоги:
            p.summarySection__text.mb-8 Разработанная нами стратегия seo продвижения мувинговой компании позволила не только продвинуть сайт и улучшить его позиции в поисковых системах, но и помогла клиенту масштабировать свой бизнес. 
            p.summarySection__text.mb-8 За время сотрудничества мы вывели сайт в Топ-5 Google, и прибыль компании увеличилась в 2 раза.
            p.summarySection__text.mb-8 Благодаря этим результатам компания смогла:
            ul.summarySection__list
                li.summarySection__text.summarySection__listItem Открыть #[span.bold вторую локацию] в Чикаго;
                li.summarySection__text.summarySection__listItem Увеличить штат сотрудников в 16 раз;
                li.summarySection__text.summarySection__listItem Расширить автопарк.
        .summarySection__imageWrapper 
            img(src="../assets/images/summary.png", alt="Итого")   