.graphSection {
  margin-bottom: 100px;

  &__cards {
    display: grid;
    grid-template-columns: 301px 1fr 1fr;
    grid-template-rows: auto;
    max-width: 1240px;
    gap: 12px;
    margin-bottom: 16px;
  }

  &__card {
    min-height: 157px;
    padding: 26px 30px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.01);

    &:nth-child(1) {
      background-color: $color-light-blue;

      & .graphSection__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        color: #fff;
      }
    }

    &:nth-child(n + 2) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 26px 30px;
      border: 1px solid rgba(0, 0, 0, 0.01);
      border-radius: 12px;
      background-color: $color-box-bg2;
      color: $color-main;

      & .graphSection__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: $color-main;
      }

      & .graphSection__text {
        font-size: 24px;
        line-height: 130%;
        color: $color-text;
      }
    }
  }

  &__picture {
    width: 100%;
    height: 436px;
    border-radius: 12px;

    & img {
      width: auto;
      height: 100%;
      object-fit: cover;
      object-position: left;
      border-radius: 12px;
    }
  }

  @media (max-width: 1300px) {
    &__cards {
      margin-right: 24px;
    }

    &__picture {
      overflow-x: scroll;
      white-space: nowrap;
    }
  }

  @media (max-width: $breakpoints-md) {
    &__cards {
      grid-template-columns: 1fr 1fr;
    }

    &__card:nth-child(1) {
      grid-column: 1 / 3;
    }

    &__card {
      &:nth-child(n + 2) {
        & .graphSection__title {
          font-size: clamp(36px, calc(36px + 12 * (100vw - 400px) / 368), 48px);
        }

        & .graphSection__text {
          font-size: clamp(20px, calc(20px + 4 * (100vw - 400px) / 368), 24px);
        }
      }
    }
  }

  @media (max-width: $breakpoints-sm) {
    &__cards {
      grid-template-columns: 1fr;
    }

    &__card:nth-child(1) {
      grid-column: 1 / 2;
    }
  }

  @media (max-width: $breakpoints-xs) {
    margin-bottom: 70px;

    &__card {
      min-height: 140px;
      padding: 24px 20px;

      &:nth-child(1) {
        & .graphSection__title {
          font-size: 32px;
        }
      }

      &:nth-child(n + 2) {
        min-height: 140px;
        padding: 24px 20px;

        & .graphSection__title {
          font-size: 36px;
        }

        & .graphSection__text {
          font-size: 20px;
        }
      }
    }

    &__picture {
      height: 331px;
    }
  }
}
