+layout("requirement", "requirement__wrapper")

    h2.requirement__title.
        Требования клиента

    ul.requirement__list

        li.requirement__item
            h3.
                Внедрение новой CMS
            p.
                Основным пожеланием клиента было перенести лендинг на 
                Tilda в CMS WordPress и преобразовать его в многостраничный сайт.

        li.requirement__item
            h3.
                Редизайн сайта
            p.
                Клиент позиционирует себя как фабрика элитного шоколада, 
                поэтому одним из пожеланий было не использовать детские мотивы в дизайне, 
                а отдать предпочтение элегантности и простоте, которая будет отличать сайт 
                от конкурентов и позволит легко находить нужную информацию.

        li.requirement__item
            h3.
                Внедрение функций по автоматизации бизнес-процессов
            p.
                Для улучшения пользовательского опыта и увеличения конверсии на сайте 
                необходимо было внедрение автоматическую систему бронирования 
                экскурсий и модуль с расписанием экскурсий

        .requirement__circle.smoll
        .requirement__circle.big
        .candy-one
        .candy-two
        .candy-three
        .candy-four
        .crumb-one
        .crumb-two
        .crumb-three