@import './fonts';

@mixin responsive-sizing($prop, $min, $max, $minDisplay, $maxDisplay) {
  $sizeDiff: $max - $min;
  $displayDiff: $maxDisplay - $minDisplay;

  #{$prop}: clamp(
    #{$min}px,
    calc(
      #{$min}px +
        (#{$sizeDiff} * ((100vw - #{$minDisplay}px) / #{$displayDiff}))
    ),
    #{$max}px
  );
}

@mixin inverse-responsive-sizing($prop, $min, $max, $minDisplay, $maxDisplay) {
  $sizeDiff: $max - $min;
  $displayDiff: $maxDisplay - $minDisplay;

  #{$prop}: clamp(
    #{$min}px,
    calc(#{$max}px - ($sizeDiff * (100vw - #{$minDisplay}px) / $displayDiff)),
    #{$max}px
  );
}

$max-width: 1240px;

//fonts
$font-family: 'Stapel Medium';
$second-family: 'Stapel Text';
$third-family: 'Lato';
$font3: 'Circe';
$font5: 'Caveat';

//colors
$color-bg: #f6f6f6;
$color-black: #222222;
$color-dark-purple: #5a7dd9;
$color-purple: #d2dcfa;
$color-text: #4d4d4d;
$color-light: #f3f6ff;

//breakpoints
$breakpoints-xs: 400px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
