@import './fonts';

@mixin responsive-sizing($prop, $min, $max, $minDisplay, $maxDisplay) {
  $sizeDiff: $max - $min;
  $displayDiff: $maxDisplay - $minDisplay;

  #{$prop}: clamp(
    #{$min}px,
    calc(
      #{$min}px +
        (#{$sizeDiff} * ((100vw - #{$minDisplay}px) / #{$displayDiff}))
    ),
    #{$max}px
  );
}

$max-width: 1240px;

//fonts
$font-family: 'Circe';
$second-family: 'Cygre';
$third-family: 'Lato';

//colors
$color-text: #717171;
$color-main: #3c3c3c;
$color-grey: #737373;
$color-grey-2: #676767;
$color-yellow: #ffe759;
$color-bg: #f6f6f6;

//breakpoints
$breakpoints-xs: 400px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
