.nav {
    &__text {
        @include text-24($text-dark);
        padding: 40px 50px;
        border-radius: 30px;
        background-color: $text-light;

        & >span {
            color: $text-blue;
            font-weight: 700;
        }
    }
}