+sectionLayout("nav", "Простая и понятная навигация")

    p.nav__text.
        Пересмотрели структуру сайта. Выбрали #[span шесть основных пунктов] меню и вынесли их в шапку сайта.
        Это важно, чтобы пользователи могли найти основную информацию о компании, ее услугах и опыте быстро.
        Благодаря улучшенной навигации стало легко сделать целевое действие. 
        Теперь пользователи быстрее находят контакты, а это способствует большей конверсии. 