section.result 

    .container 

        .result__wrapper

            article.result__content 

                h2.result__title Результаты за 2 месяца

                ul.result__list
                    li
                        span 1
                        span Охват аккаунта вырос в 12,45 раз с 309 до 3 847
                    li
                        span 2
                        span Увеличили вовлеченность аудитории в 14 раз
                    li
                        span 3
                        span Количество посещений профиля увеличилось на 137%
                    li
                        span 4
                        span Увеличили количество просмотров Reels в 4,2 раза

            .result__images 
                picture
                    img(src=require("../../assets/img/result3.png"), alt="pic")
                picture
                    img(src=require("../../assets/img/result4.png"), alt="pic")

            p.result__text.
                Аудитория стала активнее общаться в Директе, 
                регулярно задавать вопросы, например, 
                где можно купить продукцию или подходит она для детей. 
                Подписчики реагировали на рецепты, делились результатами
                готовки в своих аккаунтах и отмечали бренд.